[2018-10-23 12:52] kargakis opened #642 "pkg/fakerp hardcodes the location of _data"
We should probably make it configurable.

/kind cleanup

[2018-10-23 13:41] kargakis opened #643 "timed out waiting for templateinstance to become ready"
[code]
/kind test-flake
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/637/pull-ci-openshift-openshift-azure-master-e2e-azure/382

[2018-10-23 14:03] #636 closed

[2018-10-23 15:11] kargakis commented on #600
[code]
Once again in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/639/pull-ci-openshift-openshift-azure-master-e2e-azure/388

[2018-10-23 15:33] kargakis opened #644 "Ensure cluster cleanup is run unconditionally at the end of createorupdate"
by deferring it

[2018-10-23 16:01] kargakis opened #645 "E2e test for persistent storage"
Either [this](https://github.com/openshift/openshift-azure/blob/eead2c49802df1923e4023dbbe7e3a4653586d5f/test/e2e/end_user_test.go#L54) test should be enhanced to use persistent storage in the db, then do a pod db deletion, wait for the new pod to come up and ensure the data in the storage are the same OR add a separate test. Potentially, the existing test will get really slow and flaky so we may

[2018-10-23 16:02] kargakis commented on #645
@thekad @jim-minter fyi

[2018-10-23 16:30] kargakis commented on #638
This should be useful for createorupdate too

[2018-10-23 18:55] charlesakalugwu opened #647 "Investigate how to use ginkgo native logging"
As a follow up to #613 we need to investigate how to use the built-in ginkgo logging features and possibly use it in place of logrus in our e2e tests.

We should particularly find out how to print timestamps when using `By`. An example can be found [here](https://github.com/openshift/openshift-azure/blob/568db59598b29d9ae4e9b1b74b856fb934cf63fc/test/e2e/end_user_test.go#L59).

Note that `By` is us

[2018-10-23 18:55] charlesakalugwu commented on #647
/label area/tests

[2018-10-23 20:09] charlesakalugwu commented on #638
/assign

[2018-10-23 23:10] asalkeld commented on #604
/close

[2018-10-23 23:10] #604 closed

[2018-10-24 10:57] kargakis commented on #643
Seems like the PHP app is not starting properly

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/649/pull-ci-openshift-openshift-azure-master-e2e-azure/400

[2018-10-24 13:48] #644 closed

[2018-10-24 14:07] charlesakalugwu opened #650 "rhel node image build job fails during disk revoke access"
The azure rhel node image build jobs are currently failing with the following error:

[code]

This seems to be an issue [here](https://github.com/openshift/openshift-ansible/blob/ffdce7c6057fa5c07ee1e10d4eb1654736e66624/playbooks/azure/openshift-cluster/tasks/create_blob_from_vm.yml#L45)

artifacts: https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/azure-build-node-image-rhel-310/7

[2018-10-24 14:16] kargakis opened #651 "Ensure each test run uses a unique resource group"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/570/pull-ci-openshift-openshift-azure-master-e2e-azure/409

The problem here is probably that the resource group was getting deleted due to a previous test run, and got reused for this test run. We should either ensure we wait for the resource group to be cleaned up if it's in a Deleting state and w

[2018-10-24 14:17] charlesakalugwu opened #652 "centos node image build job fails with unable to retrieve existing template instance"
The azure centos node image build jobs are currently failing with the following error:

[code]

artifacts: https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/azure-build-node-image-centos-310/12/

[2018-10-24 14:22] kargakis commented on #652
/kind bug

[2018-10-24 14:22] kargakis commented on #650
/kind bug

[2018-10-24 14:22] kargakis commented on #647
/kind cleanup

[2018-10-24 14:22] kargakis commented on #645
/kind feature

[2018-10-24 14:26] #638 closed, assigned to charlesakalugwu

[2018-10-24 15:02] charlesakalugwu commented on #577
/assign

[2018-10-24 15:03] kargakis commented on #615
@amanohar something along the lines of https://github.com/openshift/openshift-azure/pull/653? Unclear what kind of query to make to ARM to get more error details.

[2018-10-24 15:22] kargakis opened #654 "30 minutes do not seem to be enough for an upgrade"
65, 66, and 67 builds fail with the exact same error

https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure-upgrade/

/kind test-flake
/kind bug

[2018-10-24 16:14] kargakis opened #655 "Support testing workflows for e2e tests"
At the moment, createorupdate can send a single request to the OSA RP by default, and it also supports sending a subsequent request (mainly for enabling easier testing of various scale/upgrade scenarios) and a delete at the end to cleanup automatically.

In our e2e tests, we need greater flexibility though, for example, we need to configure timeouts* differently depending on the type of request (e

[2018-10-24 21:46] #466 closed

[2018-10-25 09:34] kargakis commented on #655
A simpler alternative would be to use -timeout flags for update and delete in createorupdate and add the ability to run a specific ginkgo suite. We should also somehow enable passing down clients that with fake api calls to simulate failures.

[2018-10-25 09:51] kargakis commented on #655
Opened https://github.com/openshift/openshift-azure/pull/657 to fix https://github.com/openshift/openshift-azure/issues/654. We need to discuss this further during a call.

[2018-10-25 10:05] kargakis opened #658 "Randomize the region when running e2e tests"
Today [we hardcode the region to eastus](https://github.com/openshift/release/blob/3cbd3516ac42e15ede15052ce55201afe1aa0079/ci-operator/templates/openshift/openshift-azure/cluster-launch-e2e-azure.yaml#L167) in our e2e tests. It should be a random from the regions we know our clusters can be deployed.

/area tests
/kind feature

[2018-10-25 10:23] kargakis opened #659 "Re-usable upgrade and non-conventional testing"
_For lack of a better term, non-conventional here means starting up clusters that do not use [the conventional way](https://github.com/openshift/openshift-azure/blob/5848bdaf02669f1c5807a59e086551de030ca596/hack/create.sh#L86-L119) we use to start clusters today (eg. custom vnet testing falls under the non-conventional category)._

We need to come up with a reusable way to do both non-conventional

[2018-10-25 11:09] kargakis commented on #659
Suggestion from @droslean is to keep these test manifests in our repo, then we don't really need to care about mounting them in the test pod.

[2018-10-25 12:14] charlesakalugwu commented on #650
I had a look at this and this seems to be an issue from the disk revoke-access http endpoint which seems to suddenly starts sending back empty response bodies. If debug is turned on, one can see that the request actually succeeds with 200 OK but with an empty body. This affects versions `2.0.47` through `2.0.49` of the azure cli.

I have opened an issue to track this here: https://github.com/Azure

[2018-10-25 13:52] kargakis commented on #650
@kwoodson fyi

[2018-10-25 13:53] kargakis commented on #659
/assign

[2018-10-25 14:28] kargakis opened #661 "Unknown network allocation error."
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/660/pull-ci-openshift-openshift-azure-master-e2e-azure-upgrade/5/build-log.txt

/kind test-flake
@amanohar @sozercan  any idea what's going on here?

[2018-10-25 14:46] charlesakalugwu commented on #645
/assign

[2018-10-25 14:47] #591 closed

[2018-10-25 16:16] kwoodson opened #662 "customer-admin-reconciler requires create on namespaces"
When implementing the dedicated admin work, @enj noticed that the customer-admin-reconciler clusterrole, the role that assigns rolebindings to each project,  required `create` at the cluster scope on `namespaces`.

@enj looked into this and asked for an issue against `oc auth reconcile`.   @enj mentioned he would fix it upstream.

[2018-10-25 16:36] kargakis commented on #642
@charlesakalugwu actually I don't have a strong reason for making it configurable but I thought it would be useful. Let's do it only when the need rises (I suspect it won't).

[2018-10-25 16:36] #642 closed

[2018-10-25 16:57] kargakis commented on #652
@bbguimaraes any idea what's going on here?

[2018-10-25 18:10] kargakis commented on #643
Two warning events in the test namespace
[code]

[2018-10-25 18:15] kargakis commented on #643
Seems like the php build is the culprit in the failure above, after 5m it is still running

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/570/pull-ci-openshift-openshift-azure-master-e2e-azure/440/artifacts/e2e-azure/pods-e2e-test-8lsp5.yaml

[2018-10-25 18:51] #654 closed

[2018-10-25 19:13] amanohar commented on #661
@kargakis I looked into and the error happening during VMSS and NRP communication. I am following up with the VMSS team (tracked via an incident) to understand the root cause.

[2018-10-25 19:15] amanohar commented on #615
@kargakis here is the reference to rest docs for API to query results of a deployment (most useful in case of long running ops):
https://docs.microsoft.com/en-us/rest/api/resources/deploymentoperations
Overall: https://docs.microsoft.com/en-us/rest/api/resources/

[2018-10-26 08:53] kargakis commented on #615
Using the go sdk, [`deployments.CreateOrUpdate`](https://github.com/openshift/openshift-azure/blob/f9ddeff1ee3a55c661e580afa63ccab12318ef67/pkg/fakerp/fakerp.go#L115) returns a future out of which we can get a [DeploymentExtended](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources#DeploymentExtended) type. Is then [`DeploymentExtended.Properties.Correl

[2018-10-26 13:04] jim-minter opened #663 "dedicated admin should use TestConfig.RunningUnderTest"
Now #554 is merged, translate.go should use TestConfig.RunningUnderTest to gate statically adding users into customer-{admins,readers} groups, not `if cs.Config.CustomerReaderPasswd != ""`

[2018-10-26 13:06] jim-minter commented on #663
Oh, I see the problem - TestConfig.RunningUnderTest isn't available in the context of the sync pod running.

[2018-10-26 13:08] jim-minter commented on #663
Should we consider creating a RunningUnderTest field in the Config for this @kargakis?

[2018-10-26 13:35] kargakis commented on #663
Certainly preferrable than trying to keep the sync environment in sync.

[2018-10-26 15:09] akrzos commented on #615
Hey everyone to follow up on this issue, I want to be clear that we did not modify the type of disks being requested thus I am not sure if this error message is the one that caused the failures I had mentioned above.  The failures seem related to the fact that if we add accelerated networking to the ARM template and use the appropriately sized vm (Standard_D4s_v3 or larger) we usually receive a ti

[2018-10-27 11:16] #663 closed

[2018-10-29 13:16] kargakis commented on #552
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/624/pull-ci-openshift-openshift-azure-master-e2e-azure/463?log#log

[2018-10-29 15:10] mjudeikis opened #669 "lack RUNNING_UNDER_TEST=true breaks local create"
Lack of `RUNNING_UNDER_TEST=true` makes cluster creation to fail

[2018-10-29 15:11] mjudeikis commented on #669
/kind bug

[2018-10-30 12:42] kargakis commented on #635
@mjudeikis fixed by https://github.com/openshift/release/pull/2034?

[2018-10-30 12:56] mjudeikis commented on #635
/close
yes

[2018-10-30 12:56] #635 closed

[2018-10-30 15:49] kargakis opened #671 "Avoid master deallocations when sku stays the same"
We probably do not need to deallocate masters in any other case

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#properties-that-require-deallocation-to-change

@jim-minter

/kind cleanup

[2018-10-30 18:10] jim-minter opened #672 "Structured errors for plugin CreateOrUpdate workflow"
As an RP engineer I would like to better report at what point a long-running plugin CreateOrUpdate execution failed.  Adding structured wrapped errors with a limited number of different error codes would help here.

Create something like the following in pkg/api/plugin.go:

[code]

The intention in the above API is we will not nest PluginErrors, even though it is feasible in principle.

At least e

[2018-10-30 18:10] jim-minter commented on #672
@amanohar broadly as discussed - does the above work for you?

[2018-10-30 18:10] jim-minter commented on #672
@asalkeld if you can prioritise this jointly with your etcd work that would be grand

[2018-10-30 23:57] asalkeld commented on #672
OK, @jim-minter , it shouldn't take long. I'll get a PR up soon.

[2018-10-31 03:11] amanohar commented on #672
@jim-minter yes this works. Overall,  lgtm.

Would be helpful get more granularity in Update (master, infra, compute VM rotation) steps. E.g. if the failure happened during the VM operations step (deallocate, delete, reimage) vs waiting for Ready step.

[2018-10-31 07:58] kargakis opened #675 "Consolidate health checks in the healthcheck plugin function"
See https://github.com/openshift/openshift-azure/pull/622#discussion_r229239158

/kind cleanup

[2018-10-31 08:01] kargakis commented on #675
Seems it's getting removed in https://github.com/openshift/openshift-azure/pull/673

/shrug

[2018-10-31 11:54] kargakis commented on #675
Still worth considering to move WaitForInfraServices inside `p.clusterUpgrader.HealthCheck`

[2018-10-31 14:05] kwoodson commented on #669
When setting `RUNNING_UNDER_TEST=true` for development environments we add the htpasswd with the correct users otherwise we are not creating it.  Looks like we failed to remove the auth provider.

[code]

The question is, should we keep the `htpasswd` file when we are not putting users in it?  Should we remove the auth provider from `/etc/origin/master/master-config.yaml`?

@mjudeikis @kargakis @j

[2018-11-01 00:29] #605 closed

[2018-11-01 15:12] kwoodson opened #685 "Run ci job to build cluster without RUNNING_UNDER_TEST"
We need a CI job that runs **without** env variable `RUNNING_UNDER_TEST=true` so that we can ensure our production builds are clean.

- Add periodic
- Add adhoc

[2018-11-01 15:31] kargakis commented on #685
/area tests
/kind feature

[2018-11-01 15:31] kargakis commented on #672
/kind feature

[2018-11-01 15:40] #669 closed

[2018-11-02 14:05] kargakis opened #687 "Use tabular view to gather events in e2e tests"
We should be using the tabular view ([as=Table](https://github.com/kubernetes/kubernetes/blob/dad6741530b0c69587a71a6c08544b4c9412fa01/pkg/kubectl/cmd/get/get.go#L436) in the Accept header of the kube client) when gathering [events from e2e test namespaces](https://github.com/openshift/openshift-azure/blob/13be8443553851bf4b2629e9c4f9622a667700f4/test/e2e/client_test.go#L129) (potentially also pod

[2018-11-05 09:59] asalkeld commented on #672
reopened because of https://github.com/openshift/openshift-azure/pull/674#discussion_r230645832

[2018-11-05 13:29] kargakis opened #688 "htpasswd setup is not re-entrant"
When I am upgrading a cluster, htpasswd gets updated and does not reuse the existing values. Also, since the passwords are appended in the htpasswd file, entries are accumulating.

Before a cluster upgrade:
http://pastebin.test.redhat.com/666175

After a cluster upgrade:
http://pastebin.test.redhat.com/666176

@kwoodson
/kind bug

[2018-11-05 13:38] kargakis commented on #688
Working on a fix

/assign

[2018-11-05 14:38] kargakis opened #690 "verify generated mocks are up to date"
If I `go generate ./...` in the current [HEAD](https://github.com/openshift/openshift-azure/commit/13be8443553851bf4b2629e9c4f9622a667700f4), I get a diff in the mocking clients. We probably need to verify these in `hack/validate-generated.sh` to avoid drifting.

/assign @asalkeld
/kind bug

[2018-11-05 14:40] #422 closed

[2018-11-05 15:46] kargakis opened #691 "panic: interface conversion: error is *azure.ServiceError, not autorest.DetailedError"
[code]
/kind test-flake

Seen in our prod test suite
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/azure-test-production-resource-provider/25

[2018-11-05 20:00] #688 closed

[2018-11-06 00:13] asalkeld commented on #690
@kargakis this code should check it: https://github.com/openshift/openshift-azure/blob/master/hack/validate-generated.sh#L23

if you run "make verify" does it not catch the diff?
1. what version of go do you have?
2. what is the diff that you get?

for me:

[code]
Also my verify does check the mocks
[code]

[2018-11-06 00:16] asalkeld commented on #690
if you have go 1.11 beware of this: https://github.com/golang/go/issues/25161
I upgraded to fedora 29 and had to install 1.10 to not get gofmt diffs.

[2018-11-06 00:25] amanohar opened #694 "CreateOrUpdate should return type 'PluginError' instead of 'error'"
https://github.com/openshift/openshift-azure/blob/master/pkg/plugin/plugin.go#L103 should return type 'PluginError' instead of 'error'. This is needed so that RP/service: Can expect error to be in an opinionated format and custom passing will be done on `Err` field of 'PluginError' by the RP.

cc: @asalkeld @jim-minter

[2018-11-06 02:02] amanohar commented on #694
Edit: I realize that ARM error can also be returned by callback function: `api.DeployFn`. So essentially 2 kinds of errors can be returned by `CreateOrUpdate`. The original intent of opening this issue was to ensure that only specific kinds of errors are returned by plugin.

Option are:
1) Plugin continues as if and RP parses the error and expected errors to be in certain formats only
2) Plugin al

[2018-11-06 07:07] kargakis commented on #690
This was not caught by CI.

On Tue, Nov 6, 2018, 01:16 Angus Salkeld <notifications@github.com wrote:

[2018-11-06 13:31] kargakis opened #698 "fake rp needs to reuse status code from group deletion error"
[code]
Otherwise, we return a 500 and the client retries the deletion.
/kind bug

[2018-11-06 14:52] mjudeikis commented on #537
We should do:
1. check if subnets are unique
2. Check if they are disjoint
3. check if they are within cidr of vnet
4. Check if they are not part of services and pods subnets

naming of subnets:
10.0.0.0/24 10-0-0-0-24

[2018-11-06 15:07] thekad commented on #614
/assign

[2018-11-07 04:48] asalkeld commented on #694
Hi @amanohar `error` is the official interface for the PluginError struct. To get at the attributes do this:
[code]

[2018-11-07 08:03] amanohar commented on #694
Hi @asalkeld, I am aware of this method of casting (and using it as a work around for now) but the request as mentioned above is for plugin to return the error in an opinionated struct. This way the service is always ensured that error returned by the plugin contains the error and `step`.

[2018-11-07 12:10] #557 closed

[2018-11-07 13:37] kargakis opened #702 "pin azure cli version in test base image"
We need to pin azure cli in test base image in a known good version

/area tests
/kind cleanup

[2018-11-07 13:59] mjudeikis opened #704 "sync pod generated "Changed" for DC"
Sync pod changes some of the DC, despite the fact they are all good:

Logs:
[code]

When Addons has:
[code]

and content in OCP:
[code]

I suspect cleaning and sanitizing script are removed some of these.

/kind bug

[2018-11-07 14:35] mjudeikis commented on #643
I think I see same in https://github.com/openshift/openshift-azure/pull/695

[2018-11-07 14:38] #691 closed

[2018-11-07 14:39] kargakis commented on #687
Likely can be configured via [ContentConfig](https://godoc.org/k8s.io/client-go/rest#ContentConfig)

[2018-11-07 15:49] mjudeikis opened #705 "CRI-O tests"
I want to make sure cri-o in 3.11 build works as expected in Builds, deployments, running containers.

/kind feature

[2018-11-07 21:18] thekad commented on #614
This got fixed by @jim-minter's #701

[2018-11-07 22:57] jim-minter opened #707 "disable ability to use StandardD2sV3 except when running in test"
As a quality engineer I want to be able to run OSA using a tiny VM for test purposes or CI.
As an end user I don't want to be able to run OSA using a tiny VM because it almost certainly won't be powerful enough for me and I'll raise a support ticket because it breaks.

I think we should refuse to validate use of StandardD2sV3 except when running in test, but that implies making our validation code

[2018-11-08 02:55] amanohar opened #708 "Scale operation fails during VM Extension run: "failed to execute command""
Scale operation fails during VM Extension run: "failed to execute command".

Two occurrences of this error both in Australia East (during scale up operation).

[2018-11-08 03:19] kwoodson opened #709 "Publishing tools should have single csv subscription per offer"
With 3.11 on the door step and 4.0 on the horizon we need to create a csv per offer instead of sku.  This makes management much more difficult if we use per sku.

[2018-11-08 10:40] kargakis commented on #708
Seems to be the same as https://github.com/openshift/openshift-azure/issues/600

/kind bug

[2018-11-08 10:41] kargakis commented on #707
Is this just for cost-saving? I don't see any gain in it.

[2018-11-08 12:43] mjudeikis opened #710 "Node IS in 3.11 usability"
In 3.11 we now have ImageStreams, representing node images
[code]
We dont use them. Need to decide if we want to use them or we remove them from our code-base
/kind feature

https://github.com/openshift/openshift-azure/pull/695#discussion_r231853174

[2018-11-08 13:21] #614 closed

[2018-11-08 15:45] mjudeikis opened #711 "[3.11] Pod stuck in creating phase"
[code]

I suspect CRI-O :/

[2018-11-08 15:46] mjudeikis commented on #711
[code]

[2018-11-08 15:55] mjudeikis commented on #711
[code]

[2018-11-08 21:16] jim-minter commented on #694
@thekad can you pick this up please?

[2018-11-09 00:02] thekad commented on #694
@jim-minter @asalkeld in case we do want that change, I opened #712 to deal with it

[2018-11-09 12:10] mjudeikis commented on #711
might be related to https://github.com/containers/storage/pull/234

[2018-11-09 12:22] runcom commented on #711
That's probably related, as there's a bad state on the machine by the time the panic recovers and crio is restarted and kube isn't repulling the image, that's why you get image not known. Fix is almost surely the PR you linked.

[2018-11-09 16:02] jim-minter opened #714 "Improve granularity of error step for updates"
In conjunction with #694 please improve the granularity of error step for updates.  See:

https://github.com/openshift/openshift-azure/issues/672#issuecomment-434546004
https://github.com/openshift/openshift-azure/pull/674/files#r230645832

As a starting point, suggest making update{InPlace,PlusOne} also return PluginError and change the step definitions to PluginStepUpdate{InPlace,PlusOne}{Foo,Ba

[2018-11-12 13:01] pweil- commented on #707
This is the use case where a configurable would make this a little easier.   Is the cost savings big enough to justify it?

Should we consider something like an `--insecure-skip-tls-verify` type of flag where it is `--ignore-validation-errors` and it is undocumented (or documented to never use it)?  If we have to go down this route I'd like to find a more generic way of doing it than putting speci

[2018-11-12 13:01] kargakis opened #718 "Expected 503 to be 200"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/683/pull-ci-openshift-openshift-azure-master-e2e-azure/657
/kind test-flake

I think at least 500s should be retried

@jim-minter @thekad

[2018-11-12 13:02] pweil- commented on #707
and 2 seconds later I already don't like the suggestion above since it will make life harder narrowing down real validation errors :-)

[2018-11-12 13:45] kargakis commented on #643
Another way this test is failing
<details>

[code]
</details>
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/683/pull-ci-openshift-openshift-azure-master-e2e-azure/659/build-log.txt

[2018-11-12 18:01] mjudeikis opened #723 "api server and etcd pod names have been updated in 3.11"
_Originally posted by @kargakis in https://github.com/openshift/openshift-azure/pull/719#issuecomment-437940621_

[2018-11-12 18:02] mjudeikis commented on #723
/assign

[2018-11-13 09:45] mjudeikis commented on #723
@kargakis do you want to change them or you gonna address this as part of your artifact pr?

[2018-11-13 10:31] kargakis opened #725 "Start using azure mocked client"
See https://github.com/Azure/azure-sdk-for-go/issues/409#issuecomment-438046820

Then we can stop generating our own fake client.

/area tests
/kind cleanup

[2018-11-13 10:42] kargakis commented on #723
Let's merge my artifacts PR and enable it via an env variable in hack/delete.sh for now.

[2018-11-13 17:44] kargakis commented on #595
@mjudeikis what's the progress on this issue? Since the artifacts PR got merged, I think this is the last blocker for enabling automated upgrade tests in a reusable way w/o needing to introduce a new openshift template in openshift/release.

[2018-11-13 17:47] #694 closed

[2018-11-14 01:33] #386 closed

[2018-11-14 02:39] #645 closed

[2018-11-14 12:58] charlesakalugwu opened #728 "Enable ssh access when RunningUnderTest"
We probably should enable ssh access to the nodes when we are running under test.

[2018-11-14 12:59] kargakis commented on #728
@jim-minter

[2018-11-14 13:16] charlesakalugwu opened #729 "Provide more detailed errors from cluster Update"
We currently see errors from pkg cluster's Update method which don't provide a lot of information.

[code]

We should probably provide more detailed errors out of those Update steps.

@kargakis

[2018-11-14 13:17] kargakis commented on #729
@asalkeld @jim-minter

/kind feature

[2018-11-14 13:18] kargakis commented on #728
/area tests
/kind feature

[2018-11-14 15:08] charlesakalugwu opened #731 "Compute scale set CSE script is being re-executed on scale up"
We ran into an issue where it appeared that the node startup scripts were being reapplied to the vms upon update.

We've been under the understanding that these scripts are run only once the first time a VM is created and never again.

We encountered this issue when developing key rotation e2e tests.

[code]

@jim-minter @kargakis

[2018-11-14 15:28] mjudeikis opened #732 "Validate ASB on 3.11"
We need to validate that ASB is fully working in 3.11 with all ASB and stuff.
Guys in the office complained that it didn't work on 3.11 default installation.

/kind bug

[2018-11-14 15:29] jim-minter commented on #732
should add an e2e for this

[2018-11-14 15:35] mjudeikis commented on #732
agreed. should be part of this is somebody pick this up

[2018-11-14 15:36] kargakis commented on #731
This issue came up during @charlesakalugwu's [key rotation upgrade test](https://github.com/openshift/openshift-azure/pull/726). During the upgrade, when the compute scaleset is rotated for some reason this issue happens. All VMs seem to come up correctly (master, infra, even the new compute VM is joining the cluster).

[2018-11-14 15:37] kargakis commented on #732
/area tests

[2018-11-14 23:00] asalkeld commented on #729
that error should have something valid
[code]

[2018-11-15 01:29] asalkeld commented on #672
there is another issue, so closing this one.

/close

[2018-11-15 01:29] #672 closed

[2018-11-15 09:59] kargakis commented on #690
@asalkeld in https://github.com/openshift/openshift-azure/commit/d8a538deeb9abea7c124a7cf99a861bdb34779a0 I submitted generated code about one of the azure clients w/o touching that client. Seems that the generated files are not compared correctly in CI. I just run the command from `validate-generated.sh` locally and I get no output (no files returned from grep). The same thing seems to happen in

[2018-11-15 10:17] kargakis commented on #690
For example, I submitted an invalid change in https://github.com/openshift/openshift-azure/pull/735 but the verify job is green: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/735/pull-ci-openshift-openshift-azure-master-verify/632

[2018-11-15 10:20] kargakis opened #737 "Add unit tests w/ mocks for reentrant update code paths"
Need to mock the storage client that reads and updates the update blob.

/area tests
/kind feature

[2018-11-15 13:47] #423 closed

[2018-11-15 14:14] kargakis commented on #434
Question: how do we want to merge the following request:
[code]
We invalidate a missing name from a routerProfile but validation runs after we merge so if we are merging on top of a pre-existing slice with a single profile, should we merge the above request? What happens when there are multiple pre-existing profiles?

Similar question for AgentPoolProfile.

[2018-11-15 14:20] kargakis commented on #434
I guess for AgentPoolProfiles the answer is slightly more obvious: since we already use multiple profiles, we cannot really merge requests with missing names. How can we invalidate these requests though if merging runs first? Should our merge function let us know it failed to merge something? Then how do we return a user friendly error? Does validation need to run at all in that case?

[2018-11-15 18:31] thekad commented on #718
This could've been fixed already by the work done on #645 as we don't wait an arbitrary amount of time and we wait until the web app is returning 200s again.

[2018-11-15 18:38] thekad commented on #718
/assign

[2018-11-15 18:41] thekad commented on #707
@kargakis I think it has less to do with cost-savings and more to do with the fact that clusters with StandardD2sV3 wouldn't be able to serve any real world workloads. It is really only useful for running our QA, are you saying we should just get rid of D2s altogether and run our tests on D4s?

[2018-11-15 18:50] kargakis commented on #707
We should be running our tests on all supported sizes or at least a
representative subset, maybe with a lower frequency on higher sizes and
higher frequency on lower sizes.

On Thu, Nov 15, 2018, 19:41 Jorge Gallegos <notifications@github.com wrote:

[2018-11-15 22:21] jim-minter commented on #718
believed fixed, reopen if needed

[2018-11-16 03:30] #690 closed

[2018-11-16 12:17] #595 closed

[2018-11-16 13:20] charlesakalugwu opened #741 "Cluster updates get stuck after multiple scale set vm rotations"
Azure nodes within each of our scale sets are named automatically by the RP using a seemingly hexadecimal-based format. The list below is an example of a series of names for VMs created within a scale set.

[code]

Cluster updates get stuck when waiting for nodes such as `infra-00000A` to be ready.

[code]

However the node is registered in k8s as ready BUT instead of being registered as `infra-00

[2018-11-16 14:45] charlesakalugwu commented on #741
performing a lowercase op on `` before any of its enclosing functions in ready.go or update.go are executed seems to fix the issue:

[code]

[2018-11-16 15:09] thekad commented on #729
This is being handled on #714 I believe

[2018-11-16 15:11] kargakis commented on #729
Looks like a sdk issue. Also since #714 is a thing, I am closing this one.

[2018-11-16 15:11] #729 closed

[2018-11-16 16:04] #659 closed

[2018-11-16 18:02] charlesakalugwu commented on #741
In the end it was sufficient to convert the vm names to lower case only just before the k8s client's get node function is called with the name. This reduces the blast radius of this change and limits changes only to drain.go and ready.go in pkg/cluster.

I also updated some of the tests in ready_test.go

[2018-11-16 20:18] amanohar opened #745 "Validation for invalid router profile name does not fail fast"
I mistakenly set the router profile to be:
[code]

This should fail in the validation input data model from the caller aka in the front. However, it fails during internal data model validation only. Which means the RP creates a resource and then this validation happens in the backend and customer will need to delete the failed resource.

This validation should happen in the versioned data model ca

[2018-11-16 20:50] #714 closed

[2018-11-19 02:46] #741 closed

[2018-11-19 12:08] #618 closed

[2018-11-19 14:32] kargakis commented on #745
@amanohar @jim-minter how does this affect merging? I assume we should be merging the external type before validating it. Is there any value in merging and validating internally then? Requests passing external validation should not fail internal?

[2018-11-19 16:21] mjudeikis opened #753 "fix oreg_url in openshift-ansible"
Node build script if ran by prow generates wrong oreg_url.
If it ran locally - all good.

We need to fix this in openshift-ansible code and rollback this change: https://github.com/openshift/openshift-azure/pull/751

/kind bug

[2018-11-19 23:56] asalkeld commented on #575
/close

[2018-11-19 23:56] #575 closed

[2018-11-20 09:04] kargakis opened #756 "upgrade test: failed parsing the manifest : open : no such file or directory"
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure-upgrade/

/assign @asalkeld
/kind bug

[2018-11-20 11:34] kargakis commented on #658
Hrm, I think we can only do this in tests using our published images.

[2018-11-20 12:02] mjudeikis opened #759 "GET openshift resource instead of resource group"
When creating new cluster we rely on the creation of RG to determine if this is `create` or `update`
https://github.com/openshift/openshift-azure/blob/298535a71a1fce290eafb7300e9783f8e1788d88/cmd/createorupdate/createorupdate.go#L267-L272

This does not represent real RP as if we want to rerun script it will treat existing group as `update` and will not even initiate arm template.

we should be ~~

[2018-11-20 13:10] kargakis commented on #552
We are seeing a lot of different timeouts

Latest
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/758/pull-ci-openshift-openshift-azure-master-e2e-azure/835/build-log.txt

@amanohar

[2018-11-20 13:12] kargakis commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/758/pull-ci-openshift-openshift-azure-master-e2e-azure/833/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/758/pull-ci-openshift-openshift-azure-master-e2e-azure/832/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure

[2018-11-20 13:14] mjudeikis commented on #759
failure on aad flow leaves us with only RG as it fials on validation
[code]

[2018-11-20 18:44] amanohar commented on #552
@kargakis ack. I will take a look.

[2018-11-20 21:54] asalkeld commented on #759
/assign

[2018-11-21 00:17] asalkeld commented on #759
I think I'll just check for a generated manifest as this is written at the end of a create.

[2018-11-21 00:25] jim-minter opened #767 "customer-admin-controller in ImagePullBackOff flake"
CI run failed because it couldn't pull the customer-admin-controller image
`openshift-infra                     customer-admin-controller-776f7fd8c5-wcgjq     0/1       ImagePullBackOff   0          24m       10.130.0.52   master-000000`
`openshift-infra                     23m         23m          2         customer-admin-controller-776f7fd8c5-wcgjq.1568f493c0f2f3e6     Pod                     sp

[2018-11-21 00:55] jim-minter commented on #767
happened here as well:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/764/pull-ci-openshift-openshift-azure-master-e2e-azure/850

[2018-11-21 08:47] #767 closed

[2018-11-21 08:50] #756 closed

[2018-11-21 09:00] kargakis commented on #767
This may also be an issue with the build actually failing to complete. Next time you encounter it, try to `oc get pods` in the test namespace.

[2018-11-21 10:34] kargakis commented on #718
This is still an issue
[code]
Should be fixed by https://github.com/openshift/openshift-azure/pull/768

[2018-11-21 10:57] kargakis commented on #745
@amanohar another question: isn't it possible for the RP to cleanup the resource if it fails internal validation?

[2018-11-21 10:59] kargakis commented on #731
I don't think this question is an issue in openshift-azure and this issue tracker is probably the wrong venue. Maybe take this question in the openshiftazure slack?

[2018-11-21 11:00] kargakis commented on #704
@mjudeikis still an issue?

[2018-11-21 11:01] kargakis commented on #650
Shouldn't be an issue anymore?

[2018-11-21 11:01] #650 closed

[2018-11-21 11:02] mjudeikis commented on #704
I think it is

[2018-11-21 11:05] kargakis commented on #616
Closing in favor of https://jira.coreos.com/browse/AZURE-227

[2018-11-21 11:05] #616 closed

[2018-11-21 11:07] kargakis commented on #658
Did this in the upgrade test, cannot do in tests using latest built images since these are all eastus.

[2018-11-21 11:07] #658 closed

[2018-11-21 11:08] kargakis commented on #615
Not sure about the scope of this issue anymore, please open a new one with any issue you are encountering.

[2018-11-21 11:08] #615 closed

[2018-11-21 11:10] kargakis commented on #603
We don't support accelerated networking and we have a card about it in Jira now. Please open a new issue if you can reproduce this issue with our current setup.

[2018-11-21 11:10] #603 closed

[2018-11-21 11:10] kargakis commented on #566
@mjudeikis status on this issue?

[2018-11-21 11:12] kargakis commented on #559
We should be ensuring the generated resourcegroup names in our tests are valid for hostnames.

[2018-11-21 11:12] kargakis commented on #553
/kind bug

[2018-11-21 11:13] mjudeikis commented on #566
I think "time of the year" passed we can close
/close

[2018-11-21 11:13] #566 closed

[2018-11-21 11:13] kargakis commented on #551
the e2e binary is no more

[2018-11-21 11:13] #551 closed

[2018-11-21 11:14] kargakis commented on #537
Closing in favor of https://jira.coreos.com/browse/AZURE-215

[2018-11-21 11:14] #537 closed

[2018-11-21 11:14] kargakis commented on #530
@mjudeikis @kwoodson status update on this issue?

[2018-11-21 11:15] kargakis commented on #530
reopen if still relevant

[2018-11-21 11:15] #530 closed

[2018-11-21 11:15] #391 closed

[2018-11-21 11:17] kargakis commented on #332
@jim-minter @charlesakalugwu status on this issue?

[2018-11-21 11:18] kargakis commented on #292
Loganalytics is no more part of openshift-azure so I assume this is not an issue anymore.

[2018-11-21 11:18] #292 closed

[2018-11-21 11:19] kargakis commented on #204
Closing in favor of https://jira.coreos.com/browse/AZURE-215

[2018-11-21 11:19] #204 closed

[2018-11-21 13:08] kargakis commented on #379
Closing in favor of https://jira.coreos.com/browse/AZURE-228

[2018-11-21 13:08] #379 closed

[2018-11-21 14:37] kargakis commented on #378
We don't use the etcd operator, please create a card about it in Jira if more work needs to be done on that front.

[2018-11-21 14:37] #378 closed

[2018-11-21 14:37] kargakis commented on #479
@jim-minter still an issue?

[2018-11-21 14:38] kargakis commented on #559
/area tests

[2018-11-21 16:35] kargakis commented on #559
got an open pr fixing this

/assign

[2018-11-21 16:44] #559 closed

[2018-11-21 16:44] #651 closed

[2018-11-21 20:37] amanohar commented on #745
@kargakis If validation fails in the frontend then the resource is not saved. However, if validation fails in the backend then a resource is not implicitly deleted during a PUT call.

In this specific case since plugin expects the value to be `default` this validation can be done on the PUT request/aka version API model. HTH.

[2018-11-21 23:19] #728 closed

[2018-11-22 14:08] mjudeikis commented on #732
[code]

does not work at the moment as ASB points to registry.io :/

[2018-11-22 22:13] jim-minter opened #774 "upgrade.sh is broken"
The following hack fixes it, but it really shouldn't be re-executing the manifest template on update.

[code]

[2018-11-22 22:24] jim-minter opened #775 "Investigate removing cluster-reader from openshift-azure-logging"
The openshift-azure-logging SA has cluster-reader.  I think this is just to enable the kubernetes_metadata plugin to work.  I think we can probably determine all the info we need by parsing the docker container name and not using the kubernetes_metadata plugin, thus relieving api server load and the permissions here.  Situation may change with crio though.

@mjudeikis

[2018-11-22 22:28] jim-minter opened #776 "Check if mdsd-customerdata-config.yaml is populated by naive substitution and avoid if possible"
We have stanzas like `<IdentityComponent name="SubscriptionId">_SUBSCRIPTIONID_</IdentityComponent>` in mdsd-customerdata-config.yaml - investigate how these are populated: if done by naive substitution, it would be preferable to template them in directly using an XML parser in the sync plugin.

@mjudeikis

[2018-11-23 02:43] #707 closed

[2018-11-23 09:45] mjudeikis commented on #776
yes, its just XML with replacing done in bootstrap script on startup
https://github.com/Azure/moffet/blob/master/logging/images/mdsd/bootstrap.sh#L27

We could move all this logic into our code base if we want so

[2018-11-23 10:40] charlesakalugwu commented on #332
I'd like to deal with this after my current testing work.

[2018-11-23 14:38] kargakis commented on #652
Still an issue

[2018-11-23 14:45] kargakis commented on #698
got a fix for this

/assign

[2018-11-26 07:40] asalkeld commented on #737
/assign

[2018-11-26 08:33] kargakis commented on #382
Unit tests missing for:
- [ ] pkg/cluster/drain.go#drain
- [ ] pkg/cluster/healthcheck#HealthCheck
- [ ] pkg/cluster/ready.go#WaitForInfraServices
- [ ] pkg/cluster/update.go#Update (and/or maybe  `waitForNewNodes`, `updateInPlace`, and `updatePlusOne`)

[2018-11-26 08:38] #737 closed

[2018-11-26 10:00] kargakis opened #782 "origin conformance tests are broken"
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure-conformance/106/artifacts/e2e-azure-conformance/container-logs/
From test.log:
[code]
@mjudeikis
/area tests
/kind bug

[2018-11-26 12:17] mjudeikis commented on #776
These 2 looks like candidated for code reuse:
[code]

Its getting more complicated as its "XML inside of JSON/YAML":
[code]

TranslateXML:
[code]

And this part is where I got stuck. We need to `path.Set` implementation for `xmlplath` which challenge I lack the background to take on :/

[2018-11-26 12:44] #698 closed

[2018-11-26 13:08] mjudeikis commented on #753
closing as its fixed in the template

[2018-11-26 13:08] #753 closed

[2018-11-27 06:32] asalkeld opened #785 "make sure we can restore large etcd snapshots"
From a code review comment: https://github.com/openshift/openshift-azure/pull/779#discussion_r236485229

If you save the snapshot to the same disk, presumably it should work for dbs up to approx 1/2 of the disk size? Presumably any bigger will actually require a temporary restore disk or something? Suggest you implement the former and open a story for the latter.

[2018-11-27 09:59] kargakis opened #786 "FAIL: TestUpdateBlob flake"
Seeing this locally, the test fails non-deterministically.
[code]
/kind test-flake

You can try reproducing with the following script:
[code]
@asalkeld

[2018-11-27 12:48] kargakis commented on #786
Started hitting this in CI

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/750/pull-ci-openshift-openshift-azure-master-unit/819

[2018-11-27 15:31] kargakis opened #788 "get rid of the osa sdk"
in favor of something that can work with both the customer and admin apis

/assign
/kind cleanup

[2018-11-27 23:45] #786 closed

[2018-11-28 20:05] #434 closed

[2018-11-29 11:22] #788 closed

[2018-11-29 11:46] mjudeikis opened #804 "no gingko found"
[code]

Something is broken with $GOPATH or how we call test

/flake

[2018-11-29 11:47] mjudeikis commented on #804
/kind test-flake

[2018-11-29 11:50] mjudeikis commented on #804
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/773/pull-ci-openshift-openshift-azure-master-e2e-azure/1061

[2018-11-29 12:18] mjudeikis commented on #804
I suspect this will be again some image caching magic

[2018-11-29 12:31] mjudeikis commented on #718
Still an issue:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/773/pull-ci-openshift-openshift-azure-master-e2e-azure/1066

[2018-11-29 12:45] charlesakalugwu opened #807 "Update UpdateOSACluster method after admin API lands"
Once #794 is merged and the admin API lands, we need to remove the (*Client).UpdateOSACluster method in `test/clients/azure/osa.go`. The availability of the admin API will provide us with the ability to conduct admin-based updates to a cluster via the real RP.

Until then, only the Key rotation e2e tests and similar tests are allowed to use the aforementioned method

In addition, the `deleteSecret

[2018-11-29 13:05] mjudeikis commented on #804
again:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/806/pull-ci-openshift-openshift-azure-master-e2e-azure/1069

[2018-11-29 13:54] kargakis commented on #804
Seeing different failure modes of this
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/805/pull-ci-openshift-openshift-azure-master-e2e-azure/1067/build-log.txt
@jim-minter started happening ever since your hack/e2e.sh refactor.

[2018-11-29 13:54] kargakis commented on #804
/area tests

[2018-11-29 13:59] akrzos opened #808 "Incorrect number of compute nodes after hack/upgrade.sh in attempt to scaleup"
I have built a cluster with 2 computes and then attempted to upgrade into 4 computes but the scripts managed to spawn a cluster with 5 computes in this case.

The series of events/actions taken to get into this state were:

1. Deploy cluster (3 masters, 2 infras, 2 computes)
2. Upgrade to 4 computes (3 masters, 2 infras, 4 computes) ends in error (Md5Mismatch)
3. Rerun upgrade (To see if it can re

[2018-11-29 14:09] mjudeikis commented on #804
Trying to catch this in action... One other option could be our trap is not doing its work and we dont see the result. In particual `cp` operation so test container does not have all required files
[code]

[2018-11-29 14:16] kargakis commented on #808
@akrzos it would be helpful to post the Md5Mismatch error message you are seeing. FWIW, I just hit this:
[code]
@amanohar @mjudeikis any ideas about this one?

[2018-11-29 14:17] mjudeikis commented on #804
https://github.com/openshift/release/pull/2257

[2018-11-29 14:22] akrzos commented on #808
@kargakis I am hitting the same issue with the MD5Mismatch error

Here is the output on the last step (4) I had mentioned in the original issue:

[code]

You cans see `deleting compute-000004` and then eventually spawning `compute-000005`. I have only specified 4 computes in the yaml manifest so I would expect (000000-000003 compute nodes only)

[2018-11-29 14:32] akrzos commented on #808
Step (1)

[code]

Edit the manifest to bump compute count (Between step 1-2)

Step (2)
[code]

And Step 3

[code]

[2018-11-29 14:57] kargakis commented on #808
thanks @akrzos, please open a separate issue about the md5mismatch error.

on (3) you shouldn't see any "setting ss-compute capacity to" messages (that message means we think there is an old machine that needs to be scaled down). This is probably a failed blob update from one of the previous failures, so one of the newly scaled up VMs is not tracked in our update blob so the newer update will thin

[2018-11-29 14:58] kargakis commented on #808
By the way if the last update ever succeeds you should have 4 VMs.

[2018-11-29 15:52] charlesakalugwu opened #811 "Investigate how to inject sanity checks in our update-based e2e tests"
We've started writing update-based e2e tests which involve updating part or all of the cluster.

It would be very useful if we found a way to inject a set of sanity checks at various points within update-based test specs. It should particularly be possible to resuse those sanity checks across different test specs

For example
* Scale up a clusters compute pool
* Run the set of sanity checks
* Scal

[2018-11-29 17:22] akrzos opened #812 "Md5Mismatch Error while running hack/upgrade.sh for scaleup"
[code]

Reproducing steps:
1. Deploy Cluster `.hack/create.sh cluster-name`
2. Modify manifest yaml file for more compute nodes
3. Run upgrade script `./hack/upgrade.sh`

Related to #808.  This does not occur unless you modify the manifest file.

[2018-11-29 20:02] kwoodson commented on #708
According to this bug and #600 I'm not sure exactly which command is failing.  It looks like the docker operation timed out attempting to stop.

https://github.com/openshift/openshift-azure/blob/master/pkg/arm/data/node-startup.sh#L15
[code]

There are a few options we can take here.  We can start the image with docker stopped until the formatting of the docker drive has completed.  This would eli

[2018-11-29 21:07] jim-minter commented on #527
Still happening - @cjryan has just seen it.  @kwoodson please can you updated the healthcheck code to catch this specific TLS error, log it and retry?

[2018-11-29 21:42] kwoodson commented on #527
Sure, I'll take a look

[2018-11-30 08:43] kargakis commented on #812
@amanohar @sozercan ptal
/kind bug

[2018-11-30 08:52] kargakis commented on #811
/area tests
/kind feature

[2018-11-30 08:53] kargakis commented on #807
/kind cleanup
/area tests

[2018-11-30 10:45] kargakis opened #814 "should deploy a template with persistent storage timeout"
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/798/pull-ci-openshift-openshift-azure-master-e2e-azure/1087/build-log.txt
Pods in the namespace:
<details>

[code]
</details>
/kind test-flake

[2018-12-01 03:55] #577 closed

[2018-12-03 00:12] asalkeld commented on #812
/assign

I found this when doing the recovery work: https://github.com/openshift/openshift-azure/pull/779/commits
I'll separate that one commit out so it can be merged quickly

[2018-12-03 07:22] asalkeld opened #819 "e2e deployment failed with WaitForInfraDeployments read: connection timed out"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/818/pull-ci-openshift-openshift-azure-master-e2e-azure/1104

[code]

[2018-12-03 08:46] kargakis commented on #819
Dupe of https://github.com/openshift/openshift-azure/issues/560

/kind test-flake
/close

[2018-12-03 08:46] #819 closed

[2018-12-03 13:20] #718 closed

[2018-12-04 10:37] charlesakalugwu opened #826 "Validation failed for resourceGroupName in dnsClient during cluster update"
During a cluster update in e2e tests, validation fails for the resourcegroup name when the dnsClient tries to update zones.

[code]

The dns client shouldn't run during updates. We need to investigate what's going on.

artifacts: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/794/pull-ci-openshift-openshift-azure-master-e2e-azure-keyrotation/18/

/

[2018-12-04 11:21] #812 closed

[2018-12-04 13:38] kargakis opened #828 "fake rp writes partial manifest in the filesystem after successful update"
/kind bug

[2018-12-04 14:58] kargakis commented on #814
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/830/pull-ci-openshift-openshift-azure-master-e2e-azure/1153

[2018-12-04 15:12] kargakis commented on #804
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/830/pull-ci-openshift-openshift-azure-master-e2e-azure/1157

[2018-12-04 17:13] thekad opened #832 "Azure key rotation test can't find manifest.yaml"
Got failures like:

[code]

This will be easily solved once #827 is implemented I believe.

[2018-12-04 17:13] thekad commented on #832
/kind flake

[2018-12-04 17:15] thekad commented on #832
/kind test-flake

[2018-12-04 17:22] thekad opened #833 "ScaleUpDown test needs update to newer api version"
While updating the cluster using the Real RP in the ScaleUpDown e2e test, there's an error thrown back, troubleshooting info:

[code]

See https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-azure-scaleupdown-e2e/6/ for an example

/kind test-flake
/area tests

[2018-12-04 18:52] sozercan opened #834 "Logging namespace needs to be configurable"
For Geneva logging, realized that we'll need to make `namespace` and account `moniker` configurable from the RP side.
https://github.com/openshift/openshift-azure/blob/master/pkg/addons/data/ConfigMap/openshift-azure-logging/mdsd-customerdata-config.yaml#L9-L11

For quick short term fix, can we change these to `OpenShift` and `openshiftdiag` on a new branch, so we can vendor without all the new ch

[2018-12-04 21:21] thekad commented on #643
There is no PHP app anymore, still valid issue?

[2018-12-04 21:42] sozercan opened #835 "NewPlugin validation check"
NewPlugin includes validation check (`validateConfig`) with #740 without a similar flag to `Validate`'s `externalOnly`.

We are running into an issue in the RP because frontend requires `GenerateConfig` and without any values, it will fail because of validation check.

We would like to avoid `GenerateConfig` in the front end because it is a time consuming operation and calling generateConfig in bo

[2018-12-04 21:55] kargakis commented on #832
/assign @charlesakalugwu

[2018-12-04 22:00] kargakis commented on #833
/assign @charlesakalugwu

[2018-12-04 22:00] kargakis commented on #834
/assign @mjudeikis

[2018-12-04 23:56] jim-minter commented on #332
As part of this work, need to fix the hack in https://github.com/openshift/openshift-azure/pull/837/commits/577e3977352e96104131e241317999e46a5a26f9 .

[2018-12-05 09:16] #835 closed

[2018-12-05 10:04] #826 closed

[2018-12-05 10:46] mjudeikis opened #841 "function parameters ordering fix"
We should make sure that `ctx` is first and `log` is always the second object when passing into any functions.
Any bool type switches like `dryRun`, `externalOnly`, `validateDisable` should be the last one.

For example:
[code]

@openshift/sig-azure WDYT?

[2018-12-05 10:47] mjudeikis commented on #841
/kind feature

[2018-12-05 11:31] mjudeikis opened #842 "check metrics-bridge and Prometheus operator creation in e2es"
We removed prometheus operator and metrics-bridge from `ready.go` to increase our start time. We need to add e2e test to check they work as expected.

https://github.com/openshift/openshift-azure/pull/773/files#r238904993

/kind test

[2018-12-05 11:31] mjudeikis commented on #842
/assign

[2018-12-05 15:23] charlesakalugwu opened #847 "ci-run update-based e2e tests fail with plan cannot be associated with an update"
During a cluster update in ci-initiated e2e tests, the following failure occurs

[code]

This has been reported in the key rotation as well as the etcd backup and recovery e2e tests

https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/794/pull-ci-openshift-openshift-azure-master-e2e-azure-keyrotation/25/

https://github.com/openshift/openshift-azure/pul

[2018-12-05 15:53] #842 closed

[2018-12-05 22:57] asalkeld commented on #602
/close

[2018-12-05 22:57] #602 closed

[2018-12-06 08:47] kargakis opened #850 "should start kube-state-metrics correctly"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/849/pull-ci-openshift-openshift-azure-master-e2e-azure/1215
/kind test-flake
/area tests

[2018-12-06 09:11] kargakis opened #851 "move prometheus-forwarder out of the cluster healthcheck"
[code]
Similar to the rest of the promehteus stack

/kind test-flake
@mjudeikis

[2018-12-06 09:14] mjudeikis commented on #851
Do you have cluster or artifacts?

[2018-12-06 09:16] kargakis commented on #851
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/813/pull-ci-openshift-openshift-azure-master-e2e-azure/1214/artifacts/e2e-azure/

[2018-12-06 09:19] mjudeikis commented on #851
/close
old code in @asalkeld PR. forwarder as a component was removed in favor of metrics-bridge.

[2018-12-06 09:19] #851 closed

[2018-12-06 09:21] kargakis commented on #851
yeah, saw that now, thanks

[2018-12-06 09:24] kargakis opened #852 "no Location header in response in e2e tests"
When running our CI job with RUNNING_UNDER_TEST unset
[code]
/kind bug
/area tests

[2018-12-06 09:47] kargakis opened #853 "dns conflict"
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/825/pull-ci-openshift-openshift-azure-master-e2e-azure-etcdbackuprecovery/8/build-log.txt
/kind test-flake

[2018-12-06 09:54] kargakis commented on #852
ah, the htpasswd users are created only during `RUNNING_UNDER_TEST=true` so we cannot really run our e2e tests in a cluster that has not been deployed with that variable set.

@jim-minter @kwoodson @mjudeikis @charlesakalugwu

[2018-12-06 09:54] kargakis commented on #852
@asalkeld

[2018-12-06 11:38] mjudeikis commented on #804
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/840/pull-ci-openshift-openshift-azure-master-e2e-azure/1226

[2018-12-06 11:40] mjudeikis commented on #852
yes. We need AAD integration fully completed to make this work. Or return htpasswd user to production cluster (which we removed for PP2)

[2018-12-06 14:41] thekad commented on #814
/area tests
/assign

[2018-12-06 14:49] thekad opened #855 "RealRP tests should use Standard_D4s sizes"
Tests that use the RealRP should update their templates/configs to always use Standard D4s instances at a minimum, since we only support Standard D2s through the FakeRP and only if RUNNING_UNDER_TEST.

/kind test-flake
/area tests

[2018-12-06 14:51] kargakis commented on #855
Should be fixed by https://github.com/openshift/openshift-azure/pull/846

[2018-12-06 15:59] thekad commented on #855
@kargakis good to know!

[2018-12-06 15:59] #855 closed

[2018-12-06 21:54] jim-minter commented on #853
Activity log on the dns RG in the portal showed that zones weren't being created because we hit our quota (100).  I've deleted the following zones:
[code]

[2018-12-06 21:58] jim-minter commented on #853
@kwoodson @kargakis surely there's at least one leak here - please can you find and fix it before closing this issue?

[2018-12-06 22:21] jim-minter commented on #853
I also deleted zillions of NS records with no corresponding zone, but see https://github.com/openshift/openshift-azure/pull/859

[2018-12-06 22:21] jim-minter commented on #853
ok, zillions =~ 700ish

[2018-12-07 01:07] #527 closed

[2018-12-07 09:04] kargakis commented on #804
Merged https://github.com/openshift/release/pull/2325, hoping to fix this issue.

[2018-12-07 10:36] mjudeikis commented on #731
/open
This is repeatable and reproducible. let's reopen so we can track progress, and if we end up with non-azure issue, we can move. But now we don't know where the issue is.

I was thinking this might be related to our update code but now think about this less and less.
1. Tried to change the order of upgrades (master, compute, infra) as was thinking something leaks to update blob - No luck.
2.

[2018-12-07 10:40] kargakis commented on #731
Adjusted the title to match closely the issue we are seeing

[2018-12-07 10:40] kargakis commented on #731
/kind bug

[2018-12-07 11:06] kargakis commented on #804
Reopen if still an issue

[2018-12-07 11:06] #804 closed

[2018-12-07 11:06] #832 closed

[2018-12-07 12:07] kargakis opened #863 "should deploy a template with persistent storage and test failure modes"
No artifacts from the test namespace which is weird.
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/821/pull-ci-openshift-openshift-azure-master-e2e-azure/1264/artifacts/e2e-azure/
[code]
<details>

[code]
</details>
/kind test-flake

[2018-12-07 12:11] #834 closed

[2018-12-07 13:15] kargakis opened #864 "Run periodics daily"
The following jobs are not yet fully functional and have been extended to run weekly until the underlying issues are fixed. We should be updating them to run daily selectively as issues are addressed.

- [x] [`periodic-ci-azure-etcdbackuprecovery-e2e`](https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/periodic-ci-azure-etcdbackuprecovery-e2e/) (waiting on https://github.com/opensh

[2018-12-07 13:16] kargakis commented on #864
@asalkeld @charlesakalugwu @jim-minter @kwoodson @cjryan

[2018-12-07 13:57] kargakis commented on #807
UpdateOSACluster is not going to be removed, it should use the [admin client](https://github.com/openshift/openshift-azure/blob/77fbbf665c0f05263862c9f43dcda24021669257/pkg/api/admin/api/client.go#L84) to send update requests in the fake RP (and hopefully the prod RP in the future).

[2018-12-07 13:59] kargakis commented on #807
Actually, it cannot use the admin client until https://github.com/openshift/openshift-azure/pull/821 gets merged. Initially, it can use the customer client.

[2018-12-07 14:17] mjudeikis commented on #731
Looks like script run on the last node for some reason.
Node still responds after running, but I can't ssh anymore into it.
And azure update ssh keys fails:
[code]

[2018-12-07 14:23] charlesakalugwu commented on #731
I think the problem here is broader than unlink (or the custom script extension's script) not being re-entrant. The main issue here is that custom script extensions are being re-executed on older vms when the compute scale set is scaled up. If the cse script isn't written to be idempotent then the re-execution causes a failure and leads to a scale set in a failed state. I'll update the title of th

[2018-12-07 14:36] mjudeikis commented on #731
yes, but the thing is that it does not run on all VMSS VMs (as per my current debugging, but I might be wrong), but only on the last one.

[2018-12-07 14:53] charlesakalugwu opened #865 "SRE e2e tests fail in verifying that kube-state-metrics started correctly"
The SRE (azure cluster reader) e2e test suite is currently failing during the test which checks that `kube-state-metrics` is started correctly

[code]

https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/794/pull-ci-openshift-openshift-azure-master-e2e-azure/1268/

/kind bug
/cc @mjudeikis

[2018-12-07 14:54] charlesakalugwu commented on #865
/assign mjudeikis

[2018-12-07 14:55] mjudeikis commented on #865
The fun thing that kube-state metrics is part of the operator :/ https://github.com/openshift/openshift-azure/blob/9c94dda629d72ad08586fd7a758cc166294f7985/pkg/addons/data/ConfigMap/openshift-monitoring/cluster-monitoring-config.yaml#L48

[2018-12-07 14:57] kargakis commented on #864
Backup+restore test is green+merged - switching back to daily in https://github.com/openshift/release/pull/2330

[2018-12-07 14:59] kargakis commented on #865
dupe of https://github.com/openshift/openshift-azure/issues/850

[2018-12-07 14:59] #865 closed

[2018-12-07 15:01] mjudeikis commented on #850
Its there:
[code]
Confused...

[2018-12-07 15:10] mjudeikis commented on #850
I suspect this might be operator issue so it does not deploy kube-state-metrics. need more data.

[2018-12-07 15:39] charlesakalugwu commented on #850
/assign mjudeikis

[2018-12-07 15:51] kargakis opened #866 "pollingTrackerBase#baseCheckForErrors: missing status property in Azure-AsyncOperation"
@thekad latest issue we hit in the production job

https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-azure-prod-e2e/18
/area tests
/kind bug

[2018-12-07 16:13] mjudeikis commented on #731
If I "update" compute first (I didnt expect this to work) I dont get arm failure:
[code]
Now where might be an issue that we change something in UpdateBlob when updating master which triggers un-expected behavior in Compute nodes

[2018-12-07 17:05] jim-minter opened #868 "documentation on e2e framework input expectations"
Please add short documentation which indicates what the e2e framework input expectations are.

I.E.: for real RP tests ([Real]), these env vars:

AZURE_CLIENT_ID, AZURE_CLIENT_SECRET, AZURE_TENANT_ID (user authentication)
AZURE_SUBSCRIPTION_ID, AZURE_REGION, RESOURCEGROUP (existing cluster location)

for everything else:

_data/containerservice.yaml should be populated with the cluster manifest

[2018-12-07 17:05] jim-minter commented on #868
priority to do this because MSFT are going to want to use the e2e tests themselves

[2018-12-07 17:09] kargakis opened #869 "AZURE_REGION is not shared appropriately in e2e tests"
The problem is that ever since we stopped hardcoding the region to eastus, the e2e tests that need access to AZURE_REGION, lost it (production RP tests). We write the external manifest down after the cluster is deployed so potentially if the AZURE_REGION variable is unset in the e2e framework we can read the location from the manifest.

/area tests
/kind bug
/assign

[2018-12-07 17:12] kargakis commented on #869
Taking into account https://github.com/openshift/openshift-azure/issues/868, we should do this seamlessly w/o MSFT having to use the external manifest themselves.

[2018-12-07 18:51] thekad commented on #866
ack

[2018-12-09 13:22] charlesakalugwu opened #870 "Unit tests broken in CI with *gomock.Controller has no field or method T"
All CI tests are currently failing due to seeminly bad code generation by the gomock version which is installed in CI

[code]

/kind bug
/cc @jim-minter @kargakis @asalkeld

[2018-12-09 22:53] asalkeld commented on #870
the make verify is returning this
[code]

most likely a different version of mockgen is getting used.
I see 1.2.0 was released 2 days ago.
https://github.com/golang/mock/releases

Since we are installing via gogenerate, I am not sure on how to fix the version number in "go get".
I can just try update the version of our vendored gomock.

[2018-12-09 23:46] #870 closed

[2018-12-10 10:46] #869 closed

[2018-12-10 11:34] kargakis opened #876 "Cannot merge partial requests in production"
I am trying to scale up a production cluster in `mkargakiprod` to 2 compute nodes, sending the following manifest:
[code]
and I am getting the following error:
[code]
which means that validation is run on the request before merging it with the existing manifest. Is this expected? @amanohar @sozercan @jim-minter

[2018-12-10 11:37] kargakis commented on #876
@charlesakalugwu fyi

[2018-12-10 11:58] charlesakalugwu opened #878 "partial requests do not work against the fakerp"
Partial updates do not work anymore via the fake rp. Most of the fields fail validation. The manifest used is as shown below:

[code]
When I run tests locally, I see the following:

[code]

/cc @kargakis @mjudeikis

[2018-12-10 12:02] kargakis commented on #878
I am suspecting this is an issue with your test because you are unmarshalling to internal first and then converting to external and the update you are sending is actually including empty strings instead of pointers.

[2018-12-10 12:05] kargakis opened #879 "Production RP requires location to be set in update requests"
We should implement this in the fake RP.

/kind feature

[2018-12-10 12:12] #878 closed

[2018-12-10 14:09] 0xmichalis opened #881 "Merge fakerp.Config with TestConfig"
We already access parts of [fakerp.Config](https://github.com/openshift/openshift-azure/blob/4c86ccca5d32d16e44861e57d53dd09b1e7010af/pkg/fakerp/config.go#L26) via environment variables in the fake RP. It seems we can collapse the two into a single place.

TestConfig can be viewed [here](https://github.com/openshift/openshift-azure/blob/4c86ccca5d32d16e44861e57d53dd09b1e7010af/pkg/api/plugin.go#L8

[2018-12-11 00:09] #841 closed

[2018-12-11 10:20] #807 closed

[2018-12-11 11:43] kargakis opened #888 "Remove DNS variables restrictions from e2e tests"
DNS_RESOURCEGROUP and DNS_DOMAIN are required by our e2e tests because they are set as `required: true` in the `envconfig` tag of `fakerp.Config`. Since tests may not run against the fake RP or may not even create or delete clusters via the fake RP, these variables should not be required. Once relaxed in openshift-azure, we should also remove them from the test container in [release](https://githu

[2018-12-12 01:41] asalkeld commented on #881
I partially agree, there seems to be 2 different things
TestConfig
AZURE stuff for auth

can we :
- place envconfig comments directly in TestConfig?
- move the auth stuff into a separate struct (with envconfig comments) into azureclient so that we can ask for context from env?

at least no overlap

[2018-12-12 01:44] asalkeld commented on #879
@kargakis can we close this now? anything more to do?

[2018-12-12 04:37] jim-minter opened #894 "shouldn't use profile role and name interchangeably when constructing scaleset name"
@openshift/sig-azure

I think we have a typing issue in at least pkg/cluster and pkg/arm where it comes to how we name scalesets.  Sometimes we do `fmt.Sprintf("ss-%s_%d", profile.Name, ...)`; sometimes we do `"ss-"+string(role)`.

Alarmingly I think *both* of the options above could potentially be wrong: the first because I suspect we don't validate the profile name strongly enough to convert it

[2018-12-12 04:58] jim-minter commented on #731
Please can this be updated with clear instructions on how to recreate this issue?  I'm not seeing it.

[2018-12-12 07:22] #881 closed, assigned to nobody

[2018-12-12 09:18] kargakis commented on #876
This is actually because my changes in the merge code are yet to be vendored in the real RP. Would be nice to be able to identify via an API which commit is vendored by the real RP.

/close

[2018-12-12 09:18] #876 closed

[2018-12-12 09:20] kargakis commented on #864
Scaleupdown, prod, and key rotation back to daily in https://github.com/openshift/release/pull/2362

[2018-12-12 12:47] kargakis commented on #850
Yeah, another one
[code]
It seems it can take up to 10m for the kube-state-metrics deployment to get created.

[2018-12-12 12:57] kargakis commented on #850
@openshift/sig-monitoring fyi

[2018-12-12 13:43] kargakis commented on #850
In the following example, it wasn't even created after almost half an hour.
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/831/pull-ci-openshift-openshift-azure-master-e2e-azure/1355

[2018-12-12 13:48] metalmatze commented on #850
This is strange, especially as there are no Prometheus and Alertmanager Pods. These should be running before kube-state-metrics gets even reconciled. Compare with these tasks that are run in the order specified: https://github.com/openshift/cluster-monitoring-operator/blob/1322e56e961511994a4a1a5ef55152d3b389575c/pkg/operator/operator.go#L243-L252

Can you check if the Prometheus and Alertmanager

[2018-12-12 13:52] kargakis commented on #850
The prometheus and alert manager pods are there
[code]
[code]
It's only kube-state-metrics that is flaky.

[2018-12-12 13:58] s-urbaniak commented on #850
@kargakis I see you have 3.11 images `registry.access.redhat.com/openshift3/ose-prometheus-operator:v3.11`. That's strange as the bug I fixed began to be visible for openshift >=4.0. Nevertheless can you "kick" aka `kubectl delete` the prometheus operator pod?

If it spins up prometheus instances we have a regression in 3.11.

[2018-12-12 14:04] kargakis commented on #850
@s-urbaniak unfortunately these artifacts are from a test cluster created by our CI that has been cleaned up already. Any pod logs from any of these components that would be useful to you? I can ensure we place them in artifacts in subsequent test runs.

[2018-12-12 14:35] kargakis commented on #731
@jim-minter this is 100% reproducible when running the key rotation test.
`make e2e-keyrotation` in master.

[2018-12-12 14:36] kargakis commented on #731
Note that the key rotation test will take some time. I think @charlesakalugwu said it's also reproducible in his scaleup test which should be faster than the key rotation test.

[2018-12-12 14:39] kargakis commented on #833
I don't think this is an issue in @charlesakalugwu PR anymore.

[2018-12-12 14:39] #833 closed

[2018-12-12 14:44] s-urbaniak commented on #850
@kargakis if you have the chance to grab the prometheus operator logs, that'd be great. at least we would see that it is not sync'ing on the k8s Prometheus custom resource in its logs.

[2018-12-12 14:52] kargakis commented on #850
@s-urbaniak cool, added log gathering from the prom operator in https://github.com/openshift/release/pull/2366. Will keep you posted on the next failure.

[2018-12-12 17:25] kargakis opened #899 "updates are not reentrant anymore"
Both @charlesakalugwu and I have observed this today

cc @jim-minter @asalkeld
/kind bug

[2018-12-12 21:57] jim-minter commented on #731
I don't believe this is reproducible in the scale up test, but it is in the key rotation test.
The ssh issues are because the key rotation changes the ssh key ;-).  I've sent @charlesakalugwu a patch which keeps the old key around on disk to ease debugging in that scenario.
I suspect/fear that the k8s cloud provider code is calling UpdateInstances behind our back, and that is causing a) the staged

[2018-12-13 09:11] kargakis commented on #899
Hrm, not seeing this in two b2b upgrades...

[2018-12-13 11:33] kargakis commented on #850
Opened https://github.com/openshift/cluster-monitoring-operator/pull/184

[2018-12-13 12:33] #899 closed

[2018-12-13 13:56] #888 closed

[2018-12-13 14:01] charlesakalugwu opened #904 "connection reset by peer during cluster scaleup"
Ran into this error during a cluster scaleup

[code]

/kind test-flake
/cc @jim-minter @kargakis

[2018-12-13 14:06] kargakis opened #905 "tls handshake timeout"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/903/pull-ci-openshift-openshift-azure-master-e2e-azure/1389
/kind test-flake

[2018-12-13 14:30] jim-minter commented on #553
@sozercan I think this issue can be closed - do you?

[2018-12-13 14:36] jim-minter commented on #544
no - these things are separate.

[2018-12-13 14:40] akrzos opened #906 "Azure Load Balancer for ingress pointed at compute nodes (Router Configuration)"
The Azure load balancer (ALB) providing ingress into the OCP router is "backended" by the compute nodes in the OCP cluster rather than the infra nodes which hosts the OpenShift Router pods.

The current configuration is potentially sub-optimal in that traffic ingresses in the following pattern:

Customer <-> ALB <-> Compute node scale set <- (traffic proxied via service) -> InfraNode <-> router po

[2018-12-13 14:49] jim-minter commented on #745
@Makdaam I *think* it's just the rp.FQDN check that needs to be guarded by `externalOnly` - @sozercan do you agree?

[2018-12-13 14:58] jim-minter commented on #544
suggest a field called VnetID under NetworkProfile (include Godoc documentation please).  Will need to make changes in all 3 APIs, and converters, and unit tests, and write the field value probably somewhere under `(p *plugin) CreateOrUpdate`

as part of this work, please look at our unit test coverage for API type sync - are there areas in which you could theoretically make invalid changes to our

[2018-12-13 15:36] thekad commented on #643
/close

[2018-12-13 15:36] #643 closed

[2018-12-13 15:37] thekad commented on #552
@amanohar do you have any new findings here?

[2018-12-13 15:41] thekad commented on #661
@amanohar any updates on this?

[2018-12-13 15:51] thekad commented on #853
@jim-minter is this still an issue? I believe this was due to the broken cluster destroy process bug we had over a week ago, @kargakis and @mjudeikis fixed it I just can't find how. The portal shows a handful of records that match the running CI builds

[2018-12-13 17:51] kargakis commented on #853
@thekad the fix for this was https://github.com/openshift/openshift-azure/pull/861 - I also cleaned up all stray dns zones manually and opened https://github.com/openshift/azure-misc/issues/122 as a follow-up. I think we can close this issue now.

[2018-12-13 17:51] #853 closed

[2018-12-13 19:34] sozercan commented on #553
yes, I believe fixed in #532. thanks!

[2018-12-13 19:34] #553 closed

[2018-12-14 07:43] kargakis commented on #242
@kwoodson is that true? The sync pod is created as a static pod in master-000000.

[2018-12-14 11:18] Makdaam commented on #828
Already fixed by @kargakis. /close

[2018-12-14 12:49] kargakis commented on #828
Yeah, this is fixed though there is a different tangential issue. Will open a separate issue.

@Makdaam fyi, in order to use the bot correctly, you need to put its commands in their own lines.

/close

[2018-12-14 12:49] #828 closed

[2018-12-14 12:59] kargakis opened #908 "fake rp writes back the internal representation of the manifest"
For example, the external request includes
[code]
but after an update succeeds, the manifest is updated with the internal representation
[code]
This was caused by https://github.com/openshift/openshift-azure/pull/821 where we updated the fake RP to use the internal representation of OpenShiftManagedCluster in order to handle multiple versions.

The actual problem is in `pkg/api/convertto20180930pr

[2018-12-14 12:59] kargakis commented on #828
Opened https://github.com/openshift/openshift-azure/issues/908

[2018-12-14 13:20] kargakis opened #909 "origin conformance failures in OSA"
There are 29 tests that failed in the last conformance run, they need to be triaged so we can know whether they flaked or they are broken in general or they are broken because of OSA-specific configuration.
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-openshift-openshift-azure-conformance/32
@jim-minter @mjudeikis @thekad
/area tests
<details>

[code]
</details>

[2018-12-14 13:51] thekad commented on #909
/assign

[2018-12-14 14:52] kargakis opened #912 "Split fake RP server into its own process"
We need to split the fake RP into its own process to ease e2e testing and avoid statically linking our plugins into the e2e tests.

cc @jim-minter @charlesakalugwu

@kwoodson this is going to make custom vnet testing easier

/kind cleanup
/area tests
/assign

[2018-12-14 14:53] Makdaam commented on #745
@jim-minter I'm not sure the condition on rp.FQDN is necessary, it will verify as valid if FQDN=="".
On the other hand the RPs don't have to be set on the frontend, and a nil RP should verfify as valid according to the unit tests.

A review of unit tests in #911 by @amanohar or @sozercan would be very welcome.

[2018-12-14 16:00] kargakis commented on #912
Since the server is going to be a long running process versus a goroutine in the client, we need to make it exit somehow in order for the test pod to complete successfully. I am thinking of adding an `/exit` endpoint that the template can query after it finishes deleting the cluster.

[2018-12-14 16:15] jim-minter commented on #376
@mjudeikis don't think this can be considered closed until `loadBalancerSku: standard` appears in our cloud provider conf? ;-)

[2018-12-14 20:43] kwoodson commented on #447
I tested this and found that it did not speed up the boot time.  I did not see the actual update of waagent but I did see the `Goal state agent` move from `2.2.26` to `2.2.34`.
[code]

[code]
The examples aren't equal in the fact that we did use the osa_311 sku which might have an effect on the speed vs an image from a different resource group.  Will deploy an image from images resource group.

[2018-12-14 21:17] kwoodson commented on #447
Here are the timing in the recent image not running from a released image:
[code]

Logs of waagent update:
[code]

It looks like the waagent update takes seconds and doesn't have a large overall effect on start time.  The cluster create was the slowest of the 3 but I'm not sure it was related to waagent.  Too many other variables.

2nd attempt:
[code]

waagent Update:
[code]

After deploying both

[2018-12-14 21:17] #447 closed

[2018-12-16 18:17] teaguecole opened #915 "Update README Marketplace search term"
Hi all,
I was looking in to contributing to openshift-azure, and was going through the README to try and get started. I am familiar with k8's but new to OpenShift and even Azure. The current README says:

However, what is in the Marketplace is "Red Hat OpenShift Container Platform". Or maybe it is "default" by Openshift on Azure testing".  Either way, I dont think it would hurt to update this to m

[2018-12-17 05:50] asalkeld commented on #894
https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions
It doesn't specifically talk about scalesets, but i'd assume the rules for compute
-Case insensitive
-Alphanumeric and hyphen

As far as validation:
- We check the roles here: https://github.com/openshift/openshift-azure/blob/master/pkg/api/validate.go#L344
- Infra name and role have to be the same: https://githu

[2018-12-17 08:10] mjudeikis commented on #909
I think the easiest way to triage for now would be to check previous runs (?)

[2018-12-17 08:17] mjudeikis commented on #881
We need to rework plugin config overall. We have a story for this in the backlog. Which includes TestConfig collapsing/rewrite.

[2018-12-17 09:56] mjudeikis commented on #912
Are we planning to run Server as a process in our CI cluster, as a separate pod or something like that? What is the architecture in your head for this?

[2018-12-17 09:57] mjudeikis commented on #376
Done. Was not fully aware of that option :)

[2018-12-17 10:02] kargakis commented on #912
No, because this is not enabled by our CI and the fake RP pod would need to be redeployed for every PR anyway. At best this this can be its own container, for now its simpler to run it as we are already used to (as part of every hack/{action}.sh script).

[2018-12-17 10:04] kargakis commented on #912
Actually we should be able to use two separate pods as part of the e2e template but I am not sure we want to go there.

[2018-12-17 10:06] mjudeikis commented on #912
I was wondering, is it worth doing something like "hosting our own fakeRP" which would be redeployed when fakeRP code changes? Like running our own Azure frontend and backend?

[2018-12-17 10:08] kargakis commented on #912
Each test for a PR, merged commit, or periodic run would have to deploy its own fake RP. Not sure it's worth it but that's a separate discussion, enabled but orthogonal to this PR.

[2018-12-17 10:23] kargakis commented on #850
Unfortunately, this still seems to be an issue even after fixing the order with which we healthcheck the monitoring stack.
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/917/pull-ci-openshift-openshift-azure-master-e2e-azure/1424
In this case, [kube-state-metrics was never created](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/opens

[2018-12-17 10:39] s-urbaniak commented on #850
In that case the race we fixed in 0.26 might be manifesting here: https://github.com/coreos/prometheus-operator/pull/2177. Before the client generation bump in https://github.com/coreos/prometheus-operator/pull/2163 we didn't see the panic at all, just a deadlocked prometheus operator which seems to be the same sympton as here.

@kargakis by any chance, do you have the possibility to grab the goro

[2018-12-17 11:10] squat commented on #850
@kargakis i recall you mentionI got something about this being specific to 3.11, no?

[2018-12-17 11:23] #745 closed

[2018-12-17 11:51] kargakis commented on #863
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/917/pull-ci-openshift-openshift-azure-master-e2e-azure/1429

[2018-12-17 12:30] kargakis opened #919 "should deploy a template and ensure a given text is in the contents"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/917/pull-ci-openshift-openshift-azure-master-e2e-azure/1429

/kind test-flake

[2018-12-17 12:30] kargakis commented on #863
Sorry, this is actually a different test: https://github.com/openshift/openshift-azure/issues/919

[2018-12-17 12:31] kargakis commented on #919
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/917/pull-ci-openshift-openshift-azure-master-e2e-azure/1435

[2018-12-17 12:34] kargakis commented on #850
OSA is still 3.11, the prometheus operator image used is `registry.access.redhat.com/openshift3/ose-prometheus-operator:v3.11`.

[2018-12-17 12:39] squat commented on #850
Ack, that’s what I remember. As mentioned, the recent change to the prometheus operator are not relevant as the race it targetted was not present in the 0.23.2, the version in 3.11.

[2018-12-17 12:47] kargakis commented on #850
@s-urbaniak @squat do you still need me to get the goroutine dump?

[2018-12-17 15:11] thekad commented on #909
that's actually really helpful @kargakis thanks

[2018-12-17 15:13] #912 closed

[2018-12-17 15:13] kargakis commented on #909
@thekad I just realized there is one more flag missing `--target=[output:stable:azure-controllers]`. Updated the original command.

[2018-12-17 15:54] kargakis opened #924 "fake rp now runs asynchronously in hack scripts and needs cleanup"
After https://github.com/openshift/openshift-azure/pull/913, we started running the fake RP into its own process in the hack scripts, resulting in the extra process leaking after the scripts are finished.

/kind bug

[2018-12-17 15:55] kargakis commented on #924
One solution in the `hack/fakerp.sh` script before running cmd/fakerp.go is
[code]

[2018-12-17 16:00] ekuric opened #925 "default tuned profile on ocp masters not set to be openshift-control-plane after cluster installation"
After OCP cluster setup on azure , tuned profile for masters is ``` virtual-guest ```  and first after reboot it will be switched to ```openshift-control-plane``` Necessary to ensure proper profile is active immediately after cluster setup.

[2018-12-17 16:00] ekuric commented on #925
@jim-minter @akrzos @jeremyeder

[2018-12-17 16:16] kargakis commented on #924
Another solution is to create an `/exit` endpoint and use that in all hack scripts that start the fake rp asynchronously - see https://github.com/openshift/openshift-azure/pull/926

[2018-12-18 15:50] Makdaam opened #933 "add unit tests for internal and external representation parity with appropriate exceptions"
There should be an explicit parity unit test similar to TestAdminAPIParity in pkg/api, but for the External representation.
This will allow for a more concise error messages in unit tests and separates it from converter unit tests.

[2018-12-18 15:51] Makdaam commented on #933
/assign Makdaam

[2018-12-18 19:11] jim-minter commented on #332
@mjudeikis as part of this work, also need to move EtcdBackupImage and 	AzureControllersImage out of TestConfig.  MSFT *MUST* set these to the commit version like they do the sync pod.  MetricsBridge must be tied as well (currently at least that is not in TestConfig).

[2018-12-18 19:51] jim-minter opened #934 "perftests cluster has lots of restarted td-agent pods"
[code]

@mjudeikis any ideas?

[2018-12-19 01:50] jim-minter commented on #894
#916 doesn't solve this issue (I didn't describe it clearly) re-opening.

[2018-12-19 06:59] mjudeikis commented on #934
Might be OOM? If liveness-probes fails due process hanging. Need to investigate

[2018-12-19 08:50] #924 closed

[2018-12-19 13:56] jim-minter opened #939 "consider making name comparisons in external api case insensitive"
agree as a team and with MSFT whether we should do this before implementing.

[2018-12-19 14:40] kargakis commented on #863
Dupe of https://github.com/openshift/openshift-azure/issues/814

[2018-12-19 14:40] #863 closed

[2018-12-19 14:40] kargakis commented on #814
Had a duplicate issue of this with some testdata in https://github.com/openshift/openshift-azure/issues/863

[2018-12-19 14:43] kargakis commented on #814
Btw in one of the failure modes of this test, we should avoid panicking at least to allow the test to get artifacts. Seems the panic comes from `go test` timing out so we need to figure out why the test was stuck in the first place.
[code]

[2018-12-19 16:33] kwoodson opened #942 "Move user group management out of sync and into controller"
Recently @asalkeld has been working on an AAD group sync controller https://github.com/openshift/openshift-azure/pull/902.  He hit an issue where after his controller syncs users they are removed by the sync pod.

From @asalkeld's email:
[code]
This is due to the following group being managed by the sync pod:
https://github.com/openshift/openshift-azure/blob/master/pkg/addons/data/Group.user.opens

[2018-12-19 16:37] kwoodson commented on #942
As an intermediate solution (discussed with @mjudeikis):
- move the group creation into the start.sh
- if RUNNING_UNDER_TEST is present we can add the test users into the correct groups

 This would provide a way forward until group sync is in place.  Once group sync is in place we can migrate to using group sync for our tests and remove this code in the start.sh.

[2018-12-19 17:09] kwoodson commented on #942
After a quick discussion with @jim-minter, we agreed that the work should take place during #902.  Will comment there

[2018-12-20 08:41] ekuric opened #944 "kubernetes-dynamic-pvc-* volumes are not cleaned in Azure web interface."
"azure" storageclass is used to allocated PVC dynamically in an OCP cluster running on Azure cloud.
After ``` oc delete pods --all --wait=false``` and ``` oc delete pvc --all --wait=false``` is executed, pods  and PVCs are removed from Openshift side ( oc view ).
However, in azure account, there will be many PVCs ( name as kubernetes-dynamic-pvc-xxxxxx ) which still hang there after days they are

[2018-12-20 08:43] ekuric commented on #944
@akrzos @jim-minter @gnufied @kargakis please comment, to me this looks like azure thing.

[2018-12-20 08:51] ekuric opened #945 "PVC not attached to applications pods"
I want to create 50 projects with 50 mongodb pods ( each project one mongodb pod ) and each pod uses dynamically allocated PVC from ```azure``` storageclass. The issue I am seeing is that PVC fails to attach to MongoDB pod. error message is [here](https://gist.github.com/ekuric/80e6ada67477247a6af4fe1ec2934e3f)
Interesting part is
[code]

This is on same cluster for which I reported #944

[2018-12-20 10:41] kargakis commented on #814
Another failure mode:
[code]
Looks like the build failed to pull from the registry
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/921/pull-ci-openshift-openshift-azure-master-e2e-azure/1560

[2018-12-20 11:20] kargakis commented on #814
This is fixed in https://github.com/openshift/openshift-azure/pull/946

[2018-12-20 12:28] jim-minter opened #947 "add unit test for fixupDepends"

[2018-12-20 13:33] kargakis opened #949 "should label nodes correctly"
New interesting flake

[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/941/pull-ci-openshift-openshift-azure-master-e2e-azure/1559
/area tests
/kind test-flake

[2018-12-20 14:09] kargakis commented on #919
To reduce the flakiness of this test I would suggest deploying a standalone Deployment (no Builds, no Templates) that pulls nginx from our quay registry.

[2018-12-20 14:11] kargakis commented on #814
To reduce the flakiness of this test I would suggest deploying a standalone StatefulSet (no Builds, no Templates) that pulls postgres from our quay registry and instead of going through a route to increment the counter, we exec inside the database pod and use its cli tool to mutate its state.

[2018-12-20 14:13] kargakis commented on #933
/area tests

[2018-12-20 14:14] mjudeikis commented on #944
This looks like azure cloud provider is not cleaning those. Is this replicable somehow manually as its worth capturing master logs to check if it doing what it suppose to be doing.

[2018-12-20 14:14] mjudeikis commented on #944
/kind bug

[2018-12-20 14:14] mjudeikis commented on #934
/assign mjudeikis

[2018-12-20 14:18] kargakis commented on #945
Do you see this in all of the pods? How many nodes do you have?

[2018-12-20 14:19] kargakis commented on #945
What's the output of `oc get pvc --all-namespaces`?

[2018-12-20 14:22] mjudeikis commented on #934
@jim-minter @ekuric @akrzos any way to get access to this cluster to investigate?

[2018-12-20 14:42] thekad commented on #814
The goal was to have a couple of tests where a template was instantiated, this being one of them. We could change the test and focus entirely on the persistent storage piece of it, since we already have another test for template instantiation though.

[2018-12-20 14:45] kargakis commented on #814
I am not sure about the template instantiation part - it's not unique to
OSA and it should already be covered by the origin conformance suite.

On Thu, Dec 20, 2018 at 3:42 PM Jorge Gallegos <notifications@github.com>
wrote:

[2018-12-20 14:55] kargakis opened #952 "scale up issue"
Haven't managed to root-cause but the latest changes in pkg/cluster and pkg/arm may have caused this. When I try to do a scale up in master, the process gets stuck in `INFO[2018-12-20T15:04:01+01:00] waiting for compute-000001 to be ready` forever.

/kind bug
cc @jim-minter @charlesakalugwu @mjudeikis

[2018-12-20 15:00] #933 closed

[2018-12-20 15:00] thekad commented on #909
There's 2 big camps of failures here:

* "no route to host" errors, when the tests are trying to connect to the API, this also triggers another error "haproxy not forwarding the headers" due to the API not responding is my guess
* "failed to import imagestreams" most of these are in the form of "imagestreams.image.openshift.io \"wildfly\" not found". This probably also triggers another error "some

[2018-12-20 15:54] kargakis opened #953 "open ../../_data/manifest.yaml: no such file or directory"
[code]
This is actually an issue with the hack scripts.
[code]
There is a failure in the `setup` container but it proceeds to create the marker file to run the tests which means the script exited succeessfully even though it actually failed.
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/948/pull-ci-openshift-openshift-azure-master-e2e-azure/157

[2018-12-20 15:57] kargakis opened #954 "e2e container does not include test artifacts"
We have e2e tests that make use of `test/manifests/` files. These files should probably be included as binary data inside the e2e binary.

/kind bug
/area tests
/cc @charlesakalugwu

[2018-12-20 16:10] kargakis commented on #919
Another one: https://github.com/openshift/openshift-azure/pull/940#issuecomment-449049384

build failure

we should really get rid of running builds as part of the OSA merge queue.

[2018-12-20 16:10] mjudeikis commented on #934
Update was called to DS. Checking furter logs.
Current QoS is set to Burstable

[code]

[2018-12-20 16:40] mjudeikis commented on #934
test workload is best-effort, so td-agent should have higher priority:
https://github.com/openshift/svt/blob/master/openshift_scalability/content/deployment-config-ns-per-cluster-template.json
@akrzos told cluster was really overloaded. So this still might be a case. need to monitor

[2018-12-20 16:46] mjudeikis opened #956 "profile system container"
For the system container, we need to know how they behave, so we could set appropriate QoS limits.,
We want to make pods guaranteed and system-critical so they would not get terminated. But for this we need to know what values we need to set. In example:
https://github.com/openshift/openshift-azure/issues/934

This need to be done after we get access to Geneva to get proper visibility into our all

[2018-12-20 16:50] mjudeikis opened #957 "split template deployment test"
We want to split test to smaller tests so flakes could be identified.
[code]
In the example this one would land as:
* build test
* deployment test
* deployment with PVC
* deployment with Database to check networking
* template deployment to check template service broker

/kind feature

[2018-12-20 16:54] kargakis commented on #957
Not sure the deployment test is needed. I would do a
* build test to test builds+registry
* statefulset test that uses exec to test storage
* nginx deployment to test routes

Also, how does the conformance suite fit into the picture? If we cannot get coverage from running it then what's its point?

[2018-12-20 17:02] kargakis opened #958 "CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: context deadline exceeded"
[code]
I had jumped in the machine before the test failed and it seemed that the networking pods in the compute machine hadn't turned to ready for 10m
<details>

[code]
</details>

The pods are still unready during the time artifacts are gathered

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/950/pull-ci-openshift-openshift-azure-master-e2e-azure/1584/artifac

[2018-12-20 17:05] thekad commented on #957
There is two template tests:
* "should deploy a template and ensure a given text is in the contents" which deploys an nginx and makes a request to the router. I think this one can stay (I haven't seen many/any issues with this spec, fairly simple)
* "should deploy a template with persistent storage and test failure modes" is the one that I feel needs to be broken down

The last point in @kargakis'

[2018-12-20 17:06] ekuric commented on #945
@kargakis , I am starting pods in one project and then after they are ready proceed to other, it happens almost always for different pods which starts on different nodes.  I have 100 nodes. ping me on aos-azure if you want access to cluster, I have it for another 24h.

``` oc get pvc --all-namespaces``` is below

[code]

[2018-12-20 17:09] #953 closed

[2018-12-20 17:12] kargakis commented on #957
I have seen a couple of them; some are tracked in https://github.com/openshift/openshift-azure/issues/919 but most people just /retest w/o linking the flake back to the issue so it's difficult to discover them. There isn't much difference in most of the failure modes between the two tests.

[2018-12-20 17:13] thekad commented on #957
So the idea is then get rid of both template specs? I see value in testing the template instantiation mechanism, and there's hardly a simpler template than the nginx one.

[2019-01-02 09:50] kargakis opened #963 "bushslicer tests failing for OSA"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-openshift-openshift-master-azure-e2e-bushslicer/4/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-openshift-openshift-master-azure-e2e-bushslicer/3/

@cjryan @kwoodson
/kind bug
/area tests

[2019-01-02 12:04] s-urbaniak commented on #850
@kargakis ok, it seems the prometheus operator seems fine, both from the logs and the goroutine dump. The place it is stuck, is determining a successful rollout of node exporter pods and getting past it, which is strange because node exporter does seem to be deployed :thinking: I couldn't seem to find cluster monitoring operator logs in the artifacts. Can you extract those?

[2019-01-02 12:15] mjudeikis opened #966 "move AcceptLanguages to context"
As part of PluginConfig refactor I want to move AcceptLanguage config from `PluginConfig` to Context for plugin initiation.

Post https://github.com/openshift/openshift-azure/pull/922

/assign mjudeikis

[2019-01-02 12:31] kargakis commented on #850
Opened https://github.com/openshift/release/pull/2479 to gather the cluster monitoring operator log in the test artifacts.

[2019-01-02 12:54] mjudeikis opened #967 "move validators to separate interfaces/base types"
as part of PluginConfig refactor I want to move to different base types for different validators.

https://github.com/openshift/openshift-azure/pull/922#discussion_r243357863

/assign @mjudeikis

[2019-01-02 13:29] mjudeikis opened #968 "periodic-ci-azure-node-image-rhel-311 broken"
https://deck-ci.svc.ci.openshift.org/?type=periodic&job=periodic-ci-azure-node-image-rhel-311

:(

/kind bug

[2019-01-02 14:34] kwoodson commented on #963
@kargakis, thanks for bringing these up.  These were the failures we had previously seen.

Looks like jenkins failed to start so we definitely need to dig into the persistent volume test.

Trigger build of application from jenkins job with persistent volume, Examples
[code]

These three tests threw `Not implemented` exception.

Ordinary user could view CPU,memory, network metrics statistics on pod

[2019-01-02 14:46] kwoodson commented on #963
/assign @cjryan

[2019-01-02 15:08] mjudeikis commented on #850
Just had the similar use case where kube-state-metrics was not there in my local testing. Managed to get logs just before cluster was deleted:
https://gist.github.com/mjudeikis/0a9e1bc38a2007841ecdfeee5035f0be

[2019-01-02 15:24] mjudeikis opened #969 "remove config.RunningUnderTest"
When https://github.com/openshift/openshift-azure/pull/922 and https://github.com/openshift/openshift-azure/pull/902 gets merged we will be able to remove config.RunningUnderTest variable so it will be only PluginConfig where we configure it.

/kind feature

[2019-01-02 15:47] kargakis commented on #968
This one is interesting
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-azure-node-image-rhel-311/38

[2019-01-02 15:49] mjudeikis commented on #968
MSFT Authentication outage? :D

[2019-01-02 17:57] s-urbaniak commented on #850
@mjudeikis awesome, thanks! :+1: this gives just a little bit more context. Indeed cluster monitoring operator is stuck at reconciling the node-exporter daemonset, getting this error from the API server:
[code]

I saw in the events quite some network hickups, Is the Azure network stable? Do you see any other operators seeing timeouts when communicating with the API server?

[2019-01-03 09:18] mjudeikis commented on #850
@s-urbaniak its 3.11 so its first operator running here. And most of the heavy lifting API server processes are running on the masters itself than this one is on Infra nodes. And I dont think I recall DS being created at all.

[2019-01-03 11:50] #868 closed

[2019-01-03 12:22] kargakis commented on #969
/remove-kind feature
/kind cleanup

[2019-01-03 12:41] kargakis commented on #968
Latest build is [green](https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-azure-node-image-rhel-311/42), last fix was included in https://github.com/openshift/openshift-azure/pull/882

[2019-01-03 12:41] #968 closed

[2019-01-03 13:17] kargakis opened #971 "key rotation test failure"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-azure-key-rotation-e2e/34
[code]
/kind bug
/assign @charlesakalugwu

[2019-01-03 13:28] mjudeikis opened #972 "registry.access.redhat.com underperforming ErrImagePull"
During cluster creation when we start multiple clusters at the same time we see quite a few timeout messages when components try to pull images and fail. Retry is triggered, but this is causing an increase in cluster health check time. Seen this with random components like apiserver, snd, builder.

[code]

Would be good to raise this with people, owning registry to get some metrics from their end

[2019-01-03 14:07] mjudeikis opened #973 "pod Antiaffinity missing"
Pod not even distribution causes resources exhaustion on one of the nodes so DS and other resources depended pods fails to get scheduled.

[code]

Node 0:
[code]

Node 1:
[code]

/kind bug

[2019-01-03 14:21] mjudeikis commented on #973
When one of the instances was late to "become `Ready`" and sync pod started to lay down components. Scheduler filled available node fully. As soon as Cluster Monitoring operator started laying its own components it was not able to schedule anything to full node.

Suggestion by @kargakis was to use https://github.com/openshift/descheduler-operator in a long run.
In a short-term, we could block non-

[2019-01-03 14:52] charlesakalugwu commented on #971
looks like the update section of the test went smoothly. The test failure is due to the fact that the internal config struct returned (if at all) after the update doesn't match the one sent in the update request. I'll debug this locally and provide a fix

[2019-01-04 10:44] Makdaam opened #978 "Move resourceID function to a new util package."
The function which builds resourceID in arm package is generic and will probably be useful in multiple places.
Re: discussion in #932

[2019-01-04 13:36] kargakis opened #980 "move OSA clients with the rest of the azure clients"
Our external OSA api clients[1][2] should move with the rest of the azure clients in `pkg/util/azureclient`.

/kind cleanup

@jim-minter @Makdaam

[1] https://github.com/openshift/openshift-azure/blob/master/pkg/api/2018-09-30-preview/api/client.go
[2] https://github.com/openshift/openshift-azure/blob/master/pkg/api/admin/api/client.go

[2019-01-04 13:54] kargakis commented on #864
Bushslicer job back to daily in https://github.com/openshift/release/pull/2478

[2019-01-04 14:32] kargakis commented on #864
Will open a separate issue for the running_under_test=false test.

[2019-01-04 14:32] #864 closed

[2019-01-04 14:35] kargakis commented on #852
Once this issue is fixed, we should switch [periodic-ci-azure-no-running-under-test](https://github.com/openshift/release/blob/f456d5809689f12ea0a205285ece998180582e3d/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-periodics.yaml#L314) back to 24h.

[2019-01-04 15:08] kwoodson commented on #963
@cjryan and I looked at the persistent volume test failure.  We have determined that the jenkins pod takes > 5 minutes to start which times out the test and causes a failure.  The jenkins pod starts and the persistent volume mounts fine.  The jenkins web server takes a long time to allow logins.  We aren't sure exactly why this is occurring.

Current plan is to increase timeout for jenkins to allo

[2019-01-04 16:03] mjudeikis opened #982 "grafana image is not available"
[code]

manually:
[code]

This fails tests as Cluster monitoring operator cant start

/kind bug

[2019-01-04 17:14] kwoodson commented on #963
@cjryan, any idea what we should do about the `Not implemented` tests?

[2019-01-04 17:59] jim-minter commented on #982
Issue is noted on outage-list

[2019-01-05 07:20] #908 closed

[2019-01-05 19:33] #544 closed

[2019-01-07 12:02] kargakis commented on #560
Another one: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/981/pull-ci-openshift-openshift-azure-master-e2e-azure/1730

On the client:
[code]
On the api server, it seems that all requests to the registry deployment endpoint are successful from the time the initial request is made:
[code]
@amanohar can you track down this request in the `ci-op-3

[2019-01-07 12:30] mjudeikis opened #986 "remove pointers from CertKeyPair"
[code]

Investigate if we can remove these pointers on internal Config and PluginConfig structs. They might be needed for `generate.go` cert generation to work.

/kind cleanup

[2019-01-07 12:31] mjudeikis commented on #982
/close
solved

[2019-01-07 12:31] #982 closed

[2019-01-07 12:40] #971 closed

[2019-01-07 13:46] kargakis opened #988 "customer-admin-controller tries to run on masters"
[code]
Seems it does not use a node selector
/kind bug
@kwoodson

[2019-01-07 14:51] #988 closed

[2019-01-07 17:05] kargakis commented on #919
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/992/pull-ci-openshift-openshift-azure-master-e2e-azure/1748

[2019-01-07 17:54] amanohar opened #993 "If create fails for some reason, update fails with "NodeDrainError" is VMSS does not exist"
Sometimes update fails because of:

Message=\"Can not perform requested operation on nested resource. Parent resource 'ss-compute' not found.\"

In all cases this happens because create failed for some reason and then during update plugin tries to delete a non existent VMSS and this fails. Update operation should be handled idempotently whenever possible. E.g. in this case it means creating a new

[2019-01-08 08:55] charlesakalugwu opened #994 "Extend fakerp with simple http routing"
We need to extend the fake rp with a simple http routing mechanism to allow us to handle various backend actions such as `rotate certificates`

/kind feature
/assign

[2019-01-08 10:49] charlesakalugwu opened #996 "Key rotation fails with Invalid change for Properties.NetworkProfile.VnetID"
The key rotation test fails with the following error:

[code]

https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-key-rotation-e2e/39/build-log.txt

/cc @kargakis
/kind bug
/assign

[2019-01-08 13:07] kargakis commented on #986
IIRC, last time I was playing around with this, there were issues with copying certificates around in Go, that's why these have ended up being pointers. I don't remember the exact issue and it may be that I was doing something wrong.

[2019-01-08 13:14] mjudeikis commented on #986
I had similar recalls too. But it work investigating at minimum :)

[2019-01-08 17:42] mjudeikis opened #1000 "Remove clusterMonitoringOperator default metrics via metricsbridge"
Before sending logs to Geneva I want to send metrics is as clean format as possible.
Currently Operator adds these metrics to each metrics:
prometheus
prometheus_replica

We want to purge them when converting metrics to Geneva format.

/kind cleanup

[2019-01-08 20:58] kargakis opened #1001 "fake rp should return http responses inlined in OSA objects"
/kind cleanup

[2019-01-09 09:41] mjudeikis commented on #967
/assign @mjudeikis

[2019-01-09 13:30] 0xmichalis opened #1006 "restore process restarts infra and compute nodes"
See https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-etcdbackuprecovery-e2e/35/artifacts/e2e-azure-etcdbackuprecovery/container-logs/test.log.gz or https://github.com/openshift/openshift-azure/pull/999#issuecomment-452695432. I think this is unexpected, infra and compute VMs should be rotated only if there is a different hash in the blob.

@jim-minter @asalkeld

/kind cleanup
/

[2019-01-09 13:30] kargakis commented on #1001
/assign

[2019-01-09 13:59] mjudeikis opened #1007 "Network flake - WaitForNodes"
[code]

Not the first time seeing this.
Artifacts show cluster up and running fine. Suspect missing retires on the health checking
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/922/pull-ci-openshift-openshift-azure-master-e2e-azure/1787

/kind test-flake

[2019-01-09 19:32] sozercan opened #1009 "returning peerVnetId"
`peerVnetId` is returned as an empty string (`""`) now for non-custom vnet scenarios. This used to be not returned at all I believe. This is causing issues with CLI/ARM as they weren't expecting any value.

@jim-minter do you have any thoughts whether it should be returned as an empty string or not returned at all?

cc @amanohar @julienstroheker

[2019-01-09 22:58] jim-minter opened #1011 "use same co-ordinates (region, subscriptionId, resourceGroupName) to identify logs as well as metrics"
at the moment in mdsd.xml we use a different set of `IdentityComponents` to reference clusters than we do for metrics (see cmd/metricsbridge).  Confirm with MSFT and change the logging references to match metrics.  Consider adding in the cluster UUID as an identifier in both cases as well.

I'm hoping we can see RPSector / LoggingSector, etc. go away; also Service, Host, ResourceName can go; also

[2019-01-10 12:46] kargakis opened #1016 "fake rp should block requests on DELETEs"
`validate` should hold the inPorgress channel on all but GET requests and `handleDelete` should defer draining the inProgress channel.

/kind cleanup

[2019-01-10 12:47] kargakis commented on #1016
Addressed in https://github.com/openshift/openshift-azure/pull/937 but unclear whether that PR will get merged.

[2019-01-10 13:16] kargakis commented on #708
Latest failure: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1015/pull-ci-openshift-openshift-azure-master-e2e-azure/1816

@kwoodson what info would you be interested in seeing?

[2019-01-10 13:38] mjudeikis commented on #1011
Form metrics bridge:
[code]

[2019-01-10 14:53] kwoodson commented on #708
It looks like this is what is failing:
https://github.com/openshift/openshift-azure/blob/master/pkg/arm/data/node-startup.sh#L15

I'd like to know what docker is doing.  Maybe:
- `ps -ef | grep docker`
- `docker info`
- `fdisk -l` or `cat /proc/partition` - see the state of the partition table
- dump the docker journal (journal -xe)
- systemctl status docker

My guess is some docker is initializin

[2019-01-10 15:15] #1009 closed

[2019-01-10 15:34] kwoodson commented on #909
To run the conformance test locally follow these steps:
1. Create a cluster `source ./env && ./hack/create.sh clusterfoo`
2. Download the origin test image from `docker pull registry.svc.ci.openshift.org/openshift/origin-v3.11:tests`
3. Run the following docker command:
[code]
4. Run the test command:
[code]

[2019-01-10 15:38] kwoodson commented on #909
`[Conformance][Area:Networking][Feature:Router] The HAProxy router should set Forwarded headers appropriately`

This test fails because it assumes that the port 1936 is open on the router service.  Since OpenShift on Azure does not expose this port externally and because our router is of loadbalancer type, the curl to check the 1936 healthz port fails thus failing the test.

I attempted to open th

[2019-01-10 15:41] kargakis commented on #1006
I wonder whether it is possible to restore to an etcd state that is drifting from the config blob (eg. different certificates are stored in etcd secrets from those in the config blob).

[2019-01-10 15:41] jim-minter opened #1023 "Check VM restart functionality"
Verify that logging in to a VM and running `sudo reboot`, the VM comes back alive again afterwards.  Can we have an e2e test that does that?

Check if "Restarting" a VM instance via the Azure portal works - I suspect there are some problems there.  Is there a way to work out what's going on?  Might need to ask MSFT how to debug that.

[2019-01-10 15:42] kwoodson commented on #909
`[Conformance][templates] templateservicebroker bind test should pass bind tests`
[code]
I'm unsure as to why this test is failing.  I believe it is due to an ipv6 to ipv4 as @Makdaam has recently pointed out.  It seems as though when fetching the service [here](https://github.com/openshift/origin/blob/release-3.11/test/extended/templates/templateservicebroker_bind.go#L108) the connection fails.

[2019-01-10 15:43] jim-minter opened #1024 "Check if CI is building images with binaries marked -dirty"
We link the git hash into the binaries in the images we publish, and may append `-dirty` if the git repo is not completely clean.

I think our build system:
* has a clean git repo
* builds binary1, linked git hash doesn't have `-dirty`, places binary in root of git repo
* builds image1
* builds binary2, linked git hash has `-dirty` when it shouldn't because of existence of binary1

Please check an

[2019-01-10 15:44] kwoodson commented on #909
`[Conformance][templates] templateinstance creation with invalid object reports error should report a failure on creation`

**Valid** test failure.  Requires a very recent version of 3.11.  The templateinstance that is created should not be ready because of an invalid name.

[2019-01-10 15:44] jim-minter commented on #1024
@kargakis fyi

[2019-01-10 15:48] kargakis commented on #1024
The binaries should be ignored by git since they are included in `.gitignore`.

[2019-01-10 15:50] jim-minter commented on #1024
the -dirty check ignores .gitignore.  Maybe that's paranoid and one way to fix this is to change that.

[2019-01-10 15:52] jim-minter opened #1025 "must not run images tagged :latest in production"
at the moment I bet we're running some images tagged :latest in production.  We mustn't.
We need to find a way to make it easy for MSFT to do the right thing, and to make it easy for us to develop.

[2019-01-10 15:53] kargakis commented on #1024
Oh, that's definitely paranoid, the binaries are bind-mounted into a different image which is the final image that we publish in quay.

[2019-01-10 15:56] kargakis commented on #1024
For clarity, [this](https://github.com/openshift/release/blob/842ddb72ce785450578559efdb74d5157b9aa5f1/ci-operator/config/openshift/openshift-azure/openshift-openshift-azure-master.yaml#L13-L16) is where the bind-mounting happens (sync image).

[2019-01-10 16:01] kwoodson commented on #909
- `[Feature:Builds][Conformance] oc new-app should fail with a --name longer than 58 characters`
- ` [Feature:Builds][Conformance][valueFrom] process valueFrom in build strategy environment variables should fail resolving unresolvable valueFrom in docker build environment variable references`
- `[Feature:Builds][Conformance][valueFrom] process valueFrom in build strategy environment variables shou

[2019-01-10 16:05] jim-minter commented on #1024
fwiw I think the bind-mounting is after the bit that matters (was the git repo clean at *build* time?)

[2019-01-10 16:06] jim-minter commented on #1024
@Makdaam can I ask you to look at another thing: the Makefile dependency management that detects when to rebuild a binary when one already exists is broken.  i.e. if sync exists and I do `make sync`, nothing happens.  Worst case (easiest fix): all relevant targets should be marked .PHONY to force a build

[2019-01-10 16:15] kargakis opened #1026 "more logging context needed"
When I look into an e2e test log, I would like to know which components are actually logging (client, fakerp, plugins).

Example log today
[code]

/kind enhancement

[2019-01-10 16:15] kwoodson commented on #909
`[sig-network] Networking should provide Internet connection for containers`

This test attempts to ping `8.8.8.8`, `google.com`, etc.  This test fails as it runs on the compute node in the cluster.  This compute node runs behind a loadbalancer and does not have a public IP.  This scenario is explained here in scenario #2: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound

[2019-01-10 17:13] jim-minter commented on #814
I'm reluctant to remove/break up this test right now - a) it represents a common use case, and b) it is a visible inline test whereas the conformance results are not at all visible yet.
If there are particular flakes which we're seeing, we should work out how to deal with them on a case by case basis.

[2019-01-10 17:14] jim-minter commented on #814
If there have been recent flakes on this test, append them here and investigate them, otherwise close the issue.

[2019-01-10 18:28] #1006 closed, assigned to nobody

[2019-01-10 18:32] thekad commented on #814
There hadn't been any flakes with this particular test since last month, until this morning: https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure/97/ *but* in this case the failure presented on the second round of GETs after the database is supposed to come back e.g. no builds or image pulls happened.

[2019-01-11 00:13] jim-minter commented on #560
I think that `read: connection timed out` means that the TCP socket send buffer still holds outgoing data (written by the HTTP client) which it has being trying to send to the server for some time, but which the server has not acknowledged.

The client is trying to read the HTTP response from the socket, and the local TCP stack injects an error because it is timing out the send (and the read is ne

[2019-01-11 09:47] charlesakalugwu opened #1028 "Update location headers returned from deletes in fake rp"
We need to update the Location headers we return from deletes in the fakerp so we can stop serving at /.

/kind feature

@kargakis

[2019-01-11 09:47] charlesakalugwu commented on #1028
/assign

[2019-01-11 10:49] #980 closed

[2019-01-11 12:05] #994 closed

[2019-01-11 12:21] Makdaam commented on #1024
@jim-minter alright

[2019-01-11 13:18] mjudeikis opened #1029 "fluentd errors in the logs"
With current fluentd config multiple errors in the logs:
[code]

/kind bug

[2019-01-11 14:19] jim-minter commented on #560
@openshift/sig-azure @sozercan it would be extremely useful to confirm with this issue: is it something that we've seen only in our CI, or do we see it outside of our CI as well?

[2019-01-11 15:01] kargakis opened #1034 "etcdbackuprecovery panic"
@charlesakalugwu probably related to the routing changes
[code]
/kind bug

[2019-01-11 15:34] Makdaam commented on #1023
CNR
I was unable to trigger any issues. Checked results of "oc get nodes" and "make e2e" after single reboots (both through sudo reboot and the scaleset instance by instance restarts through Azure webinterface).

My cluster was built by commit 71c3814a47e9395c2377e234280a0befa7ae6b20 with the standard setup (3 masters, 2 infra, 1 compute).

All hosts recovered, some restarts took 1min some 3min fr

[2019-01-11 19:50] charlesakalugwu commented on #1034
I was able to reproduce this and it was caused by running the etcdbackupandrestore test right after a failed key rotation test. The [test](https://github.com/openshift/openshift-azure/blob/3f74ce29ff1b48eb8fe1625f04a4eb586c4b1583/test/e2e/specs/fakerp/keyrotation.go#L46) calls `saveConfig` right after the certs are invalidated. So for a while containerservice.yaml has no values for some fields suc

[2019-01-11 20:07] jim-minter commented on #993
@amanohar @sozercan please can you provide more context, I don't understand the issue.  What git commit are you seeing this on?

[2019-01-11 20:09] jim-minter commented on #993
looks like we are seeing this in prod `90c4effe` commit (and in INT which is private-preview-1.2 branch), happens during update when create failed for some reason (like quotaexceeded)
plugin tries to do an operation on a vm that doesn't exist
we are going to add a fail fast for quotaexceeded
Jim Minter [14:07]
if a create fails, I don't expect any further plugin operations to be carried out agains

[2019-01-11 23:10] thekad opened #1035 "Update code to use default registry"
Once #1033 is merged, need to update so we pull images from registry.redhat.io.

[2019-01-13 23:01] jim-minter opened #1036 "remove reliance on lsof"
The following bash is horrid in multiple ways:
`trap 'return_id=$?; set +ex; kill $(lsof -t -i :8080); wait $(lsof -t -i :8080); exit $return_id' EXIT`

Replace all instances of it in our codebase as follows.  At the top of every bash script which should remove background spawned processes when it exits, add:
[code]

The effect of this should be:
* in any case where the script is about to quit (no

[2019-01-14 00:08] jim-minter commented on #1000
this was done here:
https://github.com/openshift/openshift-azure/pull/1002/files#diff-d171b35ae3e779c2520ce8d35dd58e9aR41

[2019-01-14 00:08] #1000 closed

[2019-01-14 09:10] charlesakalugwu commented on #1036
i just tested this out locally and it works. So sgtm

[2019-01-14 09:38] asalkeld commented on #1026
/assign

[2019-01-14 10:04] kargakis commented on #1024
Not sure this is correct, go incrementally builds the binary just fine.

[2019-01-14 12:04] asalkeld commented on #947
/assign

[2019-01-14 13:44] Makdaam commented on #978
Fixed in #932

[2019-01-14 13:44] #978 closed

[2019-01-14 15:16] charlesakalugwu commented on #811
/assign

[2019-01-14 17:16] #947 closed

[2019-01-14 18:34] jim-minter commented on #925
@Makdaam ptal

[2019-01-14 18:49] kargakis commented on #945
Isn't this an azure-specific limitation? I doubt there is cloud-specific code in the scheduler.

[2019-01-14 20:40] #1028 closed

[2019-01-15 08:43] Makdaam commented on #925
@jim-minter ok

[2019-01-15 08:57] #495 closed

[2019-01-15 11:14] kargakis commented on #560
Running the etcd restore e2e test in a bash loop from my machine to try to reproduce locally.
[code]

[2019-01-15 13:10] kargakis commented on #1001
/unassign

May not have time to tackle this.

What needs to be done here is update all the errors ([[1]](https://github.com/openshift/openshift-azure/blob/958181ea21e5055fcb3ba71a14140a23581afc25/pkg/fakerp/middleware.go#L24) [[2]](https://github.com/openshift/openshift-azure/blob/958181ea21e5055fcb3ba71a14140a23581afc25/pkg/fakerp/util.go)) returned from the fakerp server to reply by including th

[2019-01-15 20:05] jim-minter opened #1045 "stop pinning goimports"
Currently we engineers, and our test infrastructure, pin goimports at commit 04b5d21e.  We should fix things up to move back to using master.

refs:
https://github.com/golang/go/issues/28428
https://github.com/golang/tools/commit/864069cfd1b106326ae556b3ca5c1d6b94645987
https://github.com/openshift/release/blob/4eec0001d9e21cd6ac522570979199228660ae08/projects/azure/base-images/test-base.yaml#L79

[2019-01-15 21:16] jim-minter commented on #945
If the kubelet AttachVolumeLimit feature (alpha in 1.11) is enabled, the kubelet posts info about how many data disks it can handle to the Node object, which the scheduler then takes into account via the MaxAzureDiskVolumeCount predicate (which I believe is enabled by default).  This is implemented in the cloud provider.

[2019-01-15 21:19] jim-minter commented on #945
AttachVolumeLimit added in #1046

[2019-01-15 22:09] jim-minter commented on #945
Note: in 3.11 on Azure, AttachVolumeLimit hard codes the maximum number of data disks to 16 regardless of the instance size.  This is implemented properly in k8s 1.12.

[2019-01-15 22:10] jim-minter commented on #945
https://github.com/kubernetes/kubernetes/pull/67772

[2019-01-16 00:14] jim-minter commented on #1035
Closing this - it can be the same Jira story that https://github.com/openshift/release/issues/2571 will become.

[2019-01-16 00:14] #1035 closed

[2019-01-16 09:33] kargakis commented on #560
Opened https://github.com/openshift/release/issues/2608 in the release repo so we can get the CI folks involved.

[2019-01-16 09:38] charlesakalugwu opened #1049 "Refactor http handlers to share as much code as possible"
We need to refactor our fakerp http handlers to follow the DRY principle.

/kind feature
/cc @kargakis @jim-minter

[2019-01-16 14:04] Makdaam commented on #560
Recent one https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1042/pull-ci-openshift-openshift-azure-master-e2e-azure/1913

[2019-01-16 14:54] charlesakalugwu commented on #919
another one: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1031/pull-ci-openshift-openshift-azure-master-e2e-azure/1951/

[2019-01-16 18:57] jim-minter commented on #560
#1050 switches on enableTCPReset - see https://docs.microsoft.com/en-US/azure/load-balancer/load-balancer-tcp-reset for more info

[2019-01-17 14:42] #996 closed

[2019-01-18 02:58] #1026 closed

[2019-01-18 11:40] Makdaam commented on #560
another flake https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1043/pull-ci-openshift-openshift-azure-master-e2e-azure/1996

Timeline reference: #1050 is not merged yet.

[2019-01-18 15:12] charlesakalugwu commented on #1036
/reopen

[2019-01-18 15:14] charlesakalugwu commented on #1036
unfortunately the fakerp server is still being leaked after @jim-minter's fix

[2019-01-18 15:31] #925 closed

[2019-01-18 16:33] kargakis commented on #1036
Still? Was it an issue before? Pretty sure it wasn't leaked in the happy path.

[2019-01-18 20:48] mjudeikis opened #1054 "Refactor util.Template & translate.go"
I want to refactor translate.go and util.Template so I use more complex translations, like xml, json, list and be able to use them easier in our code base.

This needed for https://github.com/openshift/openshift-azure/pull/1030/files

/kind cleanup
/kind feature

[2019-01-23 14:49] kargakis opened #1057 "base build broken for a week"
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/periodic-ci-azure-base-image-rhel

cc @Makdaam @mjudeikis @kwoodson

[code]

/kind bug

[2019-01-23 21:14] shrutir25 opened #1058 "Seperate Provisioning State for Admin Operations"
We will need a seperate provisioning state for admin put operations such as `AdminUpdating` here https://github.com/openshift/openshift-azure/blob/master/pkg/api/types.go#L67.

This will allow us as engineers to look up clusters logs and distinguish between a regular update operation and an admin update operation. Also it will be used to block a regular put operation when an admin update operation

[2019-01-24 11:19] kargakis commented on #1057
Same failure for the node build

[2019-01-24 18:22] shrutir25 commented on #1058
@mjudeikis Could you take a look at this ?

[2019-01-24 21:52] kwoodson commented on #1057
@kargakis, how does the azure client id / secret get generated?  Did this get rotated recently?

[2019-01-28 10:15] mjudeikis commented on #1057
@openshift/sig-azure is anybody working on this?

[2019-01-28 10:18] mjudeikis commented on #1058
/kind feature
@openshift/sig-azure needs an owner.

[2019-01-28 10:29] mjudeikis opened #1061 "MDM Agent OOM"
We have multiple OOM on MDM agent:
[code]

To check:
[code]

It is already running with:
[code]

Root cause might be that we send logs from all journald, and this causes service to overload.

/cc @jim-minter @sozercan @charlesakalugwu we need to cut down of the logs we send or make MDM to have more resources :/
/kind bug

[2019-01-28 11:42] kargakis commented on #1057
https://github.com/openshift/release/tree/master/projects/azure#cluster-secrets-azure

[2019-01-28 12:55] #1049 closed

[2019-01-28 13:51] charlesakalugwu commented on #1034
As mentioned in the previous comment, this is not actually an issue.

/close

[2019-01-28 13:51] #1034 closed

[2019-01-28 13:53] kargakis commented on #954
We have removed all filesystem deps from our e2es apart from containerservice.yaml which we can access via the fakerp api so I think this is not needed anymore.

[2019-01-28 13:53] #954 closed

[2019-01-28 13:53] #952 closed

[2019-01-28 13:55] #671 closed

[2019-01-28 13:56] kargakis commented on #304
We switched to daemon sets, not any issue anymore.

[2019-01-28 13:56] #304 closed

[2019-01-28 13:57] kargakis commented on #362
all timeouts are tracked in other issues

[2019-01-28 13:57] #362 closed

[2019-01-28 16:18] mjudeikis commented on #1057
waiting for next good sun and close if succ

[2019-01-28 20:13] kargakis commented on #725
our sdk got bumped to v24 with https://github.com/openshift/openshift-azure/pull/1064

[2019-01-29 10:55] charlesakalugwu opened #1068 "Master vm update process fails after update of azure-sdk-for-go"
The reimage process for master VMs now fails after the updates to `azure-sdk-for-go` pushed forward in #1064 and #1065

The error is reproducible by trying to run any of the update-based e2e tests such as keyrotation and looks as follows:

[code]

Sample CI run: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1067/pull-ci-openshift-openshift-azure-m

[2019-01-29 14:24] Makdaam commented on #560
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure/131/

[2019-01-29 14:24] Makdaam commented on #560
Flakes after #1050 merged, seems to be CI env issue.

[2019-01-29 15:23] #1068 closed

[2019-01-29 15:24] charlesakalugwu commented on #1058
@shrutir25 i'll have a look at this

/assign

[2019-01-29 18:16] Makdaam commented on #1057
Now it flaked on VM creation. Had the same flakes when Azure took some time to create a resource group (vnet creation failed because the RG wasn't up).

[2019-01-30 10:54] Makdaam opened #1077 "ResourceGroupNotFound in fakeRP flake in multiple tests"
`Original Error: autorest/azure: Service returned an error. Status=404 Code=\\\"ResourceGroupNotFound\\\" Message=\\\"Resource group 'e2e-sntcnqgh' could not be found.\\\"\\n\" error: json: cannot unmarshal number into Go value of type azure.RequestError"`

When running the test by docker run, the resource group is created but sometimes vnet creation or VMSS creation fails with 404 ResourceGroupNo

[2019-01-30 10:54] Makdaam commented on #1077
/kind test-flake

[2019-01-30 14:59] Makdaam commented on #1077
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1076/pull-ci-openshift-openshift-azure-master-e2e-azure/2115

[2019-01-31 16:03] jim-minter opened #1080 "scrape controller metrics"
I discovered yesterday that we're not scraping kube-controllers metrics properly in OpenShift on Azure.

I have some WIP fixes on our side in https://github.com/jim-minter/openshift-azure/commit/broken-controllers; I'm now at the point where I'm getting the following error in Prometheus:

OSA handles TLS certificate generation differently from openshift-ansible; the master serving certificate does

[2019-02-01 22:31] jim-minter commented on #966
@mjudeikis can this be closed?

[2019-02-01 22:32] #942 closed

[2019-02-01 22:43] #894 closed

[2019-02-01 22:43] jim-minter commented on #894
was fixed as part of the update rework

[2019-02-01 22:45] jim-minter commented on #808
closing stale

[2019-02-01 22:45] #808 closed

[2019-02-01 22:49] jim-minter commented on #785
closing, we're not going to hit this :)

[2019-02-01 22:49] #785 closed

[2019-02-01 22:57] jim-minter commented on #731
fixed with the update rework

[2019-02-01 22:57] #731 closed

[2019-02-01 22:59] jim-minter commented on #704
Yannick, can you take a look at this.  If we invoke the sync pod twice, in sequence, we should generally expect that the second invocation makes no changes.  Can you see if that is the case currently, and can you see if you can think up an automated test that ensures this?

[2019-02-01 23:00] jim-minter commented on #567
@thekad bump - is this done?

[2019-02-01 23:01] #376 closed

[2019-02-01 23:03] jim-minter commented on #253
Need to decide how many infra nodes we deploy on a GA cluster

[2019-02-01 23:04] #543 closed

[2019-02-01 23:10] jim-minter commented on #1058
ah, I see, #1079 already open :-)

[2019-02-02 01:43] amanohar commented on #993
@jim-minter based on what you mention above: "all the update handling has been completely revamped since those commits" - let's close this and I will reopen with fresh context when needed.

[2019-02-02 01:43] #993 closed

[2019-02-03 17:20] mjudeikis commented on #253
I say 3. Which gives nice update pattern, aligns with most of ref architectures and gives as spare capacity/HA in case we fail on first node.

[2019-02-03 17:21] #332 closed

[2019-02-04 00:03] asalkeld commented on #759
/unassign

[2019-02-04 00:33] sozercan opened #1086 "Plugin context needs certificate authentication"
RP is passing cloud provider credentials for plugin to perform operations. This is a misconfiguration on the RP, we need to pass in RP credentials to the plugin.
However, we only have certificates for the credentials. Plugin needs support for certificate authentication for Azure.

[2019-02-04 09:26] mjudeikis opened #1087 "IBL creation error"
[code]

[2019-02-04 10:12] mjudeikis commented on #1087
/asign

[2019-02-04 10:12] mjudeikis commented on #1087
/kind bug

[2019-02-04 11:53] mjudeikis commented on #1086
/kind feature

[2019-02-04 18:12] #1087 closed

[2019-02-04 21:23] y-cote commented on #704
yes, will take a look.

On Fri, Feb 1, 2019 at 2:59 PM Jim Minter <notifications@github.com> wrote:

[2019-02-05 09:47] Makdaam commented on #1024
Fixed by #1042, sorry for not updating.

[2019-02-05 10:55] Makdaam commented on #1024
/resolve

[2019-02-05 13:11] charlesakalugwu opened #1097 "Add unit test to check provisioning state parity across APIs"
As a follow-up to https://github.com/openshift/openshift-azure/pull/1079 we need to create a unit test that checks the parity of provisioning states across the various APIs (customer, admin and internal).

/kind feature
/area tests

[2019-02-05 14:32] mjudeikis opened #1101 "upgrade restarted all pods"
during upgrade (while re-imaging master0) I noticed that all etcd pods got restarted at the same time...
[code]
might be flake, but need to check

/kind bug

[2019-02-05 15:57] kwoodson opened #1102 "dial tcp i/o timeout during upgrade"
When performing upgrades I ran into this error on 2 subsequent upgrade requests.

[code]

The curl returns a 403.  It was not a timeout.
[code]

When checking on master-000002 it is up and working.
[code]

Any ideas?

[2019-02-06 01:44] charlesakalugwu commented on #1102
did this happen during a local run or in CI?

[2019-02-06 01:53] charlesakalugwu opened #1103 "Add unit test to check updates to azure sdk versions"
As a follow-up to #1096 we need to create a unit test that checks that the versions of the various azure service sdks imported in `pkg/arm/resources.go` match those specified in the `fixupAPIVersions(map[string]interface{})` function

The function can be found at https://github.com/openshift/openshift-azure/blob/7f1b2807449498ab2868658bd6a83b942bc2d0e9/pkg/arm/resources.go#L51

/kind feature
/area

[2019-02-06 08:00] Makdaam opened #1104 "scrape etcd metrics"
Etcd metrics in cluster prometheus are either missing or have 0 values.
Invetigate why and fix.
root@master-000000# curl --cacert ca.crt --cert ./peer.crt --key peer.key https://master-000000:2379/metrics
returns all expected metrics with non-zero values where appropriate.

[2019-02-06 11:32] mjudeikis opened #1110 "Refactor vnet names to constants"
with this merged: https://github.com/openshift/openshift-azure/commit/60bf54b7f7b1bbe7642fd7ebf4308804c5a6e8b1
and these constants being here
https://github.com/openshift/openshift-azure/blob/master/pkg/arm/resources.go

[code]
We should be reusing these across code base.
Caveat why this is an issue now:
If you expose `VnetSubnetName` and try use like this
[code]

we get a circular import error. W

[2019-02-06 11:34] mjudeikis opened #1111 "E2E test for ILB and ELB"
We had to make release to make sure ILB creation works: https://github.com/openshift/openshift-azure/commit/60bf54b7f7b1bbe7642fd7ebf4308804c5a6e8b1

We should test in E2E test if we can create services `type: LoadBalancer` with azure annotations:
[code]
and alternative for ELB.

[2019-02-06 11:42] mjudeikis opened #1112 "Stop AAD reusability"
RealRP creates AAD applications each time it provisions new cluster (not counting usecases when the user brings already provisioned AAD app).
We should stop re-use `user-name-aad` applications and make sure we create a new test-aad application for each cluster as part of fakeRP flow and delete it after the cluster is deleted

Currently, https://github.com/openshift/openshift-azure/pull/902 is pend

[2019-02-06 11:43] mjudeikis commented on #1104
Does Prometheus config has etcd endpoints configured? we have slightly modified etcd config, so this might be a case

[2019-02-06 11:48] mjudeikis commented on #1102
This is happening in CI, realRP, and sometimes locally. This starts to hit us hard in testing and MSFT already reported this multiple times when revendoring.
Might be just question of retries or circuit-breaker introduction into our code.

It looks likes this is happening more often in busy regions (east us on eastus working hours, west europe on west Europe working hours). But this is just assump

[2019-02-06 12:26] mjudeikis commented on #1101
on master0001 de-allocation downtime of the API too:
[code]

[2019-02-06 16:11] mjudeikis commented on #1102
[code]

[2019-02-06 16:21] mjudeikis commented on #1102
[code]
Really? :/

[2019-02-06 18:16] mjudeikis commented on #1102
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1082/pull-ci-openshift-openshift-azure-master-e2e-azure/2222/ one more

[2019-02-06 18:51] kwoodson commented on #1102
@mjudeikis Should we consider setting the timeout for the client here? https://github.com/openshift/openshift-azure/blob/master/pkg/util/managedcluster/managedcluster.go#L39

The description of that is here:
[code]
Then we can catch the timeout, retry, and at least we don't timeout indefinitely.

WDYT?

[2019-02-06 19:56] #1058 closed

[2019-02-06 21:03] kwoodson commented on #1102
Timeout happened during `make e2e-scaleupdown`.

[code]

[2019-02-06 21:10] thekad opened #1116 "Don't allow cluster-names that don't comply with DNS spec"
Our FakeRP doesn't validate the name of the cluster for dots and other non DNS spec compliant characters, which may lead to unintended consequences.
Investigate if this is also a problem with RealRP.

[2019-02-06 23:10] thekad commented on #1061
@sozercan can you offer any guidance on how much mem/cpu translates to how many logs per second?

[2019-02-07 09:36] mjudeikis opened #1118 "unnecessary node rotation"
in E2E unnecessary node rotation happens!

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1117/pull-ci-openshift-openshift-azure-master-e2e-azure/2260

/cc @charlesakalugwu @Makdaam @kwoodson

/kind bug

[2019-02-07 09:40] mjudeikis commented on #1118
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1105/pull-ci-openshift-openshift-azure-master-e2e-azure/2259
one more

[2019-02-07 09:41] mjudeikis commented on #1118
third: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1089/pull-ci-openshift-openshift-azure-master-e2e-azure/2262 in https://github.com/openshift/openshift-azure/pull/1089

[2019-02-07 09:53] Makdaam commented on #1024
/close

[2019-02-07 09:53] #1024 closed

[2019-02-07 11:24] mjudeikis commented on #1118
forth: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1117/pull-ci-openshift-openshift-azure-master-e2e-azure/2264

[2019-02-07 14:07] mjudeikis commented on #1118
fift: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1117/pull-ci-openshift-openshift-azure-master-e2e-azure/2264

[2019-02-07 14:46] mjudeikis opened #1120 "Use of ProvisioningState in fakeRP"
We should tide-up how we use field `ProvisioningState` in our fakeRP code.
Each test, action, function should cycle from a `healthy` state to `in progress` and back to `healthy`.
This would make any of these methods to be able to run in async mode.

Currently, some test there populating state and leaving it hanging with the wrong status. This caused tests running after it to behave not as expected

[2019-02-07 15:30] #1118 closed

[2019-02-08 11:30] mjudeikis commented on #1102
One more in local run
[code]

[2019-02-08 14:08] Makdaam commented on #1104
CMO has the features. I'll have to configure the certs and the /metrics endpoint in etcd + add some yaml

[2019-02-08 14:09] Makdaam commented on #1104
Forgot about
/assign @Makdaam

[2019-02-08 15:18] thekad commented on #1061
/assign

[2019-02-11 07:20] mjudeikis opened #1122 "retry code function - fakeRP utils"
MSFT are retrying code in multiple places, based on error codes. We need something similar in our fakeRP.  This should be aligned with MSFT code, so they could reuse our error codes, or return results and wrap our plugin code functions with their side "retry functions"/

MSFT comment:
[code]
If we built something under these lines MSFT could reuse this on their end too.

We should retry anything t

[2019-02-11 14:30] jim-minter opened #1123 "ILB functionality e2e test needed"
Follow on from #1093 (@mjudeikis fyi)

[2019-02-11 21:29] mjudeikis commented on #1123
duplicate of https://github.com/openshift/openshift-azure/issues/1111

[2019-02-11 21:29] #1123 closed

[2019-02-11 23:08] julienstroheker opened #1125 "TLS CA Signed certs for API and Router - Azure Domains and Vanity Domains"
In order to be able to enable TLS CA Signed certificates either using Azure or Vanity domains we'll need some changes into the API Data Model.

In this design, the OSA RP will deploy a Key Vault into the cluster RG named `Cluster KV`

On the plugin side, the master nodes should be able to pull the generated certificates from the cluster KV using the cloud provider. The cloud provider will have res

[2019-02-11 23:09] julienstroheker commented on #1125
cc @jim-minter

[2019-02-12 12:18] charlesakalugwu opened #1127 "Scale Up/Down rotates all VMs"
The scale up/down e2e tests have been failing in CI since 1st February 2019: https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/periodic-ci-azure-scaleupdown-e2e/

It appears that from this day, `CreateOrUpdate`  on the non-admin `OpenshiftManagedClustersClient`, with a manifest whose only update is the count of compute instances, sends a request which results in all VMs being upda

[2019-02-12 13:23] mjudeikis commented on #1102
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-azure-node-image-rhel-311/68

[2019-02-12 14:44] mjudeikis commented on #1101
[code]

[2019-02-12 14:55] mjudeikis commented on #1102
Other interesting scenario:
[code]

Because during upgrade 2 masters got off, upgrade flipped over:
[code]

[2019-02-12 17:54] jim-minter commented on #1125
Some quick comments:
* I guess this is internal data model API only, so most (all?) of the pointers should go away
* Do we need/want CertificateExpirationDate in this part of the model?  Just looking for confirmation.
* Need to cover the fact that we will need 2 service principals now - one for the masters, one for the workers
* Please can you describe how KeyVaultID / KeyVaultSecretID map to the

[2019-02-12 19:50] kwoodson commented on #1127
After taking @jim-minter's advice and dumping the hash during cluster creation and then also dumping it during the `make e2e-scaleupdown` it appears that properties inside of
`properties.virtualMachineProfile.extensionProfile.extensions[0].properties.protectedSettings.script` are changing.

Looking further into this.

[2019-02-12 20:18] julienstroheker commented on #1125
Thanks @jim-minter

I updated the description, still missing the last point, let me double check on my side first by running the whole scenario manually using the API.

Thanks

[2019-02-12 23:48] kwoodson commented on #1127
It appears that gzip includes the script name and the date which differs on each run and in turn causes the file to be different each time.
[code]

With the `--no-name` option removes name and time stamp:
[code]

[2019-02-13 00:30] jim-minter opened #1130 "Quay shows vulnerabilities on our Docker images"
We must do a `RUN yum -y update && yum clean` as part of all our rhel based Dockerfile builds.  If that means we need to go to Dockerfile.foo.rhel7 and Dockerfile.foo.centos7 for local development, then so be it.

[2019-02-13 00:40] kwoodson commented on #1130
@jim-minter This was a topic of discussion around the team here https://github.com/openshift/openshift-azure/pull/1095#issuecomment-460663887.

We need to decide on which credentials we want to use for our builds.

[2019-02-13 00:47] jim-minter commented on #1127
@asalkeld ptal at this.  Putting the config blob on the master disk has meant that the masters rotate every time we scale up or down (the count changes in the compute AgentPoolProfile, so the hash changes, so there's a rotation).  This regression is blocking MSFT from rebasing.  One sorry way to work around this could be to remove all the non-master AgentPoolProfiles before serialising the config

[2019-02-13 00:51] jim-minter commented on #1127
@kwoodson the output of gzip the command may depend on the input filename, but that doesn't mean that the same is true of golang compress/gzip.

[2019-02-13 00:59] asalkeld commented on #1127
@jim-minter I have zero'd out the count here: https://github.com/openshift/openshift-azure/pull/1129/commits/28c1edfaaa824e893df2dccead154ee237d53191

[2019-02-13 09:57] mjudeikis commented on #1127
I think we should not gzip if we dont need to. Until we hit the payload size limit. Introducing one more algorithm into the equation where we need stable output makes it difficult to determine where things fail.

[2019-02-13 16:59] thekad commented on #1127
I believe we were hitting the limit in the masters, that's why @asalkeld gzipped in the first place, threw me off for a loop there.

[2019-02-13 19:32] jim-minter commented on #1125
OK, so I think:
* it'd be useful if you could additionally to pass the keyvault ID in Properties.  That way we have it available if/when we create more keys and certs.
* fwiw I prefer `MasterServicePrincipalProfile ServicePrincipalProfile; WorkerServicePrincipalProfile ServicePrincipalProfile` to `ServicePrincipalProfiles []ServicePrincipalProfile`
* we can reuse CertProfile in the config struct w

[2019-02-13 19:37] jim-minter opened #1141 "Re-enable admin console test as part of cluster health check"
This was disabled at https://github.com/openshift/openshift-azure/commit/aa6b855bea5fd2db0b6aefd86f178be551dcf868#diff-fdd67aa648e62ea38ba79884368565afR81

This is needed to prove that our external IP / router is working (as well as the admin console) before we hand over a cluster to an end user

[2019-02-13 19:46] kwoodson commented on #1130
This image is updated every sprint and is maintained by our internal infrastructure and build teams (aos-art).  The image is updated here https://access.redhat.com/containers/?tab=tags&architecture=AMD64#/registry.access.redhat.com/rhel7 and shows that the versions are up-to-date.

I will figure out why we are using an older version.  I docker pull'd the latest and the packages mentioned in the qu

[2019-02-13 20:41] #776 closed

[2019-02-14 04:31] #1141 closed

[2019-02-14 11:34] mjudeikis commented on #1102
EOF should be solved not, timeouts - still occurring
[code]

[2019-02-14 12:49] mjudeikis commented on #1102
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1144/pull-ci-openshift-openshift-azure-release-v1-e2e-azure/11

[2019-02-14 13:52] #1127 closed

[2019-02-14 14:25] jim-minter commented on #1130
@kwoodson https://github.com/openshift/release/pull/2854 should solve this

[2019-02-14 19:16] jim-minter opened #1145 "Miscellaneous test code cleanups"
Followups to #1092

* stop exporting NewAzureClusterReaderClient, NewCustomerReaderClient, etc.
* simplify and standardise way above functions work
* remove AzureClusterReader, AzureClusterReaderKubeconfig from config struct, stop generating these in generate.go, generate on the fly in test like we do the other test logins
* remove shared.DataDirectory etc constants, make shared.FindDirectory take

[2019-02-14 19:17] jim-minter commented on #1145
@charlesakalugwu fyi
@y-cote please could you take these on?  The above notes are very sparse, please ping me for the unclear bits.

[2019-02-14 19:22] jim-minter commented on #1086
AZURE-288

[2019-02-14 19:22] #1086 closed

[2019-02-14 19:26] jim-minter commented on #1130
fixed

[2019-02-14 19:26] #1130 closed

[2019-02-14 19:35] #811 closed

[2019-02-14 22:28] jim-minter commented on #1029
I feel like these could easily be caused by fluentd being killed, restarting and the djsonsocket being out of sync.

[2019-02-15 00:46] jim-minter opened #1150 "Etcd chaos monkey"
#1134 fixed a layering issue whereby if etcd and the api server crashed, it was impossible to restart etcd due to dns resolution issues.  It would be good to run some chaos monkey tests on etcd to prove robustness.

[2019-02-18 10:43] mjudeikis opened #1159 "DaemonSets update causing downtime"
When upgrading OSA clusters and changing image versions we rotate daemonsets. When doing so for SDN/OVS pods it causes network traffic to blip and causes downtime for pods.

We need to make sure we update daemonsets in a matter so it causes no downtime for customer workloads.

Potentially doing 2 DS and gradually rolling them to the nodes.
Or move pods into static pods so they would be upgrades to

[2019-02-18 10:47] mjudeikis opened #1160 "Upgrade script rework"
currently, upgrade script https://github.com/openshift/openshift-azure/blob/master/hack/upgrade-e2e.sh is working with 2 repositories. One is cloned by prow/ci-operator, other we clone based on release tag provided with `make` target.

We need to simplify this script so we go `git checkouts tags/source` on prow/ci-operator provided code, instead of cloning it for the second time.

This will simpli

[2019-02-18 10:50] mjudeikis opened #1161 "Automate container image build and promotion"
Currently, when the release is done we need to build images manually and push them to `quay.io`.

We need to automate this flow using post-submit jobs in prow and build images with git tag specification so images are published based on git tag as docker tag, and not static hardcoded tags from prow/ci-operator configuration.

This depends on registry we gonna publish too. If we need to start publis

[2019-02-18 10:56] mjudeikis opened #1162 "Upgrade tests cant be merged into release repo"
Currently, upgrade tests cant be merged into release repository. This is due to missing dependencies on ci-operator jobs. We cant add these dependencies as per current configuration because prowgen does not allow to generate jobs with multiple targets.

Related:
Issue: https://github.com/openshift/ci-operator-prowgen/issues/79
PR: https://github.com/openshift/release/pull/2883

[2019-02-18 11:04] mjudeikis commented on #1116
only in our fakeRP code. not a GA issue.

[2019-02-18 11:05] mjudeikis commented on #1077
@Makdaam can it be it was quota issue? still relevant?

[2019-02-18 11:06] mjudeikis commented on #1011
/close
Should be fixed now

[2019-02-18 11:06] #1011 closed

[2019-02-18 11:06] mjudeikis commented on #967
/close

[2019-02-18 11:06] #967 closed

[2019-02-18 11:07] mjudeikis commented on #958
closing. reopen if came back again.

[2019-02-18 11:08] mjudeikis commented on #957
didnt saw the underlying issue for a while. Closing this as we have other priorities :)

[2019-02-18 11:08] #957 closed

[2019-02-18 11:09] mjudeikis commented on #934
@jim-minter can we consider this done for now? or anything else left apart of the email with MSFT?

[2019-02-18 11:09] #919 closed

[2019-02-18 11:09] mjudeikis commented on #919
reopen if needed

[2019-02-18 11:10] mjudeikis commented on #904
should be fixed with the newest change in TCP reset code.
https://github.com/openshift/openshift-azure/blob/master/pkg/cluster/kubeclient/types.go#L52

[2019-02-18 11:10] #904 closed

[2019-02-18 11:11] mjudeikis commented on #850
Wondering when was the last time we have seen this?

[2019-02-18 11:11] mjudeikis commented on #814
reopen if needed

[2019-02-18 11:13] mjudeikis commented on #725
renaming to fit work left doing

[2019-02-18 11:17] #652 closed

[2019-02-18 11:18] #632 closed

[2019-02-18 11:18] mjudeikis commented on #560
close. Should be solved by https://github.com/openshift/openshift-azure/blob/master/pkg/cluster/kubeclient/types.go#L52

[2019-02-18 11:18] #560 closed

[2019-02-18 11:19] mjudeikis commented on #552
re-open of still an issue. Dont remember seeing this one recently.

[2019-02-18 11:26] mjudeikis commented on #704
/close
just checked. Not an issue anymore

[2019-02-18 11:26] #704 closed

[2019-02-18 12:04] mjudeikis opened #1163 "Audit file warrning in logs"
[code]

/cc @thekad @jim-minter

I think we should move audit logs to separate file and read it separately. easier to handle file retention too.
WDYT guys?

[2019-02-18 12:06] mjudeikis opened #1164 "DNS and waagent race condition"
Master was not able to start due DNS and waagent race condition. All other masters started fine. Just one hanged:

[code]

[2019-02-18 13:12] charlesakalugwu opened #1167 "Cannot ssh into VM after running key rotation tests"
After running key rotation tests, we are no longer able to ssh into the VMs because we are failing to write an updated ssh key after the key rotation.

/kind bug
/cc @mjudeikis @mgahagan73 @jim-minter

[2019-02-18 13:48] #1164 closed

[2019-02-19 12:17] #1111 closed

[2019-02-19 13:26] mjudeikis commented on #1162
still an issue, but now we can `/skip`

[2019-02-19 13:26] #1162 closed

[2019-02-19 14:13] mjudeikis commented on #253
/assign

[2019-02-19 14:14] mjudeikis commented on #253
@jim-minter are u looking into this?

[2019-02-19 15:19] #1167 closed

[2019-02-20 17:52] jim-minter commented on #1125
@julienstroheker what's the next step here - are you planning to draw up a final proposal bearing in mind the feedback?

[2019-02-20 22:00] charlesakalugwu opened #1177 "Node exporter pod crashing due to insecure kube-rbac-proxy cipher suites"
The `node-exporter` daemonset pods are crashing due to specification of insecure cipher suites for their constituent `kube-rbac-proxy` containers.

*list monitoring pods*
[code]
*sample kube-rbac-proxy logs*
[code]

The faulty cipher suites which are configured with kube-rbac-proxy are:

[code]

Note: This issue was reported on [bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1673178) and it

[2019-02-21 03:56] jim-minter commented on #1177
@charlesakalugwu sample logging related to this issue is as follows:
[code]

please urgently add additional logging to checkMonitoringStackHealth so that it's clear which item is actually failing before this issue is closed.

[2019-02-21 03:58] jim-minter commented on #1177
@openshift/sig-azure we will need to get new images @ 3.11.82 to MSFT, our current push to them should not go to prod

[2019-02-21 09:17] mjudeikis opened #1180 "Azure quota exceded"
Test flakes with

[code]

[2019-02-21 18:31] sozercan opened #1181 "Sync-master pod labels"
Looks like `sync-master-000000` is missing pod labels similar to

[code]

` openshift.io/component` label would be nice to have

https://github.com/openshift/openshift-azure/blob/master/pkg/arm/data/master-startup.sh#L642

cc @jim-minter

[2019-02-21 22:52] jim-minter commented on #1125
@julienstroheker please can you give us an example KeyVaultCertificateID / KeyID / SecretID so we know what they look like

[2019-02-22 00:10] jim-minter commented on #1125
@julienstroheker @amanohar please can you confirm: when you place the certificate into the key vault, will you be placing both the certificate and the key in the certificate object?

@asalkeld fyi

[2019-02-22 00:44] asalkeld commented on #1125
also is it going to be a secret, key or certificate ... i.e. pick just one please.

[2019-02-22 11:54] mjudeikis opened #1182 "etcd metrics followups"
Need to do these things to tls-proxy for etcd-metrics:
* ~~add authentication~~
* ~~Move to HostPath scc~~
* limit RBAC access to prom operator

[2019-02-22 14:14] jim-minter opened #1185 "Not using network policy plugin?"
I think we did in 3.10, perhaps this is a regression from when we upgraded to 3.11?  Re-enable and add e2e test.

[2019-02-22 18:10] y-cote opened #1187 "Implement effective changelog and release-notes strategy"
We need to come up with a strategy and tooling to easily add PR release and changelog notes for items that deserve to be mentioned. For instance a PR implementing a new feature and/or code changing system behavior should be noted and briefly described. This helps the team to understand how the project changes.

[2019-02-22 18:10] y-cote commented on #1187
/assign

[2019-02-22 21:32] jim-minter commented on #1177
I believe we can close this?

[2019-02-22 21:32] #1177 closed

[2019-02-25 07:18] asalkeld commented on #333
couldn't we just run sync as a cron job so that
1. it exits after one iteration
2. every time it starts, it uses the correct image
3. you can run it manually at update

[2019-02-25 16:00] thekad opened #1195 "Send waagent output to journald"
Investigate how best to send the output of the startup process (waagent) to journald, currently these are left as plain text files in `/var/lib/waagent/custom-script/download/1`

[2019-02-25 16:01] thekad commented on #1195
/area ga

[2019-02-25 16:02] thekad commented on #1195
/assign

[2019-02-25 18:01] julienstroheker commented on #1125
@jim-minter @asalkeld sorry for the delay.

Here a last version about the DM based on the comments :

[code]

KeyVaultSecretID will be the URI from where you'll be able to pull a secretBundle from the KV :
Ex : `https://osa-julien-certs.vault.azure.net/secrets/testjulienazmosaio/4bfaa4e53b5b43ac97ef45`

The `secretBundle` : https://docs.microsoft.com/en-ca/rest/api/keyvault/getsecret/getsecret#sec

[2019-02-25 19:14] thekad commented on #1195
/label ga

[2019-02-25 19:43] kwoodson commented on #1195
/assign @thekad

[2019-02-25 19:46] kwoodson commented on #1195
/label ga

[2019-02-25 19:46] kwoodson commented on #1195
/tag ga

[2019-02-26 05:19] asalkeld commented on #1125
So shouldn't this be under Config.Certificates instead of being moved to [API/Router]Certprofile each in different places? Seems a bit weird to me...

[2019-02-26 19:46] amanohar commented on #1125
@asalkeld the API proposal is anticipating future feature of bring your own certs and ensuring that this proposal works with both current design (service generated certs and BYOC).

The post above is proposing that internal DM mirrors the public DM in terms of cert organization. Otherwise in `Config.Certificates` we create some sort of array to map each router's cert with its name and then validat

[2019-02-26 20:22] julienstroheker commented on #1125
@asalkeld Agreed `KeyVaultSecretURL` makes more sense but `KeyVaultSecretID` is the Azure terminology for KV for a secret.

[2019-02-26 23:41] asalkeld commented on #1125
thanks @julienstroheker

@amanohar  @jim-minter reminded me that Config is for items that we pass in, and properties is for external items.
So this seems totally reasonable, sorry for the confusion. I'll get cracking on updating my PR with what
we have here.

[2019-02-27 02:01] jim-minter opened #1201 "Resolve prometheus alerts firing on default install"
[code]

[2019-02-27 17:31] charlesakalugwu opened #1207 "Investigate moving away from custom env variables & running under test"
We need to move away from the balooning numbers of custom environment variables in our env file and the use of running under test as a way to control log levels of openshift components.

One way might be to create a copy of the pluginconfig.yaml file and name it as `override.yaml` and gitignore it. We could configure the fakerp to pick up override values specified in this file.

/kind feature

[2019-02-27 18:42] jim-minter commented on #1122
A slightly different take on a similar issue (@charlesakalugwu fyi): if a fake RP admin function returns a 500, the client will automatically retry it, which I don't think is a great plan.  An example code path is RotateSecretsAndWait -> RotateSecrets -> RotateSecretsSender -> DoRetryWithRegistration -> DoRetryForStatusCodes.
An example case of this happening is https://openshift-gce-devel.appspot

[2019-02-27 19:15] jim-minter opened #1208 "codecov: exclude autogenerated code from consideration"
just putting this down as an issue in your name so I can close the Jira story

[2019-02-27 19:20] jim-minter opened #1209 "look at autogenerating admin api client code"
don't want to maintain this all by hand.
one route is to try to use msft tooling, in which case step 1 is to autogenerate swagger like in https://github.com/Azure/azure-rest-api-specs, then step 2 is unclear (is the msft tooling even public?)
need to look at other routes too.

@charlesakalugwu fyi

[2019-02-27 19:44] jim-minter opened #1211 "must not use td-agent:latest image in production"
need to get a tag from sertac and put it in the pluginconfig

[2019-03-01 01:33] jim-minter opened #1217 "write e2e to prove that admins can set quotas and limitranges"

[2019-03-01 02:05] jim-minter commented on #1185
@kwoodson ptal at this

[2019-03-01 02:06] jim-minter commented on #1185
may have knock-on effects on customer admins - perhaps we want to enable them to use network policies?

[2019-03-01 02:07] jim-minter commented on #1201
@kwoodson ptal, fix, e2e test

[2019-03-01 02:08] jim-minter commented on #1025
closing for #1211

[2019-03-01 02:08] #1025 closed

[2019-03-01 15:28] #1211 closed

[2019-03-01 16:23] jim-minter commented on #1185
OK, so I think there are 3 steps to do here:
1- add the default label to the default namespace, so that https://docs.openshift.com/container-platform/3.11/admin_guide/managing_networking.html#admin-guide-networking-networkpolicy-routers works
2- enable the customer admin to read/write EgressNetworkPolicy objects and write e2e (also need e2es for customer admin access to Quotas and LimitRanges btw

[2019-03-01 22:13] jim-minter opened #1222 "write e2e to prove that admin group sync is working correctly"

[2019-03-02 01:12] sozercan opened #1224 "NodesNotReady on create and update"
@jim-minter as discussed, here are the details for the `NodesNotReady` errors. This is with PP v1.3 branch (7084248). Please let me know if you need any other logs.

**For Create:**
[code]

in `atomic-openshift-node`, i am seeing looping:
[code]

---

**For Update:**
[code]

cc @amanohar

[2019-03-04 04:42] asalkeld opened #1227 "create clients in the same place (within the fakerp)"
https://github.com/openshift/openshift-azure/pull/1192#discussion_r261882042
/area ga

[2019-03-04 04:44] asalkeld opened #1228 "check that etcd blob exists within the plugin (not fakerp)"
https://github.com/openshift/openshift-azure/pull/1192#discussion_r261882034
/area ga

[2019-03-04 04:46] asalkeld commented on #1227
/area ga

[2019-03-04 04:46] asalkeld commented on #1228
/area ga

[2019-03-04 05:05] asalkeld commented on #1228
/assign

[2019-03-04 05:29] asalkeld commented on #1227
/assign

[2019-03-04 05:52] asalkeld commented on #1181
/assign

[2019-03-04 07:21] charlesakalugwu commented on #1209
/assign

[2019-03-04 07:21] charlesakalugwu commented on #1207
/assign

[2019-03-04 09:16] mjudeikis commented on #333
@asalkeld this implies api server and controller is alive and ready. And without a first run of sync pod - I don't think it is. A hybrid could be: run sync pod once at startup, and later hand over operations to cronjob?

[2019-03-04 11:55] #1228 closed

[2019-03-04 13:50] jim-minter commented on #1227
Reopening.
What I meant here is that there should be a struct (Server?) that holds all the azure clients used by the fake rp, which are initialised all in one place.

[2019-03-04 13:52] jim-minter commented on #1181
Reopening.  @sozercan why are you making this request? it's an internal OSA detail.

[2019-03-04 13:54] jim-minter commented on #1181
Reverting #1231 in #1232

[2019-03-04 14:00] jim-minter opened #1233 "Geneva action to list backup blobs"
Not sure if/when we want this, but opening an issue to track

[2019-03-04 16:06] jim-minter commented on #1125
Changes merged at https://github.com/openshift/openshift-azure/pull/1192/files#diff-9ff06ad723720f9428a65da3710cf436

[2019-03-04 16:06] #1125 closed

[2019-03-04 20:36] thekad commented on #1163
We specifically went with shipping everything to journald so we didn't have to re-invent the log rotation/retention wheel, however I am feeling like this could be a better approach, and upstream seems to feel that way as well with that warning.

[2019-03-04 22:45] asalkeld commented on #1181
@jim-minter what problem is this causing?

[2019-03-05 14:23] mjudeikis commented on #1110
not worth the effort for now

[2019-03-05 14:23] #1110 closed

[2019-03-05 16:01] jim-minter commented on #1102
@openshift/sig-azure if you see this happening, please paste a link here

[2019-03-05 16:06] jim-minter commented on #934
closing, #1061 still open

[2019-03-05 16:06] #934 closed

[2019-03-05 16:07] jim-minter commented on #708
Closing for AZURE-297

[2019-03-05 16:07] #708 closed

[2019-03-05 16:08] jim-minter commented on #253
set to 3, need to document this as part of the service limits/limitations - work with @patrickstrick

[2019-03-05 20:20] jim-minter opened #1241 "Audit if we need geneva-cluster-reader clusterrolebinding any more"
was previously used for logging/monitoring to enrich information - no longer used?
check with MJ if this is needed for prometheus for etcd metrics - perhaps can be scoped down?

[2019-03-05 21:39] #1185 closed

[2019-03-06 14:43] mjudeikis opened #1247 "TCP connection timeout"
Similar to https://github.com/openshift/openshift-azure/issues/1102 but not quite

[code]

[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1178/pull-ci-openshift-openshift-azure-master-e2e-azure/2671

/kind test-flake

[2019-03-06 14:57] #253 closed

[2019-03-06 16:15] kwoodson commented on #1201
This metric alerts by default to denote that the alert stack is functioning correctly.  https://github.com/coreos/prometheus-operator/issues/883

According to the above issue we can turn off which alerts we send based upon severity if this is something we want to do.

@jim-minter @mjudeikis @Makdaam
thoughts?

[2019-03-06 16:21] kwoodson commented on #1201
I believe what is occurring here is that the scrape to https://10.0.0.4:8444/metrics is failing because of the hostname.

Here is the configuration:
[code]

An attempt to mimic this scrape with a curl inside of the prometheus pod:
[code]

A dump of the supported server names:
[code]

If I update the hostname to `master-000000` then the curl is successful.
[code]

Either we update the hosts in whic

[2019-03-06 16:25] kwoodson commented on #1201
This is the same issue as the check is identical as the `KubeControllerManagerDown`.
[code]

[2019-03-06 17:30] thekad commented on #1195
Latest changes in the openshift/openshift-ansible repo already send logs to journald, I opened openshift/openshift-ansible#11311 to make it look nicer.

[2019-03-06 18:31] kwoodson commented on #1201
Once https://github.com/openshift/cluster-monitoring-operator/pull/230 lands issues 2, 3, and 4 should resolve as those services will return to healthy.

I added a note about the deadmansswitch to the jira card.

[2019-03-06 19:47] kwoodson commented on #1222
/assign

[2019-03-06 19:49] kwoodson commented on #1222
After discussion with @jim-minter, we have enabled AAD admin group sync for test clusters in ci-operator.

https://github.com/openshift/release/pull/3022

Follow up with the test for OpenShift Azure.

[2019-03-07 15:02] #1195 closed

[2019-03-07 21:36] jim-minter opened #1256 "docker restart doesn't work"
running docker restart on a vm, at least a master VM, hangs - investigate why and fix

[2019-03-07 21:45] #1222 closed

[2019-03-11 14:16] mjudeikis opened #1268 "TLS certification trust error - auth failure"
Newly generated certificates does not trust each other.

Prometheus is exposed via proxy:
https://prometheus-k8s-openshift-monitoring.apps.mjudeikis-test.osadev.cloud
and proxy container tries auth to main external API URL:
[code]

1st. It uses external API URL, so if user breaks FQDN configuration of its own, all delegated auth apps (like cluster console, prometheus, registry console) will break.

[2019-03-11 14:28] mjudeikis commented on #1268
Question is should be be using external FQDN for auth, and if so, how we make sure all is trusted and working.

[2019-03-12 14:52] jim-minter opened #1272 "admin console branding follow-ups"
1) please can you launch a cluster, manually change your aad app secret to break the cluster, then try to log in to the cluster.  Do you get to a page which is incorrectly branded?  If so, need to fix - ping me to discuss.
2) once MSFT merge their TLS work and rebase, need to manually check with them that the new branding is appearing correctly on the cluster console
3) once https://github.com/ope

[2019-03-12 16:10] charlesakalugwu opened #1273 "Update e2e sanity checks to detect container restarts"
We need to update our e2e sanity checks to check for restarting containers after an update is performed to the cluster.

[2019-03-13 05:26] y-cote commented on #1187
Implemented with the release-note plugin in prow.

[2019-03-13 05:26] #1187 closed

[2019-03-13 07:10] y-cote opened #1275 "branding : copy the podAntiAffinity spec from console pods"
Update the deployment spec with necessary podAntiAffinity specification.

[2019-03-13 07:10] y-cote commented on #1275
/assign

[2019-03-13 17:28] mjudeikis opened #1278 "Input/output error when accessing disk"
If statefulset with PVC Claim template is restarted disk is remounted and if disk letter changes. This causes kubelet to lose disk mountpoint reference and try mounting non existing disk.

The expectation is that it should be using udev rules and if disk location changes, it should be resolved.

Similar issues:
https://github.com/kubernetes/kubernetes/issues/57444

Disk exist on Azure:
[code]

I c

[2019-03-13 20:07] mjudeikis opened #1280 "certificate chain parser/resolver"
We have certificate chains in a few places now.
An example here: https://github.com/openshift/openshift-azure/blob/master/pkg/config/derive.go#L269 we need only CA/Intermediate certificate when constructing a bundle.
In other places, we might need end-user certificate.

We need a function in `tls` package to take input `[]*x509.Certificate` and reconstruct chain, based on who signed which certific

[2019-03-14 15:17] thekad opened #1284 "upgrade is sending incorrect vnetID"
Currently, if you `./hack/upgrade.sh` any cluster, you get the following error back from the validation:

[code]

This happens with a brand new cluster, right after running `./hack/create.sh`. Need to investigate why this is happening: we're either sending an empty vnetID or not persisting the vnetID in the backend.

[2019-03-14 15:17] thekad commented on #1284
/kind bug
/assign

[2019-03-14 17:01] mjudeikis commented on #1278
https://github.com/coreos/prometheus-operator/issues/966 might be related to this
The issue is that Prometheus cluster operator does not allow/expose this configurable.
cc: @brancz

[2019-03-14 17:29] mjudeikis commented on #1278
[code]
Security context matches
[code]

I suspect random user changed

[2019-03-14 18:29] mjudeikis commented on #1278
disks not being cleaned:
[code]
![image](https://user-images.githubusercontent.com/3225744/54380526-9bcbde00-4683-11e9-9c72-ecf3509ca267.png)

Disks:
`Status:          Terminating (lasts 32m)`

[2019-03-14 19:39] mjudeikis commented on #1278
[code]
Mount after restart of the pod

[2019-03-14 19:56] mjudeikis commented on #1278
ok, I think if I restart Prometheus pod it will recover as disk might get remounted. What worries me is that Prometheus still thinks it is healthy despite the errors in the log:
[code]

[2019-03-15 08:24] brancz commented on #1278
The philosophy of Prometheus is that as a monitoring system we need to do our best to continue to provide alerting capabilities, if that means skipping over unrecoverable chunks of data at startup that's acceptable as the necessary data for alerting would be collected within 10 minutes or so. If you have that storage still though we could take a deeper look at whether this _could_ potentially be a

[2019-03-15 10:42] mjudeikis commented on #1278
look like storage reconcile process is not aware of disk state:
[code]
Deletion fails too:
[code]
Delete the app will solve the issue. Would be nice to have this as behaviour of the pod (and yes, this is underlaying infrastructure problem and we need to solve it)
[code]

[2019-03-15 11:03] mjudeikis opened #1288 "Update non-updatable objects - sync pod"
Some object cant be updated. In example StorageClass:
[code]
to
[code]

Error now:
[code]

Sync pod should know about these and after making diff, should delete and create, instead of patch.

/kind bug

[2019-03-15 11:44] mjudeikis commented on #1278
related to this: https://github.com/Azure/AKS/issues/297

[2019-03-15 15:56] jim-minter commented on #1104
closing for AZURE-294

[2019-03-15 15:56] #1104 closed

[2019-03-15 16:00] jim-minter commented on #1102
dial issues should now be fixed, `read: connection timed out` problems could still be happening

[2019-03-15 16:01] jim-minter commented on #1241
remove the rolebinding, test if things are working

[2019-03-15 16:01] #1268 closed

[2019-03-15 16:02] jim-minter commented on #1273
separate out into a long running / soak test job

[2019-03-15 16:04] jim-minter commented on #1247
calling this a duplicate of #1102

[2019-03-15 16:04] #1247 closed

[2019-03-15 16:05] jim-minter commented on #1180
@mjudeikis try increasing west europe quota up to 300

[2019-03-15 16:06] jim-minter commented on #905
believed fixed

[2019-03-15 16:06] #905 closed

[2019-03-15 16:06] jim-minter commented on #1077
haven't seen recently, reopen if needed

[2019-03-15 16:08] jim-minter commented on #850
not seen recently, reopen if needed

[2019-03-15 16:08] #850 closed

[2019-03-15 16:09] jim-minter commented on #661
haven't seen this recently, closing

[2019-03-15 16:15] #1275 closed

[2019-03-15 16:21] jim-minter commented on #1224
@sozercan there are multiple issues here ;)

* TLS handshake timeout - this is something we have instituted a retry policy for in master
* GetIPForMachineWithRetry looping - I believe this is expected kubelet behaviour on Azure?
* BlobNotFound - no idea why this is happening in 1.3, not proposing to look into it as the codebase is old.  If it happens on 2.x or later please LMK.

[2019-03-15 16:21] #1224 closed

[2019-03-15 16:21] #1217 closed

[2019-03-15 16:40] mjudeikis commented on #1278
Disk exist on Azure:
[code]

I can see disk in use on node device path 0:
[code]
Disk is mounted on machine as `sdd`:
[code]

But k8s does not mount it in the right place as there is no sdd:
[code]

but kubelet still thinks that disk is on `sdc` aka disk 3:
[code]

Partially related to: https://github.com/kubernetes/kubernetes/issues/57444
We have udev rules from waagent and we have `cachingmode:

[2019-03-15 17:29] mjudeikis opened #1293 "log level 8 - breaks cluster creation"
if log level set to 8 service catalog cant start:
[code]
with error
[code]

/kind bug

[2019-03-15 17:30] mjudeikis commented on #1293
[code]

[2019-03-15 17:32] mjudeikis commented on #1293
[code]

[2019-03-15 21:05] jim-minter commented on #1182
@mjudeikis if this can be closed, please close it

[2019-03-15 21:27] jim-minter commented on #1181
the labels chosen conflicted with the controllers, thus the sync pod was getting added to the controller service.  Also MSFT were looking at monitoring the sync pod via BBM when in fact we've got it covered with WBM.

[2019-03-15 21:27] #1181 closed

[2019-03-15 22:21] #1208 closed

[2019-03-16 01:12] jim-minter opened #1295 "don't use hardcoded quay.io/mangirdas/tlsproxy"

[2019-03-16 22:40] #1295 closed

[2019-03-17 17:53] jim-minter opened #1297 "500 Internal Error: UpdateWorkerAgentPoolUpdateScaleSet: Code="InternalExecutionError" Message="An internal execution error occurred.""
[code]

[2019-03-17 17:53] jim-minter commented on #1297
time (UTC): 2019-03-17T16:45:28Z
subscription: 225e02bc-43d0-43d1-a01a-17e584a4ef69
resourcegroup: e2e-dyvicpnl
scaleset: ss-infra-1552838711

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1282/pull-ci-openshift-openshift-azure-master-e2e-azure-forceupdate/36/build-log.txt

[2019-03-17 17:54] jim-minter commented on #1297
asking @amanohar for RCA

[2019-03-18 08:36] mjudeikis opened #1298 "retryingRoundTripper timer expired"
Seen this twice on my PR not related to this at all
[code]

/kind bug

[2019-03-18 16:25] mjudeikis commented on #1278
Updated with recent updates in the main issue description. Any comments above this message were just debugging notes. Please ignore them

[2019-03-18 17:54] mgahagan73 commented on #909
This commit on openshift/origin fixes the missing Wildfly image issue so we could update the testing container to include this commit if we do not want to include non-enterprise images. For the affected tests gathering all the container images for the various programming languages is a pre-flight test configuration issue so the image just needs to be present (or we need to not check for it as this

[2019-03-18 19:28] jim-minter opened #1299 "Load balancer availability problems"
Simple black box monitoring suggests that there are brief occasions where the Azure LB is not correctly forwarding incoming requests to API servers.  Investigate further.

[2019-03-19 11:09] #1182 closed

[2019-03-19 11:17] mjudeikis commented on #1180
Submitted. waiting

[2019-03-19 18:15] thekad commented on #1284
Fixed by #1302

[2019-03-19 18:15] #1284 closed

[2019-03-19 18:22] jim-minter commented on #1201
when it comes, looks like cmo >= 3.11.92 should have this fix

[2019-03-19 18:26] jim-minter commented on #1272
when it arrives, console >= 3.11.94 should support azure branding

[2019-03-20 15:14] mjudeikis opened #1308 "fakerp - partial delete broken"
iI we want to delete cluster when it failed in flight, it is broken because config persistency moved to end of cluster creation.

[code]

/kind bug

[2019-03-20 15:14] mjudeikis commented on #1308
ga label because it is blocker for testing

[2019-03-20 23:57] thekad opened #1312 "Scrape haproxy metrics"
Need a ServiceMonitor to scrape haproxy metrics. Look at the etcd ServiceMonitor as a reference and then figure out the best set of metrics to scrape.

[2019-03-20 23:58] jim-minter commented on #1312
cc @Makdaam

[2019-03-21 06:09] #1308 closed

[2019-03-21 12:02] mjudeikis opened #1314 "Infra node scale-up startup script failure"
Scaling infra nodes for update fails with error:
[code]
/kind bug

[2019-03-21 13:00] mjudeikis commented on #1314
SAS URL is not populated:
[code]

[2019-03-21 13:01] mjudeikis commented on #1314
/cc @jim-minter FYI. checking it now.

[2019-03-21 14:28] mjudeikis commented on #1314
[code]

[2019-03-21 15:23] #1314 closed

[2019-03-22 09:34] mjudeikis opened #1322 "upgrade tests broken"
After adding new validation source->master upgrade tests are broken:
[code]

/kind bug

[2019-03-22 11:51] mjudeikis opened #1325 "upgrade fail - sync pod upgrade"
[code]

Might be flake, retesting

[2019-03-22 12:52] mjudeikis opened #1326 "revert upgrade validation blocker"
revert https://github.com/openshift/openshift-azure/pull/1323
We need to re-enable upgrades for GA.

[2019-03-22 12:57] mjudeikis commented on #1325
twice in a row:
[code]

[2019-03-22 14:02] #1325 closed

[2019-03-22 15:56] #1322 closed

[2019-03-22 16:24] mjudeikis opened #1332 "StorageAccountOperationInProgress arm failure"
[code]

/kind test-flake

https://github.com/openshift/openshift-azure/pull/1328
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1328/pull-ci-openshift-openshift-azure-master-e2e-azure/2982

[2019-03-22 17:12] mjudeikis commented on #1278
So disk was fake mounted and somehow resolved:
from: https://github.com/kubernetes/kubernetes/blob/81af41836b347cdb2ee9138c728cc7516d3dd126/pkg/volume/azure_dd/azure_mounter.go#L167
[code]
But how it mounted on the wrong letter... somewhere race condition happend.
[code]

[2019-03-22 17:59] mgahagan73 commented on #909
Extended.[sig-api-machinery] Namespaces [Serial] should always delete fast (ALL of 100 namespaces in 150 seconds) [Feature:ComprehensiveNamespaceDraining] [Suite:openshift/conformance/serial] [Suite:k8s]
Extended.[sig-api-machinery] Namespaces [Serial] should delete fast enough (90 percent of 100 namespaces in 150 seconds) [Suite:openshift/conformance/serial] [Suite:k8s]

These two look like legit

[2019-03-22 21:06] jim-minter commented on #1278
https://bugzilla.redhat.com/show_bug.cgi?id=1691932

[2019-03-23 01:42] julienstroheker opened #1334 "Scale cluster deployed using old version of the plugin failing"
When i'm trying to scale an old cluster deployed with plugin release `v3.0` using `v3.2` release I'm having the following message :

[code]

[2019-03-24 01:34] jim-minter opened #1336 "elb timed out waiting for the condition"
[code]

in artifacts:
[code]

[2019-03-24 01:34] jim-minter commented on #1336
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1335/pull-ci-openshift-openshift-azure-master-e2e-azure-scaleupdown/78

[2019-03-24 01:35] jim-minter commented on #1336
very strange: creating the *external* load balancer, Azure invalid resource reference against kubernetes-*internal* load balancer?

[2019-03-24 01:51] jim-minter commented on #1334
The general error is expected because the cluster was not built with v3.2.

The fact that the old cluster is reporting version "v0.0" is a little unexpected; I think it is almost certainly because you originally built that cluster vendoring a point-in-time commit of master.

When you did that, we were setting version to v0.0 in pluginconfig-311.yaml in master, so that's how that text got there.

W

[2019-03-25 13:38] jim-minter opened #1339 "images built by CI are tagged -dirty"
CI is now building our disk images semi-reliably, but for some reason the Image resource in the images resource group ends up being tagged with gitcommit `{commit}-dirty`.  Please investigate and fix.

[2019-03-25 13:57] jim-minter opened #1340 "log deployment status when it times out"
The following is an e2e test run where the deployment timeout expired after 30 minutes

[code]

Please detect such cases in GetDeployer(), then fetch the deployment object and log its status so we can better see what is hanging.

[2019-03-25 16:59] jim-minter opened #1343 "ResourcePurchaseCanceling error on create"
Seen this on create:

[code]

Please add a retry to GetDeployer to handle this, retry up to 3 times, then fail if still not working

[2019-03-25 16:59] jim-minter commented on #1343
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1331/pull-ci-openshift-openshift-azure-master-e2e-azure-scaleupdown/91

[2019-03-25 19:47] jim-minter opened #1345 "Unit test which compiles all templates"
https://github.com/openshift/openshift-azure/blob/master/pkg/sync/v4/sync_test.go#L66 is a unit test which checks that all the pkg/sync templates compile and run correctly.

Need equivalent test for pkg/vmimage, pkg/startup, pkg/arm

[2019-03-25 19:57] thekad commented on #1345
/area tests

[2019-03-25 20:02] thekad opened #1347 "Fix bushslicer login process"
The bushslicer jobs are relying on some deprecated funtionality to login to their clusters like https://github.com/openshift/release/blob/master/ci-operator/templates/openshift/openshift-azure/cluster-launch-e2e-azure.yaml#L220-L224
Need to allow bushslicer access to the cluster in the same vein as customeradmin does at the moment.

[2019-03-25 20:02] thekad commented on #1347
/area tests
/kind enhancement

[2019-03-26 13:35] mjudeikis opened #1350 "v3.2 -> v4 upgrade fail"
Sync pod fails to run after node rotation:

[code]

/kind bug

[2019-03-26 17:33] jim-minter commented on #1102
dial timeout issue at
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1349/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/15/build-log.txt

[2019-03-26 18:44] jim-minter commented on #1350
doh!

This is caused as follows:
* deploy v3.2 cluster using v3.2 codebase - works
* logic error: upgrade-e2e.sh does not actually request a cluster upgrade, so one does not take place
* redeploy v3.2 cluster using v4.0 codebase - fails because v3.2 sync pod fails to validate because RunningUnderTest has been removed from the config blob in v4.0 - another logic error

both of these are good catche

[2019-03-26 21:11] charlesakalugwu opened #1356 "Timeout waiting for master-000000 to be ready"
Sometimes we see the following errors"

[code]

sample artifacts: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1349/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/15/

/kind test-flake

[2019-03-26 21:13] jim-minter commented on #1356
duplicate of #1102

[2019-03-26 21:13] #1356 closed

[2019-03-26 22:01] jim-minter opened #1358 "test to prove scaling a v3 cluster on a v4 plugin does not rotate"
need an e2e to prove scaling a v3 cluster on a v4 plugin does not rotate any nodes

@mjudeikis fyi

[2019-03-27 00:25] thekad commented on #567
Should be fixed by #1342

[2019-03-27 00:46] #1339 closed

[2019-03-27 01:55] #1350 closed

[2019-03-27 13:09] Makdaam opened #1362 ""checkMonitoringStackHealth" timed out - disk related"
I can't reliably reproduce this flake. Seems to be a timeout after running a long list of e2e tests (sometimes the monitoring stack doesn't come back in time to pass the test).

[code]
/kind test-flake

[2019-03-27 14:26] mjudeikis commented on #1362
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1361/pull-ci-openshift-openshift-azure-master-e2e-azure/3077

One more. I suspect it will underlaying disk issue.

[2019-03-27 14:39] charlesakalugwu opened #1363 ""connection timed out" for Sanity Checker's"
We are seeing some flakes wherein the CreateStatefulApp task of the e2e Sanity Checker times out.

[code]
sample artifacts:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1351/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/48

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1351/pull-ci-

[2019-03-27 14:47] mjudeikis commented on #1362
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1346/pull-ci-openshift-openshift-azure-master-e2e-azure/3085
one more

[2019-03-27 15:05] mjudeikis commented on #1362
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1346/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/52
Starting to think this is not a flake...

[2019-03-27 17:04] charlesakalugwu commented on #1336
another one: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1351/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/54

[2019-03-27 22:36] thekad commented on #567
I seem unable to close this issue.

[2019-03-27 23:32] jim-minter commented on #1332
I think this is low-ish priority: the *deployment* retry code in production is owned by MSFT.  If we see this lots in CI we can implement retry, otherwise leave.

[2019-03-27 23:39] asalkeld commented on #1358
/assign

[2019-03-27 23:39] #1326 closed

[2019-03-27 23:43] jim-minter commented on #1363
possibly another manifestation of #1102

[2019-03-28 00:24] #1180 closed

[2019-03-28 00:50] jim-minter commented on #1362
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1361/pull-ci-openshift-openshift-azure-master-e2e-azure/3077 is not an instance of this problem!

In https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1346/pull-ci-openshift-openshift-azure-master-e2e-azure/3085, I think the following is going on:

r

[2019-03-28 00:51] jim-minter commented on #1362
I think https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1346/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/52 is more likely a duplicate of #1363.

[2019-03-28 01:13] jim-minter commented on #1362
[azure-activity.log](https://github.com/openshift/openshift-azure/files/3015834/azure-activity.log)
[controllers.log](https://github.com/openshift/openshift-azure/files/3015835/controllers.log)
[kubelet.log](https://github.com/openshift/openshift-azure/files/3015836/kubelet.log)

[2019-03-28 01:46] andyzhangx commented on #1362
the key error message is `Cannot find Lun for disk kubernetes-dynamic-pvc-0fc52771-5094-11e9-ac50-000d3a173d35"`, I think at that time period(13:27:39 ~13:28:43), that disk is actually not attached to the node

[2019-03-28 01:54] jim-minter commented on #1362
The kernel logs show a disk being attached at 13:27:51.  `Cannot find Lun` is still reported at 13:28:11.

Each `MountVolume.WaitForAttach entering` message is followed by a `Cannot find Lun` message, except for the `MountVolume.WaitForAttach entering` message at 13:28:43.041687.  What happens after that call?

[2019-03-28 01:56] thekad opened #1371 "Push router stats to geneva"
Main router stats should be scraped and pushed up to geneva. Decide what metrics make sense to consume
cc @Makdaam

[2019-03-28 01:56] thekad commented on #1371
/kind enhancement

[2019-03-28 02:00] jim-minter commented on #1362
all kernel logs for that time period:
[code]
Looks like no attempt to mount a filesystem on that volume.

[2019-03-28 03:27] andyzhangx commented on #1362
@jim-minter
this PR may fix your issue: https://github.com/kubernetes/kubernetes/pull/70002, detailed of this issue: https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#13-cannot-find-lun-for-disk

[2019-03-28 11:45] mjudeikis commented on #1362
We are running 1.11.1 [1]. Looks like your change is in 1.11.5+ [2]
@jim-minter how do we address rebase in case of this scenario?

[1] https://github.com/openshift/origin/blob/release-3.11/glide.yaml#L37
[2] https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#13-cannot-find-lun-for-disk

[2019-03-29 04:10] asalkeld commented on #958
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1370/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/100/build-log.txt

[code]

[2019-03-29 04:10] asalkeld commented on #958
/open

[2019-03-29 04:42] asalkeld commented on #958
/joke

[2019-03-29 04:45] asalkeld commented on #958
@mjudeikis can you try reopen this please, it doesn't listen me :-( at least it tells me jokes :-)

[2019-03-29 04:48] asalkeld commented on #1298
another one here https://github.com/openshift/openshift-azure/pull/1370

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1370/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/108/build-log.txt
[code]

[2019-03-29 04:51] asalkeld commented on #1362
another one:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1370/pull-ci-openshift-openshift-azure-master-e2e-azure-scaleupdown/222

[2019-03-29 09:34] mjudeikis commented on #1363
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1377/pull-ci-openshift-openshift-azure-master-e2e-azure/3178
Azure disk gave this error too. Does not look like it is resource dependent.

[2019-03-29 09:51] mjudeikis commented on #1363
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1360/pull-ci-openshift-openshift-azure-master-e2e-azure/3188
Few in one place

[2019-03-29 10:47] mjudeikis commented on #1363
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1360/pull-ci-openshift-openshift-azure-master-e2e-azure/3191

[2019-03-29 10:53] mjudeikis commented on #1363
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1357/pull-ci-openshift-openshift-azure-master-e2e-azure/3190

[2019-03-29 11:02] kargakis commented on #958
/reopen

[2019-03-29 11:03] kargakis commented on #958
@asalkeld edited comments are not processed by prow, fyi

[2019-03-29 11:12] mjudeikis commented on #958
![image](https://user-images.githubusercontent.com/3225744/55228942-76a6a600-5213-11e9-95e3-2bd54804b994.png)
@kargakis

[2019-03-29 11:37] mjudeikis commented on #1363
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1377/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/110

[2019-03-29 13:21] kargakis commented on #958
:rofl: :rofl: :rofl:

[2019-03-29 14:38] mjudeikis commented on #1363
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1360/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/119

[2019-03-29 14:44] mjudeikis commented on #1363
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1360/pull-ci-openshift-openshift-azure-master-e2e-azure/3199

[2019-03-29 14:57] jim-minter opened #1381 "Improve Geneva log indexing/scoping"
At the moment we can scope Geneva log volume server side down to a known cluster.

It would be useful to be able to carry out cross-cluster log searches against a particular component (e.g. search kernel/kubelet/apiserver/etc. logs across all clusters).

First step is to be able to expose the right fields at low cardinality for indexing.  SYSLOG_IDENTIFIER is already pretty useful, for example.
1)

[2019-03-29 15:11] thekad commented on #567
/close

[2019-03-29 15:11] #567 closed

[2019-03-29 18:51] jim-minter commented on #1362
Backporting the kubernetes PR seems to help, going to capture kubelet goroutine dumps before applying the PR just to understand what's going on better.

`curl --cert ./cert --key key -k https://localhost:10250/debug/pprof/goroutine?debug=2`

[2019-04-01 04:28] asalkeld commented on #1336
So I have spent some time reading the azure cloudcontroller code and there maybe some explanations for the internal/external confusion.. (it's quite convoluted, so i could be wrong too).

we are creating 2 services elb (external) and ilb (internal).

1.
the loadbalancer's names are created based on:
[clusterName] (for external lb)
[clusterName]-internal (for internal lb)

https://github.com/kubern

[2019-04-01 04:37] asalkeld commented on #1336
because of the above, I might create and wait for each lb before moving onto the next one.

[2019-04-01 06:48] asalkeld commented on #382
go tool cover -func=coverage.out | grep "pkg/cluster" | sort -n -k 3 -r
github.com/openshift/openshift-azure/pkg/cluster/updateblob/types.go:24:						NewUpdateBlob						100.0%
github.com/openshift/openshift-azure/pkg/cluster/updateblob/marshal.go:11:						MarshalJSON						100.0%
github.com/openshift/openshift-azure/pkg/cluster/scaler/scaler.go:93:							Scale							100.0%
github.com/openshift/open

[2019-04-01 07:45] mjudeikis commented on #1336
I think this might be worth upstream issue too.

[2019-04-01 08:30] mjudeikis commented on #1336
Checked the logs and looks like this is a case, they are starting in sequence, only when one reconcile process is done.
![image](https://user-images.githubusercontent.com/3225744/55313835-aa2a4000-5460-11e9-9787-8f136cb372ca.png)

[2019-04-01 08:54] #1358 closed

[2019-04-02 02:30] jim-minter opened #1395 "Machine boot logs missing"
We don't see the full logs of a machine in Geneva - importantly the kubelet, apiserver, etcd etc. startups are missing.

e2e-upgrade-jim-minter-1394-joqmkf is an example cluster - all logs cut in at around 2/4/2019  01:16 UTC and startup logs are missing.

[2019-04-02 02:30] jim-minter commented on #1395
@charlesakalugwu please can you look at this urgently?

[2019-04-02 02:39] jim-minter opened #1396 "kdump not configured"
kdump isn't configured on our nodes and there is no console serial access using VMSS.

install kdump into our VM image and configure it.  Test manually that provoking a kernel panic results in a usable dump and that the machine reboots.