[2018-06-25 13:30] kargakis opened #1 "stop generating bootstrap autoapprover in the ccp"

[2018-06-25 13:51] kargakis opened #2 "Consider using k8s deployments vs DCs for infra components"
[code]
It's unfortunate watching our infra deployment configs fail because the deployer pod never managed to run or failed. These processes do not need the extra APIs provided by DCs and should retry indefinitely.

[2018-06-25 14:06] kargakis opened #3 "service catalog does not have enough access to run"
[code]

[2018-06-25 14:58] kargakis opened #4 "service catalog does not come up, addon installation gets stuck"
Probably because of https://github.com/jim-minter/azure-helm/blob/975dca4facd5c22af5b4c88182e55dd60e2a81ad/pkg/addons/addons.go#L153-L154

Tracking the TODO here

[2018-06-25 15:09] kargakis opened #5 "oc logs does not work"
[code]

[2018-06-25 15:52] kargakis opened #6 "kubernetes service deployed in the ccp is broken"
[code]
Likely needs some iptables magic

[2018-06-26 11:43] kargakis commented on #3
We need to duplicate configmap `extension-apiserver-authentication` in both the hcp and the ccp. :/

@jim-minter

[2018-06-26 12:03] jim-minter commented on #3
I was thinking we might be able to make it work whereby the HCP SC crashlooped until the addon manager added extension-apiserver-authentication.

[2018-06-26 12:06] kargakis commented on #3
Ah, we probably want to disable mounting the default service account token and mount a kubeconfig that can make the service account talk to the ccp.

[2018-06-26 12:06] kargakis commented on #3
Ah, we probably want to disable mounting the default service account token and mount a kubeconfig that can make the service catalog talk to the ccp.

[2018-06-26 14:33] kargakis opened #8 "router fails to deploy"
[code]

[2018-06-26 14:36] kargakis opened #9 "create docker registry init container to setup storage account"
Currently fails to deploy

[code]

[2018-06-26 15:20] kargakis opened #10 "Move service catalog controller on the hcp"
As discussed in scrum today

We will also want to clean up both daemon sets from the ccp

[code]

[2018-06-26 17:18] #3 closed

[2018-06-26 17:19] kargakis opened #11 "Use a more restricted kubeconfig for the service catalog apiserver"
Currently uses admin.kubeconfig

[2018-06-26 18:19] #6 closed

[2018-06-27 10:43] kargakis opened #14 "Figure out whether we want to manage addons via image streams"
https://github.com/jim-minter/azure-helm/tree/master/pkg/addons/data/ImageStream.image.openshift.io

I guess we need to agree on how addon updates are going to be triggered.

[2018-06-27 14:11] kargakis opened #17 "Use fully qualified URL in CCP service catalog service"
To avoid hijacking the connection when someone creates a servicecatalog-api service in the inner cluster.

[2018-06-27 15:21] #2 closed

[2018-06-27 15:22] #1 closed

[2018-06-27 16:03] kargakis opened #19 "service catalog and bootstrap autoapprover crashloop until master lb is up"
Can be avoided by using kubeconfigs that use the internal DNS name of the core apiserver.

[2018-06-27 16:46] kargakis opened #21 "panic: couldn't find kind ClusterServiceBroker"
[code]

During the addons installation

[2018-06-28 08:03] kargakis opened #22 "invalid SC certificate"
Seeing the following in the core apiserver log
[code]
Unclear how safe it is to add the CCP service name in the SC cert but opening a PR anyway to test and discuss.

@jim-minter @pweil- @liggitt

[2018-06-28 11:39] #9 closed

[2018-06-28 11:45] #21 closed

[2018-06-28 11:45] #22 closed

[2018-06-28 14:49] pweil- commented on #8
This fixed.

[2018-06-28 14:50] pweil- opened #25 "router stats scrape fails"
But the router comes up ok.

[code]

[2018-06-28 14:59] kargakis opened #27 "deploy TSB on CCP"

[2018-06-28 14:59] kargakis opened #28 "deploy ASB on CCP"

[2018-06-28 15:00] kargakis opened #29 "Cluster service broker URLs need to be fully-qualified"
I think that should work. Now, the SC controller manager tries to get the service brokers from HCP and of course it fails.

[2018-06-28 15:02] #10 closed

[2018-06-29 00:21] jim-minter opened #34 "vm-compute-0 can't contact apiserver"
reproducer: run `oc new-app nginx`, deploy pod fails unable to contact apiserver.  On the node, `curl https://172.31.0.1` hangs.  Doesn't seem to happen on vm-infra-0.

[2018-06-29 00:28] jim-minter commented on #34
The tunnel connection is currently quieter on vm-compute-0 because it doesn't handle cluster traffic (yet).  I think the issue is that some gateway between client and server is forgetting the connection and a TCP reset either isn't sent or gets lost.  I'm suspicious of Azure LB, especially since Kubernetes enables "Floating IP (direct server return)".

fbc66015886e314ce7b7920f19d6dd659767f74f adds

[2018-06-29 00:30] jim-minter commented on #34
A diagnostic is that when this happens, `netstat` on the client reports the Send-Q associated with the connection as being non-zero and `tcpdump` shows repeated unacknowledged attempts to send data to the server.

[2018-06-29 09:34] #29 closed

[2018-06-29 09:35] kargakis commented on #28
ASB get deployed on the CCP already; asb etcd is missing

[2018-06-29 11:47] pweil- commented on #34
TCP resets not being sent were an issue with the cloud provider as well. :(

On Thu, Jun 28, 2018 at 20:30 Jim Minter <notifications@github.com> wrote:

[2018-07-02 07:36] kargakis opened #42 "Directory permission is needed for the current user to register the application"
[code]
@jim-minter

[2018-07-02 16:03] kargakis commented on #28
asb 3.10 uses CRDs, no etcd is needed

[2018-07-02 16:03] #28 closed

[2018-07-02 16:08] #42 closed

[2018-07-03 09:02] kargakis opened #44 "Prioritize sdn creation in addon sync"
We will be able to squeeze more time out of cluster bootstrap if we optimize addon creation (create SDN before any other pod so nodes can turn ready asap and new pods get scheduled as soon as they get created.

@jim-minter @pweil- @mjudeikis

[2018-07-03 09:04] kargakis opened #45 "Cannot sign in to the webconsole using AAD"
[code]
Api server log:
[code]

[2018-07-03 11:57] jim-minter commented on #44
The addon creation process tends to complete before the nodes have even booted.  Does the kubelet order pod creations by creationTimestamp or something?  I think the difficulty is more around the size of the container images we ship.

[2018-07-03 12:59] kargakis commented on #44
Hrm, I think you are right. The fact that we don't see the sdn pods created asap is because daemon set pods get created when nodes first register in the cluster.

[2018-07-03 13:45] pweil- commented on #44
Pod priority classes will only help with scheduling.  Higher priority classes will be scheduled first if the can be.  If the issue is unready nodes or long docker pulls I don't think there is much that can be done other than pre-population of images.

[2018-07-03 15:31] mjudeikis commented on #45
Did you use aad integration? worked for me when `AZURE_CLIENT_ID` is not set I got new app instance created with right callback url.
If `AZURE_CLIENT_ID` to generic one with wrong callback url (example https://localhost), this errors is seen.

[2018-07-03 15:49] kargakis commented on #45
Hrm, maybe that's it. I expose AZURE_CLIENT_ID by default in my env. Need to retry w/o it.

[2018-07-03 15:49] #45 closed

[2018-07-03 15:52] jim-minter commented on #34
app level heartbeat was added.

[2018-07-03 15:52] #34 closed

[2018-07-03 15:53] #8 closed

[2018-07-03 15:53] jim-minter commented on #5
waiting on https://github.com/openshift/origin/pull/20074

[2018-07-04 08:20] kargakis opened #48 "Figure out how to regenerate config for individual components"
We should be able to regenerate config for individual components while retaining the rest of the config.

eg. I want to regenerate only the SC certificates, or the docker registry config, or ....

@jim-minter @pweil- @mjudeikis @kwoodson

[2018-07-04 09:49] kargakis commented on #19
Unfortunately both components are going to crashloop until the appropriate roles and rolebindings get created in the CCP cluster anyway.

[2018-07-04 09:49] #19 closed

[2018-07-04 11:05] kargakis commented on #44
ack

closing in favor of https://trello.com/c/gqaNTmqj/155-images-low-priority-consider-prebaking-docker-images-into-golden-images

[2018-07-04 11:05] #44 closed

[2018-07-04 12:04] kargakis commented on #4
Supposedly, if the SC apiserver cannot run, the servicecatalog resources will not be registered in the API, so the clusterservicebrokers cannot be created?

[2018-07-04 12:09] #11 closed

[2018-07-04 13:11] jim-minter commented on #48
The way I'd thought of doing this was by only generating dynamic config values (e.g. certs) if they don't exist.  That way regeneration of a value (e.g. cert rotation) would be triggerable by deleting the old value.

I'd supposed that in the upgrade code, we'd have a pre-hook before running generate which would have the capability to delete config values that needed to be regenerated for whatever

[2018-07-05 12:17] #48 closed

[2018-07-05 21:46] jim-minter commented on #5
fixed!!

[2018-07-05 21:46] #5 closed

[2018-07-06 16:24] #14 closed

[2018-07-09 10:19] mjudeikis opened #63 "osaapi branch vendoring broken"
Current glide config does not configure dependencies right.
brach: `externalapi`
[code]

[2018-07-09 12:19] mjudeikis opened #64 "sync process is not error prune"
Sync process panics if dns is not resolvable:
[code]

cc: @jim-minter , this is what I was telling you on Friday :)

[2018-07-11 16:01] mjudeikis opened #69 "Testing pre-release with AKS/HCP"
Currently our used `aks` model cant pull from our pre-release registry in aws:
[code]

so testing cant be done with pre-release rhel.

We need way to inject our pull secrets and define pre-release images with full FQDN when testing rhel :/

[2018-07-11 16:01] mjudeikis commented on #69
cc: @kargakis @jim-minter  @pweil-

[2018-07-11 16:19] mjudeikis commented on #69
Nodes works just fine with changes:
[code]

[2018-07-12 14:19] kargakis commented on #64
Closing in favor of https://trello.com/c/QwvKGmOF/167-hcp-sync-pod-must-be-tolerant-of-api-server-restarts

[2018-07-12 14:19] #64 closed

[2018-07-12 14:20] kargakis commented on #69
Is this covered by https://trello.com/c/fn4hnPT4/173-3-images-build-rhel-310-image-for-hcp-testing?

[2018-07-12 14:20] #4 closed

[2018-07-12 14:22] mjudeikis commented on #69
trying to cover under the same story. 70% PR done for this on auzre-helm side and later ansible

[2018-07-12 14:22] kargakis commented on #17
It seems that knowing a priori the namespace in the k8s underlay where a HCP will run is complicated which is a showstopper for using underlay's DNS.

[2018-07-13 08:56] mjudeikis opened #73 "etcd operator needs cluster role binding"
If we say we want to run one operator per customer (one operator managed one etcd cluster) we will need to create ClusterRole and ClusterRoleBinding for that operator serviceaccount (or default one).

This implies we:
1. Will have cluster-admin kubeconfig to do so.
2. We will have to know namespace of HCP in the config when generating.

If we would run one global operator we still need same, but t

[2018-07-13 08:57] mjudeikis commented on #17
We have a similar case for etcd-operator. We need a namespace to create RBAC + right to grant right permissions.
https://github.com/jim-minter/azure-helm/issues/73

[2018-07-13 09:46] #73 closed

[2018-07-13 15:10] mjudeikis opened #75 "etcd operator storage, crd and certificate issues"
The plan was to use `etcd-operators`. Now where we struggle.

First, we need to know the namespace when generating certificates.  This is because of
https://github.com/coreos/etcd-operator/blob/70d3bd74960dc7127870a393affffbe1df94728e/pkg/util/etcdutil/member.go#L38-L40
The result is that etcd advertises itself with `name.namespace.svc` and we need to have this in the certificates.

Second (and a

[2018-07-13 15:25] kargakis commented on #75
How about opening a PR to make this configurable?

How about an init container in the etcd operator deployment, to ensure that both the azure container and storage account are created before etcd comes up? And move backup operator to run as a second container in the etcd operator deployment?

I like to think of the CRD as a global default in every underlay cluster. Our etcd operators shouldn't nee

[2018-07-13 15:30] mjudeikis commented on #75
We could do something like this. Run all 3 operators in one pod. Question is it acceptable that etcd-controller provisions storage for itself and creates a secret for it (I think yes). The question which credential we should use to storage all these "backup storage accounts"

Agreed. We just need nice way to manage and lifecycle them too,.

[2018-07-16 09:33] pweil- commented on #75
The operator is used for aks. Might be a good topic for the sync call. I’d
review the aks hrlm charts too.

On Fri, Jul 13, 2018 at 11:30 Mangirdas Judeikis <notifications@github.com>
wrote:

[2018-07-16 09:59] mjudeikis commented on #75
@pweil- It can be used but we need to agree on how. Sync call would be good. Check google doc in the email with small review. Is there any change I can get access to azure repo too?

[2018-07-17 11:09] mjudeikis opened #79 "clean prometheus config"
Prometheus currently has default config to scrape all components, including control plain. need to stip it down.
![screenshot from 2018-07-17 12-08-09](https://user-images.githubusercontent.com/3225744/42813837-2b017d28-89ba-11e8-90c1-5528fb196a46.png)

[2018-07-17 12:50] kargakis commented on #79
Default prometheus is supposed to scrape the control plane. It seems we need to fix the endpoints to scrape the components correctly.

[2018-07-17 12:58] mjudeikis commented on #79
yes :) was cleaning router scape config and this came up.

[2018-07-17 13:08] mjudeikis opened #80 "nodes cant "speak" to each other"
Prometheus is running on infra and trying to scrape nodes (or versus).
[code]

![screenshot from 2018-07-17 14-07-53](https://user-images.githubusercontent.com/3225744/42819218-d41daa66-89ca-11e8-84a7-a8d4e561825b.png)

[2018-07-17 13:09] mjudeikis commented on #80
related: https://github.com/jim-minter/azure-helm/issues/79

[2018-07-17 13:10] mjudeikis commented on #80
cc: @kargakis one more :) This will be security group related

[2018-07-17 13:20] mjudeikis commented on #80
[code]

[2018-07-17 19:16] kwoodson opened #81 "unable to build cakephp-mysql"
After finishing a recent deploy, I attempted to build a cakephp-mysql application from the console.  It failed with the following build errors:
[code]

I then did an image import:
[code]

Then I attempted to start a build:
[code]

Fetched the logs:
[code]

Nodes are up and running:
[code]

Pods for this cluster are healthy:
[code]

Any ideas why this is failing?

[2018-07-18 13:44] kargakis opened #83 "The maximum number of data disks allowed to be attached to a VM of this size is 4."
[code]
etcd cannot get deployed; cluster is broken

We probably want to revert https://github.com/jim-minter/azure-helm/pull/65

@jim-minter @mjudeikis @kwoodson

[2018-07-18 13:44] kargakis commented on #83
Or deploy an aks cluster where we can run with more than 4 disks attached to a VM in parallel (if possible)

[2018-07-18 13:50] kargakis commented on #83
Fixed by https://github.com/jim-minter/azure-helm/pull/85

[2018-07-18 13:50] #83 closed

[2018-07-18 16:24] jim-minter opened #89 "consider using github.com/pkg/errors.Wrap"
Using the above would improve the quality and traceback of our errors and reduce the amount of logging we have to do

[2018-07-18 16:36] jim-minter opened #90 "sync process shouldn't call Enrich"
Enrich is a fix-up function.  There should probably be fields in the external API representation for everything that Enrich adds, so that the function itself can be removed.  The enriched external API representation can be passed over to the sync pod, and it then shouldn't need environment variables like RESOURCEGROUP to be set.

[2018-07-18 17:50] jim-minter opened #91 "simplify helm/data/values.yaml, helm/chart/templates/Secret/sync.yaml"
both of these files are largely piping config entries around and must be updated every time we update configurables.  Is it possible to simplify this?

[2018-07-19 12:10] mjudeikis opened #94 "rolebindings gets overwritten by upgrade.sh"
How to recreate:

1. Create a cluster
2. `oc adm policy add-cluster-role-to-user cluster-admin demo`
3. Run upgrade.sh
4. Enjoy lost privileges.

[2018-07-19 16:43] mjudeikis commented on #25
right config:
https://discourse.haproxy.org/t/haproxy-stats-over-https-only/632/4
our haproxy template:
https://github.com/openshift/origin/blob/6c639af3985de43e99fa34f260f9a0a79df87155/images/router/haproxy/conf/haproxy-config.template#L130****
our prometheus:
https://github.com/openshift/origin/blob/60a595ad74ae242b5dc91c7b0915805b6b4dfe96/examples/prometheus/prometheus.yaml#L712

Metrics is exp

[2018-07-19 21:18] kargakis opened #97 "Investigate dropping RunSyncLocal from config"
We can pass environment variables in helm via `helm install --set`, figure out whether we can get rid of the config field.

[2018-07-20 10:47] #63 closed

[2018-07-20 16:15] mjudeikis opened #100 "fix and re-enable prometheus job 'kubernetes-controllers'"
job_name: 'kubernetes-controllers' is disabled as it needs certain access to HCP to scrape the endpoints. Need to be fixed and re-enabled.

[2018-07-20 16:16] mjudeikis opened #101 "openshift router stats endpoints in non TLS"
currently haproxy exposes metrics in non-tls mode:
openshift/origin#20375

When this solved upstream, fix our code to scrape TLS endpoints.

[2018-07-20 17:09] mjudeikis opened #102 "[card/story] for BYO-VNET add internal LB option"
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_loadbalancer.go#L37

for BYO VNET we would like to have the ability to use internal loadbalancer.

Test and check if anything needs to be done.

[2018-07-20 19:31] mjudeikis opened #103 "Upgrade Services fails"
[code]

cc @jim-minter  looks like handling clusterIP is not only for Type Loadbalancer.

[2018-07-23 07:37] mjudeikis opened #105 "rollback firewall change for 9100"
When this gets merged, rollback our change
https://github.com/openshift/openshift-ansible/pull/9172  and follow this one

[2018-07-23 11:03] mjudeikis commented on #80
closed via https://github.com/openshift/openshift-ansible/pull/9292

[2018-07-23 11:03] #80 closed

[2018-07-26 10:47] kargakis commented on #91
helm goes away

[2018-07-26 10:47] #91 closed

[2018-07-26 10:58] kargakis commented on #101
dupe of https://github.com/jim-minter/azure-helm/issues/25

[2018-07-26 10:58] kargakis commented on #25
@mjudeikis still an issue?

[2018-07-26 11:05] mjudeikis commented on #25
will be fixed by https://github.com/jim-minter/azure-helm/pull/77

[2018-07-26 11:06] mjudeikis commented on #101
Not quite. We fixed by moving to http.  So scrape works, but upstream need to fix and do it properly via https

[2018-07-26 11:20] kargakis commented on #101
Upstream issue?

On Thu, Jul 26, 2018, 13:07 Mangirdas Judeikis <notifications@github.com>
wrote:

[2018-07-26 13:29] #89 closed, assigned to nobody

[2018-07-26 15:30] kargakis commented on #90
Hrm, it seems the sync plugin needs the tenant id to populate `azure.conf` in a secret used by the docker registry.

[2018-07-26 21:29] mjudeikis commented on #79
/close

[2018-07-26 21:29] #79 closed

[2018-07-26 21:29] #100 closed

[2018-07-27 07:48] kargakis commented on #94
/kind bug

[2018-07-27 07:50] mjudeikis commented on #94
forgot we have this stuff now :D

[2018-07-27 07:53] kargakis commented on #94
Labels in our repo are still not synced, kicked the label sync job.

[2018-07-27 10:04] mjudeikis opened #112 "[Testing] testing requirements"
For full CI/CD we will need to enhance our testing and image resolve capabilities.

We have a few types of `OKD` related testing.
1. Images build part of the core origin repo (all in the control-plain)
2. Images built from individual repositories (all in addons/plugins part)

1. Any commits to `origin` repo will need to get job triggered and ONLY control plain images overwritten (list https://gith

[2018-07-27 10:06] mjudeikis commented on #112
This is situation now :
[code]

Core images with oreg_url (from aws registry are fine) but any other ones need "other home"

[2018-07-27 10:13] mjudeikis commented on #102
close in favor of https://jira.coreos.com/browse/AZURE-87

[2018-07-27 10:13] #102 closed

[2018-07-27 10:31] kargakis commented on #75
/kind feature

[2018-07-27 10:32] kargakis commented on #105
/kind cleanup

[2018-07-27 18:05] kwoodson opened #117 "Error while running sync: cannot sync cluster config"
During a cluster deploy I saw the following error:

[code]

[code]

[2018-07-27 18:06] kwoodson commented on #117
/assign sig-azure

[2018-07-27 18:06] kwoodson commented on #117
/label sig-azure

[2018-07-27 18:31] kargakis commented on #117
/sig azure

[2018-07-27 18:44] kargakis commented on #117
No need for an azure-specific label in this repo I guess

/assign

[2018-07-27 18:44] kargakis commented on #117
/kind bug

[2018-07-27 18:53] kargakis commented on #112
Not all, eg. the router and the SDN plugin are still part of origin.

We don't need to fix configuring PR-built images for all images that are not part of origin now. We should get to it once we add tests in those repos (post PP). For now, oreg_url should apply only on origin images when the pre-release registry is used.

[2018-07-27 19:37] jim-minter opened #119 "don't hard-code 3 masters"
at the moment this is moderately hard coded

[2018-07-27 20:43] jim-minter opened #120 "should hard set imagePullPolicy: Always for now"
Probably an Override() function to go with Clean() and Default().

[2018-07-27 23:29] jim-minter commented on #97
Not convinced this needs an open issue - helm is gone and we know we have to get the sync pod running in the cluster.

[2018-07-28 00:03] jim-minter commented on #90
#114 has a proper fix for this.

[2018-07-28 08:02] kargakis commented on #94
Yeah, today it works as designed but we probably need a different way to
reconcile RBAC and SCC updates. There is actually a command for reconciling
these that is meant to be used on upgrades.

On Sat, Jul 28, 2018, 01:28 Jim Minter <notifications@github.com> wrote:

[2018-07-28 19:30] #97 closed

[2018-07-28 20:10] #117 closed

[2018-07-30 07:13] mjudeikis commented on #94
@jim-minter @kargakis  this is the idea for the ticket. It works as expected now, but it not fit for RBAC and SCC as it is. So we will need slightly different way to sync these kinds of objects.

[2018-07-30 07:16] mjudeikis commented on #120
/kind feature

[2018-07-30 07:17] mjudeikis commented on #119
/kind feature

[2018-07-30 07:28] mjudeikis opened #123 "refactor validate"
need to rebase the external api and refactor validate() return []error to make validate more testable

[2018-07-30 09:21] mjudeikis commented on #112
@kargaki, agree Router and SDN being part of origin just makes things easier. And for the second point, I just wanted to capture requirement. I really would not want to do this before PP

[2018-07-30 10:25] kargakis opened #124 "healthcheck panic"
Saw this in https://github.com/openshift/openshift-azure/pull/114 but it seems applicaple to master too.
[code]
/kind bug

@kwoodson @jim-minter

[2018-07-30 10:32] #124 closed

[2018-07-30 13:19] kargakis opened #126 "Node role label missing from master nodes"
[code]
whereas it's set correctly on infra and compute nodes
[code]
[code]
/kind bug

[2018-07-30 13:19] kargakis commented on #126
@openshift/sig-azure

[2018-07-30 19:08] jim-minter opened #127 "improve validation error messages"
Expecting guidance from this from @amanohar.

[2018-07-30 19:47] kwoodson commented on #126
I noticed that the labels are here:

https://github.com/openshift/openshift-azure/blob/master/pkg/addons/data/ConfigMap/openshift-node/node-config-master.yaml#L32-L34

[code]

[2018-07-31 00:35] jim-minter commented on #126
even though they're there, they're actually applied by a hack in the node sync pod, which presumably isn't working for some reason?

https://github.com/openshift/openshift-ansible/blob/f9c37884fa906b58ba3a8eb68e1d27d560abeb22/roles/openshift_node_group/files/sync.yaml#L118-L136

[2018-07-31 00:39] jim-minter commented on #90
@kargakis did they tell you mind-reading would be a prerequisite for this job? :laughing:
thanks!

[2018-07-31 00:40] jim-minter commented on #94
Really? I'm supposing that for now as part of our engineering effort, we would reconcile ourselves, update the sync definitions to what we want to them to be, then sync sets them correctly on the remote end,

[2018-07-31 06:46] kargakis commented on #94
I think we don't overwrite user data on any other type of deployment during
upgrades so we may need to document this and it may be fine at least for PP.

On Tue, Jul 31, 2018, 02:40 Jim Minter <notifications@github.com> wrote:

[2018-07-31 10:13] mjudeikis commented on #94
for GA: User configures Azures AAD to say `Group1` is my `cluster-admin`, `Group2` is my `view`.  If this will be a case we can work this out in our sync plugin.
for PP: if we say we don't have group integration, user logins with his account (does not matter AAD or HTPasswd) and grants `user1`, `user2` `cluster-admin` for purpose of PP work. Now our sync plugin runs and this particular `RoleBindin

[2018-07-31 10:26] mjudeikis commented on #123
closed via https://github.com/openshift/openshift-azure/pull/121

[2018-07-31 10:26] #123 closed

[2018-07-31 11:30] kargakis commented on #126
Working on a fix

[2018-07-31 11:30] kargakis commented on #126
/assign

[2018-07-31 11:34] kargakis commented on #126
Seems that if the bootstrap kubeconfig option is removed, the node name is required in the node config?
[code]

[2018-07-31 15:01] mjudeikis opened #135 "Define a way to update master-config.yaml"
As a SRE I would like to update `master-config.yaml` file without re-imaging or rotating master images.

Use case:
1. I build a cluster with default settings so my `FQDN` and `PublicHostname` got set to default RP values.
2. Now I want to change PublicHostname to my customer hostname. This invovles `OAuthClient`, `ConfigMaps` changes and `master-config.yaml` file changes.

At the moment this file

[2018-07-31 15:01] mjudeikis commented on #135
This prevents at the moment update PublicHostaname post cluster creation.

[2018-07-31 15:12] kwoodson commented on #135
I like the idea of being able to update config without doing a complete _upgrade_ which is or could be a large hammer.  OTOH, I prefer our upgrade/update process be efficient enough that an upgrade isn't a scary/slow/terrible process.  If we are looking at < 1-3 hours for this process it might be acceptable.  If we are looking at much longer than that then I would be in favor of an out-of-band con

[2018-07-31 18:09] #126 closed

[2018-07-31 19:17] jim-minter commented on #135
@mjudeikis valid issue, needs to be a JIRA backlog item.  Please can you close this and create one.  It's sort of mixed in with AZURE-71, which needs to be divided up into sub-issues on a backlog call.

[2018-07-31 20:47] jim-minter commented on #94
Users and Groups are specifically excluded by the sync code (everything under user.openshift.io).  At least to begin with we are not allowing users cluster-admin, nor are we letting them create ClusterRoleBindings.

[2018-08-02 09:40] mjudeikis opened #145 "mock health check call using RT"
For https://github.com/openshift/openshift-azure/pull/128/files#diff-d4056ff163bcf2aeacefb2a34164563cL87

we want to have RT as per @jim-minter comment so we call right url

[2018-08-02 09:40] mjudeikis commented on #145
/kind feature

[2018-08-02 14:47] kargakis opened #147 "check for stale deps in CI"
We should block merging PR that don't update deps correctly.

@openshift/sig-azure

[2018-08-02 18:08] amanohar opened #148 "API model and custom VNET comments"
**1)** `MasterProfile`: https://github.com/openshift/openshift-azure/blob/master/pkg/api/types.go#L95-L100  doesn't have a `VNETSubnetID` defined.

Is this because in the custom VNET scenario we are expecting the master to be in a different VNET & subnet is going to created on the fly  by RP/service instead of the one specified by customer?

**2)** Public API model is missing `MasterProfile`: http

[2018-08-02 18:28] amanohar opened #149 "Public and internal resource names"
1) Internal data model: https://github.com/openshift/openshift-azure/blob/master/pkg/api/types.go is using type name `ContainerService`. Recommend changing the name to `OpenShiftService` or `OpenShiftCluster`.

2) Public name of the resource is going to be `openShiftManagedClusters`. This: https://github.com/openshift/openshift-azure/blob/master/pkg/api/v1/types.go#L5 should be updated to: `OpenSh

[2018-08-02 18:43] amanohar opened #150 "azProfile in internal datamodel"
`azProfile` doesn't need to be in `Properties` of internal data model:https://github.com/openshift/openshift-azure/blob/master/pkg/api/types.go#L38 as the RP already has this metadata and can be passed separately to the OSA plugin.

[2018-08-02 19:29] sozercan opened #151 "AAD App auth issues"
https://github.com/openshift/openshift-azure/blob/master/pkg/addons/data/Deployment.apps/default/docker-registry.yaml#L72

We should use Azure SDK (or ARM) instead of using CLI for creating/getting azure resources. This will create issues with managed apps since we'll have to grant additional authorization for AAD ID/SPN.

You can list using arm:
https://github.com/Azure/azure-quickstart-templates

[2018-08-02 20:38] pweil- commented on #148
First, thanks for taking a detailed look at this!  I'll try to address some of the items but I think we can leave this issue open for more discussion.

`VNETSubnetID` is defined in the agent pool and master is just an agent pool with a specific role as noted below.

[I was in agreement here](https://github.com/Azure/acs-engine/pull/3556#pullrequestreview-140695855) but @jim-minter and @kargakis ma

[2018-08-03 06:29] amanohar commented on #148
@pweil- thanks for the reply. Regarding:

Repeated fields can be eliminated by using composition.

However, it's valuable to represent master and agent nodes separately from cluster definition standpoint because they are different with fields potentially diverging over time (+other reasons listed in my comment above).

Additionally, its easier to understand, define, and read cluster definition if

[2018-08-03 07:58] kargakis commented on #149
/kind cleanup

[2018-08-03 07:58] kargakis commented on #150
/kind cleanup

[2018-08-03 08:09] kargakis commented on #148
/kind cleanup

[2018-08-03 08:11] kargakis commented on #151
I am importing the azure sdk in https://github.com/openshift/openshift-azure/pull/138

We could definitely clean this up afterwards and rewrite bash to go. @kwoodson @pweil- do you think this is a blocker for PP? Doesn't look like to me.

/kind cleanup

[2018-08-03 13:57] pweil- commented on #151
only blocks if we cannot get this working with MSI.  @kwoodson  was investigating.

[2018-08-03 14:06] pweil- commented on #150
noted in other conversations but metioning here: need to settle on *how* this data will be passed asap.  We can have it in the internal model if the RP will set them as part of the enrichment process or we could have it as method args.  I think I lean towards having them in the data model so they are available for support operations when reviewing the config.

[2018-08-03 14:41] kargakis commented on #150
I am fine with storing elsewhere, assuming it's going to be encrypted in storage, but we definitely need a way for support to know these values.

[2018-08-03 16:55] amanohar opened #156 "Generated template has all hard coded values and is not configurable by passing paramerters"
Generated template using `create.sh` has all hard coded values and is not configurable by passing parameters. This poses a challenge while doing development & testing via a managed app.

This is because each new scenario including a new dns name of a new cluster requires publishing a managed application which can take at least an hour in the best case scenario and could be longer. This slows down

[2018-08-03 18:13] pweil- opened #157 "Should kubeconfigs be part of the internal model"
See https://github.com/openshift/openshift-azure/pull/153#discussion_r207622067 for discussion

cc @amanohar

[2018-08-03 18:48] pweil- opened #158 "Remove BootstrapAutoapprover Key"
https://github.com/openshift/openshift-azure/pull/153#discussion_r207631491

[2018-08-03 19:43] kwoodson opened #159 "InvalidImageName when deploying applications"
When deploying a cluster I need to test whether the registry is working.  I deployed from /console the cakephp-mysql-persistent application.  It shows up as "InvalidImageName":
[code]

I checked the build pod and it has a broken image format:
[code]

I checked the master-config.yaml and the image string looks like this:
[code]

This leads me to believe that the string is not being handled correctl

[2018-08-03 20:20] kwoodson commented on #159
Fixing the value manually in each master's master-config.yaml and restarting the controller pods did not fix the issue.  Still seeing build issues.

[2018-08-03 20:44] kwoodson commented on #159
@pweil-  suggested that the shell script is interpolating the `${component}` and the `${version}`.

[2018-08-03 21:30] amanohar commented on #157
This is mostly in the context of resource provider (RP)/service kubeconfig(s) to be used by operations team for access to OSA cluster and not the kubeconfigs used by components of OSA cluster.

The operations team kubeconfig can be part of `Config` and also be saved separately (implementation detail). It would be good to avoid duplication of data but not a blocker.

[2018-08-03 21:52] kwoodson commented on #159
We cannot just `'EOF'` as the `$(hostname)` line is also being interpolated correctly.

https://github.com/openshift/openshift-azure/blob/master/pkg/arm/data/master-startup.sh#L164
and
https://github.com/openshift/openshift-azure/blob/master/pkg/arm/data/master-startup.sh#L171

[2018-08-04 01:05] kwoodson commented on #159
Main issue is that the `${component}` and `${version}` are being interpolated in bash before writing to `master-config.yaml`.  This breaks image pulling as the string appears like this:
[code]
Since there are `$(hostname)` calls as well we cannot just `'EOF'` the command that writes the config file.  This is blocking testing of my MSI registry changes as I cannot build and push to the registry.

A

[2018-08-05 11:13] kargakis commented on #159
I would try escaping first

[2018-08-05 11:14] kargakis commented on #156
/kind cleanup

[2018-08-05 11:14] kargakis commented on #157
/kind cleanup

[2018-08-05 20:47] pweil- commented on #156
@amanohar I took a stab at getting some of this done in https://github.com/openshift/openshift-azure/pull/160.  PTAL

To address this bug directly, there are two considerations:

1.  parameterization of the ARM template is designed specifically so that you can deploy the same template over and over again with command line (or uploading) and simply changing the parameter file.  OSA has no intention

[2018-08-05 20:49] pweil- commented on #159
:+1:

[2018-08-06 08:20] kargakis opened #161 "etcd and controller manager don't use readinessProbes"
Investigate whether we can set them up in order to take advantage of pod readiness when healthchecking them during an install/upgrade.

@openshift/sig-azure

[2018-08-06 11:39] mjudeikis commented on #105
https://github.com/openshift/openshift-ansible/pull/9438

[2018-08-06 11:44] mjudeikis commented on #135
Closing in favor of AZURE-97

[2018-08-06 11:44] #135 closed

[2018-08-06 15:09] mjudeikis opened #163 "tests fails due lack of docker-exluder package"
on new iteration docker-excluder package is not found in `install_repo`:

Origin/rhel test failutes
`changed: [40.87.11.135] => (item={'gpgcheck': False, 'enabled': True, 'name': u'install_repo', 'baseurl': u'https://storage.googleapis.com/origin-ci-test/logs/test_branch_origin_extended_conformance_gce/3436/artifacts/rpms'})`

[code]

looks like it either might be in the different name or is not p

[2018-08-06 15:13] mjudeikis commented on #163
the process now is publishing 3.11 for origin.
[code]

[2018-08-06 15:39] mjudeikis commented on #163
I think its limbo state.Excluder is not available in `openshift-origin` and not in build repo...
[code]

[2018-08-06 15:58] kwoodson commented on #159
Escaping worked great.  Fix included in #144

[2018-08-06 15:59] kwoodson commented on #159
[code]

[2018-08-06 19:05] mjudeikis commented on #163
https://bugzilla.redhat.com/show_bug.cgi?id=1613009

[2018-08-07 07:16] kargakis opened #164 "Invalidate VM size updates for master VMs?"
Since we are going to update master VMs in place, we should invalidate VM size updates for those, unless VMs can be resized in place (needs investigation).

[2018-08-07 07:18] mjudeikis commented on #163
/kind bug

[2018-08-07 11:30] mjudeikis opened #165 "ansible comformance test fails"
Test fails after `https://github.com/openshift/openshift-ansible/commit/f9d48a3efa2ecf7be42e3ab9467fef520e7012e9` got merged and
failure:
`https://ci.openshift.redhat.com/jenkins/job/test_branch_openshift_ansible_extended_conformance_azure/230/console`

[code]

This part run on localhost, so AWS node where this folder does not exit.

cc: @kwoodson

[2018-08-07 15:29] kargakis commented on #164
Closing in favor of https://jira.coreos.com/browse/AZURE-96

[2018-08-07 15:29] #164 closed

[2018-08-07 15:51] kwoodson commented on #165
/assign

[2018-08-08 08:03] kargakis opened #168 "createorupdate panic"
[code]
@openshift/sig-azure

[2018-08-08 08:04] kargakis commented on #168
/kind bug

[2018-08-08 08:25] #168 closed

[2018-08-08 08:25] kargakis commented on #168
false alarm, sorry for the noise

[2018-08-08 10:57] #158 closed

[2018-08-08 15:00] kargakis opened #173 "Review imports and pin them in glide.yaml"
We import a bunch of libraries that we do not pin in glide.yaml. Use `go list -f '{{join .Imports "\n"}}' ./pkg/*` to figure them out and add them in glide.yaml.

@openshift/sig-azure

[2018-08-08 15:02] kargakis commented on #173
So far we miss
[code]

[2018-08-08 16:06] pweil- commented on #156
Closing this based on scrum discussions.  We can reopen if necessary

[2018-08-08 16:06] #156 closed

[2018-08-09 08:56] kargakis commented on #173
/kind cleanup

[2018-08-09 09:21] mjudeikis opened #175 "move to internal FQDN for sync kubeconfig"
I think it would be more resilient to move to internal FQDN Loadbalancer for sync kubeconfig
https://github.com/openshift/openshift-azure/blob/master/pkg/config/generate.go#L406-L414

It gets created almost immediately, and in arm we already have this dependency form SS:
` "[resourceId('Microsoft.Network/loadBalancers', 'lb-apiserver')]", `
In addition, if for some reason master0001 gets slower st

[2018-08-09 09:47] kargakis commented on #175
How exactly is the sync process impacted if it runs in a deployment? An upgrade is going to roll masters first, then infra and compute nodes, then kick the sync process, or maybe move compute node upgrade in the end.

[2018-08-09 10:12] mjudeikis commented on #175
Let's say MS has an issue with their infra, and master1 goes offline for few seconds/minutes. Or node gets not ready due to some storage issues. We cant run sync at this point.

[2018-08-09 10:40] mjudeikis commented on #165
Still failing :) on the other branch now with centos magic:
https://github.com/openshift/openshift-ansible/pull/9495

[2018-08-09 14:23] kwoodson commented on #159
Fixed in #144
/close

[2018-08-09 14:23] #159 closed

[2018-08-13 08:38] mjudeikis commented on #173
https://github.com/openshift/openshift-azure/pull/184

[2018-08-13 08:48] mjudeikis opened #185 "poc ci-operator job failing"
POC for ci-operator job failing with:
[code]
This started appearing after MSI merge.

[2018-08-13 08:48] mjudeikis commented on #185
/kind bug

[2018-08-13 09:08] mjudeikis commented on #185
Wuse service-principal login so it fails with lack of perm:
[code]

[2018-08-13 11:40] mjudeikis opened #186 "sync process race with DNS"
How when DNS is closer to RT model we have a challenge with running sync in development mode as DNS/LB creation process is racing with sync process start.

[code]
We will not have this issue in prod as sync will be in pod and will just restart the process.

We either can
1. Add a check in go code, which would make it potentially ignore real errors.
2. Update create.sh script to wait until it is fi

[2018-08-13 11:41] mjudeikis commented on #186
/bug
cc: @kargakis  what do you think?

[2018-08-13 11:55] pweil- commented on #185
@kwoodson

[2018-08-13 13:54] #147 closed

[2018-08-14 08:37] kargakis opened #193 "deep-copy old config before merging"
Follow-up to https://github.com/openshift/openshift-azure/pull/181

We should probably deep copy the old config before assigning it to new to avoid mutating the pointer since it can be reread by a different function in the RP.

@openshift/sig-azure

[2018-08-14 10:07] #186 closed

[2018-08-14 20:44] kwoodson commented on #185
@pweil-, @mjudeikis

Let's merge #188 which reverts MSI usage.

[2018-08-15 09:35] mjudeikis commented on #119
/assign

[2018-08-15 09:37] kargakis commented on #161
This may be intentional since these are not fronted by a service?

[2018-08-15 09:39] mjudeikis commented on #119
Question:
Is this expected:
https://github.com/openshift/openshift-azure/blob/master/pkg/arm/data/master-startup.sh#L161-L166
We configure each master to point only to its local copy of ETCD.

Upstream: each master contains a full list of etcd clients.
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_control_plane/templates/master.yaml.v1.j2#L54-L56

I see point for upstr

[2018-08-15 09:47] kargakis commented on #119
I don't think we will be running etcd externally.

[2018-08-15 09:51] mjudeikis commented on #161
I was under impression readinessProbles are on Pod level?
If the pod is not ready, remove it from the "Service Pool" ? So they should not depend on the existence of service?

[2018-08-15 09:52] mjudeikis commented on #119
This would explain upstream reasoning for having all the members in the config. In our case, what benefits/losses we would get if we have "each master point to its own ETCD vs having full list"?

[2018-08-15 09:52] kargakis commented on #161
Services support adding unready pods into their pool but this issue is not about advocating the use of a service but rather try to figure out whether pod readiness is going to be useful in general.

[2018-08-15 09:59] mjudeikis commented on #161
In general, I think having probes on all pods would make checking unified.

[2018-08-15 11:51] pweil- commented on #185
pesky RABCs :rabbit:

[2018-08-15 12:08] pweil- commented on #161
https://github.com/openshift/origin/blob/94e032a6b5bbd12cedf4543c3cb82c58923c2143/install/openshift-controller-manager/install.yaml#L61-L65

(the kube controller manager seems to only have a liveness probe though)

[2018-08-15 13:45] #149 closed

[2018-08-15 13:54] pweil- commented on #120
this one in particularly should be an admission controller

[2018-08-15 13:59] pweil- commented on #127
@sozercan @amanohar @shrutir25 - I believe it was mentioned that we'd want to wrap validation messages in a specific format.  Any pointers here?

[2018-08-15 14:01] pweil- commented on #148
We've discussed and addressed most of the items here.  The remaining piece is the recommendation of new configuration items for CIDRs.  With that I'm going to change this to a feature vs cleanup.

[2018-08-15 14:04] kargakis commented on #148
Can we close this issue and open a new one just for that? Should be cleaner than continuing to track here.

[2018-08-15 14:04] pweil- commented on #150
@sozercan @amanohar @shrutir25 - any other guidance here, are you suggesting a plugin signature change?  It seems easiest to leave this in the enrichment portion of the data model so that it's available when someone is looking at the persisted config.

[2018-08-15 14:06] pweil- opened #204 "Allow configuration of CIDRs"
port from https://github.com/openshift/openshift-azure/issues/148

Additionally, recommend adding `NetworkProfile` section to the public API model for supporting custom VNET. Documentation for AKS custom VNET: https://docs.microsoft.com/en-us/azure/aks/networking-overview

[code]

`NetworkPlugin` can default to `kubenet`. And Azure CNI can be added later.

**Kubernetes Pod CIDR** (sometimes cluste

[2018-08-15 14:06] pweil- commented on #148
https://github.com/openshift/openshift-azure/issues/204

[2018-08-15 14:06] #148 closed

[2018-08-15 14:08] pweil- commented on #151
This has been discussed and agreed to continue using SP for now. https://github.com/openshift/openshift-azure/pull/188#discussion_r210094350

[2018-08-15 14:08] #151 closed

[2018-08-15 14:10] pweil- commented on #157
@sozercan @amanohar @shrutir25 - looking for guidance here and if there will be a plugin signature change.  Otherwise we can close.

[2018-08-15 14:41] #120 closed

[2018-08-15 14:45] #165 closed

[2018-08-15 15:26] mjudeikis opened #206 "remove dep https://github.com/go-test/deep"
`k8s.io/apimachinery/pkg/equality.Semantic.DeepEqual` and `k8s.io/apimachinery/pkg/util/diff.ObjectGoPrintDiff` should be used instead of https://github.com/go-test/deep

[2018-08-15 15:32] #163 closed

[2018-08-15 15:34] kargakis commented on #206
/kind cleanup

[2018-08-15 18:19] shrutir25 opened #209 "Validation on external datamodel expects OpenShift Config params"
The Validate function at https://github.com/openshift/openshift-azure/blob/master/cmd/createorupdate/createorupdate.go#L58 expects OpenShift Config params such as FQDN, DNS (as part of Router Config) to be present. These params get filled up only in the backend async operation, so this function then will error out when used to validate the input external data model in the front-end operation.

[2018-08-15 19:39] pweil- commented on #209
PTAL at https://github.com/openshift/openshift-azure/pull/210.  Let me know if there is anything else causing trouble :smile:

[2018-08-15 19:39] pweil- commented on #209
/kind bug

[2018-08-15 21:09] #209 closed

[2018-08-16 07:32] mjudeikis opened #211 "test_branch_origin_extended_conformance_azure failing"
[code]

@openshift/sig-azure  FIY. Looks like random ansible error again :/

[2018-08-16 07:40] kargakis commented on #211
/shrug

[2018-08-16 07:42] mjudeikis commented on #211
Jap. This defines how I feel looking into it now..

[2018-08-16 07:57] kargakis commented on #211
Btw, this issue should be reopened either in aos-cd-jobs or openshift-ansible and not here.

[2018-08-16 07:59] kargakis commented on #112
Not an openshift-azure issue, I would suggest bringing this up in an arch call if more discussion is warranted.

/close

[2018-08-16 07:59] #112 closed

[2018-08-16 08:00] kargakis commented on #94
Good enough, @mjudeikis close?

[2018-08-16 08:01] mjudeikis commented on #211
checking where is issue. Looks like our code base. Will either close or reopen

[2018-08-16 08:04] mjudeikis commented on #94
I might be missing some story here. I'm a user/organization. I just provisioned a cluster and want to grant `John` access to the my project, which I `oc new-project` ? Or my Azure AD group access to all projects? This looks like one of the main requirements to access cluster? Or I'm missing something here?

[2018-08-16 08:50] mjudeikis commented on #211
RPM name changes, so tagging is failing:
https://github.com/openshift/openshift-ansible/pull/9623

[2018-08-16 09:41] kargakis opened #212 "Bring config bundles back"
The master script size is getting out of hand when processed (eg. see https://github.com/openshift/openshift-azure/pull/189#issuecomment-413471035). One solution is to bring the config bundles back, tar containerservice.yaml, templatize, untar inside the template, use.

@openshift/sig-azure

[2018-08-16 13:43] kargakis opened #215 "master in-place upgrade can fail with already mounted filesystem"
[code]
@openshift/sig-azure

[2018-08-16 13:49] kargakis commented on #215
/kind bug

[2018-08-16 14:23] kargakis opened #217 "unit test for validating diff between old and new config on different user requests"
@openshift/sig-azure

/assign pweil-

[2018-08-17 12:08] kargakis opened #223 "use timestamps in logs instead of elapsed time"
/kind cleanup

[2018-08-17 12:53] kargakis commented on #215
This seems to happen only on custom script extension updates.

[2018-08-17 13:52] jim-minter commented on #215
It's a race condition.  As it stands we should be waiting for fstab to have been evaluated.  We could then consider not re-mkfsing /var/lib/docker if it is in a good state, to save having to download images again.

The correct fix may involve moving this stuff into the image and out of the startup scripts.

[2018-08-20 07:20] #211 closed, assigned to nobody

[2018-08-20 11:34] mjudeikis opened #226 "health check fails if you run with AAD integration."
The current code of healthcheck "call home" functionality uses `NewAuthorizerFromEnvironment`
https://github.com/openshift/openshift-azure/blob/master/pkg/healthcheck/client.go#L19
For:
https://github.com/openshift/openshift-azure/blob/master/pkg/checks/checks.go#L175-L212

If we are running with AAD integration we dont have those variables set and healthcheck check fails.

We need:
1. remove this

[2018-08-20 11:38] mjudeikis commented on #226
/kind bug
cc: @openshift/sig-azure
cc: @jim-minter  @pweil- FYI. I would like to confirm if we want this. If so, we need to check with MS what env/authorizers we can use in RP

[2018-08-21 01:38] sozercan opened #230 "uuid package revision"
Looks like we use an older version of `satori/go.uuid` internally (before the breaking api change for `err`). Which is giving this error:
[code]

Would it be possible to use `f58768cc1a7a7e77a3bd49e98cdd21419399b6a3` revision of  `satori/go.uuid`?

I believe only place this is used is when generating service catalog cluster id: https://github.com/openshift/openshift-azure/blob/master/pkg/config/ge

[2018-08-21 04:11] jim-minter opened #232 "panic: network.LoadBalancerFrontendIPConfigurationsClient#List: Failure responding to request"
[code]

[2018-08-21 04:12] jim-minter commented on #232
@mjudeikis seen with #231 - I think this represents a code fault in CheckDNS()

[2018-08-21 07:33] mjudeikis commented on #232
@jim-minter yes, related to DNS and its duplicate of https://github.com/openshift/openshift-azure/issues/226

solved by https://github.com/openshift/openshift-azure/pull/233

[2018-08-21 08:12] mjudeikis commented on #230
@sozercan nice one :)
Added it to this https://github.com/openshift/openshift-azure/pull/184
We gonna discuss it today and I hope to merge it soon.

[2018-08-21 14:33] kwoodson opened #234 "Message: The marketplace resource plan is missing required "name" property."
Running a deploy on rhel7:
[code]

Env file:
[code]

[2018-08-21 14:38] #230 closed

[2018-08-21 15:57] kwoodson commented on #234
Fixed by #235

[2018-08-21 16:08] kwoodson commented on #234
/close

[2018-08-21 16:08] #234 closed

[2018-08-21 16:29] jim-minter commented on #232
#233 merged, closing

[2018-08-21 16:29] #232 closed

[2018-08-21 19:14] kwoodson opened #236 "first local password web console login fails"
Upon first attempt at logging in using the local password I receive an error:
[code]

I then return to console and perform exact same login with local password and its successful.

[2018-08-22 06:16] mjudeikis opened #239 "migrate to dep"
acs-engine and RP use `dep` as dependency management. Should we move too?

dep can update individual packages/dep and has more flexibility too.

[2018-08-22 10:15] mjudeikis commented on #236
Tried few times. Can't reproduce  :/
Same on incognito mode too?

[2018-08-22 10:17] mjudeikis commented on #236
/shrug

[2018-08-22 10:18] #226 closed

[2018-08-22 14:58] kwoodson opened #240 "prometheus login results in a 500 internal server error"
I attempted to login here:
https://prometheus-openshift-metrics.kwoodsontest.osadev.cloud/

I chose local password login and aad login.  I received:
[code]

[code]

[2018-08-22 15:14] jim-minter commented on #236
+1
@kwoodson any more details on how to replicate?

[2018-08-22 15:15] jim-minter opened #241 "potential flake: healthcheck: certificate signed by unknown authority"
+ go run cmd/createorupdate/createorupdate.go cmd/createorupdate/deploy.go cmd/createorupdate/update.go -loglevel=debug
time="2018-08-22T13:03:57Z" level=info msg="convert to internal" resourceGroup=ci-op-7z5xsflz-6cb1c
time="2018-08-22T13:03:57Z" level=info msg=enrich resourceGroup=ci-op-7z5xsflz-6cb1c
time="2018-08-22T13:03:57Z" level=info msg="validating internal data models" resourceGroup=ci-o

[2018-08-22 15:15] jim-minter commented on #241
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/238/pull-ci-openshift-azure/385/

[2018-08-22 15:50] kargakis commented on #239
Or wait for go modules in 1.11?

https://github.com/golang/go/wiki/Modules

[2018-08-22 15:59] mjudeikis commented on #239
@kargakis turn off the phone!

[2018-08-22 16:29] jim-minter opened #242 "don't bind sync pod to master-000000"
prerequisite for this is to run the sdn workload as static pods so that master nodes come up as ready.  Then the sync pod should be runnable via a deployment object.

[2018-08-22 16:32] jim-minter opened #243 "plugin code should accept azure credentials via property bag"
@mjudeikis

[2018-08-22 16:33] jim-minter opened #244 "move keys, certs and secrets out of config struct and into key vault"

[2018-08-22 16:35] pweil- opened #245 "prometheus oauth proxies don't trust CA"
2018/08/22 15:52:37 oauthproxy.go:582: error redeeming code (client:10.131.0.8:32798): Post https://openshift.pweilosa.osadev.cloud/oauth/token: x509: certificate signed by unknown authority

[2018-08-22 16:48] kwoodson commented on #240
Had a discussion with Jim, this is on purpose for the users.  We do not want users to login to prometheus but we do want to come up with a way for SRE to access prometheus.

[2018-08-22 17:17] kwoodson commented on #245
Looks to be the same issue:

https://github.com/openshift/openshift-azure/issues/240

[2018-08-22 20:44] #240 closed

[2018-08-23 07:14] mjudeikis commented on #175
closed via sync running in pod

[2018-08-23 07:14] #175 closed

[2018-08-23 07:43] mjudeikis opened #247 "ci-operator lacks permissions"
When we merge AAD PR we need to bump our CI-operator RBAC to able to create SP:
[code]
related to:
https://github.com/openshift/openshift-azure/pull/225/files

[2018-08-23 07:43] mjudeikis commented on #247
/kind bug

[2018-08-23 07:46] mjudeikis opened #248 "split generate.go"
This file getting enormous. Maybe worth splitting it to separate files like generate.go - only generate function, images.go - image resolved resolvers.go/helpers.go for all stuff like selectNodeImage selectContainerImages ?

[2018-08-23 07:46] mjudeikis commented on #248
/kind feature

[2018-08-23 07:47] mjudeikis commented on #243
/kind feature

[2018-08-23 08:52] mjudeikis commented on #241
This looks like certificate got regenerated in the process. Or this only one case?

[2018-08-23 08:52] mjudeikis commented on #241
/kind bug

[2018-08-23 08:52] mjudeikis commented on #244
/feature

[2018-08-23 08:53] mjudeikis commented on #242
/kind feature

[2018-08-23 12:56] jim-minter opened #250 "use generated sync pod when testing cluster"
atm in our PR tests we don't appear to be using the sync pod generated by the codebase.  If #238 merges it provides for setting a SYNC_IMAGE env var to drive this.  If it doesn't, that functionality needs to be added.

Then the ci-operator config needs to be updated to set SYNC_IMAGE correctly

@mjudeikis or @kargakis please can you handle this?

[2018-08-23 13:05] mjudeikis commented on #250
/kind feature

[2018-08-23 13:50] jim-minter commented on #241
no, it was on creation.  I don't understand why it happened - waiting to see if it happens again before trying to reason about it.

[2018-08-23 13:55] mjudeikis commented on #241
I have seen similar flake where my storage account names in the config were different than sync plugin expected (old one).

[2018-08-23 15:01] jim-minter opened #251 "re-review API definitions"
seems like we still have unexpected pointers
@mjudeikis fyi

[2018-08-23 18:49] mjudeikis opened #252 "scale-up-down nodes cleaning"
If you scale up and down node scaleset, old nodes are not cleaned :)

[code]

[2018-08-23 18:49] mjudeikis commented on #252
/kind bug

[2018-08-23 20:42] jim-minter opened #253 "auto-specify number of infra nodes dependent on workload"
maybe also master vm size?

@pweil- I still feel doubtful about what should be specifiable in the external api representation wrt infra node counts - wdyt?

[2018-08-23 20:57] pweil- commented on #253
I'm hesitant not to allow scaling of those nodes by the customer just because a lot of the infra service load are based on what is running on the cluster.  If we set up HA registry and they need more based on their use case how do they scale?

[2018-08-23 20:57] pweil- commented on #253
(not saying we need to expose anything now, but need to think about that use case)

[2018-08-24 06:31] mjudeikis commented on #253
/kind feature

[2018-08-24 06:34] mjudeikis opened #255 "enrich logging"
Currently all our code base in `log.Info`. We need to confirm with MS for extensively they are using `debug` and `info` when debugging. If this is a case we need to enrich our code base for debug messages. Let's use logging as it was intended to be used :)

[2018-08-24 06:34] mjudeikis commented on #255
/kind feature

[2018-08-24 08:13] mjudeikis commented on #243
/asign

[2018-08-24 08:14] mjudeikis commented on #243
/assign

[2018-08-24 08:14] mjudeikis commented on #243
https://github.com/openshift/openshift-azure/pull/256

[2018-08-24 08:15] mjudeikis commented on #250
/assign

[2018-08-24 09:08] mjudeikis commented on #250
https://github.com/openshift/release/pull/1275

[2018-08-24 09:10] mjudeikis commented on #247
on teardown:
[code]

[2018-08-24 09:16] mjudeikis commented on #248
/assign

[2018-08-24 09:16] mjudeikis commented on #248
https://github.com/openshift/openshift-azure/pull/257

[2018-08-24 09:17] mjudeikis commented on #247
/assign jim-minter
I dont have right to do anything
`ci-operator-jobs` - WebApp

[2018-08-24 09:19] mjudeikis commented on #253
We need to know "What is a big workload, and when to scale" first. No metrics no fun...

[2018-08-24 09:19] mjudeikis commented on #244
/feature

[2018-08-24 09:19] mjudeikis commented on #244
/kind feature

[2018-08-24 10:53] mjudeikis commented on #173
I think we can close as per the agreement that we do less with all this and try to be more flexible :)

[2018-08-24 13:21] pweil- opened #260 "remove hard coded location in storage class"
[code]

[2018-08-24 13:43] mjudeikis commented on #260
/kind bug

[2018-08-24 13:43] mjudeikis commented on #212
/kind feature

[2018-08-24 15:19] jim-minter opened #261 "all templated values in arm template should end in `| js`"
some have snuck in which don't.

[2018-08-24 21:05] kwoodson opened #265 "Error creating: pods "prometheus-node-exporter-" is forbidden"
I saw some restarts occurring while watching `oc get pods --all-namespaces`.

[code]

[code]

Not sure if its related but noticed this error in the logs.

`oc get events -n openshift-metrics`

[2018-08-24 22:06] jim-minter opened #266 "service catalog apiserver restarting"
SC apiserver, SC controllermanager and prometheus restarting regularly on master-built cluster

strace shows apiserver wilfully exits(0)
controller manager exits(1) - looks like because the apiserver connection went away
not sure about prometheus yet

[2018-08-24 22:15] jim-minter commented on #266
I think the sync pod keeps editing the deployments, triggering a redeploy

[2018-08-24 22:36] jim-minter commented on #266
the secret checksums are not stable across multiple invocations of sync, causing unwanted redeployments.

hack: added this to syncWorkloadsConfig:
[code]

[2018-08-24 23:03] jim-minter opened #267 "e2e: failed to build sync image"
almost certainly down to my commit, but don't currently understand what's causing this.

[code]

[2018-08-24 23:04] jim-minter commented on #267
@openshift/sig-azure

@kargakis @mjudeikis if one of you has a chance to take a look on Monday morning it'd be appreciated, else I'll try to pick it up between calls.

[2018-08-24 23:39] jim-minter commented on #212
we've now got the central storage account in place - having a new container which runs on the nodes to sync config correctly may be an alternative next step worth considering.  Having careful reliability here may be key for speeding up our upgrade times.

[2018-08-24 23:42] #173 closed

[2018-08-24 23:47] jim-minter commented on #241
Think that issue was fixde by #263?

[2018-08-24 23:56] jim-minter commented on #247
I don't know if service principals can create service principals?  @sozercan can you help here?

[2018-08-25 00:11] sozercan commented on #247
I believe we tested this scenario, SPNs can create other SPNs only if they have the proper AD role (we tested `Global Administrator` so far successfully, testing to find what is the least privileged role we can assign).

It is a little tricky to assign this:
send a `POST` to `https://graph.microsoft.com/beta/directoryroles/<role id>/members/$ref`
with body:
`{"@odata.id":"https://graph.microsoft.c

[2018-08-27 11:06] #248 closed

[2018-08-27 11:15] kargakis commented on #265
We should probably create SCCs before workloads in the sync process but it doesn't sound like a high priority issue since the system converges after a while.

/kind cleanup

[2018-08-27 11:16] kargakis commented on #241
reopen if seen again

[2018-08-27 11:16] #241 closed

[2018-08-27 11:31] kargakis commented on #267
Fixed?

[2018-08-27 11:37] kargakis commented on #266
Looking

[2018-08-27 11:38] kargakis commented on #266
/kind bug

[2018-08-27 11:38] kargakis commented on #261
/kind cleanup

[2018-08-27 11:42] kargakis commented on #94
Assigning access to rolebindings (namespace-scoped) should not be affected by the sync process. @mjudeikis in your original example, you edited a cluster role binding which is not something customers are going to be able to do.

[2018-08-27 11:47] mjudeikis commented on #267
Dont think so

On Mon, 27 Aug 2018, 12:31 Michalis Kargakis, <notifications@github.com>
wrote:

[2018-08-27 11:56] kargakis commented on #266
Seems like an issue with the serving certs getting regenerated on every sync. For some reason, all services are updated on every sync and that seems to trigger regeneration of the serving certs which subsequently triggers redeployments of all services using serving certs (service catalog, prometheus).

[2018-08-27 13:31] kwoodson commented on #266
I'm a bit naive on the situation here but according to @kargakis comments it appears that we are not completely idempotent when running the sync.  The sync process can/should be run often but only change when items are updated/modified in the manifests.  This will ensure less churn and we can guarantee our changes only happen when our data changes.

[2018-08-27 15:08] kargakis commented on #266
We do not persist hashes for serving certs so there is a different issue that needs to be identified.

[2018-08-27 15:35] kwoodson opened #269 "Consider marking nodes as unschedulable during upgrade"
By marking nodes as unschedulable during upgrades we will minimize the churn of applications, pvs, etc.

[2018-08-27 15:35] kargakis opened #270 "sync process does not handle updates to config mounted on init containers"
/kind bug
/assign

@openshift/sig-azure

[2018-08-27 15:37] kargakis commented on #270
Our docker registry mounts the registry config in its init container

[2018-08-27 15:45] kargakis commented on #266
We will need to sort keys in configmaps/secrets before we hash them.

[2018-08-27 15:56] kwoodson commented on #270
Should we go back to fetching the storage account key inside of the sync.go process? Something similar to what I attempted here: https://github.com/openshift/openshift-azure/pull/170

[2018-08-27 15:59] jim-minter commented on #270
Also saves having to worry about using an Azure az image - sounds well worth considering.

[2018-08-27 16:47] kwoodson opened #271 "bootstrap autoapprover should run on master"
This pod is considered infrastructure and I believe should run on our infrastructure nodes..

Suggested fix:

Add a node selector:
[code]

[2018-08-27 16:56] kargakis commented on #271
I think we need to run it on master nodes since you have a chicken-egg problem when you try to start it on an infra node (infra/compute nodes depend on the bootstrap autoapprover to run in order to check in)

[2018-08-27 17:01] kargakis commented on #269
Mark all nodes as unschedulable or only old? Shouldn't the scheduler optimize by using the new node to schedule pods evicted from an old node vs spreading across other old nodes (which makes this a scheduler problem and not ours)?

[2018-08-27 18:26] kwoodson commented on #271
I agree that it must run somewhere initially.  This was seen running on compute resource:
[code]

[2018-08-27 18:34] kwoodson commented on #269
@kargakis, I was referring to old nodes.  The scheduler should handle this case if at all possible to minimize churn.  We've had issues in the past where pvs will get stuck on nodes and unable to detach.  My attempt here was to bring this to our attention and minimize churn if at all possible.

[2018-08-27 22:47] jim-minter commented on #247
There's no way I'm giving Global Administrator to a SP.  If you find something more minimal, let me know ;-)

[2018-08-27 23:39] jim-minter opened #273 "WaitForInfraServices should use whitelist"
This helper should check a whitelist of the infra services that we expect to create/update.

[2018-08-28 06:58] mjudeikis commented on #94
ok, we might need to convert this to the story to provide customer `cluster-admin`, same as dedicates doing now. Where is custom cluster admin just elevated admin from multiple projects?

[2018-08-28 07:14] mjudeikis commented on #247
This impacts our CI. We might need to discuss how we want to approach it...

[2018-08-28 09:54] kargakis opened #275 "glide install + make fails with "systemd/sd-journal.h: No such file or directory""
[code]
@openshift/sig-azure

[2018-08-28 09:57] kargakis commented on #275
Fixed by installing `systemd-devel`.

[2018-08-28 10:07] mjudeikis commented on #267
[code]
in @kargakis PR https://github.com/openshift/openshift-azure/pull/268

[2018-08-28 10:08] #275 closed

[2018-08-28 10:11] mjudeikis commented on #267
Trying to replicate locally

[2018-08-28 10:16] kargakis opened #277 "pod eviction needs to be parallelized"
upgrade is evicting pods serially. Both `kubectl drain` and the acs-engine upgrade process are doing this in parallel, no reason for us to stick to serial.

https://github.com/openshift/openshift-azure/blob/d4c9b6cc9796d852e614e9f1c536585159c7dc8f/pkg/upgrade/drain.go#L114

@openshift/sig-azure
/kind cleanup

[2018-08-28 10:17] kargakis commented on #277
I would say this is almost a must-have for PP.

[2018-08-28 10:17] kargakis commented on #277
/assign

[2018-08-28 10:33] mjudeikis commented on #250
/close

[2018-08-28 10:33] #250 closed

[2018-08-28 10:33] kargakis commented on #267
And another one
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/276/pull-ci-openshift-azure/442/build-log.txt

[2018-08-28 11:30] kargakis opened #281 "upgrade wastes time reimaging and starting VMs that are going to be deleted"
@openshift/sig-azure

[2018-08-28 11:31] kargakis commented on #271
Yeap, needs to be constrained to run only on master nodes.

[2018-08-28 11:31] kargakis commented on #271
/assign kwoodson

[2018-08-28 11:31] kargakis commented on #271
/kind bug

[2018-08-28 11:31] kargakis commented on #273
/kind cleanup

[2018-08-28 11:32] kargakis commented on #281
/kind enhancement

[2018-08-28 11:36] kargakis commented on #281
The new VM is also updated after it comes up.
[code]

[2018-08-28 11:45] kargakis commented on #267
We should start gathering artifacts from our e2e test

https://github.com/openshift/openshift-azure/pull/279#issuecomment-416553416

[2018-08-28 11:46] kargakis commented on #281
Eventually the new VM gets deleted
[code]
I don't think we have any reason to do that, we don't really care about hostnames when it comes to infra or compute nodes.

[2018-08-28 11:50] kargakis commented on #281
/assign

[2018-08-28 13:27] kargakis commented on #281
FWIW
[code]

[2018-08-28 15:32] kargakis commented on #281
We have agreement on stop using the in place logic for infra/compute VMs (will speed up our upgrade process quite a bit).

[2018-08-28 15:35] #277 closed

[2018-08-28 15:36] kargakis opened #284 "disable PDBs for PP, remove Evict in favor of Delete"

[2018-08-28 15:37] kargakis opened #285 "drain should run on scale down before applying ARM template"

[2018-08-28 15:39] kargakis opened #286 "scale infra scale set to 2 nodes, scale core infra services to 2"
/assign @kwoodson

@openshift/sig-azure

"core services" here being the web console, router, and potentially the registry. Thoughts?

[2018-08-28 15:40] kargakis commented on #284
/assign

[2018-08-28 15:41] kargakis commented on #286
Maybe we don't want to disable PDBs (https://github.com/openshift/openshift-azure/issues/284) because of this.

[2018-08-28 15:42] kargakis commented on #286
Though I think the fact that we are going to update nodes one by one will probably be enough.

[2018-08-28 18:28] jim-minter commented on #286
+1

[2018-08-28 18:30] kwoodson commented on #286
I'll take a look.

[2018-08-29 10:45] thanasisk opened #289 "extend CI with common Golang checks/linting"
As engineers, we want to maintain consistent code quality. One step towards it is automating our CI with automated checks and linting.

[2018-08-29 10:55] kargakis commented on #289
We can use linting via the bot (`/lint`). Let's make sure we have `go vet` as part of the CI.

[2018-08-29 13:57] #266 closed

[2018-08-29 15:07] pweil- opened #290 "remove deprecated WaitForCompletion"
A number of spots were checked in using a deprecated method `WaitForCompletion`.   They should be updated to use `WaitForCompletionRef`

[code]

[2018-08-29 16:52] jim-minter opened #292 "can't currently deploy OSA to subscriptions with old loganalytics pricing model"
sku pergb2018 is hard coded in arm template.  No easy way to autodetect.

https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-usage-and-estimated-costs

known limitation for PP.  Post-PP need to look at resolving this - RP could detect subscription type and fix out SKU, or could do a retry loop with different SKUs until success.

[2018-08-29 16:52] jim-minter commented on #292
@amanohar @sozercan fyi

[2018-08-29 18:08] sozercan commented on #292
@jimzim

[2018-08-29 21:01] kwoodson commented on #236
This happens every time for me.

1. Create a cluster `./hack/create.sh testcluster`
2. Once cluster is available:
3. Go to: https://openshift.<resource group>.osadev.cloud/console/
4. Select the local password.
5. Enter in login/pw for demo.
6. Results in an error:
[code]

[2018-08-29 23:37] jim-minter commented on #236
@kwoodson see https://bugzilla.redhat.com/show_bug.cgi?id=1488394

[2018-08-29 23:52] kwoodson commented on #236
Thanks Jim. Should we close this since it is a known issue?

[2018-08-30 07:59] kargakis opened #299 "log package panic"
If I use our `log` package w/o calling `New` to initialize the logger, when I use one of the logging fns, they will panic. Not sure that's expected behavior.

[code]
@openshift/sig-azure

[2018-08-30 08:35] mjudeikis commented on #299
No its not. Interesting... Where do you see this?

[2018-08-30 08:38] kargakis commented on #299
I saw it in one of my PRs where I tried to use `log` in cmd/createorupdate/update.go.

Should be easy to reproduce.

[2018-08-30 11:03] kargakis commented on #285
/assign

[2018-08-30 11:06] kargakis commented on #252
Closing as a dupe of https://github.com/openshift/openshift-azure/issues/285

[2018-08-30 11:06] #252 closed

[2018-08-30 11:08] kargakis commented on #212
Not sure this is an issue anymore, please reopen if you think so.

[2018-08-30 11:08] #212 closed

[2018-08-30 11:11] kargakis commented on #265
I would be tempted to close this. We should have a high bar for any ordering changes in `sync`.

[2018-08-30 11:13] kargakis commented on #269
The problem with PVs is definitely an issue of the scheduler. Not sure it is worked around by marking old nodes as unschedulable.

[2018-08-30 11:14] #161 closed

[2018-08-30 13:04] kargakis commented on #299
Interestingly log is already used in that level, so it may also be a nil pointer exception of what I was trying to print :$

[2018-08-30 13:10] kargakis commented on #223
This is still an issue for `sync`

/reopen

[2018-08-30 13:10] kargakis commented on #223
/assign thanasisk

[2018-08-30 13:10] pweil- commented on #299
yeah, there is still the issue if the plugin isn't initialized where any call to the log package would NPE.  We should probably just call `New` in each method with a default logger since if it's already initialized it won't have effect.  Then again I think that may make the plugin method misleading since it won't *actually* give you the logger you wanted.  All of this for an easier api, starting t

[2018-08-30 13:11] kargakis commented on #299
Worth cleaning it up.

[2018-08-30 14:23] kargakis opened #302 "Figure out whether we want to support scale+upgrade"
Post-PP

[2018-08-30 14:37] mjudeikis opened #303 "add azure disk for persistent components"
Registry, Prometheus, alert manager (and maybe few more of the components) are running with `emptyDir`:

[code]

Need to move to PVC using azure disk where possible (RWM vs RWO)

[2018-08-30 14:38] mjudeikis commented on #303
/kind feature

[2018-08-30 14:38] kargakis commented on #303
The registry is backed by Azure blob storage already

[2018-08-30 14:39] mjudeikis commented on #303
Forgot we do direct integration...
Prometheus, alertmanager, nop :/

[2018-08-30 14:39] kargakis commented on #303
Prometheus is a statefulset so in principle we can start using its PVC template.

[2018-08-30 14:48] kargakis opened #304 "Consider using hard anti-affinity in infra services"
After https://github.com/openshift/openshift-azure/pull/288, we are going to use soft anti-affinity for infra services ("**prefer** not to schedule a pod in a node where another instance of the same pod is already running if possible"). We should probably switch to hard ("**do not** schedule a pod in a node where another instance of the same pod is already running").

/kind feature

[2018-08-30 14:51] kargakis commented on #304
@openshift/sig-azure

[2018-08-30 14:53] #271 closed

[2018-08-30 15:06] kargakis opened #305 "Web console uses 100% maxUnavailable"
Means during an upgrade of the deployment, we tolerate unavailability of the console.

@openshift/sig-azure any ideas why?

[2018-08-30 15:10] pweil- commented on #305
https://github.com/openshift/openshift-ansible/pull/8694

[2018-08-30 15:36] #286 closed

[2018-08-30 16:56] #260 closed

[2018-08-30 22:14] jim-minter opened #307 "x509: certificate signed by unknown authority in sync pod"
in the sync pod, @sozercan saw:

[code]

[2018-08-30 22:15] jim-minter commented on #307
This happens because Properties.FQDN == Properties.PublicHostname == "sertacosatest29.eastus.cloudapp.azure.com".
Then the API server is configured to serve a special self-signed "console" certificate for the PublicHostname, and that is also served to internal clients who do API requests via the FQDN.  And that causes the sync pod to die in a heap.

[2018-08-30 22:16] jim-minter commented on #307
@mjudeikis please can you pick this up as a priority first thing Friday morning?

[2018-08-31 13:44] jim-minter commented on #223
@thanasisk just needs a `logger.Formatter = &logrus.TextFormatter{FullTimestamp: true}` somewhere near the top of sync.go

[2018-08-31 13:48] jim-minter opened #309 "add e2e test that verifies that users can't create/update/delete poddisruptionbudgets"

[2018-08-31 13:49] jim-minter opened #310 "consider condensing the system-aggregate-to-* RBAC files into their respective places"

[2018-08-31 15:04] #284 closed

[2018-08-31 15:07] kargakis commented on #305
To avoid this at all times we will have to set maxSurge to 0.

[2018-08-31 16:44] kwoodson commented on #261
/assign

[2018-08-31 16:55] kwoodson commented on #265
/close

[2018-08-31 16:55] #265 closed

[2018-08-31 16:58] mjudeikis commented on #307
https://docs.openshift.com/container-platform/3.10/install_config/certificate_customization.html#configuring-custom-certificates documentation about expected behavior of named_certificates

[2018-08-31 17:08] #261 closed

[2018-08-31 17:40] #307 closed

[2018-08-31 19:48] #251 closed

[2018-09-03 08:28] kargakis opened #317 "Unauthorized: Access is denied due to invalid credentials."
Test flake
[code]
@openshift/sig-azure

[2018-09-03 08:38] kargakis commented on #317
/kind test-flake

[2018-09-03 08:39] kargakis commented on #267
/kind test-flake

[2018-09-03 09:32] mjudeikis commented on #317
Worth checking credentials. Might be some issue with those.
/assign mjudeikis

[2018-09-03 10:39] kargakis opened #319 "Generate htpasswd when AAD is enabled"
Or at the very least, generate the password instead of hardcoding to `demo`.

@openshift/sig-azure thoughts?

[2018-09-03 10:43] mjudeikis commented on #319
I think we agreed we need to generate one for now with intention we gonna remove it in the close future

[2018-09-03 12:41] kargakis commented on #193
/assign

[2018-09-03 12:48] kargakis commented on #270
This is not an issue after all since the sync process is using volumes to hash content which are shared between containers and initContainers. Also we removed the registry init container in #300.

/close

[2018-09-03 12:48] #270 closed

[2018-09-03 13:17] #193 closed

[2018-09-03 13:44] #223 closed

[2018-09-03 14:18] mjudeikis commented on #319
/assign

[2018-09-03 14:34] kargakis commented on #299
Hrm, after spending some time on reviewing what we have I am not sure this can be cleaned up easily. All of our plugin methods are using `New` so we should be covered inside the plugin code.

[2018-09-03 14:34] #299 closed

[2018-09-03 14:57] jim-minter commented on #319
+1 on generate

[2018-09-03 15:34] mjudeikis commented on #319
@jim-minter if we generate it randomly. Its get stored in htpasswd format. Question is how we will know it? :D
[code]

[2018-09-03 18:15] jim-minter commented on #303
docker-registry yaml needs tidying up (think both emptyDirs can just be removed?)
prometheus data definitely should be persisted

[2018-09-03 18:17] jim-minter commented on #269
@kwoodson I don't understand what this issue is getting at - please can you update or close?

[2018-09-03 18:17] #243 closed

[2018-09-03 19:26] kwoodson commented on #269
The issue is that we could potentially have rotating applications during the upgrade process. In our dedicated or online environments, this has been a problem and can be mitigated by attempting to set old nodes to unscheduable.

[2018-09-03 19:47] #281 closed

[2018-09-03 19:53] jim-minter commented on #269
I still don't understand :(
Currently for each infra/compute node, we repeatedly:
* spin up new node, wait for ready
* set unschedulable on an old node, drain old node, delete old node

What is this issue aiming to change?

[2018-09-04 06:14] kargakis commented on #269
The issue is about avoiding scheduling pods that were evicted from an old
node to a different old node that is yet to get upgraded to avoid evicting
the same pod more than once during an upgrade.

On Mon, Sep 3, 2018, 21:53 Jim Minter <notifications@github.com> wrote:

[2018-09-04 09:51] kargakis commented on #303
Opened https://github.com/openshift/openshift-azure/pull/325 for cleaning up the registry empty directories. @legionus confirmed to me that we don't need to mount anything in `/registry` when cloud storage is used.

[2018-09-04 13:44] #247 closed

[2018-09-04 17:36] jim-minter opened #327 "Need to tie RP vendoring to sync pod version"
This is critical to avoid mismatches in testing, and then in production
Longer term there will be a sync pod image per supported OSA release (e.g. at least sync-3.10, sync-3.11; maybe even sync-3.10.0, sync-3.10.1, ...). In the short term for PP we'll just start with one.

Proposal for now is:
1) on each commit, CI should build and push the sync pod tagged with the short commit ID.  Also tag :late

[2018-09-04 17:37] jim-minter commented on #327
@openshift/sig-azure @amanohar FYI
@kargakis if I don't get to this today please could you look at this urgently on Wednesday?

[2018-09-04 20:51] jim-minter opened #329 "In update, must not deploy NSGs"
The Azure cloud provider updates NSGs when LoadBalancer services are created.
Therefore plugin update must not touch NSGs via ARM because it'd cause a temporary outage of LB services.
On update, generate a limited ARM template which doesn't include NSGs.

[2018-09-04 20:51] jim-minter commented on #329
cc @openshift/sig-azure @amanohar

[2018-09-04 21:08] jim-minter opened #331 "Make networking pods static pods, not daemonsets"
We already believe that doing this will improve startup performance.  Another key consideration is during major version upgrade: on upgrade from 3.10->3.11, a 3.11 node image would be spun up using 3.10 daemonset pods until the sync pod was re-enabled and ran.  This is possibly undesirable.

[2018-09-04 21:09] jim-minter commented on #331
@openshift/sig-azure opinions on whether we should try to fix this pre-private preview?

[2018-09-04 21:09] jim-minter commented on #331
(tagging private preview for now, might cancel that)

[2018-09-04 21:10] jim-minter opened #332 "Add basic configuration to plugin"
MSFT want to be able to change at least the VM image the plugin chooses to use without revendoring the plugin.  Need a mechanism to allow this to be specified, either via the plugin reading a config file, or by accepting configuration at plugin instantiation time.

[2018-09-04 21:11] jim-minter commented on #332
@openshift/sig-azure

[2018-09-04 21:13] kargakis commented on #331
We could avoid scheduling old daemonset pods on new images by adding the Openshift version as a node label and use the node selector in the daemonset but I also believe moving to static pods is probably better (should allow us to move the sync pod to run as a normal pod, thus avoid pinning it in master-00000 as it currently is).

[2018-09-04 21:13] jim-minter opened #333 "Disable and enable/kick sync pod as part of the upgrade process"

[2018-09-04 21:13] kargakis commented on #331
Also, a nice to have before PP.

[2018-09-04 21:13] jim-minter commented on #331
A third reason for doing this is that it helps enable running the sync pod as a Deployment - cf #333

[2018-09-04 21:27] jim-minter opened #334 "plugin API should have single function call for update()"
agreed approach with MSFT that the RP will call a single plugin update function which will handle everything from draining excess pods, calling deploy then all the update workflow.  Needs to be defined and refactored

[2018-09-04 21:27] jim-minter commented on #334
@openshift/sig-azure

[2018-09-04 22:12] jim-minter opened #335 "should remove servicePrincipalProfile from external API"
the RP will create the master service principal (not the AAD one) on our behalf and will enrich it into the internal representation.  Therefore the external API servicePrincipalProfile and validation can be removed.

[2018-09-04 22:13] jim-minter commented on #335
@openshift/sig-azure

[2018-09-04 22:13] jim-minter commented on #335
@sozercan fyi

[2018-09-04 22:28] jim-minter opened #336 "allow basic defaulting of some external api items"
At the moment, validation requires a routerprofile to be provided as input on cluster creation:
[code]

If the user is not providing a publicSubdomain it is a bit pointless to have to provide such a routerProfile - we could default that value appropriately.

[2018-09-04 22:28] jim-minter commented on #336
@openshift/sig-azure

[2018-09-04 22:29] jim-minter commented on #336
@sozercan thanks for raising!

[2018-09-05 00:21] jim-minter opened #337 "Rename Config struct to Config310"
This is a placeholder issue for now pending e-mail conversation

[2018-09-05 08:06] mjudeikis commented on #336
/assign

[2018-09-05 08:38] kargakis commented on #327
Pushing commits in their own tags in quay is going to be challenging. Today, we have two processes that comprise our sync image publishing process[1]:

1. the [ci-operator postsubmit](https://github.com/openshift/release/blob/ba151f8f4a10aa0831d69a69eaa3e3c251f1e2f7/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-postsubmits.yaml#L16) which runs on every openshift-azure merged

[2018-09-05 08:44] kargakis commented on #327
We already have `SYNC_IMAGE` to configure the sync image in the plugin. Is it something we can get rid of with this plugin function?

[2018-09-05 09:43] kargakis commented on #327
Our CI already uses `SYNC_IMAGE` to pull the correct version of the sync pod. We need to configure the whole pullspec to pull from the namespace that contains all PR artifacts.

[2018-09-05 09:46] kargakis commented on #327
Instead of configuring to set the tag in the plugin API we may want to configure the whole pullspec and  get rid of `SYNC_IMAGE`.

[2018-09-05 09:48] kargakis commented on #327
Or MSFT can `os.SetEnv("SYNC_IMAGE", "quay.io/openshift-on-azure:git_commit")` in the RP and call it a day :) We still need to fix publishing.

[2018-09-05 09:57] thanasisk commented on #331
/assign

[2018-09-05 10:03] mjudeikis commented on #335
@jim-minter @sozercan  validation happens after data is enriched and before conversion. I think we should keep the validation, no? Or now `enrich` function change its place?

[2018-09-05 10:04] kargakis commented on #327
Opened https://github.com/openshift/openshift-azure/pull/339

[2018-09-05 10:06] mjudeikis commented on #335
https://github.com/openshift/openshift-azure/pull/340

[2018-09-05 12:30] #329 closed

[2018-09-05 12:32] kargakis opened #342 "Consider adding oldCs in all plugin fn signatures"
@openshift/sig-azure

Tagging for PP, but up for discussion whether we need it.

[2018-09-05 12:37] kargakis commented on #327
Opened https://github.com/openshift/openshift-azure/pull/343 as a stopgap solution until we figure out how to automate pushing images that use commit ids.

[2018-09-05 15:38] kargakis opened #344 "failed upgrade due to lingering dependsOn NSGs"
[code]
We probably need to remove those dependsOn during upgrade, otherwise the template is invalid

@openshift/sig-azure
/kind bug
/assign

[2018-09-05 15:42] kargakis commented on #344
Hrm, this may be worse than I thought - we also use NSG resource ids in the scaleset networkProfile ..

[2018-09-05 16:12] kargakis commented on #344
https://github.com/openshift/openshift-azure/pull/345 seems to work

[2018-09-05 16:37] #344 closed

[2018-09-05 17:08] jim-minter opened #346 "need to add TenantID to AADIdentityProvider"
The tenant ID for the AAD integration is different to the cloud provider tenant ID.
While the tenant ID for the AAD integration is deducible in the RP, we might as well insist that users provided it up front from the beginning, that way if they want to use a different tenant for AAD integration, they can.

[2018-09-05 19:11] jim-minter commented on #337
We can always do this later if needs be.

[2018-09-05 19:11] #337 closed

[2018-09-05 21:04] jim-minter opened #347 "should consider expressing resource limits for all static pods and infra pods"

[2018-09-05 21:17] jim-minter opened #348 "need to validate fqdn (and router fqdn) end with <azure zone>.cloudapp.azure.com"

[2018-09-05 21:26] jim-minter opened #349 "AADIdentityProvider Name should go into master config"
At the moment we ignore the name associated with the AADIdentityProvider - should fix this.
For PP we should add validation to confirm that the name specifies exactly case matches "Azure AD".

[2018-09-05 21:28] jim-minter commented on #336
we may want to delay this post private preview so that we look at adding appropriate defaulting logic across the board

[2018-09-05 21:36] jim-minter opened #350 "minor external api changes"
1. should remove "name" field from masterPoolProfile, but master hostname will always be master-00000[012]

2. for *compute* (not infra) agentpoolprofiles, should stop validating the "name" field matches the "role" field.  Name can be any valid hostname prefix but not "infra" or "master".

3. should remove "osType" field from masterPoolProfile

[2018-09-05 21:37] jim-minter commented on #336
another item that could be considered for defaulting is osType == Linux in agentpoolprofiles

[2018-09-05 21:38] jim-minter commented on #350
3. should remove "osType" field from masterPoolProfile

[2018-09-05 23:18] jim-minter commented on #336
another one is name == "infra" for the infra agentpoolprofile

[2018-09-05 23:18] jim-minter commented on #350
cf #336

[2018-09-05 23:39] jim-minter opened #352 "etcd backup would be nice"
ideally for PP ...

[2018-09-05 23:39] jim-minter commented on #342
what's the reasoning for needing this?

[2018-09-05 23:44] jim-minter commented on #335
You should keep the validation but it should only validate when externalOnly is false.
@shrutir25 fyi

[2018-09-06 00:01] #303 closed

[2018-09-06 00:08] jim-minter opened #353 "remove aadTenantId from the cloudprovider/azure.conf"
it's spurious

[2018-09-06 00:48] jim-minter opened #357 "add limits on master nodes"
see #258. @mjudeikis @kwoodson what's your opinion?

[2018-09-06 06:43] #285 closed

[2018-09-06 07:52] kargakis commented on #352
Maybe we can use just the backup+restore operators.

[2018-09-06 08:13] #353 closed

[2018-09-06 08:36] #335 closed

[2018-09-06 08:44] mjudeikis opened #358 "infrastructure service health does not check nodes/infras"
When creating health check does not check if componets, which are infra spanning (daemonsets) are started on all nodes:
Nodes:
[code]
Pods:
[code]
Check marked as passed:
[code]

After few seconds new nodes appears in the list:
[code]

And more daemon sets being scheduled. But at this point check is ignoring those.

Do we want to care about these? These might lead to "delivering" cluster with one

[2018-09-06 11:13] kargakis commented on #342
Brought up in https://github.com/openshift/openshift-azure/pull/341#pullrequestreview-152469143

I think I lean more towards adding it when we need it. Our interface signatures do not contain unused fields and MSFT will need to revendor anyway if we add it in signatures today and eventually use it a month from today.

[2018-09-06 11:35] pweil- commented on #342
It was mentioned mostly because we're seeing more things that require "do X if it's an update" and `oldCs` is our only indication of an update.  Really the only thing I see it not on that it might be useful is `GenerateConfig`.  I can't think of a need for it on `InitializeCluster`, `HealthCheck`, `Drain`, or `WaitForReady`.

Seems like if we're doing the revendor dance a lot it might be easy to a

[2018-09-06 12:17] mjudeikis opened #359 "Router stopped working"
Looks like cloud plugin created load balancer does not have DNS name anymore.  We dont populate dns label anymore.

![screenshot from 2018-09-06 13-14-39](https://user-images.githubusercontent.com/3225744/45156731-e81afa80-b1d6-11e8-9e32-ffb7dbd44121.png)

so `+ hack/dns.sh cname-create mjudeikis-prom '*' mjudeikis-prom-router.eastus.cloudapp.azure.com` is useless.

[code]

[2018-09-06 12:17] mjudeikis commented on #359
/kind bug

[2018-09-06 12:51] #327 closed

[2018-09-06 13:16] mjudeikis opened #361 "CI fails due timeout due storage not mounted"
The error you might all seen:
[code]

problems is *AZURE DISK*
[code]

[code]

[2018-09-06 13:16] mjudeikis commented on #361
/kind test-flake

[2018-09-06 13:32] kargakis opened #362 "deallocation/deletion of a VM can timeout during an upgrade"
[code]
@openshift/sig-azure

[2018-09-06 13:33] kargakis commented on #361
dupe of https://github.com/openshift/openshift-azure/issues/267?

[2018-09-06 13:40] mjudeikis commented on #361
@kargakis hard to know. With artifacts, we might be able to iron this down. But I suspect this will be diff, as PVC is recent change and that one was for a week already.

[2018-09-06 13:42] kargakis commented on #361
I've seen prometheus time out a bunch of times already (eg. https://github.com/openshift/openshift-azure/issues/267#issuecomment-416534692)

[2018-09-06 13:45] mjudeikis commented on #359
/close
looks like issue was I was using old sync image. same for all other clusters in our resource group.

[2018-09-06 13:45] #359 closed

[2018-09-06 14:30] #334 closed

[2018-09-06 14:54] mjudeikis commented on #349
Will this be "User Provided or MSFT generated" We could just default in validation code?

[2018-09-06 15:31] kargakis commented on #362
Retrying such a failed upgrade is going to be problematic because masters are losing quorum
[code]

[2018-09-06 15:39] kargakis commented on #362
At the very least, on upgrade, we may want to list the k8s nodes first, figure out which machines are missing or unhealthy and try updating those first.

[2018-09-06 15:41] kargakis commented on #362
Also, waiting for 15m for a VM deallocation is very long cc @amanohar @sozercan @shrutir25

[2018-09-06 15:43] kargakis commented on #362
/kind bug

[2018-09-06 16:01] kargakis commented on #342
Yeah, let's get this off our radar for now and worry about it when we will need to add it.

[2018-09-06 16:01] #342 closed

[2018-09-06 16:18] mjudeikis commented on #349
/close

[2018-09-06 16:18] #349 closed

[2018-09-06 16:26] jim-minter commented on #352
@pweil- @amanohar if we can find an interim position quickly which adds protection for PP day 1, and given that this is a RH internal task, I'd be inclined to let this break the "feature freeze date" by a day or two.

@mjudeikis AKS uses the etcd operator to back up etcd to an Azure storage blob - might we for example be able to reuse that component in a freestanding way here in the short term?

[2018-09-06 16:32] #346 closed

[2018-09-06 16:48] jim-minter commented on #361
@amanohar fyi

[2018-09-06 17:07] jim-minter opened #366 "add osadmin login details to README.md"
Username: `osadmin`
Password: randomly generated
To get the password
./hack/config.sh get-config $RESOURCEGROUP | jq -r .config.AdminPasswd

[2018-09-06 18:12] pweil- commented on #352
I would suggest here that backup on day 1 is not a strong enough requirement to break freeze.  We have already stated that customers should expect to delete their clusters.  I would make this a second iteration deployment if it doesn't fit.

[2018-09-06 19:15] kwoodson commented on #269
@jim-minter, @kargakis, if you feel the scheduler is intelligent enough to do this then feel free to close.  We can always revisit if customers feel this is causing issues with deployments.

[2018-09-06 19:53] jim-minter opened #367 "GenerateARM signature should not include oldCs"
instead of passing oldCs, can we pass something like `isUpdate bool`?

[2018-09-06 19:53] jim-minter commented on #367
@amanohar fyi

[2018-09-06 20:40] pweil- opened #368 "default node pools"
Discussed with JimZ, for private preview clusters the business expectation is:

default compute node count: 4
default infra node count: 3

[2018-09-06 20:44] pweil- commented on #368
question here if we want this in the cli and not in the plugin.  That seems to make sense to me.

[2018-09-06 20:58] pweil- commented on #368
spoke with JimZ, will default in the cli.

[2018-09-06 20:58] #368 closed

[2018-09-06 21:00] jim-minter opened #369 "Clarify "AAD Application / Service principal" README section"

[2018-09-06 21:38] jim-minter opened #370 "disable vanity domains for apiserver and router for PP"
check the validation

[2018-09-06 23:28] jim-minter opened #371 "return plugin errors in OData V4 format"
http://docs.oasis-open.org/odata/odata-json-format/v4.0/os/odata-json-format-v4.0-os.html#_Toc372793091

@amanohar please can you provide a sketch for this and we'll implement?

[2018-09-06 23:29] jim-minter opened #372 "set locale for azure client (additional header)"
example: https://github.com/Azure/acs-engine/blob/849e5fd1a26e1dda2e8532afb58123e6049e4638/pkg/armhelpers/azureclient.go#L429

[2018-09-07 12:12] #319 closed

[2018-09-07 12:40] pweil- commented on #367
@jim-minter @kargakis I don't really see the reasoning behind why it shouldn't include the oldCs.  Maybe I'm future proofing here but the work is already done and if we ever want to make decisions based on content of the oldCs during generation we'll have to change it.

Is it difficult to make the oldCs available during this call?  Is there some other reason it *shouldn't* include it?

[2018-09-07 12:44] kargakis commented on #367
/shrug

[2018-09-07 13:31] kargakis commented on #267
The sync image seems to fail to get pulled from the CI registry, resulting in the webconsole failure (the webconsole is the first infra service that is healthchecked)
[code]
[code]
This is an infra issue cc @stevekuznetsov @bbguimaraes @smarterclayton

[2018-09-07 13:32] mjudeikis commented on #267
can you see it being tagged into image stream?

[2018-09-07 14:03] smarterclayton commented on #267
Is the image actually there?

On Sep 7, 2018, at 9:31 AM, Michalis Kargakis <notifications@github.com>
wrote:

The sync image seems to fail to get pulled from the CI registry, resulting
in the webconsole failure (the webconsole is the first infra service that
is healthchecked)

NAMESPACE     NAME                        READY     STATUS
RESTARTS   AGE       IP         NODE
kube-system   api-master-

[2018-09-07 14:07] mjudeikis commented on #267
It was not. Checking if after adding tag stanza it get images into. its
v.3.10 build, not 4.0/

On Fri, Sep 7, 2018 at 3:03 PM Clayton Coleman <notifications@github.com>
wrote:

--

MANGIRDAS JUDEIKIS (MJ)

Software Engineer - OSA Team

Red Hat  <https://www.redhat.com/>UK

M: +44-(0)-792-0267213
<https://red.ht/sig>

[2018-09-07 16:06] jim-minter commented on #367
MSFT specifically want to avoid passing in more data than is needed, and want to avoid proliferating making edge-triggered decisions based on oldCs.  I understand it's bitten them in the past.

[2018-09-07 16:08] pweil- commented on #367
done in 373 :smile:

[2018-09-07 16:08] #367 closed

[2018-09-07 16:15] jim-minter commented on #367
thanks - didn't see it for looking

[2018-09-07 16:23] thanasisk opened #376 "Standardize our Load Balancers to be Standard Class, as opposed to Basic"
https://azure.microsoft.com/en-us/support/legal/sla/summary/

Basic LBs have NO SLA
In order to maintain consistency in our SLO/SLA calculations, we should switch to Standard Load Balancers that come with an SLA guarantee

[2018-09-07 16:45] kargakis commented on #376
https://azure.microsoft.com/en-us/support/legal/sla/load-balancer/v1_0/

good catch @thanasisk ! Mind opening a PR?

cc @pweil- @jim-minter

[2018-09-07 17:08] kargakis commented on #217
/priority important-soon

[2018-09-07 17:44] jim-minter commented on #376
standard load balancer support begins in k8s 1.11 https://github.com/kubernetes/kubernetes/pull/62707

[2018-09-07 17:46] jim-minter commented on #376
it does not appear to be in openshift 3.10.

[2018-09-07 19:21] kwoodson commented on #357
@mjudeikis @jim-minter,

We don't set kube-reserved on masters but we do set system-reserved:
[code]

[2018-09-07 19:39] jim-minter opened #378 "review etcd operator permissions"
see https://github.com/openshift/openshift-azure/pull/375#pullrequestreview-153469726

[2018-09-07 19:41] jim-minter opened #379 "need e2e test for etcd backup and restore"
@mjudeikis ;-)

[2018-09-07 19:53] mjudeikis commented on #379
These ones will need to `go logic` compatible test framework.  We will need to create a cluster, and check blob to be available.

[2018-09-07 20:43] mjudeikis opened #380 "tide up sync ordering in writeDB()"
If we wrap `EtcdCRDReady` and `ServiceCatalogExists` in subfunctions (or rewrite them) we can move update client logic into the clients itself. Methods should know if they need to update client or not, `writeDB` should not care which filter or order needs update clients after run.

https://github.com/openshift/openshift-azure/blob/master/pkg/addons/addons.go#L210-L219

[2018-09-07 20:47] mjudeikis commented on #357
This was my expectation too. Sound familiar what we use to do too

[2018-09-10 07:27] mjudeikis opened #381 "make ci project teardown better"
Some of the flakes now come from the issue that project in Azure is not terminate and when `ci-operator` reruns jobs it uses the same cluster, which already exists.

fix:
1. make create.sh properly execute teardown
2. make ci-projects very short-lived (2-3 hours).
3. refactor purge to accommodate it (if needed)
4. make purge run each hour.

[2018-09-10 07:35] kargakis commented on #381
Re 1., instead of fixing create.sh, we can also fix the ci-operator container that calls create.sh to wait or execute teardown properly?

[2018-09-10 07:45] mjudeikis commented on #381
I suspect if failure is in `create.sh` post that there is one more command and the overall script is not getting "trapped" properly. It should wait for teardown, but does not.

[code]

[2018-09-10 07:57] mjudeikis commented on #381
as expected teardown is not getting triggered:
[code]

[2018-09-10 08:00] kargakis opened #382 "unit tests for pkg/cluster"
We need to be unit-testing our upgrade code.

Requirements:
- move initialization of scale set, virtual machine, and kubernetes clients in `NewSimpleUpgrader`
- create interfaces for the scale set and VM clients, create fake implementations for those interfaces (from a brief look I had in the azure sdk [I couldnt find any fake clients](https://github.com/Azure/azure-sdk-for-go/issues/409)), use [k

[2018-09-10 08:05] mjudeikis commented on #382
sgtm

[2018-09-10 08:43] mjudeikis commented on #381
pending tests from closure

[2018-09-10 08:45] kargakis commented on #381
/assign mjudeikis

[2018-09-10 08:46] kargakis commented on #381
/kind bug
/kind cleanup

[2018-09-10 09:14] kargakis opened #383 "collapse some packages"
Not sure how others feel about it but I think we should collapse `pkg/checks` in `pkg/healthcheck` and `pkg/validate` in `pkg/api`. Thoughts?

@openshift/sig-azure

[2018-09-10 09:17] mjudeikis commented on #383
I agree with `check` and `healthcheck`.

Not sure about `api` and `validate`. I think we need to add "code to default values". And validate is good place to for it (https://github.com/openshift/openshift-azure/issues/336) . So it might grow little bit...

[2018-09-10 10:46] #381 closed

[2018-09-10 12:36] pweil- commented on #383
I am +1 to combining these as suggested.  I also agree that defaulting and validation are part of the api side if we're following upstream patterns.

[2018-09-10 13:14] jim-minter commented on #383
I agree too.  I'm somewhat paranoid about import dependencies in pkg/api, rolling validate in won't hurt that but we should keep it that way :)

[2018-09-10 16:54] jim-minter opened #386 "add `json` tags to Config struct members"
We serialise the Config struct into the config SA.  At the moment we don't use `json:"foo"` tags on it.  I think it'd make sense to add these before PP starts and have them conform to the lowerCase style we use elsewhere. @kargakis @pweil- @mjudeikis thoughts?

[2018-09-10 17:08] pweil- commented on #386
sgtm

[2018-09-10 17:16] stevekuznetsov commented on #267
@kargakis please submit an issue in `openshift/release` and use the template to guide what information you provide

[2018-09-10 19:50] charlesakalugwu commented on #361
@kargakis also just ran into this issue with the prometheus pvc

[2018-09-10 19:53] kargakis commented on #361
Yes, the pvc issue seems separate from the broken sync pull.

On Mon, Sep 10, 2018 at 9:50 PM, Charles Akalugwu <notifications@github.com>
wrote:

[2018-09-10 19:54] mjudeikis commented on #352
/close

[2018-09-10 19:54] #352 closed

[2018-09-10 19:55] mjudeikis commented on #357
@jim-minter can re refactor/rename this one to add limits on master nodeS?

[2018-09-10 19:56] kargakis commented on #361
What change fixed it?

[2018-09-10 19:58] mjudeikis commented on #361
I think we might be speaking about different issues. I was thinking about
the one where I added  --target=[output:stable:sync] and you think about
the infra flake one.

On Mon, Sep 10, 2018 at 8:56 PM Michalis Kargakis <notifications@github.com>
wrote:

--

MANGIRDAS JUDEIKIS (MJ)

Software Engineer - OSA Team

Red Hat  <https://www.redhat.com/>UK

M: +44-(0)-792-0267213
<https://red.ht/sig>

[2018-09-10 20:04] kargakis opened #388 "Change fake RP implementation to accept manifests via PUT requests"
@openshift/sig-azure

[2018-09-11 00:03] jim-minter opened #390 "(after PP) refactor plugin Update function"
1) It is a layering violation to call upgrade.Deploy in createorupdate.go.  plugin Update() should become CreateOrUpdate() and should handle both create and update reconciliation cases

2) CreateOrUpdate() needs to be split into two pieces (pre-deploy and post-deploy) so that MSFT can use custom ARM deployment logic in both cases.

3) The create case of CreateOrUpdate() should not return until all

[2018-09-11 00:20] jim-minter opened #391 "consider extending readiness checks to ensure all expected static pods are running"
I'm not sure if we need/want this or not.

[2018-09-11 06:51] mjudeikis commented on #391
I saw cases when one master static pod was not starting due the wrong config in the master script (master-000000) due master.sh logic, error. I messed it once, somebody else will do it too. +1 for static pod checking.

[2018-09-11 06:58] mjudeikis commented on #333
Or sync pod needs to read labels on the nodes and act on them. Similar to how coreos self-updatable stack works. Ticket to update is handled by labels.

[2018-09-11 06:59] mjudeikis commented on #370
please elaborate? Are we not allowing BYO Domain for pp?

[2018-09-11 08:53] mjudeikis opened #394 "filter conformance test"
we have `/test conformance` running now. we need to filter failures to ignore those, which are not applicable to us and fix relevant ones.,

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/387/pull-ci-openshift-azure-conformance/3

17 failures, 212 success.

Filtering should be done in prow:
https://github.com/openshift/release/blob/546bfdf8dfc57

[2018-09-11 09:12] kargakis commented on #391
During upgrades we already check the readiness of static pods as part of deeming master nodes as ready so checking a second time in the healthcheck seems redundant but may not hurt.

[2018-09-11 09:16] kargakis commented on #333
I know we discussed this before but tbh I don't feel strong about this, it's one more thing to care about during an upgrade. I think I would prefer we do partial validation based on the config version. Also if we want to guarantee a unique version of the sync pod is always running we should be using a statefulset instead of a deployment (belts and suspenders).

[2018-09-11 09:45] mjudeikis opened #395 "changes in servicePrincipalProfile secret makes masters go to /dev/null"
SRE cluster was left untouched for a week. Yesterday when @jim-minter reported secret change issue I needed to update secret for prometheus-sidecar.

Cluster state:
1. Applications are running.
2. Master are dead.

[code]

[code]

Issue 1: Logrotate.
[code]

Last log entry is Sep6... and silent...
Checking nodes further

[2018-09-11 09:45] mjudeikis commented on #395
/kind bug

[2018-09-11 10:05] mjudeikis commented on #395
[code]
But this is expected... I think... Considering this is part of `system-reserved` we might need to be aware of this bottleneck.

The issue with the credentials. Password change triggered cloud plugin to ditch all nodes and kubelet was dead.

[code]

[2018-09-11 10:06] mjudeikis commented on #395
So question, main App id key rotation. How it will be done and if it will be done? as it looks like it is sensitive matter. @openshift/sig-azure  ?

[2018-09-11 10:19] mjudeikis commented on #357
/kind feature

[2018-09-11 10:27] mjudeikis commented on #317
have we observed this one during recent days?

[2018-09-11 10:28] mjudeikis commented on #347
/kind feature

[2018-09-11 10:29] mjudeikis commented on #347
I was wondering is static pod is part of kubelet resource pool (`kube-reserved`) or part of node resource pool?

[2018-09-11 10:35] mjudeikis commented on #361
[code]

10 min in, no storage...

[2018-09-11 10:38] charlesakalugwu commented on #386
/assign

[2018-09-11 11:19] charlesakalugwu commented on #239
+1 I use virtualgo for isolated golang workspaces and its got great integration with dep but unfortunately not glide.

[2018-09-11 11:34] kargakis opened #396 "e2e test failure due to missing deps"
[code]
/assign
/kind bug

[2018-09-11 11:44] charlesakalugwu opened #399 "add helper make targets for cluster create and delete"
To create the cluster, we need to

- create a copy of `env.example` as `env` (`cp env.example env`)
- fill in appropriate values into `env`
- source the `env` file (source ./env)
- call the create.sh script (`./hack/create.sh somename`)

Sometimes I might switch to a new terminal, forget to source the file `env` file and try to call the `delete.sh` script (`./hack/delete.sh somename`).

In additio

[2018-09-11 11:46] mjudeikis commented on #369
For me it's clear as I did it. It would be good some of the new people would run through this and update accordingly.

[2018-09-11 11:56] mjudeikis commented on #379
/asign

[2018-09-11 11:58] #396 closed

[2018-09-11 12:01] kargakis commented on #379
/assign mjudeikis

[2018-09-11 12:31] kargakis commented on #309
/assign

[2018-09-11 12:32] kargakis commented on #273
/assign kwoodson

[2018-09-11 12:40] mjudeikis opened #400 "consolidate clients into pkg"
we starting to reuse the same client code base in a few places.  Without this our `e2e` tests will start duplicating client code in one more place

Suggestion: *Consolidate all clients under package `clients`*
[code]

WDYT @openshift/sig-azure  ?

[2018-09-11 13:04] kargakis commented on #400
I don't feel strong about creating a generic clients package that is basically a wrapper for the azure sdk and client-go. I am in favor of using the clients directly. client-go exposes interfaces and has fake implementations, that's the only issue with the azure sdk so for that we will need to create our own interfaces and fake implementations for unit-testability.

[2018-09-11 13:12] mjudeikis commented on #400
So maybe just for azure?

[2018-09-11 13:13] jim-minter commented on #395
needs to be 3 issues
1- changing the azure secret caused the nodes to deregister and even the static pods to stop
2- /var/log filled - probably trim journald.conf to <8G and deal with all the other files that were growing without bounds, eg messages (which was rotated)
3- track journald memory (4.4G) in case it's an issue for us

[2018-09-11 13:36] thanasisk commented on #386
lgtm however
/cc kargakis mjudeikis

[2018-09-11 13:55] mjudeikis opened #402 "cloudprovider identity changes causes masters to stop"
to reproduce:
1. Create a cluster using if `AZURE_CLIENT_ID` `AZURE_CLIENT_SECRET` aka. `cs.Properties.ServicePrincipalProfile`.
2. Change password on application instance behind `AZURE_CLIENT_ID`.
3. Master kubelet should stop running all pods on the masters.

[2018-09-11 13:55] mjudeikis commented on #402
/kind bug

[2018-09-11 13:56] mjudeikis opened #403 "/var gets filled"
`/var/log` filled - probably trim journald.conf to <8G
and deal with all the other files that were growing without bounds,
/var/log/messages (which was rotated)

[code]

[code]

/kind bug

[2018-09-11 13:58] mjudeikis opened #404 "track journald memory consumption"
On one of the instances I spotted journald consuming 4GB of ram. It might be an issue if we consider `system-reserved` cap on system and box sizes. We need to track it, potentially in prometheus.

[code]

/kind bug

[2018-09-11 14:00] mjudeikis commented on #395
close in favor or #403 #402 #404

[2018-09-11 14:00] #395 closed

[2018-09-11 14:26] mjudeikis commented on #400
for future extensibility: https://github.com/Azure/azure-sdk-for-go/issues/409
https://github.com/kubernetes/kubernetes/blob/34001d8c6a0ed4edf02d91c5b45920a2676418f9/pkg/cloudprovider/providers/azure/azure_client.go

[2018-09-11 14:35] jim-minter commented on #370
@mjudeikis correct

@charlesakalugwu - as we talked about, this is a validation update + unit tests + fix ups to create.sh, and open a follow-up jira story to enable post PP

[2018-09-11 20:58] jim-minter opened #407 "disable log analytics on CI clusters"
@kargakis please can you look at this first thing in the morning?
suggest setting a generic env var for CI runs and simply disabling creation of the LogAnalytics resource when it's set

[2018-09-11 21:16] jim-minter commented on #407
Possibly for neatness the logbridge static pod as well.

Clearly, we'll need to have some test runs where it's enabled, but not all of them.

[2018-09-11 21:31] sozercan commented on #361
ran into same issue

[code]

[code]

[2018-09-11 21:52] sozercan commented on #361
I see this in sync pod:

[code]

[code]

[2018-09-12 06:51] mjudeikis commented on #361
@sozercan you got one storage allocated. This means storage class was available to the pvc.. But second, gets not implemented. worth checking how many disk we have on the scheduled node in use already. Maybe its limit of how many we can mount.

[2018-09-12 07:10] mjudeikis commented on #402
we noticed this only if ran service for a long time. I had a cluster running with the expired secret for 16h and its is still running. Might be either very long TTL (which would make sense) orr we have heisenbug here and it is not what we are looking for.
@jim-minter reopen if you think its relevant.

[2018-09-12 07:10] #402 closed

[2018-09-12 07:13] mjudeikis opened #408 "Tune health check logic"
@amanohar:
Total cluster deployment time (6 node cluster: 3 master, 1 agent, 2 infra) is: ~12-13 mins.

Template deployment took: ~4 mins

Approx. 6+ mins was spent on health check out of which:
`prometheus-node-exporter`: took ~1+ min
`prometheus`: took ~4+ mins

There might be scope for optimization via:
1) Doing health check of components in parallel where possible.
2) Possibly only check healt

[2018-09-12 11:52] pweil- commented on #408
The cli is expected to default to 4 agent nodes. Does that significantly
increase the time?

On Wed, Sep 12, 2018 at 03:13 Mangirdas Judeikis <notifications@github.com>
wrote:

[2018-09-12 12:35] pweil- commented on #386
from #401 - This is staying open for the unit test implementation.

[2018-09-12 12:36] pweil- commented on #331
status?

[2018-09-12 12:37] pweil- commented on #348
status?

[2018-09-12 13:02] kargakis commented on #408
I am waiting more than 10m for a PV to get created for Prometheus on an install. We may want to revert using persistent storage for metrics in PP (some of the pain with not persisting metrics is going to be alleviated by the SRE Prometheus federation.

[2018-09-12 13:05] kargakis commented on #305
Not sure how I managed to close this.

[2018-09-12 13:05] #366 closed

[2018-09-12 13:12] jim-minter commented on #408
I believe the principal issues affecting startup time are (in order):
1) Azure PV attach time
2) not running SDN as static pods
3) possibly I/O due to image sizes, possibly especially those associated with deploying Prometheus

@mjudeikis the fact that health checks run in serial does not affect cluster startup time.  The underlying deployments are in parallel, it's just that prometheus is the slo

[2018-09-12 13:12] jim-minter commented on #408
@pweil- no.

[2018-09-12 13:14] jim-minter commented on #408
@mjudeikis I think this issue needs to be repurposed to concrete things that can be done.  Measure and report cluster startup / PV attach times in test would be a good example.

[2018-09-12 13:17] mjudeikis commented on #408
@jim-minter all these issues where raised by @amanohar in slack.

Wondering, is it worth trying to sping something like 100 clusters in random regions and check how many we fail and succ and problems with those? this should be scriptable?

[2018-09-12 13:27] kargakis commented on #408
@mjudeikis all test artifacts are persistent in GCS so we could write a script or a prometheus gateway sidecar that scrapes the GCS buckets and pushes all test metrics in the gateway that is then scraped by our own Prometheus that we could run in the azure namespace.

[2018-09-12 13:30] jim-minter commented on #399
My personal take:

Agreed the situation isn't brilliant as it stands.

I'm reluctant about the `make` change because I don't like the idea of lots of layers to helper scripts - origin did this and it gets horrible quickly.  We're also trying to make the helper scripts etc. smaller as time goes on.

I recognise `delete.sh $RESOURCEGROUP` is irritating, but `ssh.sh $RESOURCEGROUP` will probably be u

[2018-09-12 13:31] jim-minter opened #411 "have ssh.sh use config.sh to retrieve the cluster private key if it isn't available locally"
this gives us an easy way ssh into arbitrary clusters with access to the cluster config in the storage account

[2018-09-12 13:43] kargakis commented on #399
Agreed with @jim-minter

[2018-09-12 13:54] #407 closed

[2018-09-12 14:40] charlesakalugwu commented on #399
@jim-minter @kargakis  I completely understand your stance. I'll submit a PR for sourcing `env` directly

[2018-09-12 14:59] kargakis opened #412 "postsubmits are broken circa 4 days"
[code]
https://storage.googleapis.com/origin-ci-test/logs/branch-ci-openshift-openshift-azure/8/build-log.txt

@openshift/sig-azure

[2018-09-12 15:00] kargakis commented on #412
@bbguimaraes @petr-muller @stevekuznetsov this happens only in postsubmits where the only difference is the promotion step. Does it ring a bell?

[2018-09-12 15:04] petr-muller commented on #412
https://github.com/openshift/ci-operator/pull/126/ maybe?

[2018-09-13 00:43] jim-minter commented on #383
Pulling in pkg/api from some project and getting huge bloat sucks.  We risk going there with all our SRE tooling, if we can avoid it so much the better.

(I don't love the fact that we import the kubernetes API on our internal API for kubeconfigs - cf #414)

[2018-09-13 00:47] jim-minter commented on #333
I can think of 2 cases of interest here:
1- at the end of an update, knowing the sync pod has run with an updated config before releasing a cluster back to the user
2- preventing the sync pod from making things unexpectedly confusing during major version upgrade.

[2018-09-13 00:49] jim-minter commented on #371
validation errors are a particularly key piece of this work

[2018-09-13 00:49] jim-minter commented on #127
closing for #371

[2018-09-13 00:49] #127 closed

[2018-09-13 00:51] jim-minter commented on #150
as discussed today we're removing the duplication of azProfile (#413) but keeping azProfile.  It's handy to have this stuff persisted into the config blob so it beats the context route for passing this into the plugin.  Hence closing this issue, feel free to re-open if needed.

[2018-09-13 00:51] #150 closed

[2018-09-13 00:59] jim-minter commented on #269
@kwoodson I think this belongs upstream - something like a hint on eviction that says, "hey, scheduler, there's an empty node the same size over there".  Please could you follow up upstream and close this?

[2018-09-13 01:03] jim-minter commented on #317
am wondering whether this corresponded with https://github.com/openshift/openshift-azure/pull/393 ?

[2018-09-13 06:13] mjudeikis commented on #317
@jim-minter time window not quite matches, but might be.

[2018-09-13 06:15] #411 closed

[2018-09-13 09:51] kargakis commented on #412
Opened https://github.com/openshift/ci-operator/issues/140

[2018-09-13 09:59] kargakis opened #420 "e2e flake"
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/413/pull-ci-openshift-azure-e2e/121/build-log.txt
https://github.com/openshift/openshift-azure/blob/ca23f3455b029a614527c160ad06bead8d77e5a4/test/e2e/osa_test.go#L66

/kind test-flake

[2018-09-13 12:16] mjudeikis opened #421 "Prometheus kube controller scraping is broken"
Fix prometheus configuration to scrape controllers:
![screenshot from 2018-09-13 13-15-11](https://user-images.githubusercontent.com/3225744/45487756-2d02dc00-b757-11e8-9a22-a02dad1238d2.png)

[2018-09-13 12:16] mjudeikis commented on #421
/kind bug

[2018-09-13 12:17] charlesakalugwu commented on #369
/assign

[2018-09-13 12:34] mjudeikis commented on #361
Running script to try to replicate this on existing RG:
https://gist.github.com/mjudeikis/679fbc168ecce80082283faf9b0b9645

At this point no failures. I suspect this happens only for freshly created RG, and we just request things too fast.

[2018-09-13 12:49] kargakis opened #422 "Increase control plane+node loglevel for CI runs and persist logs in test artifacts"
https://github.com/openshift/openshift-azure/commit/4fd733dead7215e2528e13aab48cf9ee539838f8 reduced the control plane / kubelet loglevel from 4 to 2. https://github.com/openshift/openshift-azure/commit/cb21b24246dc9de706755594e5e034482fd71176 disabled loganalytics for CI runs so we should be able to re-increase the loglevel back to 4 for CI runs (use `RUNNING_UNDER_TEST`) and ensure we persist al

[2018-09-13 13:35] kargakis opened #423 "Reuse code between createorupdate and e2e test framework"
- [ ] Code reuse for standing up clusters
- [ ] E2e framework is built and run in binary
- [ ] e2e knows how to reuse an existing cluster apart from running its own

@openshift/sig-azure

@cjryan if this is something you want to tackle

[2018-09-13 13:46] kargakis commented on #423
@jim-minter has some code related to this in https://github.com/jim-minter/openshift-azure/commit/theloop

[2018-09-13 14:35] kwoodson commented on #269
@jim-minter, I had a quick IRC conversation with @aveshagarwal.
[code]

It seems as though there is nothing special in the scheduler to avoid the behavior of skipping old nodes to minimize the churn.  According to the scheduler docs https://docs.openshift.com/container-platform/3.10/admin_guide/scheduling/scheduler.html, the nodes are placed into a prioritized list of possible candidates to accept

[2018-09-13 14:53] aveshagarwal commented on #269
node to a different old node that is yet to get upgraded to avoid evicting
the same pod more than once during an upgrade.

That could be solved by setting old, yet-to-upgraded-nodes as unschedulable (either by specifically setting unschedulable or by tainting the nodes with a taint).

[2018-09-13 14:54] aveshagarwal commented on #269
(that presumably has more running workload) instead of a new node? I

Scheduler already does that and in general picks nodes with less load for even spreading.

[2018-09-13 14:55] kwoodson opened #424 "Place the git commit inside of the sync pod"
We should place the git commit inside of the sync pod so that we can easily track commits and ensure we are at the right commit level.

Place the data into a file somewhere in the image.  Possibly use the -X.

[2018-09-13 14:56] aveshagarwal commented on #269
Scheduler already does that, so if among all schedulable, lets say the pod being scheduled can be scheduled on 5 nodes, the scheduler would pick the one with less load from those 5 nodes.

[2018-09-13 14:57] kargakis commented on #269
Do you use surge nodes in online or upgrade are done in place?

[2018-09-13 15:14] kargakis opened #425 "hack/ssh.sh does not work with a resourceGroup and a number as args"
"@" is redundant in the ssh command

/kind bug
@openshift/sig-azure

[2018-09-13 15:54] kargakis commented on #424
/assign

[2018-09-13 16:24] mjudeikis opened #429 "need check if published image is development or release"
When publishing images we need to make sure we test if those images is build in "release" mode or "development" mode. Images should point to `registry.redhat.com` and not development aws registry

[2018-09-13 16:34] jim-minter commented on #429
e2e check should ensure that no reg-aws images are running on box

[2018-09-13 16:36] kwoodson opened #430 "Create a latest image for private-preview"
Build a latest node image from openshift-ansible, test it, and publish it.

Verify that oreg_url is not set to reg-aws.

[2018-09-13 16:36] mjudeikis opened #431 "consider node config cleaning"
We should potentially consider wiping default `/etc/origin/node` directory and populate it using code.
It could come from startup script of "configuration container/service".

We would need to start managing all bootstrap configuration for the nodes, and all default config. But it would allow us to control all in code.

[2018-09-13 17:29] jim-minter opened #432 "should be able to set private-preview label"
@mjudeikis doesn't appear to have permissions to set the private-preview label - @kargakis please can you help?

[2018-09-13 17:34] kwoodson commented on #269
@aveshagarwal, thanks for the comments.

They are using scale groups now.  This means that there is completely new capacity.  So old scale group and new scale group exist.  On old scale group, we mark all nodes as unschedulable, bring up new scale group, call evacuate/drain, and then kill the old scale group.

[2018-09-13 17:41] aveshagarwal commented on #269
That sounds good. So what is the issue?

[2018-09-13 17:50] kwoodson commented on #269
@aveshagarwal, this was directed @kargakis.  There isn't an issue in online because it matches capacity and begins the upgrade process.

The question in our upgrade strategy is that we replace node-by-node.  Bring up new node, unschedulable/drain old node, shut down old node.  From your earlier description, it sounds like this method will be okay because of the cpu load on the newer machines will

[2018-09-13 17:50] #269 closed

[2018-09-13 20:14] stevekuznetsov commented on #412
/cc @smarterclayton

[2018-09-13 20:58] amanohar opened #433 "Add API version string to each package the contains datamodel for that API version"
Currently API version is available in folder name only e.g. `2018-09-30-preview` here: `https://github.com/openshift/openshift-azure/tree/master/pkg/api/2018-09-30-preview/api`

However, for RP to be able to conclusively know the correct API version name it is desirable to have each package also contain a const string with the value of version e.g.: https://github.com/Azure/acs-engine/blob/master/

[2018-09-13 21:05] kwoodson commented on #430
[code]

[2018-09-13 22:28] kargakis commented on #412
/close

On Thu, Sep 13, 2018, 22:14 Steve Kuznetsov <notifications@github.com>
wrote:

[2018-09-13 22:28] #412 closed

[2018-09-14 01:00] sozercan opened #434 "MergeConfig overwrites existing model"
In an` PUT` (update) operation, if user sends in a partial request such as the basic `routerProfile` below:

[code]

This will override the existing fields like `publicSubdomain` and `fqdn`, since it will skip copying because `len(cs.Properties.RouterProfiles)` will not be 0.
https://github.com/openshift/openshift-azure/blob/master/pkg/plugin/plugin.go#L55
This issue applies to other properties su

[2018-09-14 06:51] #432 closed

[2018-09-14 06:56] kargakis commented on #333
I don't think this is achieved by scaling up and down. A running pod is not a guarantee that sync applied changes to a cluster.

[2018-09-14 06:58] kargakis commented on #432
/label private-preview

[2018-09-14 06:59] kargakis commented on #432
/remove-label private-preview

[2018-09-14 08:08] kargakis commented on #422
/priority important-soon

[2018-09-14 08:09] kargakis commented on #434
/kind bug
/label private-preview

[2018-09-14 08:10] kargakis commented on #431
/kind cleanup

[2018-09-14 08:33] #424 closed

[2018-09-14 09:32] mjudeikis opened #435 "add validate to tests/overrides"
Add validation to `tests/overrides` so we control it never gets committed with content

[2018-09-14 09:32] mjudeikis commented on #435
/assign

[2018-09-14 12:50] kargakis opened #438 "Automate rebuilding openshift-azure image"
https://github.com/openshift/release/pull/1501 adds a test image that includes the openshift-azure source code for the node build job to use. We should ensure that image gets updated on a regural cadence (either per commit push in master or rebuild it periodically).

[2018-09-14 12:51] kargakis opened #439 "Enable reuse of the node build template"
We want to reuse the [node build template](https://github.com/openshift/release/pull/1502) for building {rhel,centos} x {$openshift_version} combinations of images.

[2018-09-14 13:29] jim-minter opened #440 "in Config struct, move images to ImageConfig substruct"

[2018-09-14 13:45] jim-minter commented on #438
is there a way to do it without an openshift-azure image? would moving to that be an alternative to this issue?

[2018-09-14 13:57] mjudeikis commented on #420
one more:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/436/pull-ci-openshift-azure-e2e/142

[2018-09-14 14:13] mjudeikis commented on #361
More data point:
[code]

[2018-09-14 14:30] #421 closed

[2018-09-14 16:17] kargakis opened #443 "No service account file found at /usr/share/ansible/openshift-ansible/inventory/dynamic/injected/credentials, bypassing login"
[code]
https://storage.googleapis.com/origin-ci-test/logs/azure-build-node-image-rhel-310/7/build-log.txt
@kwoodson what is the format of the secret that openshift-ansible expects in `/usr/share/ansible/openshift-ansible/inventory/dynamic/injected/credentials`? Currently, we pass a file with the following format:
[code]

[2018-09-14 16:29] kargakis commented on #438
The alternative is to clone the git repo in the test container either via ci-operator ([not supported currently](https://github.com/openshift/ci-operator/issues/142)) or do it ourselves using git directly but then we are back to the aos-cd-jobs madness. Do you have any concerns with the image approach?

[2018-09-14 16:42] kargakis commented on #425
@jim-minter fixed?

[2018-09-14 16:42] jim-minter commented on #425
@kargakis does #442 solve this?  If not, I don't understand the issue.  Intended usage:

`hack/ssh.sh`: ssh into master-000000 of provisioned cluster
`hack/ssh.sh otherresourcegroup` ssh into master-000000 in otherresourcegroup
`hack/ssh.sh -n X` ssh into master-00000X of provisioned cluster
`hack/ssh.sh otherresourcegroup -n X` ssh into master-00000X in otherresourcegroup

[2018-09-14 16:45] kargakis commented on #425
Seems `hack/ssh.sh otherresourcegroup -n X` is still not working for me.

[2018-09-14 16:51] mjudeikis commented on #420
and one more: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/441/pull-ci-openshift-azure-e2e/150

[2018-09-14 17:01] kargakis commented on #420
This seems to be a dupe of the storage issue

/close

[2018-09-14 17:01] #420 closed

[2018-09-14 17:02] kwoodson commented on #443
I placed the contents as below.  The issue is that it is different in openshift-azure and in openshift-ansible.
[code]

I also think we need to have an ssh-privatekey file so that ansible can create an instance and ssh to it.  I have an ssh-privatekey file in my release/cluster/test-deploy/azure/ssh-privatekey.  It is used here:
https://github.com/openshift/openshift-ansible/blob/master/images/ins

[2018-09-14 19:14] jim-minter commented on #430
done :)
also see #429

[2018-09-14 19:14] #430 closed

[2018-09-14 23:13] jim-minter commented on #331
detagging from private preview, too risky now

[2018-09-14 23:29] jim-minter opened #445 "report on the number of bytes downloaded on eth0 for a cluster master & node to come up"

[2018-09-14 23:30] jim-minter opened #446 "implement oc new-app + GET e2e smoke test"

[2018-09-14 23:43] jim-minter opened #447 "WALinuxAgent update"
I think about a minute of boot time is wasted by WALinuxAgent updating itself.  Consider either setting

AutoUpdate.Enabled=0 in our image, or updating the image to the latest WALinuxAgent.

[2018-09-15 00:55] jim-minter opened #452 "calculate ose container image versions from vm image version"
follow-up from #415

`v := "v3.10.14" // TODO: perhaps we should calculate this from c.ImageVersion`

[2018-09-15 00:56] jim-minter commented on #447
see https://github.com/openshift/openshift-ansible/pull/10095

[2018-09-15 08:05] radlinskii commented on #452
Hello, I found this issue because of the label you put onto it. This is literally my first open-source issue. I would like it to be assigned to me. I'm not sure how to calculate the right version from `c.ImageVersion` though. `c.ImageVersion` is a string with pattern `310.34.20180913`. I'm guessing last 8 characters represents the date which leaves me with image version `310.34`. I need to turn it

[2018-09-15 13:56] jim-minter commented on #425
I was trying to be clever, and I failed.  Sorry.  See #453.

[2018-09-15 13:57] jim-minter commented on #425
Turns out the `-n X` has to come first in `hack/ssh.sh -n X otherresourcegroup`

[2018-09-15 14:17] #425 closed

[2018-09-15 18:45] kargakis commented on #423
/assign

[2018-09-15 18:46] kargakis commented on #422
/assign

[2018-09-15 18:55] kargakis commented on #305
/assign

[2018-09-16 23:56] asalkeld commented on #290
I can do this

[2018-09-17 00:38] asalkeld commented on #383
I can do this.

[2018-09-17 07:01] mjudeikis commented on #440
/assign

[2018-09-17 08:20] charlesakalugwu commented on #289
/assign

[2018-09-17 09:34] charlesakalugwu commented on #289
opened a corresponding merge request in the release project: https://github.com/openshift/release/pull/1522

[2018-09-17 11:09] kargakis commented on #289
Instead of having a separate target, I would add it alongside the rest of the verification checks.

[2018-09-17 11:12] #290 closed

[2018-09-17 17:29] jim-minter commented on #350
fixed in #364

[2018-09-17 17:29] #350 closed

[2018-09-17 18:59] mjudeikis opened #463 "review kube-state metrics rbac"
```Sep 17 18:56:06 master-000000 dockerd-current[2030]: E0917 18:56:06.375043       1 nanny_lib.go:95] Error while querying apiserver for resources: pods "kube-state-metrics-587cf9796b-pn5bj" is forbidden: User "system:serviceaccount:openshift-metrics:kube-state-metrics" cannot get pods in the namespace "openshift-metrics": User "system:serviceaccount:openshift-metrics:kube-state-metrics" cannot g

[2018-09-17 19:00] mjudeikis commented on #463
/kind bug

[2018-09-17 20:47] sozercan opened #464 "Convert panics on partial request"
Looks like convert code panics on partial requests such as when `AgentPoolProfiles` and/or `AuthProfile` is empty.

[2018-09-17 20:55] jim-minter opened #465 "fix image version discrepancy"
should be v3.10.34, not v3.10.14

[2018-09-17 20:56] #440 closed

[2018-09-17 21:07] jim-minter opened #466 "pull all os.Getenvs() out of plugin code and centralise in a plugin config struct"
It's important that none of the plugin code that is vendored into the RP should call os.Getenv.  We don't want to make any expectations about the RP environment, especially undocumented expectations.  They could bite us horribly later.

At the moment we check the following environment variables in the plugin:
RUNNING_UNDER_TEST
IMAGE_{RESOURCEGROUP,RESOURCENAME,OFFER,VERSION}
DEPLOY_OS
OREG_URL

A

[2018-09-18 01:45] jim-minter opened #469 "Updatability of Properties used in Generate"
Every use of an item from Properties in our generate code base should done in a way which, if the property item changes, the corresponding Config is regenerated.

For example, currently if you were to change the FQDN, the relevant certificates would not be regenerated.

[2018-09-18 01:55] jim-minter commented on #464
@sozercan please can you paste a backtrace?

[2018-09-18 02:11] asalkeld commented on #383
/assign

[2018-09-18 03:13] jim-minter commented on #464
`makeslice: cap out of range` in convertertov20180930preview.go

[2018-09-18 03:54] asalkeld commented on #217
/assign

[2018-09-18 06:19] #464 closed

[2018-09-18 07:06] asalkeld commented on #372
/assign

[2018-09-18 09:04] kargakis opened #476 "sync process is broken"
[code]
Possible cause is https://github.com/openshift/openshift-azure/pull/458

@openshift/sig-azure
/kind bug
/label private-preview

[2018-09-18 09:04] kargakis commented on #476
@mjudeikis ptal

[2018-09-18 09:07] kargakis commented on #476
Sorry, this is not from master. Retrying once again, will reopen if it's still an issue.

[2018-09-18 09:07] #476 closed

[2018-09-18 11:32] #370 closed

[2018-09-18 13:57] thekad commented on #403
/assign

[2018-09-18 16:31] kargakis commented on #438
I have pushed https://github.com/openshift/release/pull/1530/commits/c0c3408be4a304bae3682bb0be0b0ca5648a0f53 which removes the use of the openshift-azure image in favor of clonning directly in the test container. The problem that I cannot think of how to workaround with a prebuilt image is that `hack/create.sh` needs to write the cluster data in `_data` but the filesystem is not writtable. I don'

[2018-09-18 16:35] #465 closed

[2018-09-18 19:15] jim-minter commented on #452
Hi @radlinskii thanks for your interest.  Your contributions are welcome, although bear in mind that you may have difficulties testing because even though this code base is open source right now there are no publicly available images which can be used for test.  Also on this occasion we needed to push forwards with fixing this particular issue due to our timescales.  If you're interested in workin

[2018-09-18 19:15] jim-minter commented on #452
fixed by #468

[2018-09-18 19:15] #452 closed

[2018-09-18 19:19] #348 closed

[2018-09-18 23:05] jim-minter opened #479 "can't do oc get logs from master-000000 to itself"
[code]

[2018-09-19 05:03] asalkeld commented on #372
@jim-minter I have the code to set the client, my question is do we have to change the plugin api to pass this info through? So does MSFT have this info when calling the plugin?

[2018-09-19 08:05] kargakis commented on #422
Persisting control plane logs is addressed in https://github.com/openshift/release/pull/1554

[2018-09-19 08:13] kargakis commented on #305
Probably not something we care about a lot

[2018-09-19 08:13] #305 closed

[2018-09-19 08:27] kargakis commented on #403
/assign thekad

[2018-09-19 10:12] mjudeikis opened #482 "etcd backups needs to have cronjob"
etcd backups does not run on cronjob. They need to have CRD to be created to trigger this.

[2018-09-19 10:13] mjudeikis commented on #482
/kind bug

[2018-09-19 10:31] mjudeikis commented on #482
https://github.com/openshift/openshift-azure/pull/483

[2018-09-19 13:57] kargakis commented on #438
The image is now removed. No strong feelings on makind the _data location configurable.

[2018-09-19 13:57] #438 closed

[2018-09-19 13:59] kargakis commented on #439
@kwoodson @mjudeikis for discussion

I think we can do this by (ab)using `--secrets-dir` in the ci-operator. That means we will need 4 different secrets in the ci namespace.

[2018-09-19 14:01] kargakis commented on #422
The last thing that remains is to get the kubelet log out of each and every machine.

[2018-09-19 14:01] kwoodson commented on #439
@kargakis, hmm.  Secrets would be much easier than managing the build scripts as they would be copy & paste of the same file.  Would like to see how this works.

I'd like to move the build base image job over as well.  This job will require the same structure and secrets for rhel/centos.

[2018-09-19 14:04] mjudeikis commented on #439
@kargakis I was looking to how prow passes stuff to tests:
In the template we have:
https://github.com/openshift/release/blob/master/ci-operator/templates/cluster-launch-e2e-openshift-ansible.yaml#L23
and it gets translated from prow here:
https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/openshift-ansible/openshift-openshift-ansible-presubmits.yaml#L146

I didn't see any

[2018-09-19 14:07] thekad commented on #403
/assign

[2018-09-19 14:09] mjudeikis commented on #482
Raised a POC PR to start implementation details, so everybody would understand what is needed.

[2018-09-19 14:27] jim-minter opened #486 "enable engineering in additional regions"
suggest westeurope and australiasoutheast (recommendations based on availability of loganalytics service)

- [x] publish images in additional regions - try australia, germany, uk
- [x] parameterise eastus in create.sh, allow westeurope and australiasoutheast

at this point should be able to use published images outside of eastus

- [ ] copy published internal disk images to additional regions
- [

[2018-09-19 14:28] thekad commented on #403
/assign

[2018-09-19 14:45] thekad commented on #403
/assign

[2018-09-19 14:52] jim-minter commented on #429
also that centos boxes are running origin images, and rhel OCP images

[2018-09-19 15:06] kargakis opened #487 "Revert ImageConfigFormat move to derived"
Partially revert https://github.com/openshift/openshift-azure/pull/414

ImageConfigFormat is reused by the sync pod and it's easier to share the variable via config rather than trying to keep in sync env variables

@jim-minter
/kind bug

[2018-09-19 15:44] charlesakalugwu commented on #386
Here's a summary of the testing strategy discussed with @jim-minter

- [ ] create toLowerCamelCase function which converts a string to its lower camel case representation
- [ ] create test cases for toLowerCamelCase
- [ ] create two test cases for the config struct json tag conformance check
     - [ ] create first test case which walks through the config struct and for each field compares the toL

[2018-09-19 20:19] jim-minter commented on #386
I don't think that's essential

I'm not sure how easy that will be, but some test that ensures the marshalled struct is sane is necessary.

[2018-09-19 20:28] jim-minter commented on #372
@amanohar @sozercan where would you like to pass in "Accept-Language" into the plugin? Two ideas off the top of my head: do you initialize the plugin per end-user request, in which case `plugin.NewPlugin()` might do, or alternatively as a new api.ContextKey type (stash it in the context)?

[2018-09-19 20:34] amanohar commented on #372
The plugin is initialized in a per end user request context basically one `plugin.NewPlugin()` per customer CRUD operation. So it makes sense to pass the language header during plugin init.

[2018-09-19 20:39] jim-minter commented on #372
@asalkeld there's your answer - can you fix up NewPlugin so it takes a pointer to a plugin configuration struct, which will need to be newly defined and placed in pkg/api/plugin.go ?  That struct should contain the existing `syncImage string` as well as your new field.

[2018-09-19 22:02] #443 closed

[2018-09-19 22:05] #302 closed

[2018-09-19 22:06] #394 closed

[2018-09-19 23:38] thekad commented on #466
/assign

[2018-09-20 03:59] asalkeld commented on #446
/assign

[2018-09-20 04:00] asalkeld commented on #372
@jim-minter thanks will do

[2018-09-20 14:08] thekad commented on #403
@mjudeikis do you think just avoiding writing these files at all (i.e. turning off rsyslogd) will work?
Pros: decrease i/o in the nodes, won't need to rotate logs that don't exist, we already log everything through the journal
Cons: there may be an unknown edge case relying on rsyslogd

What do you think? That way we can keep the current max size of 8G in the journald too...

[2018-09-20 14:25] pweil- opened #495 "Ensure VMSS placement groups are not restricted"
As we start scale testing we need to ensure we are not restricting our node VMSS configuration to a single placement group.  By default a single placement group is used which limits the VMSS to 100 VMs.  By setting `singlePlacementGroup` to false we up that limit to 1k VMs.

[code]

Ref: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-placement-groups

[2018-09-20 17:07] kargakis opened #498 "Add a scale up/down e2e test"
We still lack a scale up/down e2e test

/priority important-soon
/assign

[2018-09-20 20:39] jim-minter opened #499 "globally remove `acsapi`"
go through the codebase and do renames to avoid using `acsapi` where it's not needed (just import the api package straight)
also standardising the names we use for OpenShiftManagedCluster objects

there might be other cleanups which I can't think of right now

[2018-09-21 09:48] kargakis opened #501 "Consider allowing --no-wait via hack/delete.sh"
Should speed up our CI jobs

On a tangent, we may want to think whether it's possible to postpone GC of resource groups to be run only via purge to enable reuse of resource groups when retesting the same commit and the previous run failed during the e2e test (to avoid the extra time of reinstalling a cluster).

[2018-09-21 10:13] kargakis commented on #466
This is a prerequisite for sharing CreateOrUpdate properly between different processes/contexts, something needed in transforming our fake RP to an http server. @thekad let me know what I can do to help out. Happy to review once you have a PR out.

[2018-09-21 11:13] kargakis opened #504 "sync process logs changes to secrets"
The sync pod ensures that the actual state of OpenShift objects matches the desired state.
Any time when there is a mismatch and the sync pod updates an object, it logs the delta to stdout.
We should ensure that if the changed object is a Secret, that we do not log the secret contents to stdout.

===

And we gather sync logs in CI now. We will need to fix printing secret content in the logs before

[2018-09-21 13:22] #403 closed

[2018-09-21 16:28] jim-minter commented on #486
@asalkeld reopening this issue - only the first two items have been covered ;-)

[2018-09-21 20:16] kwoodson commented on #429
/assign

[2018-09-21 22:03] kargakis commented on #267
This may have been related to the docker issue failing the sync build, Haven't seen it lately so I am going to close until we see it again.

[2018-09-21 22:03] #267 closed

[2018-09-24 01:12] jim-minter commented on #376
Closed for AZURE-136

[2018-09-24 02:12] asalkeld commented on #499
/assign

[2018-09-24 03:01] asalkeld commented on #486
@jim-minter could you fill in some more details about what those remaining issues are?

[2018-09-24 06:56] #499 closed

[2018-09-24 08:33] kargakis commented on #388
/assign

[2018-09-24 08:44] mjudeikis commented on #204
@pweil- @jim-minter whats priority on this one?

[2018-09-24 08:46] #361 closed

[2018-09-24 08:48] #463 closed

[2018-09-24 10:48] charlesakalugwu commented on #332
@jim-minter @kargakis @mjudeikis  are we open to using something like viper here? This will allow us actually easily provide configurability for most options https://github.com/spf13/viper

[2018-09-24 11:39] charlesakalugwu commented on #479
/assign

[2018-09-24 12:11] charlesakalugwu commented on #479
@jim-minter I am unable to reproduce this issue. I created a fresh cluster few minutes ago from master, ssh'd into master-000000 and tested `oc logs` without issues across all 3 masters

[code]
[code]

[code]
@kargakis @mjudeikis do you mind testing this out as well before we close this issue?

[2018-09-24 12:12] kargakis commented on #479
works for me too

[2018-09-24 13:29] charlesakalugwu commented on #382
/assign

[2018-09-24 13:33] charlesakalugwu commented on #501
/assign

[2018-09-24 15:56] mjudeikis commented on #435
/kind feature
This might need to be closed. depending what we will do with conformance tests in our repo

[2018-09-24 15:57] mjudeikis commented on #431
/kind feature

[2018-09-24 15:58] mjudeikis commented on #408
closing. reopen if needed.

[2018-09-24 15:58] #408 closed

[2018-09-24 15:58] mjudeikis commented on #400
/kind feature

[2018-09-24 15:59] mjudeikis commented on #380
/kind cleanup
/kind feature

[2018-09-24 15:59] mjudeikis commented on #255
/kind feature

[2018-09-24 15:59] mjudeikis commented on #239
/kind feature

[2018-09-24 16:00] mjudeikis commented on #206
/kind feature

[2018-09-24 16:00] mjudeikis commented on #101
/kind bug

[2018-09-24 16:04] kargakis commented on #498
/kind feature
/area tests

[2018-09-24 16:04] kargakis commented on #501
/kind feature

[2018-09-24 16:05] kargakis commented on #504
/kine feature

[2018-09-24 16:06] kargakis commented on #206
More like cleanup

[2018-09-24 16:06] kargakis commented on #206
/remove-kind feature

[2018-09-24 16:07] kargakis commented on #423
/kind feature

[2018-09-24 16:07] kargakis commented on #422
/kind feature

[2018-09-24 16:08] kargakis commented on #504
/kind feature

[2018-09-24 16:09] kargakis commented on #439
Part of the doc for the meeting with developer productivity

/close

[2018-09-24 16:09] #439 closed

[2018-09-24 16:10] kargakis commented on #382
/area tests
/kind cleanup

[2018-09-24 16:10] kargakis commented on #383
/kind cleanup

[2018-09-24 16:10] kargakis commented on #388
/kind feature

[2018-09-24 16:10] kargakis commented on #217
/kind cleanup

[2018-09-24 16:11] kargakis commented on #486
/kind feature

[2018-09-24 16:12] kargakis commented on #446
/area tests

[2018-09-24 16:34] kargakis commented on #435
I think we should run conformance in our repo regardless of whether we are going to run them in prod.

/area tests

[2018-09-24 16:34] kargakis commented on #390
/kind cleanup

[2018-09-24 16:34] kargakis commented on #391
/kind feature

tempted to close

[2018-09-24 16:35] kargakis commented on #399
/kind cleanup

[2018-09-24 16:35] kargakis commented on #379
/area tests

[2018-09-24 16:36] kargakis commented on #378
/kind cleanup

[2018-09-25 02:09] jim-minter opened #513 "make verify should check `gofmt -s` and `goimports` produces no diffs"
we should ensure that all go files that are checked in (except under vendor) have already had `gofmt -s` and `goimports` run on them to simplify them.  This should be done by adding a make verify check, and double checking that our CI halts on a verify failure.

[2018-09-25 02:16] #383 closed

[2018-09-25 02:35] #487 closed

[2018-09-25 05:31] asalkeld commented on #513
/assign

[2018-09-25 08:07] mjudeikis commented on #379
This is blocked by:
https://github.com/openshift/openshift-azure/issues/482 (https://github.com/openshift/openshift-azure/pull/483)
https://github.com/openshift/openshift-azure/pull/509
https://github.com/openshift/openshift-azure/pull/492

[2018-09-25 08:10] mjudeikis commented on #391
I think close and reopen if needed

[2018-09-25 08:29] mjudeikis commented on #504
@kargakis we want secret changes to be logged but change content offuscated?

[2018-09-25 08:31] kargakis commented on #504
@mjudeikis correct, obfuscated or just omitted.

[2018-09-25 09:11] mjudeikis commented on #469
@jim-minter any ideas on implementation details you have in mind?
I was thinking underlines:
Pass old and new configs to `generate` and if values are diff, regenerate?

[2018-09-25 10:08] mjudeikis opened #516 "clean release test image dockerfile"
release repository test-base image need to be clean:
Example:
[code]

/kind cleanup

[2018-09-25 11:57] #513 closed

[2018-09-25 14:05] mjudeikis commented on #469
/assign

[2018-09-25 16:19] #516 closed

[2018-09-25 16:21] mjudeikis commented on #435
close in favor of AZURE-146 - Add validate for test overrides

[2018-09-25 16:21] #435 closed

[2018-09-25 16:22] mjudeikis commented on #431
Close in favor of azure-71, 132, 142. Will be consolidated

[2018-09-25 16:22] #431 closed

[2018-09-25 16:31] mjudeikis commented on #400
close in favor of:  AZURE-148 - Consolidate clients pkg

[2018-09-25 16:31] #400 closed

[2018-09-25 16:35] mjudeikis commented on #255
close in favor of: sue AZURE-149 - Enrich logging

[2018-09-25 16:35] #255 closed

[2018-09-25 16:38] mjudeikis commented on #239
Close in favor of AZURE-150

[2018-09-25 16:38] #239 closed

[2018-09-25 16:40] mjudeikis commented on #206
close in favor of AZURE-151

[2018-09-25 16:40] #206 closed

[2018-09-25 16:44] mjudeikis commented on #380
close in favor of: Azure-152

[2018-09-25 16:44] #380 closed

[2018-09-25 16:46] mjudeikis commented on #429
Closed in favor of Azure-153 @kwoodson already assigned to you :)

[2018-09-25 16:46] #429 closed

[2018-09-25 16:47] mjudeikis commented on #145
this is absolute now as we removed the feature this was needed for from PP

[2018-09-25 16:47] #145 closed

[2018-09-25 19:52] #357 closed

[2018-09-25 23:44] #372 closed

[2018-09-26 00:43] #217 closed

[2018-09-26 05:40] asalkeld commented on #446
/unassign

[2018-09-26 05:50] kargakis commented on #446
@jim-minter if we are going to have a oc new-app smoke test in e2e, we need
to mount the binary in the e2e-tests image anyway, right? Does it make any
sense to have both oc and openshift client-go at that point?

On Wed, Sep 26, 2018, 07:40 Angus Salkeld <notifications@github.com> wrote:

[2018-09-26 05:53] asalkeld commented on #495
I made a quick go at this, looks like we also need to change the loadbalancer

this is the error when I just set that property to false

{ "error": { "details": [], "code": "VMScaleSetCannotReferenceLoadbalancerWhenLargeScaleOrCrossAZ", "message": "VM scale set cannot use a basic SKU load balancer when LargeScale property is enabled, or when the VMSS spans multiple availability zones. Please use s

[2018-09-26 05:58] asalkeld commented on #495
/assign

[2018-09-26 06:38] kargakis commented on #495
We cannot use a standard LB yet, see https://github.com/openshift/openshift-azure/issues/376#issuecomment-419514857

[2018-09-26 07:07] asalkeld commented on #495
OK, thanks @kargakis that saves me some time. I have parked my branch here:
https://github.com/asalkeld/openshift-azure/commit/d94bb00f553b3c8a7d1787462c775ff422249164

[2018-09-26 07:11] asalkeld commented on #390
/assign

[2018-09-26 07:55] asalkeld commented on #390
@jim-minter I have coded up part 1 of you description, part 3 looks OK, can you explain part 2 a bit more please?
I'll post what I have done so far.

[2018-09-26 10:01] kargakis commented on #388
/unassign

@charlesakalugwu if you are still interested in working on this, I am not going to continue with https://github.com/openshift/openshift-azure/pull/497

[2018-09-26 16:52] jim-minter commented on #486
So, at the moment our image building process results in a) an Azure Image object which is tied to eastus in the images resource group, and b) a blob copy of the image in the openshiftimages storage account in the images resource group.

*If* we want to be able to deploy clusters from these unpublished Image objects in other regions, we need a process which replicates copies of those Image objects

[2018-09-26 21:06] #501 closed

[2018-09-26 21:35] jim-minter commented on #390
Sure.  For both create and update, we do some pre-work, then call `clients.Deployments.CreateOrUpdate`, then do some post-work.

In the RP, the deployment implementation is much more complicated than `clients.Deployments.CreateOrUpdate` because there's loads of custom error handling which is legitimate and which we don't want to know anything about in the plugin.

Effectively, we need to make `cli

[2018-09-26 21:55] jim-minter commented on #390
Maybe try implementing the function pointer route as a POC and see how ugly it looks?

[2018-09-27 00:15] asalkeld commented on #486
Surely we will need this for our customers anyway? We can't have everyone on the globe using eastus right? So this is purely a prioritising issue?

I am also a little confused why we need more work, as we can already create clusters in other zones.
Or is this to automate what you did manually?

Also a bit confused why the images need different names, I would have thought you just ask for image x a

[2018-09-27 01:00] amanohar opened #523 "Cluster health check should validate that router FQDN creation succeeded"
Router FQDN creation was failing due restriction that domain name label must start with a letter and not a number (randomly generated value). We made a fix to ensure that router FQDN always starts with a letter.

However, we also noticed that cluster health check was not failing due to this and create operation was succeeding. We discovered the issue by looking at controller manager logs when Jenk

[2018-09-27 08:00] mjudeikis commented on #486
This is only for development. Users will use "properly published images", which is replicated by MSFT. We use our fake publishing in RG `images`

I dont see any value in this personally. I, either way, jumping via VPNS all around the globe. I my page loads in 200ms ir 500ms, at this point I don't see the issue to use easus IF I work with `images` RG. If I need performance, I can use Published imag

[2018-09-27 08:10] kargakis commented on #486
Yes, this is only for dev purposes. I don't think it is a *significant* improvement over what we have today.

[2018-09-27 13:29] kwoodson opened #527 "x509: certificate signed by unknown authority"
Failure to build cluster due to x509 error:
[code]

[code]

[2018-09-27 18:19] jim-minter commented on #523
Looks like MSFT is validating against RFC952, and we're validating against RFC1123

[2018-09-27 18:22] jim-minter commented on #523
@amanohar I think the fix here is simply for us to validate all the hostnames against RFC952 since that's what Azure appears to do.  I don't think that there is a suitable health check that we should add here.

[2018-09-27 21:50] asalkeld commented on #486
I am happy to leave it ¯\_(ツ)_/¯, just curious how it works now without the above steps.

[2018-09-27 21:53] mjudeikis commented on #486
Its just you can use:
[code]
vars in eastus region. So if you need to develo VM images, its only place where you can do it. If you do code - you use published images and do stuff ontop.

[2018-09-28 00:02] jim-minter commented on #446
use client-go.
moved to AZURE-164.

[2018-09-28 00:02] #446 closed

[2018-09-28 07:34] asalkeld opened #529 "e2e tests are failing with stat ../../_data/_out/admin.kubeconfig: no such file or directory"
Failure [0.001 seconds]
[BeforeSuite] BeforeSuite
/go/src/github.com/openshift/openshift-azure/test/e2e/osa_test.go:25

  Expected error:
      <*os.PathError | 0xc4203a8000>: {
          Op: "stat",
          Path: "../../_data/_out/admin.kubeconfig",
          Err: 0x2,
      }
      stat ../../_data/_out/admin.kubeconfig: no such file or directory
  not to have occurred

  /go/src/github.com/op

[2018-09-28 07:43] mjudeikis commented on #529
as per this it should work:
https://github.com/openshift/release/blob/master/ci-operator/templates/openshift/openshift-azure/cluster-launch-e2e-azure.yaml#L103-L105

hmmm. checking if its a flake or we miss some path in template

[2018-09-28 09:57] mjudeikis opened #530 "new image broken"
I suspect newest image
[code]
`rhel7-3.10-201809271519 ` is broken. All  tests, using it is failing.
ssh does not work if using this image.

Can somebody confirm?

If you spin cluster using published images - it works.

If this is a case, we need to add a test to identify and check for these issues.

[2018-09-28 09:57] mjudeikis commented on #530
/kind bug

[2018-09-28 11:58] mjudeikis commented on #530
Previous image (`rhel7-3.10-201809261519`) works just fine.
@kwoodson @kargakis thinking if its a flake in the build process or what? As build testing succeded. I suspect this is a problem with Azure Agent...

Tempted to delete the broken image. But we need to kind our what is broken so we can add tests.

cc: @openshift/sig-azure

[2018-09-28 12:12] mjudeikis commented on #530
removed valid tag from both images.

[2018-09-28 13:30] mjudeikis commented on #529
duplicate of: https://github.com/openshift/openshift-azure/issues/530
/close

[2018-09-28 13:30] #529 closed

[2018-09-28 13:58] jim-minter commented on #530
is it possible that https://bugzilla.redhat.com/show_bug.cgi?id=1562222 is related?

[2018-09-28 13:59] jim-minter commented on #530
has the azure agent version changed between images?

[2018-09-28 14:51] kwoodson commented on #530
This is the image version installed:
WALinuxAgent-2.2.18-2.el7.noarch

It appears that the waagent updated itself:
[code]

It appears that the vm name was `vm` instead of `master-000000`:
[code]

[2018-09-28 22:22] shrutir25 opened #534 "health check validation for fqdn tied to region"
I created a cluster where the input fqdn was `osatestshrcluster03-0928.eastus.cloudapp.azure.com` and location for cluster was `westcentralus`. This cluster creation failed in health check with error
`Health check failed. error: Get https://osatestshrcluster02-0928.eastus.cloudapp.azure.com/healthz: dial tcp: lookup osatestshrcluster02-0928.eastus.cloudapp.azure.com on 10.0.0.10:53: no such host`.

[2018-09-28 22:33] jim-minter commented on #534
@shrutir25 your input was invalid and we didn't catch it.  We should not have accepted the input fqdn foo.eastus when we knew the cluster location was westcentralus.

[2018-09-29 00:14] jim-minter opened #536 "make clusterNetworkCIDR and serviceNetworkCIDR configurable"
after #533 merges and we've talked about it, we should probably add configurables in the external API for clusterNetworkCIDR and serviceNetworkCIDR.  We'd need to update the validation accordingly, then pipe these into the master config file.

[2018-09-29 00:16] jim-minter opened #537 "enable end user to specify different subnets for different agentpools if they want to"
after #533 merges and we've talked about it, we should probably ensure that all cluster agent pool subnets are disjoint.  Didn't want to do this now in case it uncovered a bug at the last minute.

[2018-10-01 07:51] #534 closed

[2018-10-01 11:59] pweil- commented on #536
dupe https://github.com/openshift/openshift-azure/issues/204

[2018-10-01 11:59] #536 closed

[2018-10-01 21:32] sozercan opened #541 "networkProfile is not included in MergeConfig"
`networkProfile` is not included in mergeConfig

https://github.com/openshift/openshift-azure/blob/master/pkg/plugin/plugin.go#L34

[2018-10-01 21:44] sozercan commented on #541
looks like we can't do partial updates without `networkProfile`

getting this error:
[code]

[2018-10-01 22:09] jim-minter commented on #541
(the error in the second comment is not pertinent to this issue)

[2018-10-01 22:29] #541 closed

[2018-10-01 23:41] amanohar opened #543 "Make config container & blob name a gettable value"
OSA plugin saves cluster configuration in a storage container and blob named `config`. This name might change /design might evolve over time.

Since plugin is also used by the RP it would helpful if plugin can return the name of storage container and blob for backward compatibility purposes. This way RP will not need to hardcode/assume the blob & container name.

[2018-10-02 02:26] sozercan opened #544 "Returning vnet name"
It might be good to return the full virtual network name, so CLI or other clients can initiate peering using this value.

cc @amanohar

[2018-10-02 15:58] jim-minter commented on #544
copy/paste from @amanohar on slack:

For the custom VNET peering case rIght now RP has hard coded value of VNET name that OSA plugin creates to be used during peering.

I have 2 concerns with RP's approach of using a hard value to create peering:
1) Since OSA plugin is creating the VNET I think this VNET should also be set in the internal data model (unversioned data model) along with customer pro

[2018-10-03 00:34] asalkeld opened #547 "replace azuredeploy []byte with template map[string]interface{} in all function signatures"
In reviewing https://github.com/openshift/openshift-azure/pull/521 @jim-minter suggested we change
all azuredeploy []byte to map[string]interface{}

example:
	CreateOrUpdate(ctx context.Context, cs *OpenShiftManagedCluster, azuredeploy []byte, isUpdate bool, Deployer DeployFn) error

We have now changed the custom deploy function to the new parameter, but we should change all of them.

[2018-10-03 02:27] asalkeld commented on #495
/unassign

[2018-10-03 02:40] asalkeld commented on #378
/assign

[2018-10-03 06:38] asalkeld commented on #544
@jim-minter so there is also #543  issue. Do we need a GetClusterInfo() function in the Plugin API that returns these attributes below?

- VNET name
- config container
- blob name

[2018-10-03 06:42] asalkeld commented on #433
/assign

[2018-10-03 12:53] #309 closed

[2018-10-03 14:00] kargakis opened #550 "PDB gets created during e2e test"
[code]

Probably a different type of error before the permissions can be figured out.
Need to identify what kind of flake it is and get a fix for it in the e2e framework

/kind test-flake
/assign

[2018-10-03 14:36] kargakis opened #551 "e2e binary is not working as expected"
There is an issue with the e2e binary not working as expected that needs to be figured out.

Running go test directly works as expected so there must be something wrong with compiling the tests in the [Makefile](https://github.com/openshift/openshift-azure/blob/17f60a6f6bccf8a1132decdfc0daf2dec8e0c20b/Makefile#L57).

/kind bug

[2018-10-03 14:49] kargakis opened #552 "WaitForCompletion: context has been cancelled flake"
Valid test flake
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/387/pull-ci-openshift-openshift-azure-master-e2e-azure/152/build-log.txt
/kind test-flake

[2018-10-03 14:56] kargakis commented on #550
Turns out not to be an error. Even weirder
[code]
Hrm, maybe racing with the sync pod?

[2018-10-03 14:58] kargakis commented on #550
sync pod completes two minutes earlier
[code]

[2018-10-03 15:02] kargakis commented on #550
Indeed the PDB seems to get created :/
[code]

[2018-10-04 13:54] thekad commented on #466
@jim-minter there is a problem specifically with 3 vars: `RUNNING_UNDER_TEST` and `IMAGE_RESOURCE{NAME,GROUP}`: these are read directly from the templates via `GenerateARM`, that means we either a) change the GenerateARM API interface to include a `PluginConfig | TestConfig` or b) embed a `PluginConfig | TestConfig` in the Context or OpenShiftManagedCluster objects so they can still be read from t

[2018-10-04 17:19] thekad commented on #466
From our call this morning: It's fine to change the `api.plugin.GenerateARM` call.

[2018-10-04 20:57] sozercan opened #553 "Public IP label can not have uppercase characters"
Running into this issue if someone tries to create a FQDN that includes uppercase characters

[code]

[2018-10-04 21:33] jim-minter commented on #553
@sozercan is this a dupe of #523, #532?

[2018-10-04 22:31] sozercan commented on #553
I don't believe we discussed this before. In RFC 1123 vs 952, we discussed not starting with a number.
and #523 is router fqdn, not `properties.fqdn`.

Idealy, if plugin can convert fqdn to lowercase, that would be great.

[2018-10-04 23:00] jim-minter commented on #553
If azure doesn't accept capital letters, we shouldn't either - I think the fix here is to fail to validate with upper case characters.

[2018-10-04 23:10] sozercan commented on #553
That works too

[2018-10-05 00:02] jim-minter opened #556 "Remove config.Updater and config.simplerUpgrader"
pkg/config/upgrade.go is a no-op and I don't think we're ever going to need it.  It can be removed.

[2018-10-05 00:42] asalkeld opened #557 "Cleanup the Upgrader interface"
from Jim's comment here: https://github.com/openshift/openshift-azure/pull/521#discussion_r222862362

At first glance this looks pretty dodgy: healthcheck, initializecluster, waitforinfraservices can all be package-internal now.
Deploy and Update can condense to CreateOrUpdate. The plugin external API gets simplified. I don't think the public interface should expand like this.

and drop the equiva

[2018-10-05 00:42] asalkeld commented on #557
/assign
/kind cleanup

[2018-10-05 00:46] #390 closed

[2018-10-05 08:15] charlesakalugwu opened #559 "Invalid properties.routerProfiles"
Failure to build cluster

[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/532/pull-ci-openshift-openshift-azure-master-e2e-azure/156/build-log.txt

[2018-10-05 08:15] charlesakalugwu commented on #559
/kind test-flake

[2018-10-05 08:22] charlesakalugwu opened #560 "Cannot query api server - connection timed out"
Failure to complete setup of e2e tests

[code]

https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure-upgrade/24/

/kind test-flake

[2018-10-05 13:18] jim-minter commented on #332
Dependent on https://github.com/openshift/openshift-azure/pull/554

[2018-10-05 13:30] jim-minter commented on #386
this is waiting on:
* opening a PR for https://github.com/jim-minter/openshift-azure/commit/5e33112af2ce50c6ca0d7958655f2648f52622a5
* refactoring to put testJSONTags() in a shared package to avoid defining it twice
* adding an additional unit test which dynamically populates an entire api struct using reflect, then ensures it marshals/unmarshals against a manually curated yaml text - test in the

[2018-10-05 13:31] jim-minter commented on #479
I'm fairly convinced I've seen this again - let me see if I can grab some more info.

[2018-10-05 18:01] #523 closed

[2018-10-06 11:25] charlesakalugwu opened #562 "rhel node image build is broken"
Our rhel vm node image build is currently broken due to the following error:
[code]

See logs:
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/azure-build-node-image-rhel-310/55/
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/azure-build-node-image-rhel-310/56/

[2018-10-08 03:44] asalkeld commented on #547
/assign

[2018-10-08 06:04] mjudeikis commented on #550
base image test flake with the same:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/azure-build-node-image-rhel-310/58

[2018-10-08 08:34] charlesakalugwu commented on #550
see #562

[2018-10-08 08:41] kargakis commented on #551
If you run the binary, the pdb e2e test will fail because for some reason [`BeforeEach`](https://github.com/openshift/openshift-azure/blob/8aa46385e29636f47c7daeb4c6e1e4cfa2ef40a5/test/e2e/end_user_test.go#L20) does not get executed so you will get a "cannot create with empty namespace error" when the test tries to create the pdb.

[2018-10-08 11:02] kargakis commented on #560
Please post the artifacts for this job to better triage.

[2018-10-08 11:08] charlesakalugwu opened #566 "Origin conformance test failure: missing docker excluder"
The `build node image` step of the `test_branch_openshift_ansible_extended_conformance_azure` job occasionally fails with error `No package matching 'origin-docker-excluder-3.11**`

[code]

[2018-10-08 11:13] charlesakalugwu commented on #560
updated with link to artifacts

[2018-10-08 11:15] kargakis commented on #560
So trying to get the infra node from the k8s api times out but the deployment eventually succeeds (all nodes and pods are up and running).

[2018-10-08 11:20] kargakis commented on #566
/shrug

@kwoodson

[2018-10-08 11:21] kargakis commented on #562
The latest node build seems failed because of the pdb flake and the previous one was successful. Also, the "No service account file" log is a red herring.

/close

[2018-10-08 11:21] #562 closed

[2018-10-08 11:34] kargakis opened #567 "Use secrets to populate env variables"
We inline secrets inside some of our infra deployments (eg. [router](https://github.com/openshift/openshift-azure/blob/dd6e8c038a1b5d06d908bb6cab5876db548cd478/pkg/addons/data/Deployment.apps/default/router.yaml#L46)). This is problematic because every change in the deployment is logged inside the sync pod and we should avoid logging sensitive info as much as possible. Instead of inlining, we shou

[2018-10-08 14:00] kwoodson commented on #566
@charlesakalugwu,

This is due to the URL being passed.  That URL is what is used for the source install and it doesn't include the correct package set.

[2018-10-08 15:33] #433 closed

[2018-10-09 07:04] mjudeikis commented on #566
Ou, its this time of year... new release is coming...

[2018-10-09 13:19] jim-minter opened #573 "Consider removing AzureClusterReader x.509 certificate generation"
Ideally we don't want to have this certificate because it's not easy to rotate (needs revocation)

[2018-10-09 14:02] kargakis commented on #550
Openshift seems to add the permissions back :D
[code]

[2018-10-09 15:44] kargakis commented on #550
Discussed in #forum-auth on slack with Mo, the bootstrap policy is hardcoded in the k8s api server so we cannot actually edit the roles ourselves. I think the only sane alternative is to try to disable the API via the api server config.

cc @jim-minter

[2018-10-09 16:48] charlesakalugwu opened #574 "ci-operator centos base image build failure"
The first run within the CI cluster of the `azure-build-base-image-centos` job failed with the following error:

[code]

Artifacts: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/azure-build-base-image-centos/1/

[2018-10-09 20:08] charlesakalugwu commented on #574
Thanks @kwoodson. I'll check out your suggestions.

[2018-10-09 21:50] asalkeld opened #575 "Re-expose functions in the plugin (make more granular functions)"
We have just cleaned up the plugin interface, but it seems like it is not going to work for MSFT.
see: https://github.com/openshift/openshift-azure/pull/521#discussion_r223584008

I think the main statement is
"
Most importantly, running create or update cannot be a black box function to the RP because each step in the process in unique & functionally different and putting it all in one function a

[2018-10-09 22:19] asalkeld commented on #575
/assign

[2018-10-09 23:00] julienstroheker opened #576 "Don't allow changing AAD app id, secret, or tenant during update call"
Needed for AAD App secret Key rotation

[2018-10-09 23:07] julienstroheker commented on #576
Sorry wrong repo !

[2018-10-09 23:07] #576 closed

[2018-10-09 23:51] jim-minter opened #577 "end-to-end tests should honor KUBECONFIG environment variable"
I think it makes more sense for the e2es to read the KUBECONFIG environment variable instead of a -kubeconfig flag - this is pretty standard in the ecosystem, isn't it?  @kargakis are you +1 on this?

[2018-10-09 23:54] jim-minter commented on #575
Can we talk about this before implementation?
It might be worth discussing quickly next week at the f2f.
I believe there's only one correct ordering of these pieces per flow and we want to rationalise and enforce it.  I also understand that we need to get the error handling right as well.

[2018-10-10 00:32] asalkeld commented on #575
Of course @jim-minter

[2018-10-10 00:38] charlesakalugwu commented on #574
/assign

[2018-10-10 00:55] charlesakalugwu commented on #574
fix in https://github.com/openshift/release/pull/1864

[2018-10-10 00:55] #574 closed

[2018-10-10 09:00] kargakis commented on #577
Yes, this is fine.

[2018-10-10 11:22] mjudeikis opened #581 "logbridge CrashLoopBackOff"
[code]

[2018-10-10 11:32] mjudeikis commented on #581
good node:
[code]
broken:
[code]

[2018-10-10 11:32] mjudeikis commented on #581
cc: @jim-minter

[2018-10-10 11:38] mjudeikis commented on #547
For my own education, why this is needed? What is rational behind this?

[2018-10-10 11:40] mjudeikis commented on #581
+ we might want to rebuild current image:
[code]

[2018-10-10 11:59] kargakis opened #582 "bootstrap autoapprover never schedules"
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/579/pull-ci-openshift-openshift-azure-master-e2e-azure/212/artifacts/e2e-azure/

For some reason the bootstrap autoapporver was never scheduled in this test and compute and infra nodes never joined the cluster. Also, the test couldn't get any logs from the control plane via the k8s api which is also su

[2018-10-10 12:01] kargakis commented on #581
Ah we don't do any kind of build/promotion for logbridge.

[2018-10-10 15:53] jim-minter commented on #581
I'm at a loss to explain the panic on main.go:194.  I fear that the built image does not correspond with the checked in code :-(

I also don't have an explanation for how the state/cursor file came to exist but was empty.

[2018-10-10 17:04] #547 closed

[2018-10-10 18:30] kwoodson opened #589 "htpasswd should have newline character at the end of osadmin line."
When adding users to htpasswd with this command:
[code]

The /etc/origin/master/htpasswd file appends the new user to the end of the line with osadmin.
[code]

[2018-10-10 18:48] jim-minter commented on #581
#587 protects against this and adds some logging - leaving issue open to try to discover root cause later

[2018-10-10 18:58] #589 closed

[2018-10-11 01:03] asalkeld commented on #575
@jim-minter I couldn't resist, I have linked an idea for an API above.

[2018-10-11 08:13] kargakis commented on #582
Sorry this is an issue with my PR

[2018-10-11 08:13] #582 closed

[2018-10-11 09:18] charlesakalugwu opened #591 "node vm builds fail with dict object' has no attribute 'properties'"
The build node vm ci-operator jobs are failing with the following errors

rhel7 example
---------
[code]

artifacts: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/azure-build-node-image-rhel-310/61/

centos7 example
-----------
[code]
artifacts: http://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/logs/azure-build-node-image-centos-310/1/

The failure arises in the `create_blo

[2018-10-11 09:31] charlesakalugwu commented on #591
There was a recent update to the `create_blob_from_vm.yml` playbook which tried to workaround the missing `accessSas` field of `az disk grant-access`

[2018-10-11 09:32] kargakis commented on #591
Unfortunately, the az version used inside openshift-ansible is determined by when a build for the installer image has run

https://github.com/openshift/openshift-ansible/blob/5bfd3d76f8358f8f9fb40edaa124602c869c9676/images/installer/Dockerfile#L13

As a first step, can we pin its version down to a stable one so we stop these kinds of breakages? Long term we should move out of openshift-ansible, it

[2018-10-11 10:52] charlesakalugwu commented on #591
Just did some manual tests with the `2.0.46` and `2.0.47` versions of the az cli, trying to simulate the workflow encoded in the affected playbook

**version 2.0.46**

[code]

**playbook steps with version 2.0.46**

[code]

**response to the `az disk grant-access` for `2.0.46`** :
[code]

**version 2.0.47**

[code]

**playbook steps with version 2.0.47**

[code]

**response for the `az disk grant-

[2018-10-11 15:37] kargakis commented on #560
And another one https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/593/pull-ci-openshift-openshift-azure-master-e2e-azure/250/build-log.txt

[2018-10-12 09:17] kargakis opened #595 "Rewrite hack/dns.sh in Go"
https://github.com/openshift/openshift-azure/pull/594 creates a new e2e suite for running against the RP (either our fake or the production RP). In the case of the real RP, all the DNS configuration should be handled by MSFT, in case of the fake RP we still need to setup the DNS zone and records by ourselves.

This means that we need to shell out to `hack/dns.sh` after the suite has installed a cl

[2018-10-15 12:08] kargakis opened #599 "ERROR: az storage account keys list: error: argument --account-name/-n: expected one argument"
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/598/pull-ci-openshift-openshift-azure-master-e2e-azure/278/build-log.txt
/kind bug

@openshift/sig-azure another `az` breakage now affecting our queue? Our test-base image that holds `az` hasn't been updated for two weeks so unclear why this is breaking now.
[code]

[2018-10-15 12:13] kargakis opened #600 "VM has reported a failure when processing extension 'cse'"
time="2018-10-15T11:00:30Z" level=debug msg="400 Bad Request: Failed to apply requestCode=\"DeploymentFailed\" Message=\"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.\" Details=[{\"code\":\"Conflict\",\"message\":\"{\\r\\n  \\\"status\\\": \\\"Failed\\\",\\r\\n  \\\"error\\\": {\\r\\n    \\\"

[2018-10-15 12:14] kargakis commented on #600
/kind test-flake

[2018-10-15 12:48] kargakis commented on #599
This is an issue with the e2e.sh script. Still unclear why is it occuring in my PR. Looking ..

[2018-10-15 14:33] kargakis commented on #599
I am seeing retries due to 429s but we still have a lot of reads until we get ratelimited?
[code]
[code]

[2018-10-15 14:43] jim-minter opened #602 "Refactor azure client creation in func (u *simpleUpgrader) InitializeCluster"
`func (u *simpleUpgrader) InitializeCluster(` creates (a) an azure storage account client and (b) a storage client, inline.  It would be nice to pull the client creation out for a cleaner architecture, esp for unit testing.

At the moment, doing this for (a) is blocked by the fact that it uses the credentials stored in ctx, and we don't know if these can be made available in NewPlugin.

(b) is blo

[2018-10-15 14:43] jim-minter commented on #602
@pweil- @asalkeld @kargakis @amanohar @sozercan fyi

[2018-10-15 15:14] kargakis commented on #599
/assign

[2018-10-15 18:01] jim-minter opened #603 "VM 'ss-compute_0' has not reported status for VM agent or extensions. Please verify the VM has a running VM agent and can establish outbound connections to Azure storage."
==== 8< ====
I have issue with Azure instances where if I restart machines in an "vmss" they will not join again to OCP cluster.
vmss - virtual machine scale set

vmss will go into "failed" state with error message
[code]
This is preventing to restart vmss / machines in cluster and do specific tunings and to get them again join cluster as expected.
==== 8< ====

[2018-10-15 18:01] jim-minter commented on #603
@ekuric fyi

[2018-10-15 18:16] jim-minter commented on #603
debug log -
couldn't ping compute-000000
in the portal, hitting restart on the instance failed
deallocate/start also didn't seem to resolve issue ("VM status blob is found but not yet populated.")
deallocate/reimage/start seems to have resolved the problem

@ekuric did you change any settings on the vm that could have prevented it coming up?

[2018-10-15 18:18] jim-minter opened #604 "shouldn't run logbridge:latest in production"
at the moment, our CI builds a new logbridge image on every commit, and that is used directly in production.  We should make a separate production release of the logbridge image (possibly like we do with the sync pod?) and use that in production.

[2018-10-15 19:28] akrzos opened #605 "Occasionally "connection refused" using hack/create.sh"
I have seen this twice now with the hack/create.sh script:

[code]

[2018-10-15 19:35] jim-minter opened #606 "Possibly failed to write config blob and didn't error"
See https://bugzilla.redhat.com/show_bug.cgi?id=1639396

AFAICS the config blob *container* does not exist - perhaps this could have failed to create because of Azure rate limiting issues?  Can you audit the code and see if you can find a path whereby this could have occurred?

[2018-10-15 22:07] asalkeld commented on #602
Thanks @jim-minter , I was also not a fan of creating the clients inline, but didn't see a way out of it immediately.

[2018-10-16 00:47] asalkeld commented on #604
/assign

[2018-10-16 07:01] mjudeikis commented on #537
/assign

[2018-10-16 08:17] kargakis commented on #605
/kind test-flake

We should be retrying the request until it succeeds since this is the fake RP we are running against and there is no reason to fail.

[2018-10-16 08:34] kargakis commented on #606
I think it's possible that sync can cache everything from Azure and never go live again during its lifetime. There are cases where the config blob will need to change more than once during a single version (eg. we rotate storage keys), we could require a sync restart in those cases. Today, any change in the config is a restart of the VMs so sync should always restart.

[2018-10-16 08:37] mjudeikis commented on #606
yes, so this is mainly config blob reading operation. But key reading operation created 2 more reads (list keys and get key). We could cache key and use it to get config blob. If we get Access denied at some point we retry to acquire a new key. In this case, we potentially reduce all reads by 2/3.

[2018-10-16 08:45] mjudeikis commented on #537
@jim-minter if I understand this right we want to make sure we have something like this:
[code]
and not:
[code]

and at the same time all these 3 should be part of `vnetCidr` and not part of Services and pods networks?

[2018-10-16 08:50] mjudeikis commented on #595
I would like try this one @kargakis if you ok with it? Do you imagine this as package in our utils folder which we can call from e2e fake RP?

[2018-10-16 09:01] kargakis commented on #595
Go ahead @mjudeikis ! I started writting some code locally and had added it in `pkg/util/azureclient/dns` but never got a chance to push it forward.
[code]

[2018-10-16 09:08] kargakis commented on #388
Fixed by https://github.com/openshift/openshift-azure/pull/583

[2018-10-16 09:08] #388 closed

[2018-10-16 09:14] kargakis commented on #604
Fixed by https://github.com/openshift/openshift-azure/pull/607?

[2018-10-16 09:15] asalkeld opened #609 "Try and use non-admin k8s user in the upgrader.drain()"
Follow up issue from review:
https://github.com/openshift/openshift-azure/pull/608#discussion_r225447138

cc @kargakis

[2018-10-16 09:20] asalkeld commented on #604
@kargakis it may not be the whole story but it allows us to pass in the version of the image we want.

[2018-10-16 10:03] kargakis commented on #550
I opened https://github.com/kubernetes/kubernetes/issues/69864 because disabling the PDB api is not a good long-term solution (eventually we are going to use it for admin-related workloads).

[2018-10-16 10:21] kargakis commented on #602
We should try to do the same thing with the k8s client too.

[2018-10-16 11:37] kargakis commented on #606
We seem to return error when either the [container](https://github.com/openshift/openshift-azure/blob/547524d316244ce67ee273fca52eda5a63507282/pkg/upgrade/initialize.go#L46) or the [blob](https://github.com/openshift/openshift-azure/blob/547524d316244ce67ee273fca52eda5a63507282/pkg/upgrade/initialize.go#L56) gets created. Without looking into the sync log we can only assume what's the actual error

[2018-10-16 11:44] kargakis commented on #606
I don't fully understand the existing unit test that we have but it seems it can be augmented to test those code paths.

https://github.com/openshift/openshift-azure/blob/547524d316244ce67ee273fca52eda5a63507282/pkg/upgrade/initialize_test.go#L19-L54

[2018-10-16 20:39] kwoodson commented on #527
I haven't seen this in 20+ cluster creates.  Closing for now.

[2018-10-16 22:39] #550 closed

[2018-10-17 06:54] ekuric commented on #603
@jim-minter @kargakis  prior to this problem I tried to enable accelerated networking
[code]
second command failed with this [error ](https://gist.githubusercontent.com/ekuric/57cc5d587d24be415742abf992914e2a/raw/a7d2d29299a691d1a8b3c8787cf66205da210537/gistfile1.txt)
what is expected - as machines does not support Accelerated networking. Not big deal I thought then, let's leave it as is, but when

[2018-10-17 12:54] akrzos opened #614 "Support more vm sizes"
Currently only Standard_D2s_v3 and Standard_D4s_v3 are the only deploy-able vm sizes (without a workaround or modifying the code).

[2018-10-17 12:55] akrzos commented on #614
Modify the code in these two places to allow other vm sizes:
https://github.com/openshift/openshift-azure/blob/master/pkg/api/types.go#L161
https://github.com/openshift/openshift-azure/blob/master/pkg/api/default.go#L4

[2018-10-17 13:00] akrzos opened #615 "Scaleup with hack/upgrade.sh seems to only work one compute node at a time"
I am unsure if this a subscription limitation or if larger instances just take longer to provision but I was unable to scale up from a core cluster (3 masters, 2 infras, 2 computes) to a larger cluster (3 masters, 2 infras, 10 computes) without hitting `400 Bad Request: Failed to apply requestFuture#WaitForCompletion: context has been cancelled: StatusCode=200 -- Original Error: context deadline e

[2018-10-17 13:03] akrzos opened #616 "Support Azure Accelerated networking"
[Accelerated networking](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli) should be enabled on the scale sets by default for vm sizes that allow it (Standard_D4s_v3 and larger).

[code]

[2018-10-17 13:11] akrzos commented on #615
After the "large" scale up of 2 to 10 (Add 8 more compute nodes) failed, I attempted to scale up by 2 compute nodes and was still met with the same problem:

[code]

[2018-10-17 13:43] kargakis commented on #615
Probably the same issue as https://github.com/openshift/openshift-azure/issues/552

We are seeing slow responses from Azure.

cc @amanohar @sozercan @jim-minter

Btw IIRC we only allow up to 5 compute nodes atm. Also, scale up is a single update to the scale set so it should create all new VMs in parallel vs one by one. We wait for each VM to turn ready serially but that should not really affect t

[2018-10-17 13:44] akrzos opened #617 "Cosmetic issue: scale up/scale down compute node index"
Potentially not an issue, however noted since node naming could become confusing in large enough environments.  Compute nodes increment in the azure portal as compute_0, compute_1, ... compute_9, compute_10 and so forth.  In openshift-azure as well as in the OpenShift cli on a cluster the compute nodes increment as compute-000000, compute-000001,..compute-000009, compute-00000a, compute-00000b rat

[2018-10-17 13:46] kargakis commented on #615
And this means that if you tried to scale up to 8 you should see a validation error. I just tried it
[code]

[2018-10-17 13:49] kargakis commented on #616
/kind feature

[2018-10-17 13:50] akrzos commented on #615
I avoided the validation issue by raising the limit to 30 in that piece of code (as well as to allow a larger vm size):

[code]

Right now the issue I believe is mostly that deploying seems to be hit or miss with the azuredeploy template "timing out" and the chance for greater success seems to be with smaller node count.

[2018-10-17 13:59] kargakis commented on #617
Hrm, VM names (compute-000000, compute-000001, etc.) are set by scale sets. Not sure we can change them. `ss-compute-0` is confusing and I am not sure why they have it like that in the portal :)

[2018-10-17 14:54] kargakis opened #618 "Rewrite hack/aad.sh in Go"
Similar to https://github.com/openshift/openshift-azure/issues/595, the more of hack/create.sh we move out of bash into Go, the better it's going to be for our e2e framework. Once we rewrite hack/aad.sh (and hack/dns.sh) it should be very easy to get rid of hack/create.sh altogether.

/kind cleanup

[2018-10-17 18:08] akrzos commented on #603
I have now also experienced this issue where rebooting a node and it does not return to the cluster.  I do not think we are changing the cluster in such a fashion that would prevent reboots so it is unclear to me why the machines do not return after a reboot.

[2018-10-17 23:00] #606 closed

[2018-10-18 03:54] asalkeld commented on #617
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-instance-ids

[2018-10-18 03:58] asalkeld commented on #618
@kargakis unless you have started on this, I can do it.

[2018-10-18 04:00] asalkeld commented on #486
/unassign

[2018-10-18 06:33] asalkeld commented on #618
/assign

[2018-10-18 08:28] kargakis commented on #486
I think we can call this done.

[2018-10-18 08:28] #486 closed

[2018-10-18 10:25] mjudeikis opened #620 "review images we use in 3.10"
review image versions we use for 3.10.
In the example, we use Prometheus 2.2.1 which has a huge memory leak. We need to update to 2.3+

[2018-10-18 13:09] mjudeikis commented on #618
@asalkeld I started #595 but got stuck. https://github.com/openshift/openshift-azure/pull/621
Pushed so you know where I am :)

[2018-10-19 09:07] kargakis opened #625 "Job exits successfully but ginkgo test seems to have failed"
[code]
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/608/pull-ci-openshift-openshift-azure-master-e2e-azure/340
/kind bug
/kind test-flake

[2018-10-19 09:27] kargakis opened #626 "verify job fails with permission error"
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/619/pull-ci-openshift-openshift-azure-master-verify/316/build-log.txt

@mjudeikis can you please take a look since you added a couple of code and updated the image to run as non-root?
/kind bug

[2018-10-19 09:38] jmencak opened #627 "DNS wildcard not set up to point to a router instance."
I was handed off an azure OCP cluster to test the router performance installed by openshift/openshift-azure.

Routing was not set up after the install finished, and I had to manually add wildcard DNS entries to point to the first router instance (there were two routers installed, as we had two infra nodes).

Is there a way to point automatically to the first router?  Anything that we missed during

[2018-10-19 09:38] kargakis commented on #626
From the test-base build log
[code]
unclear yet whether it's related.

[2018-10-19 12:10] mjudeikis commented on #627
did you used `create.sh` or normal azure api? if create.sh ran to the end `dns.sh` had to create it. By ancy change you have create.sh output?

[2018-10-19 12:11] mjudeikis opened #629 "CI is blocked"
Ci is blocked because test-base image build fails with `chmod -R xxx /go`
To replicate locally:
https://gist.github.com/mjudeikis/32338908fae24e800e6676f12c3c5341

/kind bug

[2018-10-19 12:13] mjudeikis commented on #629
we see this in our Ci too :/
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/628/pull-ci-openshift-openshift-azure-master-verify/319

[2018-10-19 12:31] mjudeikis commented on #627
This might subscription issue. Can you send me details of what you use as credentials (sub, tenant)?
ping me pm (m.j et redhat.com)

[2018-10-19 17:04] kargakis commented on #627
Yes, this is a subscription issue.

[2018-10-19 17:06] kargakis commented on #629
Instead of letting CI blocked we should revert the dockerfile changes that were made to support conformance testing and move that into a separate image so we can try and fix out of bound.

[2018-10-19 18:13] mjudeikis commented on #629
I tried this. This didnt helped. Its other issue with ocp tooling...
conformance change is nkt related to this

On Fri, 19 Oct 2018, 18:06 Michalis Kargakis, <notifications@github.com>
wrote:

[2018-10-19 22:29] kargakis commented on #629
Fixed by https://github.com/openshift/release/pull/1977

[2018-10-19 22:29] #629 closed

[2018-10-19 22:29] kargakis commented on #626
Fixed by https://github.com/openshift/release/pull/1977

[2018-10-19 22:29] #626 closed

[2018-10-22 10:33] mjudeikis commented on #317
/close
reopen if needed

[2018-10-22 10:34] mjudeikis commented on #379
/unassign

[2018-10-22 10:35] mjudeikis commented on #469
/close
done with regen pr

[2018-10-22 10:35] mjudeikis commented on #537
@jim-minter can you confirm my thinking for this?

[2018-10-22 10:39] mjudeikis commented on #595
/assign

[2018-10-22 10:40] mjudeikis commented on #581
/close

[2018-10-22 10:43] #581 closed

[2018-10-22 10:47] mjudeikis opened #632 "Move to AAD create flow from AAD update flow"
Because we scaled down our PP AAD integration we again dont need to have "approval flow" for aad applications.

As "az openshift create` created aad application, we can do same with our fakeRP code (current flow is to update existing application)

This would be followup for https://github.com/openshift/openshift-azure/issues/618 and would enhance the code to stop using AAD update flow and bring us

[2018-10-22 10:50] mjudeikis commented on #627
@akrzos I think this is a documentation issue. we should clearly state that code under this repo can be fully used only if you have pre-reqs in the subscription (golden images, DNS Rg, etc).
And for any external usage, it should be used with azure api/sdk

[2018-10-22 13:13] kargakis commented on #625
We do not error out the script during a pipe failure. In any case, we can stop using `tee` now that we can request the complete log from ci-operator (https://github.com/openshift/release/pull/1984).

[2018-10-22 13:32] #469 closed

[2018-10-22 13:40] mjudeikis commented on #469
/close

[2018-10-22 14:07] mjudeikis commented on #627
/kind docs

[2018-10-22 15:08] kargakis commented on #625
Opened https://github.com/openshift/openshift-azure/pull/634

[2018-10-22 16:46] #625 closed

[2018-10-22 18:18] #317 closed

[2018-10-22 20:53] #504 closed

[2018-10-22 21:50] kargakis commented on #615
Closing since there is no concrete issue here to try to fix atm

[2018-10-22 21:51] kargakis commented on #617
We can't change this, closing

[2018-10-22 21:51] #617 closed

[2018-10-22 21:52] kargakis commented on #620
Probably not worth it if we can get 3.11 in PPII

[2018-10-22 21:55] kargakis commented on #566
We should disable these ansible Jenkins jobs since they seem broken for sometime and we have a jira issue for adding them back anyway.

[2018-10-23 05:40] amanohar commented on #615
@kargakis @akrzos, error returned by ARM (and the RP) is BadRequest 400 and the following. The plugin should have received the following error response or can query ARM with deployment id to get error details:
[code]

[2018-10-23 06:21] kargakis opened #635 "conformance tests for master are broken"
[code]
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure-conformance/
/assign mjudeikis
/kind bug

[2018-10-23 06:24] kargakis opened #636 "upgrade tests for master are broken"
[code]
https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure-upgrade/
/assign
/kind bug

[2018-10-23 06:29] kargakis commented on #636
Tests started failing after https://github.com/openshift/openshift-azure/pull/592 got merged.

[2018-10-23 06:31] kargakis commented on #636
The problem is that the provisioningState is included in the reply from the fake RP so it's saved in the manifest during create and the same object is reused during the update so we get the invalid change error.

[2018-10-23 07:16] mjudeikis commented on #620
yes.

[2018-10-23 07:16] #620 closed

[2018-10-23 08:27] mjudeikis commented on #566
http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/ excluder 3.11 is not yet synced to origin repos... again...

[2018-10-23 09:24] 0xmichalis opened #638 "Use kelseyhightower/envconfig to tidy up the use of envs in e2e tests"
Our use of env variables inside the RP test suite is all over the place. We should tide it up with a central struct used by the client that can be initialized by the env via envconfig
[code]
/kind cleanup
/area tests