[2019-04-02 02:41] jim-minter commented on #1363
fixed or substantially improved by #1385, closing

[2019-04-02 02:41] #1363 closed

[2019-04-02 02:47] jim-minter commented on #1102
@openshift/sig-azure fyi:
cluster e2e-upgrade-jim-minter-1394-joqmkf around is an example of the dial error, around 2/4/2019 01:40 UTC

* master-0 rotated
* master-1 rotated, came up, indicated /healthz, then there are no logs after 01:35:59 - did it kernel panic? @charlesakalugwu #1396
* master-2 rotated because master-1 was momentarily healthy, etcd lost quorum, all apiservers came out of rotati

[2019-04-02 02:47] jim-minter commented on #1102
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1394/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/200?log

[2019-04-02 02:49] jim-minter commented on #1396
@thekad can you look at this asap please?

[2019-04-02 02:57] jim-minter commented on #725
what mocked client? :-(
looks like they just provide fat interfaces for you to implement...

[2019-04-02 03:20] jim-minter opened #1398 ""waiting for OpenShiftManagedCluster config to be persisted" is spammy"
time="2019-04-02T00:28:54Z" level=debug msg="waiting for OpenShiftManagedCluster config to be persisted" component=monitor
time="2019-04-02T00:28:59Z" level=debug msg="waiting for OpenShiftManagedCluster config to be persisted" component=monitor
time="2019-04-02T00:29:04Z" level=debug msg="waiting for OpenShiftManagedCluster config to be persisted" component=monitor
time="2019-04-02T00:29:09Z" lev

[2019-04-02 03:22] jim-minter opened #1399 "panic The Resource 'Microsoft.Network/publicIPAddresses/ip-apiserver' under resource group 'e2e-create-jim-minter-1392-ujfffl' was not found."
race condition of some sort

panic: network.PublicIPAddressesClient#Get: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error. Status=404 Code="ResourceNotFound" Message="The Resource 'Microsoft.Network/publicIPAddresses/ip-apiserver' under resource group 'e2e-create-jim-minter-1392-ujfffl' was not found."

https://storage.googleapis.com/origin

[2019-04-02 03:23] jim-minter opened #1400 "write: connection reset by peer talking to storage account"
time="2019-04-02T00:37:12Z" level=debug msg="400 Bad Request: Failed to apply request: UpdateSyncPod: Put https://sacfgwdqw8oq44ss3x8eu4gd.blob.core.windows.net/config/sync: net/http: HTTP/1.x transport connection broken: write tcp 172.16.16.144:44410->52.226.8.148:443: write: connection reset by peer" func="github.com/openshift/openshift-azure/pkg/fakerp.(*Server).badRequest" file="/go/src/github

[2019-04-02 03:23] jim-minter commented on #1400
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1392/pull-ci-openshift-openshift-azure-master-e2e-azure/3270/build-log.txt

[2019-04-02 15:19] mjudeikis commented on #1299
check app insights for Lb data and close it

[2019-04-02 15:20] jim-minter commented on #1371
closing for #1312

[2019-04-02 15:20] #1371 closed

[2019-04-02 22:53] jim-minter opened #1409 "cluster doesn't create, VMSS stuck in Running"
[code]

example operation status:
[code]

[2019-04-02 22:54] jim-minter commented on #1409
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1397/pull-ci-openshift-openshift-azure-master-upgrade-v4.0/31/build-log.txt

[2019-04-03 00:33] #333 closed

[2019-04-03 00:34] jim-minter opened #1410 "scale up times out"
[code]

[2019-04-03 00:34] jim-minter commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1397/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/224/build-log.txt

[2019-04-03 00:36] jim-minter commented on #1409
https://github.com/openshift/openshift-azure/pull/1411 adds logs

[2019-04-03 01:08] jim-minter commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1407/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/227/build-log.txt

[2019-04-03 01:09] jim-minter commented on #1410
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1408/pull-ci-openshift-openshift-azure-release-v4-upgrade-v3.2/11

[2019-04-03 04:30] #1345 closed

[2019-04-03 04:34] jim-minter commented on #1362
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1397/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/229/build-log.txt

is another example of this

[2019-04-03 05:42] jim-minter opened #1413 "flake: region mismatch"
also a kill race condition?
[code]

[2019-04-03 05:42] jim-minter commented on #1413
https://deck-ci.svc.ci.openshift.org/log?job=pull-ci-openshift-openshift-azure-master-upgrade-v3.2&id=238

[2019-04-03 05:43] #1413 closed

[2019-04-03 05:55] jim-minter commented on #1362
[kubelet.log](https://github.com/openshift/openshift-azure/files/3037041/kubelet.log)

@andyzhangx in the log attached here, the `Cannot find Lun` message happens exactly 15 minutes (02:12:30) after the last `MountVolume.WaitForAttach` message.  What can cause a timeout of exactly 15 minutes in this code path?

I am curious about:
[code]

but I can't work out how that would cause this code path to

[2019-04-03 06:14] andyzhangx commented on #1362
@jim-minter that's correct, for VMSS, at that version, it's 15 minutes, now it's changed to 5 minutes, and this PR: https://github.com/kubernetes/kubernetes/pull/70002 could fix the issue by finding the lun directly from path like `/dev/disk/azure/lunX`

[2019-04-03 06:16] jim-minter commented on #1362
@andyzhangx I want to understand what the underlying issue is - what is the actual code path that is hanging for 15 minutes?

@feiskyer do you know what the path could be?

[2019-04-03 06:33] andyzhangx commented on #1362
@jim-minter I was wrong, the `waitForAttachTimeout` value is defined here, it's 10 min:
https://github.com/kubernetes/kubernetes/blob/51db0fe21a816b0818df571ad70386864d83c722/pkg/kubelet/volumemanager/volume_manager.go#L80-L86

And  Azure disk `WaitForAttach` code is here:
https://github.com/kubernetes/kubernetes/blob/51db0fe21a816b0818df571ad70386864d83c722/pkg/volume/azure_dd/attacher.go#L194

A

[2019-04-03 06:42] andyzhangx commented on #1362
actually all the VM cache(VMSS and VMAS) holds only 1 min, I don't know even after 15 min, why `/dev/disk/azure/lun0` is not created in the VM although disk attachment succeeded.

[code]

[2019-04-03 06:45] andyzhangx commented on #1362
@jim-minter could you paste the  udev rule `/etc/udev/rules.d/66-azure-storage.rules` on that VM:
it could be related to this issue whch is also related to udev rule missing:
https://github.com/kubernetes/kubernetes/issues/66443#issuecomment-406765240

[2019-04-03 11:29] mjudeikis opened #1416 "fakeRP internal representation lacks provisioningState"
In the internal API we have a field:
[code]

But we dont use it, and use one in the external API. So we cant relay on it in our code while replicating realRP

[2019-04-03 12:26] feiskyer commented on #1362
Not sure from current findings. Is it possible to increase the log level of kubelet, so that more details could be found?

[2019-04-03 14:58] charlesakalugwu opened #1419 "Add read_from_head to fluentd-config during 4.1 backports"
When the 4.1 backports are being made the changes done in https://github.com/openshift/openshift-azure/pull/1417 need to be made in v4

[2019-04-03 17:37] thekad opened #1420 "Deployment failed due to missing loadBalancingRule"
Creating a new cluster failed on initial deployment with the following deployment failure:

[code]

seeing if i can reproduce this

[2019-04-03 22:41] jim-minter opened #1424 "Job for docker.service canceled flake"
[code]

[2019-04-03 22:41] jim-minter commented on #1424
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1407/pull-ci-openshift-openshift-azure-master-upgrade-v4.0/47/build-log.txt

early stage log capture should help with this

[2019-04-04 05:21] #1398 closed

[2019-04-04 05:21] #1399 closed

[2019-04-04 10:13] #1396 closed

[2019-04-04 14:45] Makdaam opened #1427 "unmarshalling flake when fetching cluster status"
[code]
When fetching cluster status an array is returned instead of a PodList struct. Investigating.

/kind test-flake

[2019-04-04 16:15] jim-minter commented on #1427
Looks like (at least) two problems:
1) tests are not being focused in our e2es when they should be (this doesn't run every e2e but should - how many other tests are in that category? :(
2) test is probably just broken rather than being a flake - the back end is actually returning a `[]v1.Pod`

[2019-04-04 16:30] #1241 closed

[2019-04-04 16:42] jim-minter commented on #1427
candidate tags to remove (probably among others): `[Admin]`, `[EveryPR]`

[2019-04-04 16:43] jim-minter commented on #1427
look at making a singleton AzureClient like, but *not in* sanity.Checker so we don't reinitialise it all the time

[2019-04-05 05:52] jim-minter commented on #1343
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1430/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/322/build-log.txt

[2019-04-05 11:34] charlesakalugwu opened #1435 "invalid memory address monitor.listResourceGroupMonitoringHostnames"
Caught this panic in `(*monitor).listResourceGroupMonitoringHostnames` (application insights manager) during an arm template deployment with the following logs:

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1431/pull-ci-openshift-openshift-azure-master-e2e-azure/3401/build-log.txt

/kind test-flake

[2019-04-05 11:39] charlesakalugwu opened #1436 "checkCanUseAzureFile test failure - no providers available to validate pod request"
Found this flake with the `checkCanUseAzureFile` portion of the sanity checker

[code]
artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1431/pull-ci-openshift-openshift-azure-master-e2e-azure/3401/build-log.txt

/kind test-flake

[2019-04-05 11:52] mjudeikis commented on #1400
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1434/pull-ci-openshift-openshift-azure-master-e2e-azure/3400

[2019-04-05 13:37] charlesakalugwu opened #1438 "timeout while checking that cluster services are available"
Found a flake where a timeout occurs while checking that cluster services are available. This occured during the sanity checker's `checkCanAccessServices` method call during `ValidateCluster`

[code]
artifacts; https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1417/pull-ci-openshift-openshift-azure-master-e2e-azure/3354/build-log.txt

/kind test-flake

[2019-04-05 13:39] charlesakalugwu opened #1439 "timeout while fetching osa-customer-admin and osa-customer-admin-project rolebindings"
*osa-customer-admin*
[code]

*osa-customer-admin-project*
[code]
artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1417/pull-ci-openshift-openshift-azure-master-e2e-azure/3354/build-log.txt

/kind test-flake

[2019-04-05 13:55] charlesakalugwu opened #1441 "multiple CustomerAdmin e2e test failures in a single run"
Got a bunch of failures in a single run of the `CustomerAdmin` e2e test suite. This could be associated with #1439 which also occurs within the same test run. It might be that the AAD group sync was not completed before those tests kick in. Need to investigate further

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1417/pull-ci-openshift-ope

[2019-04-05 14:12] charlesakalugwu opened #1442 "ssh rejected - administratively prohibited"
Saw a flake with the following entries in the logs

[code]
artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1430/pull-ci-openshift-openshift-azure-master-e2e-azure/3407/build-log.txt

/kind test-flake

[2019-04-05 14:16] mjudeikis commented on #1439
This one looks like race condition with test creating namespace and azure-controller creating rbac model on that namespace

[2019-04-05 14:57] Makdaam opened #1443 "New master-000001 timeout during "upgrade from v3.2" test"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1437/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/333

[code]
Investigating test flow.

/kind test-flake
/assign Makdaam

[2019-04-05 15:21] Makdaam opened #1444 "Improve Prometheus e2e test to check if match statements in metrics bridge match any metrics in Prometheus."
This e2e test should catch any spelling errors in metric names etc.

[2019-04-05 15:22] Makdaam opened #1445 "Add Metrics Bridge e2e test to check if it's sending the selected mentrics to statsd."

[2019-04-05 15:32] jim-minter opened #1446 "Geneva action to upload kernel crash dump(s) to storage account"
Step 1- find a way to get the dmesg/oops message out of /var/crash into Geneva logging

Step 2- post GA - We have the capability now to save crash dumps to /var/crash if/when they occur, but don't have a process to get the dumps of a box.

[2019-04-05 15:44] jim-minter opened #1447 "Geneva action run command to fetch live networking information"
Resurrect logging script in vm image to include iptables, netstat
Add run command to run it and return results

[2019-04-05 15:46] jim-minter commented on #1278
Should be fixed - do a final sweep on Monday

[2019-04-05 15:53] jim-minter commented on #1420
Think it's worth writing an e2e (periodic) which creates a cluster, deletes it, immediately recreates it, and see what bugs fall out

If this happens a couple of times, let's get an RCA from Azure.

[2019-04-05 16:03] jim-minter opened #1448 "Update flake: timeout starting master"
[code]

[2019-04-05 16:03] jim-minter commented on #1448
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1440/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/336/build-log.txt

needs retry logic

[2019-04-05 16:13] thekad opened #1449 "Create unit test to ensure resources structure matches its directory location"
There have been cases in development where you are working on a resource inside a given namespace's but forget to update the namespace setting inside the yaml.
Write a unit test to validate each resource is in the directory it should be, i.e. validate namespace, kind, etc.

[2019-04-05 16:13] thekad commented on #1449
/assign

[2019-04-05 16:13] thekad commented on #1449
/area tests

[2019-04-05 16:22] charlesakalugwu commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1430/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/334/build-log.txt

[2019-04-05 16:54] jim-minter commented on #1362
@feiskyer @andyzhangx  I've now got a kubelet goroutine dump at the point where this is happening.

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1430/pull-ci-openshift-openshift-azure-master-e2e-azure/3415/artifacts/internal-e2e/compute-testapp-goroutine-dump

Goroutine 219 is cloudResourceSyncManager -> NodeAddresses -> getVmssVM.  It has been stuck for 10

[2019-04-05 17:14] charlesakalugwu commented on #814
/reopen

[2019-04-05 18:40] #1435 closed

[2019-04-05 18:50] jim-minter commented on #1102
Here's another one.
@mjudeikis this is serious :(

[2019-04-05 20:45] jim-minter commented on #1362
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1437/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/344/build-log.txt

The above is a log where the *controller* gets stuck in AttachVolume.Attach for 15 minutes.  I bet it's a similar issue, but this one would not be fixed by kubernetes/kubernetes#70002.

Enabling UseInstanceMetadata is another key action

[2019-04-05 21:07] jim-minter commented on #1102
Here's a similar issue but on an infra node: logs from infra-1554473957-000001 (new node in upgrade) start at 14:55:01 then the node disappears at 15:09:54 causing daemonset readiness checks never to succeed and upgrade to fail

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1434/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/337/build-log.txt

[2019-04-05 21:22] jim-minter commented on #1419
https://github.com/openshift/openshift-azure/pull/1451 also needs special treatment when backporting

[2019-04-05 22:11] mjudeikis opened #1452 "customer-admin should be able to list groups"
trying to list groups and members of those in prod cluster but getting:
[code]

This way there is no easy way to check if sync works or what got in. A little bit inconvenient.

[2019-04-06 00:12] jim-minter commented on #1362
https://bugzilla.redhat.com/show_bug.cgi?id=1696901

[2019-04-06 12:18] mjudeikis commented on #1452
same with nodes:
[code]

I scaled the cluster and I cant see what is happening :/

[2019-04-07 16:04] jim-minter opened #1454 "td-agent may not restart after node crash"
td-agent crashes with
[code]

/var/log/journald.pos/worker0/storage.json is 0 bytes long

root cause is probably that fluentd doesn't call fdatasync

[2019-04-07 16:54] jim-minter commented on #1454
https://github.com/fluent/fluentd/issues/2373

[2019-04-08 02:22] jim-minter commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1455/pull-ci-openshift-openshift-azure-master-upgrade-v4.0/172/build-log.txt

[2019-04-08 02:28] jim-minter opened #1457 "infra node never fully got up, no mdsd logs"
repeated
[code]

[2019-04-08 02:28] jim-minter commented on #1457
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1455/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/365/build-log.txt

[2019-04-08 03:42] andyzhangx commented on #1362
@jim-minter thanks for the detailed analysis, 429 is `StatusTooManyRequests`, and PR(https://github.com/kubernetes/kubernetes/pull/70002) fixed this issue on following k8s versions:

| k8s version | fixed version |
| ---- | ---- |
| v1.9 | no such issue |
| v1.10 | 1.10.10 |
| v1.11 | 1.11.5 |
| v1.12 | 1.12.3 |
| v1.13 | no such issue |

Which k8s version are you testing on OpenShift then?

[2019-04-08 09:59] mjudeikis opened #1460 "Improve testing for api actions"
We need a way to test api action and make sure things happen as they suppose. Potentially some mocking involved.

In the example, If I change the image version, we need to prove:
Config will get changes generated.
The corresponding response will get generated.

Potentially Mock Plugin API and send payloads and see what happens

[2019-04-08 11:05] mjudeikis commented on #1436
no more logs in geneva. need new failure to investigate

[2019-04-08 11:21] mjudeikis opened #1461 "add router LB metrics into metrics shim"
We need to track router load balancer and routers availability during upgrades

[2019-04-08 11:27] mjudeikis commented on #1299
/close
email will follow

[2019-04-08 11:27] #1299 closed

[2019-04-08 11:27] mjudeikis commented on #1278
/close

[2019-04-08 11:27] #1278 closed

[2019-04-08 15:27] jim-minter opened #1462 "collapse our images"
let's see what it looks like getting down to one

[2019-04-08 17:56] thekad commented on #1163
Should be fixed by #1455

[2019-04-08 21:43] jim-minter commented on #1362
@andyzhangx this is OpenShift 3.11 which is k8s 1.11.0 + selected backports.  It does not include kubernetes/kubernetes#70002 but we will add it.

[2019-04-09 02:37] feiskyer commented on #1362
@jim-minter let's know if there're still issues.

[2019-04-09 04:37] asalkeld opened #1468 "upgrades are failing with: "found 0 service principals, should be 1""
see: https://github.com/openshift/openshift-azure/pull/1465
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1465/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/393/build-log.txt

/kind test-flake
@jim-minter

[2019-04-09 10:03] charlesakalugwu commented on #1468
this also prevents us from bringing up clusters locally :(

[2019-04-09 12:20] charlesakalugwu commented on #1468
according to @mjudeikis `v3.2` and `v4.0` still expects `export AZURE_MASTER_CLIENT_ID` variables to be present. And these correspond to AAD instances in AAD. they used to exist until yesterday (8th April 2019).

[2019-04-09 12:24] charlesakalugwu commented on #479
please reopen if you see this again

/close

[2019-04-09 12:24] #479 closed

[2019-04-09 12:26] charlesakalugwu commented on #1209
since we moved away from the autorest-oriented design for the admin api client, this is no longer necessary

/close

[2019-04-09 12:26] #1209 closed

[2019-04-09 12:50] charlesakalugwu commented on #1340
/close

[2019-04-09 12:50] #1340 closed

[2019-04-09 15:25] #1468 closed

[2019-04-09 20:17] jim-minter opened #1480 "enable node api rate limiting"
See the suggestions at https://github.com/Azure/aks-engine/blob/master/docs/howto/kubernetes-large-clusters.md

@asalkeld I think I'm prepared to apply the cloudprovider settings from above on a suck it and see basis - I'm less sure I want to apply the kubelet and controller settings until we are definitely running into problems.  WDYT?

[2019-04-09 22:22] jim-minter commented on #1480
Apologies @asalkeld, retasking

[2019-04-09 22:37] jim-minter opened #1481 "createStatefulApp templateinstance failed"
[code]

[2019-04-09 22:37] jim-minter commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1479/pull-ci-openshift-openshift-azure-master-e2e-azure/3481/build-log.txt

[2019-04-09 22:44] jim-minter commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1479/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/425/build-log.txt

[2019-04-09 23:19] jim-minter opened #1482 "undefined method `split' for nil:NilClass"
[code]

[2019-04-09 23:20] jim-minter commented on #1482
@mjudeikis https://github.com/openshift/openshift-azure/pull/1406 caused this - CONTAINER is not always set.
@thekad fyi, this was catchable in review.

@mjudeikis please fix as a priority, spin a new v4.2 and get it over to MSFT.

[2019-04-10 00:43] jim-minter commented on #1482
Reverts are in #1483 and #1484.

[2019-04-10 00:43] jim-minter commented on #1482
This has missed 4.2 - can try again in master.

[2019-04-10 01:34] asalkeld commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1479/pull-ci-openshift-openshift-azure-master-e2e-azure/3481/artifacts/internal-e2e/events

[code]

[2019-04-10 14:58] jim-minter commented on #1400
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1485/pull-ci-openshift-openshift-azure-master-e2e-azure-scaleupdown/511/

[2019-04-10 15:01] jim-minter commented on #1102
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1485/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/434/build-log.txt

looks like one of the infra nodes died?

[2019-04-10 18:26] jim-minter commented on #1336
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1425/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/438/build-log.txt

[2019-04-10 18:26] jim-minter commented on #1336
@asalkeld bump

[2019-04-11 05:14] #1312 closed

[2019-04-11 05:23] asalkeld commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1455/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/31/build-log.txt

[2019-04-11 07:58] goashut commented on #1029
Hi Mangirdas, hope you are doing great. I am facing same error in our fluentd set up. Were you guys able to figure this out  ? It would be great if you could share the info..

[2019-04-11 10:15] #1454 closed

[2019-04-11 16:44] mjudeikis commented on #1029
@goashut we use your fluentd for this as its integrated with Geneva and MDSD. Issues are with support for UTF-8 support on MDSD. it needs to be converted to ASCII-7:

https://github.com/openshift/openshift-azure/commit/803223ff8edd53634b42bf5c3fa7f543d48e2fca#diff-555127729a58d981900c64f575d456baR39

[2019-04-11 16:58] mjudeikis commented on #1029
fix by utf-8 to ascii-7 fix

[2019-04-11 16:58] #1029 closed

[2019-04-11 23:34] jim-minter commented on #1343
deprioritise, we believe this will go away with the 1st party image

[2019-04-11 23:59] julienstroheker opened #1494 "Update aad secret is returning to much information"
When we tried to do an add secret update call on on an existing cluster, plugin is returning this :

```Errors found in validation of unversioned openshift cluster: [invalid change [Properties.AuthProfile.IdentityProviders.slice[0].Provider.Secret: a5ae9d91160da4bb7427- != 253351c2c5f0423f77b9;]]```

Secret should be hidden

[2019-04-12 00:52] jim-minter commented on #1297
this has not been seen since 31/3/19

[2019-04-12 00:58] jim-minter commented on #1336
last 5 instances:

2019/04/02 gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1393/pull-ci-openshift-openshift-azure-release-v3-e2e-azure-scaleupdown/6/build-log.txt
2019/04/02 gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1393/pull-ci-openshift-openshift-azure-release-v3-e2e-azure-scaleupdown/6/build-log.txt
2019/04/03 gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azur

[2019-04-12 01:41] asalkeld commented on #1336
It seems like some of the older ones have azure ratelimiting issues. I'll ignore the older ones (prior to the new service principle changes) for now.

[2019-04-12 01:48] asalkeld commented on #1336
so the last one (2019/04/10)
[code]
in the controller (I assume the times are not very accurate)

[code]
bla bla - much later (not sure why this takes 5 minutes)
[code]

[2019-04-12 04:05] asalkeld commented on #1448
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1497/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/496/build-log.txt

[2019-04-12 06:30] asalkeld commented on #1400
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1493/pull-ci-openshift-openshift-azure-master-e2e-azure-scaleupdown/572/build-log.txt

[2019-04-12 06:32] asalkeld commented on #1400
/kind test-flake

[2019-04-12 12:41] mjudeikis opened #1498 "azure group controller crashes when mail is nil"
[code]

[2019-04-12 12:47] mjudeikis commented on #1498
New image needed to be published under latest tag after https://github.com/openshift/openshift-azure/commit/bf3371a8a1592730604a7decce00503ebba88e8e

[2019-04-12 12:57] mjudeikis commented on #1498
v4.0-154-gbf3371a8a-clean nop :/

[2019-04-12 13:03] mjudeikis commented on #1498
@jim-minter your account has no email added to it, hence `nil` exception?
![image](https://user-images.githubusercontent.com/3225744/56039169-923da080-5d2b-11e9-8996-6302dd36d1bf.png)

Where username is populated by email. Is this for sure right?
https://github.com/openshift/openshift-azure/pull/1493/files

[2019-04-12 13:14] mjudeikis commented on #1498
/king bug

[2019-04-12 13:15] mjudeikis commented on #1498
Despite the fact I added email to the profile dump is not showing it:
[code]

[2019-04-12 13:16] mjudeikis commented on #1498
We need test for this :/

[2019-04-12 13:31] jim-minter commented on #1498
thanks for the catch - we do.

perhaps mail is nil because the account is disabled.

[2019-04-12 13:31] mjudeikis commented on #1498
Did same change for your account - either sync lag or something is wrong...

[2019-04-12 16:14] #1482 closed

[2019-04-12 16:16] jim-minter commented on #1452
am not completely sure I want to do this - has knock-on effects which may be unwanted once there are more groups
fwiw you can check if you're customer-admin by listing clusterservicebrokers

[2019-04-12 16:20] mjudeikis commented on #1452
yes, but I dont want to give this answer to the customers, when they ask about groups, nodes, etc.

[2019-04-12 16:52] #1163 closed

[2019-04-12 16:55] jim-minter commented on #814
old flake - since then have fixed a storage issue + increased timeout from 10 to 20 minutes
open a new issue if further createStatefulApp errors seen.

[2019-04-12 16:55] #814 closed

[2019-04-12 17:00] jim-minter commented on #1424
add an error handler on the startup script so that it dumps very brief logs

[2019-04-12 17:03] jim-minter commented on #1424
blocked on better startup logging

[2019-04-12 19:27] #1494 closed

[2019-04-12 23:25] #1480 closed

[2019-04-13 15:46] jim-minter opened #1504 "flake: ExtHandler Fetch failed"
Deploy fails with the following WA Agent log:

Apr 13 14:56:36 infra-1555167065-000001 waagent[7155]: 2019/04/13 14:56:36.533114 WARNING ExtHandler Fetch failed from [http://168.63.129.16:32526/extensionArtifact]: [HTTP Failed] [400: Bad Request]

[2019-04-13 15:46] jim-minter commented on #1504
https://github.com/Azure/WALinuxAgent/issues/1505 opened upstream

[2019-04-13 17:29] jim-minter opened #1506 "InternalServerError on deploy"
[code]

[2019-04-13 17:29] jim-minter commented on #1506
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1497/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/512/build-log.txt

@charlesakalugwu worth retrying on

[2019-04-13 23:50] #1462 closed

[2019-04-14 13:53] mjudeikis opened #1508 "kernel panic (?)"
1. Create a cluster
2. Infra node 1 registered to itself
3. Node fails after some without any logs.

Geneva is empty, no logs was reported.
[code]

![image](https://user-images.githubusercontent.com/3225744/56093833-e1273980-5ed5-11e9-9d53-68e2c2981947.png)

[2019-04-14 14:09] mjudeikis commented on #1508
[code]

[2019-04-15 05:14] mjudeikis commented on #1400
not to the storage account but same issue:
https://github.com/openshift/openshift-azure/pull/1433

[2019-04-15 12:32] mjudeikis commented on #119
/close
don't thin this is relevant anymore

[2019-04-15 12:32] #119 closed

[2019-04-15 14:36] #242 closed

[2019-04-15 14:37] #331 closed

[2019-04-15 14:39] #369 closed

[2019-04-15 14:40] #573 closed

[2019-04-15 14:40] #609 closed

[2019-04-15 14:44] jim-minter commented on #627
@ehashman dumb documentation request - please can you make it clear in a polite way near the top of README.md that if you don't have access to our CI and Azure subscription, running openshift-azure is probably not for you.

[2019-04-15 14:44] #647 closed

[2019-04-15 14:45] #675 closed

[2019-04-15 14:45] #685 closed

[2019-04-15 14:49] #710 closed

[2019-04-15 14:51] #775 closed

[2019-04-15 14:52] #852 closed

[2019-04-15 14:54] jim-minter commented on #866
closing as stale

[2019-04-15 14:54] #866 closed

[2019-04-15 14:55] #915 closed

[2019-04-15 15:01] jim-minter commented on #945
multiple similar storage issues have been resolved since this was filed, closing

[2019-04-15 15:01] #945 closed

[2019-04-15 15:01] jim-minter commented on #944
have not been able to replicate and multiple storage issues fixed since this was filed, closing but can reopen if needed

[2019-04-15 15:01] #944 closed

[2019-04-15 15:02] #949 closed

[2019-04-15 15:02] jim-minter commented on #956
closing for #347

[2019-04-15 15:02] #956 closed

[2019-04-15 15:13] jim-minter commented on #958
I don't think we have the pod startup issue any more.  Closing

ARM deployment failures are being tracked in #1409 , #1504

[2019-04-15 15:13] #958 closed

[2019-04-15 15:16] #1057 closed

[2019-04-15 15:19] jim-minter commented on #1201
also need to fix up https://github.com/openshift/openshift-azure/blob/master/test/e2e/specs/fakerp/prometheus.go#L94

[2019-04-15 15:19] jim-minter commented on #1080
closing for #1201

[2019-04-15 15:19] #1080 closed

[2019-04-15 15:20] #1101 closed

[2019-04-15 15:40] jim-minter commented on #1116
@ehashman please review which fields of OpenShiftManagedCluster are externally writeable but are not currently well validated by us - examples: Name, Location, Tags.  Dig out what the standard Azure validation regexes for these fields are and add them - really, this is belt and braces because MSFT should be doing this already; the aim is loose enough so that we don't trip ourselves up, but tight e

[2019-04-15 15:43] jim-minter commented on #1145
@Makdaam reassigning to you as you're in this bit of code currently.  The only thing left to do on this issue is to stop exporting the New.*Client() functions - 2 second job.

[2019-04-15 15:44] #1159 closed

[2019-04-15 15:46] jim-minter commented on #1160
@ehashman look at e2e-upgrade.sh - this is about removing the `git clone` there - use the git repo that is currently checked out in $PWD instead; record the commit you're on (like pushd), checkout the old commit of interest, then later pop back to the commit that you were on previously.

[2019-04-15 15:50] #1233 closed

[2019-04-15 15:51] jim-minter commented on #1293
@mjudeikis can you dig out the upstream bz for this - I am wondering if it is fixed in 3.11.98 and we can revert the validation

[2019-04-15 16:00] jim-minter commented on #1298
This occurred before the monitoring/networking/LB issue was fixed on 30/3 - closing.

[2019-04-15 16:00] #1298 closed

[2019-04-15 16:07] mjudeikis commented on #1293
will revert

[2019-04-15 16:21] ehashman commented on #1160
Note: Script was moved to https://github.com/openshift/openshift-azure/blob/master/hack/tests/e2e-upgrade.sh in 917f75b2d862028f208570f9012e98731c999f99.

[2019-04-15 17:19] jim-minter commented on #1334
believe this can be closed, @julienstroheker please reopen if not

[2019-04-15 17:19] #1334 closed

[2019-04-15 17:21] jim-minter commented on #1438
should use prod roundtripper in test as well

[2019-04-15 17:22] jim-minter commented on #1439
no, it's a tcp issue, I think solving #1438 will cover it

[2019-04-15 17:22] #1439 closed

[2019-04-15 17:22] jim-minter commented on #1441
@charlesakalugwu please triage this

[2019-04-15 17:24] jim-minter commented on #1508
closing for #1443

[2019-04-15 17:24] #1508 closed

[2019-04-15 17:27] jim-minter commented on #1457
closing for #1443

[2019-04-15 17:27] #1457 closed

[2019-04-15 18:05] jim-minter commented on #1461
@mjudeikis please can you clarify this issue?  Router stats should get rolled up into metricsbridge now; cmd/monitoring should already check canary availability and hence router availability?  What else is wanted?

[2019-04-15 18:26] jim-minter commented on #1443
closing for #1102

[2019-04-15 18:26] #1443 closed

[2019-04-15 18:29] jim-minter commented on #1122
should retry InternalExecutionError on scaleset update (#1297)

[2019-04-15 18:29] jim-minter commented on #1297
consolidating to #1122

[2019-04-15 18:30] jim-minter commented on #1343
consolidating to #1122

[2019-04-15 18:30] #1343 closed

[2019-04-15 18:43] jim-minter commented on #1362
error not seen since 08/04/19 (mainly due to separating out service principals), closing
backport taking place at https://bugzilla.redhat.com/show_bug.cgi?id=1696901
@feiskyer @andyzhangx many thanks for all your help with this.

[2019-04-15 18:43] #1362 closed

[2019-04-15 18:50] jim-minter commented on #1506
consolidating to #1122

[2019-04-15 18:50] #1506 closed

[2019-04-15 19:00] jim-minter commented on #1438
@mjudeikis please can you set the test openshift clients to use the same retrying roundtripper that prod uses; also to fix the specific issue you'll need to mess with the RT in checkCanAccessServices

[2019-04-15 19:00] jim-minter commented on #1481
@asalkeld please can you work this issue

[2019-04-15 21:29] ehashman commented on #1116
- Azure docs suggest the regex `^[a-z][a-z0-9-]{1,61}[a-z0-9]$` for a domain name label: https://docs.microsoft.com/en-us/azure/azure-resource-manager/template-best-practices#resources
- Locations appear to be attached per RG, not sure how much effort we want to put into validating this (most of the templating examples I've found populate these values dynamically).
- Tag policy is relatively long

[2019-04-15 22:01] asalkeld opened #1515 "checkCanDeployRedhatIoImages e2e test fails"
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1514/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/148/

/kind flake-test

[2019-04-16 01:24] asalkeld commented on #1481
They both have a BuildFailed event but there seems to be 2 different reasons for it.

1. e2e test
[code]
Our logs do seem to be full of these "LastVersion" errors.

2. upgrade
This log is missing
[code]
(and so no logs at all from these controllers)
How could this just not start?

[2019-04-16 01:54] asalkeld commented on #1481
Actually the LastVersion errors were a red herring, the successful upgrade tests have them too.

[2019-04-16 09:07] charlesakalugwu commented on #1438
/assign

[2019-04-16 09:42] mjudeikis commented on #1424
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1519/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/578

[2019-04-16 09:56] mjudeikis commented on #1336
I got one more with 10 min time out:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1519/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/157

[code]
I0416 09:27:10.889817       1 azure_loadbalancer.go:357] getServiceLoadBalancerStatus gets ingress IP "10.0.0.11" from frontendIPConfiguration "a3ea5d320602811e993b4000d3a53011" for service "e

[2019-04-16 10:36] mjudeikis opened #1521 "storageAccount DNS certifictes"
When we start a cluster and initiate upgrade/scaleupdown sometimes we get the wrong certificate from blob url:
[code]
Where I dont see server certificate:
![image](https://user-images.githubusercontent.com/3225744/56202783-75b3a800-604c-11e9-9e06-ee8cae2a6ad7.png)

It looks like we dont get full certificate chain served

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshif

[2019-04-16 10:46] charlesakalugwu commented on #1521
/kind test-flake

[2019-04-16 10:46] charlesakalugwu commented on #1515
/kind test-flake

[2019-04-16 10:47] mjudeikis commented on #1521
@jim-minter its flake we could retry, but this is not the first time I have seen this.

[2019-04-16 11:55] charlesakalugwu commented on #1521
this issue seems to only affect #1520

[2019-04-16 12:33] charlesakalugwu commented on #1442
/reopen

[2019-04-16 12:33] charlesakalugwu commented on #1442
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1520/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/162/build-log.txt

[2019-04-16 12:41] mjudeikis commented on #1448
request context got cancelled:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1519/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/159

[2019-04-16 12:57] mjudeikis commented on #1448
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1490/pull-ci-openshift-openshift-azure-master-e2e-azure/3627

[2019-04-16 12:57] mjudeikis commented on #1448
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1490/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/581

[2019-04-16 12:59] charlesakalugwu opened #1522 "Flake: timeout waiting for Blackbox monitoring to collect metrics"
I've seen the blackbox monitor stuck during the collection of metrics for about 30 minutes before everything else explodes

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1520/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/162/build-log.txt

/kind test-flake

[2019-04-16 14:04] ehashman commented on #1116
We currently validate that name and location are non-empty: https://github.com/openshift/openshift-azure/blob/ccf8397a916173471a802d8703b2e7baecd4b981/pkg/api/validate/validators.go#L18-L24

Unclear if there's much value in adding a bunch of validation for tags.

I'll start with a PR to improve name validation and we can go from there.

[2019-04-16 14:13] gburges opened #1523 "set ETCD backend bytes to the maximum 8G to account for high load proactively"
ETCD_QUOTA_BACKEND_BYTES is set to 4GB today by default. In order to accommodate high (for example pressure testing) workload, we should set it to the maximum 8GB

[2019-04-16 14:30] Makdaam commented on #1427
Fixed by #1437

[2019-04-16 14:30] #1427 closed

[2019-04-16 14:37] gburges commented on #1523
https://github.com/openshift/openshift-azure/pull/1524

[2019-04-16 14:47] jim-minter commented on #1410
would like to prove that this is not #1409 before we add the retry logic.  Question: does VMSS scale up return before or after the CSE runs?  If after, then it could be that a CSE failure to run is causing the scale up to time out.

[2019-04-16 15:14] jim-minter commented on #1521
code error in #1520, closing

[2019-04-16 15:14] #1521 closed

[2019-04-16 17:05] jim-minter commented on #1522
I don't believe this is a bug.  The monitor is supposed to start, waits for the _data/containerservice.yaml to be created, then continue.  This is exactly what happened in the above link.  Feel free to reopen if you disagree.

[2019-04-16 17:05] #1522 closed

[2019-04-16 17:07] jim-minter commented on #1442
The fixes were made to master but not backported, thus this error can still occur on v3/v4 upgrade flows.  Will consider the priority of fixing this.

[2019-04-16 17:09] jim-minter commented on #1515
thanks @asalkeld, please can you triage to see what went wrong?

[2019-04-16 18:17] jim-minter commented on #1410
also happens starting masters:
[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1526/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/167/build-log.txt

[2019-04-16 18:18] jim-minter commented on #1448
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1526/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/167/build-log.txt

[2019-04-16 18:22] #1498 closed

[2019-04-16 18:23] #1293 closed

[2019-04-16 18:47] #1449 closed

[2019-04-16 23:09] jim-minter commented on #1515
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1511/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/593

[2019-04-16 23:10] #627 closed

[2019-04-16 23:16] jim-minter commented on #1436
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1526/pull-ci-openshift-openshift-azure-master-e2e-azure/3635

[2019-04-16 23:17] jim-minter commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1526/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/169/build-log.txt

[2019-04-17 00:12] y-cote commented on #1448
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1509/pull-ci-openshift-openshift-azure-master-e2e-azure/3637

[2019-04-17 00:13] y-cote commented on #1448
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1509/pull-ci-openshift-openshift-azure-master-e2e-azure-scaleupdown/659

[2019-04-17 02:37] jim-minter commented on #1400
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1499/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/179

[2019-04-17 03:15] jim-minter commented on #1400
@asalkeld different failure mode:

time="2019-04-17T02:59:31Z" level=debug msg="400 Bad Request: Failed to apply request: WaitForReadySyncPod: Get https://vsemjeufeeankswgaalq.westeurope.cloudapp.azure.com/api/v1/namespaces/kube-system/services/sync/proxy/healthz/ready: dial tcp 40.74.17.51:443: connect: connection refused" func="github.com/openshift/openshift-azure/pkg/fakerp.(*Server).badRequest

[2019-04-17 09:54] charlesakalugwu opened #1532 "flake: osba timed out waiting for condition"
Caught a flake with the following error signature:

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1520/pull-ci-openshift-openshift-azure-master-e2e-azure/3658/build-log.txt

/kind test-flake

[2019-04-17 12:40] jim-minter opened #1533 "couldn't pull from registry.svc.ci.openshift.org, vm didn't start"
loops of:
[code]

[2019-04-17 12:41] jim-minter commented on #1533
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1501/pull-ci-openshift-openshift-azure-master-e2e-azure/3650/artifacts/internal-e2e/compute-1555472314-000000-waagent-stderr

[2019-04-17 12:41] jim-minter commented on #1533
not clear if the registry was down or the VM didn't have network access.  Let's see if it happens again.

[2019-04-17 12:57] jim-minter opened #1534 "NoBackingApplicationObject flake"
[code]

[2019-04-17 12:57] jim-minter commented on #1534
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1531/pull-ci-openshift-openshift-azure-master-e2e-azure-scaleupdown/677/build-log.txt

[2019-04-17 12:57] jim-minter commented on #1534
@charlesakalugwu please add a retry for this and move the PrincipalNotFound retry out of aad.go and into azureclient/retry.go at the same time.

[2019-04-17 12:58] jim-minter commented on #1534
actually, scratch that, I've changed my mind for now

[2019-04-17 12:58] #1534 closed

[2019-04-17 14:09] mjudeikis commented on #1448
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1500/pull-ci-openshift-openshift-azure-master-e2e-azure/3666

[2019-04-17 14:35] #1122 closed

[2019-04-17 15:33] jim-minter commented on #1160
turns out the problem with this is that if a developer wants to run locally and their git repo isn't clean, we can easily scramble their work.  Let's not do this.  Sorry.

[2019-04-17 15:33] #1160 closed

[2019-04-17 17:51] jim-minter commented on #1102
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1538/pull-ci-openshift-openshift-azure-master-upgrade-v4.2/216/build-log.txt is a new serious issue where all masters disappeared.  Escalated to MSFT.

[2019-04-17 17:54] jim-minter opened #1540 "The entity was not found in this Azure location"
[code]

[2019-04-17 17:54] jim-minter commented on #1540
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1538/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/634/build-log.txt

[2019-04-17 17:55] jim-minter commented on #1336
reopening.  @asalkeld please triage

here's another one:

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1538/pull-ci-openshift-openshift-azure-master-vmimage/2/build-log.txt

[2019-04-17 17:59] #1116 closed

[2019-04-17 20:30] thekad commented on #1061
While trying to fetch more data to send upstream, I can't find traces of the mdsd pod restarting in almost a month, which roughly matches with turning down the log level.

[2019-04-17 22:28] jim-minter opened #1542 "etcdbackup - ContainerCannotRun"
[code]

[2019-04-17 22:29] jim-minter commented on #1542
cc @thekad

[2019-04-17 23:41] #1272 closed

[2019-04-18 06:36] mjudeikis commented on #1336
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1538/pull-ci-openshift-openshift-azure-master-vmimage/4

[2019-04-18 07:57] mjudeikis opened #1543 "ImageStream sync pod update changes"
we might want to ignore imageStream generation on sync:
[code]

its being generated always

[2019-04-18 08:52] Makdaam opened #1544 "No such host when trying to dial api server"
[code]
/kind test-flake

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1491/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/647

[2019-04-18 10:50] mjudeikis opened #1545 "vmimage build broken"
VM Image build broken in periodic and ad-hock:
![image](https://user-images.githubusercontent.com/3225744/56355627-ad4a5d80-61ce-11e9-88dd-f9c50c6a81ae.png)

I suspect RBAC problems (details below)

https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-node-image/30/build-log.txt -> https://github.com/openshift/openshift-azure/issues/1442
https://storage.googleapis.com/origin-ci-tes

[2019-04-18 10:58] mjudeikis commented on #1545
cc @jim-minter I was looking via rbac and MS docs, but I don't see what we might be doing wrong.

[2019-04-18 11:12] mjudeikis commented on #1336
Some of the issues might be related to this issue https://github.com/openshift/openshift-azure/issues/1545 as ILB fails to create due the inability to update scaleset change LB settings.

[2019-04-18 11:46] mjudeikis commented on #1545
replicated locally and can see same errors. This happens only ILB creation, which little bit confusing, as both LB types require to update scaleset and I see upgrade happened:
![image](https://user-images.githubusercontent.com/3225744/56358932-079bec00-61d8-11e9-8975-04b25227d845.png)

[2019-04-18 11:57] mjudeikis commented on #1545
[code]

So flow is:
1. ILB is created,
2. Cloud provider controller is trying to update subnet with one more internal IP address. Subnet update requires scaleset update.
3. We cant update scaleset due rbac. Which should work, and I dont know why it does not at this point.

[2019-04-18 18:26] ehashman commented on #1540
My guess for what's going wrong here is that a location is being assumed and a mismatch is happening, resulting in this error. See e.g. https://stackoverflow.com/questions/42121829/azure-automation-onboarding-dsc-node-vmname-the-entity-was-not-found

[2019-04-22 13:53] andyliuliming opened #1547 "when would be next version released?"
just need this change: https://github.com/openshift/openshift-azure/pull/1526 :)

[2019-04-22 19:09] ehashman commented on #336
This PR should allow us to remove this defaulting code from the fakeRP:
https://github.com/openshift/openshift-azure/blob/5ee2f80b351e3f8c6b1e7549b7ed3de26c1dd70d/pkg/fakerp/fakerp.go#L275-L281

[2019-04-22 20:40] ehashman opened #1549 "CI fails immediately, "cannot allocate memory""
[code]

/kind test-flake

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1548/unit/18/build-log.txt

[2019-04-22 20:45] ehashman commented on #1549
Another failure, although tests got slightly further along:

[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1548/unit/20/build-log.txt

[2019-04-22 20:59] ehashman commented on #1549
[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1548/unit/21/build-log.txt

[2019-04-22 20:59] jim-minter opened #1550 "VM unexpectedly created after scale down"
OpenShift on Azure successfully deleted a VMSS VM as part of a scale down, then shortly afterwards, unexpectedly, a new VM was created in the same VMSS.

I strongly suspect that concurrent with the Delete, the cloud controller (1.11) issued a VMSS CreateOrUpdate call with the Sku.Capacity set to the old value.  I don't immediately see anywhere in the cloud controller code that sets Sku.Capacity to

[2019-04-23 09:10] asalkeld commented on #1481
So here is a build log error:
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1552/upgrade-v3.2/26/artifacts/build-e2e-test-vtx18-django-psql-persistent-1.log

https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1552/upgrade-v3.2/26/artifacts/

[2019-04-23 13:27] ehashman commented on #1549
This seems to have been fixed by https://github.com/openshift/release/pull/3553.

[2019-04-23 13:27] #1549 closed

[2019-04-23 17:32] jim-minter commented on #906
Not going to implement this:
a) changing this adds too much management overhead when multiple routers/shards are considered
b) although we don't match the 3.11 model, we do match the 4.0 model

[2019-04-23 17:32] #906 closed

[2019-04-23 17:33] jim-minter commented on #1436
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1551/upgrade-v3.2/39/build-log.txt

[2019-04-23 17:33] jim-minter commented on #1436
@mjudeikis bump

[2019-04-23 17:34] #1545 closed

[2019-04-23 18:15] jim-minter commented on #1441
closing stale

[2019-04-23 18:15] #1441 closed

[2019-04-23 18:31] jim-minter commented on #1256
docker-1.13.1-94.gitb2f74b2.el7.x86_64 looks healthier
@kwoodson please can you enable a geneva action run command to restart docker, add test coverage such that we test it on every commit, and we'll see if it holds up

[2019-04-23 18:31] kwoodson commented on #1256
Docker restart was successful on docker version:
[code]

The restart pauses during execution to clean up the container mounts and filesystems.  Pod restarts occur and containers come back online.
[code]

[2019-04-23 18:48] kwoodson commented on #1201
With the recent updates to CMO, the following have been fixed.

{"Metric":"ALERTS","Dims":{"alertname":"DeadMansSwitch","alertstate":"firing","severity":"none"},"TS":"2019-02-27T02:00:12.496"}:1.000000|f
~~{"Metric":"ALERTS","Dims":{"alertname":"KubeControllerManagerDown","alertstate":"firing","severity":"critical"},"TS":"2019-02-27T02:00:12.496"}:1.000000|f~~
~~{"Metric":"ALERTS","Dims":{"alertna

[2019-04-23 18:52] kwoodson commented on #1201
Choice to leave deadmanswitch.

[2019-04-23 20:05] jim-minter commented on #1550
Investigating backport of https://github.com/kubernetes/kubernetes/pull/76656/files

[2019-04-23 23:41] asalkeld opened #1561 "checkDisallowsPdbMutations failed to wait for default service account"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1490/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/584

/kind test-flake

[2019-04-24 04:00] #1436 closed

[2019-04-24 05:37] grantomation commented on #1542
sh-4.2# azure etcdbackup --action save --destination /etc/origin/master
gitCommit v4.0-259-g85e44c8
Error: requires at least 2 arg(s), only received 0
Usage:
  ./azure etcdbackup [flags]

Flags:
  -a, --action string        Action to be executed [save, download] (default "save")
      --blobname string      Name of the blob (without the container)
      --destination string   Where to place the bl

[2019-04-24 05:38] grantomation commented on #1542
`sh-4.2# azure etcdbackup --action save --destination /etc/origin/master
gitCommit v4.0-259-g85e44c8
Error: requires at least 2 arg(s), only received 0
Usage:
  ./azure etcdbackup [flags]

Flags:
  -a, --action string        Action to be executed [save, download] (default "save")
      --blobname string      Name of the blob (without the container)
      --destination string   Where to place the b

[2019-04-24 05:39] grantomation commented on #1542
[code]

[2019-04-24 08:51] mjudeikis commented on #1542
This is my fault. I didnt read the docs as I needed to. Apparently in in `Cobra` `args` and `flags` are different:
`Args: cobra.MinimumNArgs(2)` - requires 2 arguments, so `etcdbackup --action save` is 0 - args. 1 flag.
To solve this we need to remove `Args: cobra.MinimumNArgs(2)` at all. Keep it simple.

[2019-04-24 13:39] Makdaam opened #1563 "Switch periodic tests to [Fake]"
This includes:
- updating documentation
- making sure the runs don't time out.

[2019-04-24 13:39] Makdaam commented on #1563
/assign Makdaam

[2019-04-24 14:13] mjudeikis opened #1564 "rename release repo job names"
Release job names have to be renamed to be unique.
Context is the "name" being used in GH. Use that for usability

https://github.com/openshift/release/pull/3464#issuecomment-485986984

[2019-04-24 14:17] ehashman commented on #1564
/assign

[2019-04-24 17:18] mjudeikis opened #1569 "periodic Template & ImageStream updater"
We need a periodic job which would:
1. run `go test -v -tags=content ./pkg/sync/... `
2. If there is new content generated, create automatic PR into our github repo.
3. Closes old PR's if one exist.

This way we would have an autoamted way to update our content

[2019-04-24 17:20] mjudeikis opened #1570 "periodic VMImage build notifier"
We need periodic job which:
1. Builds VMImage periodically and captures RPMS delta. This is not yet clear how we should record old RPMS/packages.
2. If there is a delta, it should raise/update an issue with notifying that we need to publish new VM image.

[2019-04-24 17:25] e-tienne opened #1571 "Using hack/create.sh and resource group with uppercase returns azure API error"
**Summary**

When using `hack/create.sh` with an uppercase resource group, it will create the resource group and DNS zone in azure (in lowercase), but will run into an error from the azure API and the shell script gets terminated.

**Expected behavior**

We should be able to use uppercase in resource groups / DNS. If it is not permitted, we should handle the error gracefully with a clear error mes

[2019-04-24 17:51] e-tienne commented on #1571
/assign ehashman

[2019-04-24 19:26] ehashman commented on #1571
Looks like according to the Azure docs resource group names should be case-insensitive: https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups/createorupdate

Their examples definitely include instances of resource groups with capital letters in the name.

Is it possible that this is an issue/bug with our fakeRP and not the real deal? I'll see if I can dig in...

[2019-04-24 20:13] #1564 closed

[2019-04-24 20:54] ehashman commented on #1571
This is the failing request: https://github.com/openshift/openshift-azure/blob/7383afc140db6545e9e14adfb218534f0b81eeb5/pkg/fakerp/dns.go#L56-L59

Corresponding godoc: https://godoc.org/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2017-10-01/dns#RecordSetsClient.CreateOrUpdate
Azure docs: https://docs.microsoft.com/en-us/rest/api/dns/recordsets/createorupdate#create_soa_recordset

I dumped

[2019-04-25 09:09] mjudeikis commented on #1400
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1573/pull-ci-azure-master-upgrade-v4.2/14

[2019-04-25 11:47] #1256 closed

[2019-04-25 16:06] ehashman opened #1577 "Add environment variable option for HTTP debugging"
Right now we can enable HTTP debugging by uncommenting this line: https://github.com/openshift/openshift-azure/blob/e9068cf35fa54cf21695956fab8819bd1d756526/pkg/util/azureclient/azureclient.go#L76

It would be much nicer to not have to make code changes and recompile every time we want to dump HTTP calls; perhaps we can set this via an environment variable.

[2019-04-25 16:07] ehashman commented on #1571
@e-tienne can you test this against the real RP and confirm whether or not that works?

[2019-04-25 16:10] ehashman commented on #1571
/kind bug

[2019-04-25 16:10] ehashman commented on #1577
/kind cleanup

[2019-04-25 17:42] thekad commented on #1061
According to conversations with MDSD devs there is going to be a new release focused on resource optimization within the next month, I have been advised to wait until then. I have shared our configuration with them as well and nothing weird has been found nor room for improvement for memory usage. Going to loop back to this after the new release is published.

[2019-04-25 21:25] jim-minter commented on #1201
@kwoodson have you looked at which controller metrics we should forward into Geneva and made sure that we are doing that?

[2019-04-26 02:04] asalkeld opened #1582 "cannot find package "golang.org/x/tools/go/packages""
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1530/pull-ci-azure-master-upgrade-v3.2/43/build-log.txt

/kind test-flake

[2019-04-26 02:09] asalkeld commented on #1297
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1530/pull-ci-openshift-openshift-azure-master-e2e-azure/3707/build-log.txt

@jim-minter reopen?

[2019-04-26 11:31] mjudeikis commented on #1582
Now this gets fun.
1. Created local container from CI.
2. Executed same script - same failure.
3. Executed `make generate` manually - all works!
4. re-executed script - all works!

:/

[2019-04-26 11:34] mjudeikis commented on #1582
[code]

[2019-04-26 11:57] mjudeikis commented on #1582
so somehow `go get golang.org/x/tools/go/packages` is missing/or not being acounted for :man_shrugging:

[2019-04-26 12:27] mjudeikis commented on #1582
https://github.com/golang/mock/commit/79d8603a659da203b11a30b9faeb999604924d86

:/ Mock is no more "vendored" package!!!

[2019-04-26 12:59] mjudeikis commented on #1582
fixed in CI. PR will be raised soon

[2019-04-26 17:39] #1582 closed

[2019-04-26 17:41] jim-minter commented on #1550
https://bugzilla.redhat.com/show_bug.cgi?id=1703512

[2019-04-26 17:51] e-tienne commented on #1571
I confirmed that it does not work with a real RP (used the following instructions to test: https://github.com/Azure/OpenShift/blob/master/docs/openshift-on-azure-walkthrough.md)

**Output**

[code]

@jim-minter confirmed that uppercase in the RP is not allowed.

[2019-04-26 19:08] ehashman commented on #1424
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1586/pull-ci-azure-master-upgrade-v3.2/65/build-log.txt

[2019-04-28 15:27] mjudeikis commented on #1410
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1584/pull-ci-azure-master-upgrade-v4.2/53

[2019-04-28 18:28] #1542 closed

[2019-04-29 13:15] mjudeikis commented on #1461
Router has its own Loadbalancer/IP address. Metricsbridge is monitoring the availability of individual master and API via a load balancer. We should monitor router as "an application" too.
So when we see canary application downtime in the data, we know this happened due to canary app itself, and not router outage during an upgrade. And another way around.

[2019-04-29 22:20] ehashman commented on #552
/reopen

[2019-04-29 22:21] ehashman commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1588/pull-ci-azure-master-upgrade-v3.2/116/build-log.txt

[2019-04-29 23:11] asalkeld commented on #552
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1589/pull-ci-azure-master-e2e-create/91

[2019-04-29 23:54] asalkeld opened #1592 "storage.AccountsClient#ListByResourceGroup : connection reset by peer"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1589/pull-ci-azure-master-e2e-create/101

/kind test-flake

[code]

[2019-04-30 09:25] mjudeikis opened #1597 "OSBA not ready"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1591/pull-ci-azure-master-upgrade-v3.2/132

[2019-04-30 09:51] mjudeikis opened #1598 "[proposal] move TestConfig into Ctx"
Passing `testConfig` around the place as a parameter is not very flexible. In addition, if we want to wire it to a new place, it requires a lot of changes (example https://github.com/openshift/openshift-azure/pull/1590).

Suggestion to move TestConfig into ctx:
[code]

This way we can use it everywhere, where we need it.

After this there is 2 ways to implement this:
1. Make all `xNew(ctx context.

[2019-04-30 11:34] mjudeikis commented on #1400
[code]

Failure even after retries.
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1591/pull-ci-azure-master-e2e-create/115

[2019-04-30 18:39] jim-minter commented on #1400
here's the error:
[code]

@asalkeld the problem here is that your error is having this unpleasantness done to it:
[code]
(from net/http/transport.go)

This is going to need a horrible workaround - please take a look.  I've e-mailed go-nuts to ask about this as well.

[2019-04-30 18:44] jim-minter commented on #1400
(https://groups.google.com/forum/#!topic/golang-nuts/AkPSBPfZt0o)

[2019-04-30 19:11] jim-minter commented on #1598
We should consider testConfig along with all the other arguments we habitually pass around the place, but we should also accept that different solutions may be appropriate for each.

I think we're doing well cutting down long argument lists for non-New functions by making cs and log struct members - we should continue this drive.  I'm not so worried about New functions.  Usability-wise, for cs and

[2019-04-30 21:33] kwoodson commented on #1201
The current controller metrics that are being gathered are the following:
[code]
The controller metrics that aren't included are:
[code]

Do we think these metrics are important?  @Makdaam @jim-minter @mjudeikis

[2019-05-01 01:18] jim-minter commented on #244
AZURE-49

[2019-05-01 01:18] #244 closed

[2019-05-01 01:19] jim-minter commented on #705
AZURE-218

[2019-05-01 01:19] #705 closed

[2019-05-01 01:26] jim-minter commented on #1112
We now provision service principals in the fake rp for everything except the AAD OIDC integration (this matches the real rp).
This carries a certain amount of risk: the root SP that provisions the temp SPs is moderately powerful, and we don't want its credentials to leak.

Theoretically it would be nice if we auto-provisioned the AAD OIDC SP as well, but the problem is that we would need the root

[2019-05-01 01:26] #1112 closed

[2019-05-01 01:30] jim-minter commented on #759
@mjudeikis what needs to be done to close this?

[2019-05-01 01:31] jim-minter commented on #382
@asalkeld I'm prepared to call this done - are you?

[2019-05-01 01:32] #879 closed

[2019-05-01 01:58] jim-minter commented on #909
AZURE-306

[2019-05-01 01:58] #909 closed

[2019-05-01 09:55] mjudeikis commented on #1598
The idea behind `TestConfig` being in the context was that it would be not exposed to MSFT in anyways. At the moment it is passed as `nil` value into certain functions. If we move it to the context, it will not be directly exposed as a parameter at all.

I agree cs and log being members of the package structs, so this way simplifying the parameters list. If we apply same for the `TestConfig` it st

[2019-05-01 10:36] mjudeikis commented on #759
I think it can be closed. the problematic code is gone already

[2019-05-01 10:36] #759 closed

[2019-05-01 18:04] ehashman commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1602/pull-ci-azure-master-upgrade-v3.2/144/build-log.txt

This log has a lot of debug info.

[2019-05-01 22:49] asalkeld commented on #382
agree
/close

[2019-05-01 22:49] #382 closed

[2019-05-01 23:16] #1424 closed

[2019-05-01 23:30] asalkeld opened #1606 "Master is rotating when VMSize is changed on the compute nodes"
This has been found with the new integration tests and doesn't seem correct.

Confirm it is a bug, then fix if it is.

[2019-05-01 23:36] #1592 closed

[2019-05-01 23:52] asalkeld commented on #1606
not an issue, we don't yet allow vmsize to be changed on an update. I was not running the Validate correctly

[2019-05-01 23:52] #1606 closed

[2019-05-02 01:05] asalkeld opened #1607 "allow changing some more properties with an update"
For now enable changing the following properties by the user:

- VMSize
- AADIdentityProvider

Detect the change and make the required changes
- MasterServicePrincipalProfile
- WorkerServicePrincipalProfile

[2019-05-02 01:05] asalkeld commented on #1607
/assign

[2019-05-02 03:09] #1016 closed

[2019-05-02 05:40] asalkeld commented on #1336
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1602/pull-ci-azure-release-v5-e2e-create/1

[2019-05-02 06:20] asalkeld commented on #1481
this seems to be some kind of network error as pypi was up at this time : https://status.python.org/#month

[2019-05-02 06:21] asalkeld commented on #1515
I'll close, can always reopen if we get more.
/close

[2019-05-02 14:36] ehashman commented on #1547
Hi @andyliuliming! v5.0 was just released.

/close

[2019-05-02 14:36] #1547 closed

[2019-05-03 01:59] #336 closed

[2019-05-03 02:05] asalkeld commented on #1336
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1613/pull-ci-azure-master-upgrade-v5.0/22/

[2019-05-03 02:15] asalkeld opened #1616 "checkCanUseAzureFile timed out"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1613/pull-ci-azure-master-upgrade-v4.3/19

/kind test-flake

[2019-05-03 06:24] asalkeld opened #1617 "fake rp server not starting"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1583/pull-ci-azure-master-upgrade-v5.0/14

[code]

/kind test-flake

[2019-05-03 15:28] jim-minter opened #1620 "Follow-up after https://github.com/openshift/origin/pull/22742"
Follow-up after https://github.com/openshift/origin/pull/22742:

* When the DisableOutboundSNAT setting becomes available in OCP, start using it.  Check the upgrade behaviour.

* Investigate if `Microsoft.Storage/storageAccounts/read` can be removed from master and worker RBAC.

@mjudeikis @ingvagabund fyi

[2019-05-06 09:05] Makdaam commented on #1617
same in
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1471/pull-ci-azure-master-e2e-create/139
and
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1471/pull-ci-azure-master-upgrade-v5.0/16

[2019-05-08 02:31] asalkeld commented on #1544
Note there are lots of network errors in the above logs
[code]

[2019-05-09 01:48] asalkeld commented on #1607
I have changes, but waiting for my  integration test PR to go in first

[2019-05-09 12:34] Makdaam opened #1622 "RealRP tests create a cluster twice."
RealRP tests create a cluster twice. Once via "make config: in the hack/test/e2e-create-prod.sh, second via calls to azure client in the test spec itself.

[2019-05-09 13:27] charlesakalugwu opened #1624 "Revert setting the default router profile in the real rp e2e manifest"
After @ehashman's defaulting work gets to prod, we need to revert the following change made in https://github.com/openshift/openshift-azure/pull/1623

[2019-05-09 18:29] charlesakalugwu opened #1626 "Limit length of ci-generated resource groups for prod e2e tests"
There are several resource groups created during the creation of an ARO cluster. The customer specifies a cluster resource group `foo` and this is created with a hidden application resource group which contains the ARO managed application object. This application resource group is of the format `OS_resourcegroup_clustername_region`.  This application resource groups contains a further managed reso

[2019-05-09 18:40] charlesakalugwu commented on #1626
/assign

[2019-05-09 18:40] charlesakalugwu commented on #1622
/assign

[2019-05-09 21:15] charlesakalugwu commented on #1622
/kind cleanup

[2019-05-09 21:15] charlesakalugwu commented on #1626
/kind cleanup

[2019-05-09 21:16] charlesakalugwu commented on #1624
/kind cleanup

[2019-05-09 21:19] charlesakalugwu opened #1628 "Timed out waiting to ensure resource group is created"
We found a test flake where a time out occurred while waiting to ensure that a resource group existed/was created.

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1625/pull-ci-azure-master-upgrade-v5.0/38/build-log.txt

/kind test-flake

[2019-05-09 21:25] charlesakalugwu commented on #1628
I believe the issue outlined here is the cause of #1617. Furthermore it seems all the examples of this issue occur in the `northeurope` region

[2019-05-09 21:28] charlesakalugwu commented on #1628
/assign

[2019-05-10 12:34] charlesakalugwu commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1621/pull-ci-azure-master-upgrade-v5.0/42/build-log.txt

[2019-05-10 13:13] #1626 closed

[2019-05-10 13:28] jim-minter opened #1630 "Customise documentation and oc download links"
Currently the console links link to OCP docs:
https://docs.openshift.com/container-platform/3.11/welcome/index.html

and oc downloads:
https://access.redhat.com/downloads/content/290

fix these

[2019-05-10 13:29] jim-minter commented on #1630
https://docs.openshift.com/container-platform/3.11/install_config/web_console_customization.html#customizing-documentation-links

[2019-05-10 14:55] charlesakalugwu opened #1631 "context deadline exceeded while deallocating master"
Found the following flake

[code]
artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1625/pull-ci-azure-master-upgrade-v3.2/185/build-log.txt

/kind test-flake

[2019-05-10 19:19] ehashman opened #1632 "Pin kubelets to local masters rather than the load balanced master FQDN"
This will enable us to use private masters behind an internal load balancer, as Azure internal LBs can't do circular routing.

[2019-05-10 19:19] ehashman commented on #1632
/assign

[2019-05-11 07:56] #1622 closed

[2019-05-11 08:45] charlesakalugwu commented on #1630
/assign

[2019-05-13 09:07] charlesakalugwu opened #1637 "timeout upgrading image in upgrade-v3.2 test"
We caught a timeout error during an upgrade-v3.2 test

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1635/pull-ci-azure-master-upgrade-v3.2/198/build-log.txt

/kind test-flake

[2019-05-13 12:42] charlesakalugwu opened #1639 "Clean up all pinned go-bindata versions across the codebase"
At some point in the future, when we are able to work with the master branch of the `go-bindata` project, we need to clean up all the pinned `41975c0` versions from the codebase (including the release repo).

***openshift-azure repo***
hack/validate-generated.sh

***release repo***
projects/azure/base-images/ci-base.yaml
projects/azure/base-images/test-base.yaml

/kind cleanup

[2019-05-13 15:16] charlesakalugwu commented on #1438
/reopen

[2019-05-13 18:24] mjudeikis opened #1641 "VM Content update required"
VM Image requires package update

[2019-05-13 18:26] mjudeikis commented on #1641
/close
test of the script

[2019-05-13 18:26] #1641 closed

[2019-05-14 11:32] charlesakalugwu commented on #1438
#1642

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1642/pull-ci-azure-master-upgrade-v5.0/75/build-log.txt

[2019-05-14 12:22] charlesakalugwu commented on #1438
#1642
artifacts:
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1642/pull-ci-azure-master-upgrade-v4.3/66/build-log.txt

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1642/pull-ci-azure-master-e2e-create/192/build-log.txt

[2019-05-14 12:28] charlesakalugwu opened #1643 "Timeout waiting to validate stateful test app in e2e runs"
Found a flake with the following error signature:

[code]

/kind test-flake

[2019-05-14 12:29] charlesakalugwu commented on #1643
#1642 e2e-create

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1642/pull-ci-azure-master-e2e-create/192/build-log.txt

[2019-05-14 12:32] charlesakalugwu commented on #552
#1642
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1642/pull-ci-azure-master-upgrade-v3.2/213/build-log.txt

[2019-05-14 12:37] charlesakalugwu commented on #1643
#1633 e2e-create
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1633/pull-ci-azure-master-e2e-create/193/build-log.txt

[2019-05-14 13:47] ehashman commented on #1632
There are potentially two places we'd need to make this config update on the masters: in the kubelet bootstrap config, and in the regular kubeconfig file for the kubelet. I've been digging around to try to figure out where those config files would live.

Generally, we appear to be sticking kubelet config files in `/etc/origin/node/`: https://github.com/openshift/openshift-azure/blob/76d862d368d8ec

[2019-05-14 16:51] #1630 closed

[2019-05-14 17:00] mjudeikis commented on #1632
I think this looks like right places. Might be worth doing POC how would 2 kubeconfigs look like in the code and startup pod.

[2019-05-15 13:01] #1597 closed

[2019-05-15 13:04] mjudeikis opened #1648 "[observability] Plugin and VM image versions dashboards"
During recent release there was few big gaps in our observability stack to plan release properly:
* Ability to see plugin version spread across the regions.
* ability to see Vm images running in the wild with plugin versions
* ability to drill into those with regions, subs, etc.

[2019-05-15 16:06] Makdaam opened #1651 "Test flake issue, please ignore"
Created for the purpose of ci babysitter testing.
/kind test-flake

https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/branch-ci-openshift-azure-master-e2e/40/

[2019-05-16 11:43] charlesakalugwu opened #1655 "NS recordsets for fakerp clusters are not cleaned up properly"
There are several orphan `NS` dns recordsets within the `osadev.cloud` zone which have been accumulating as a result of the fact that our fakerp code wasn't doing anything to clean those up.

There are currently about 1014 records in the `osadev.cloud`, most of which belong to clusters which have long been deleted.

[code]
/kind bug
/cc @mjudeikis @Makdaam

[2019-05-16 11:46] charlesakalugwu commented on #1655
/assign

[2019-05-16 12:35] mjudeikis opened #1657 "Cloudpartner portal limit 8 Images"
Cloud partner portal allows only 8 images in 1 SKU. we need to split SKU's.

Potentially based on OCP version:
[code]

[2019-05-16 13:25] mjudeikis opened #1658 "VM Content update required"
VM Image requires package update

[2019-05-16 14:19] charlesakalugwu commented on #1438
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1656/pull-ci-azure-master-upgrade-v5.1/29/build-log.txt

[2019-05-16 15:23] mjudeikis commented on #1438
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1652/pull-ci-azure-master-upgrade-v5.1/34

[2019-05-16 15:38] charlesakalugwu commented on #1438
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1656/pull-ci-azure-master-upgrade-v5.1/31/build-log.txt

[2019-05-16 15:47] mjudeikis commented on #1438
This starts to look like something serious

[2019-05-16 16:13] mjudeikis commented on #1438
[code]
[code]

[code]

[2019-05-16 16:25] charlesakalugwu opened #1661 "Reduce retrying roundtripper's retries and timeout"
This is a follow-up to #1660 in order to remember to reduce the retries from 10 to 5 and the timeout from 30 seconds to 10 seconds for the kubeclient's retrying roundtripper after we've found the root-cause of #1438

/kind cleanup

[2019-05-16 16:38] charlesakalugwu opened #1662 "Key Vault resource name contains a trademarked or reserved word"
Caught a flake with the following error signature:

[code]

The keyvault resource name contains `xbox` which is a trademarked word :man_shrugging:

/kind test-flake

[2019-05-16 16:38] charlesakalugwu commented on #1662
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1660/pull-ci-azure-master-upgrade-v4.4/33/build-log.txt

[2019-05-16 17:03] ehashman commented on #1662
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-reserved-resource-name

[2019-05-16 17:03] ehashman commented on #1662
See also https://github.com/openshift/openshift-azure/pull/1595

[2019-05-16 17:44] ehashman commented on #1662
/assign

I'll see if I can figure out why @jim-minter's PR didn't fix this.

[2019-05-16 18:13] ehashman commented on #1662
Here was @jim-minter's error from April 23rd. The key-vault was also affected:

[code]

So the key vault name gets set here: https://github.com/openshift/openshift-azure/blob/e6d7fece70d7f0da77c39dc31c2f6fc4bc5a55e2/pkg/fakerp/vault.go#L156

It comes directly from the `vaultURL` that appears to be set in the FakeRP: https://github.com/openshift/openshift-azure/blob/e6d7fece70d7f0da77c39dc31c2f6fc4

[2019-05-16 18:24] ehashman commented on #1662
Oh, aha, found where the vaultURL is being generated: https://github.com/openshift/openshift-azure/blob/e6d7fece70d7f0da77c39dc31c2f6fc4bc5a55e2/pkg/fakerp/fakerp.go#L279

Looks like we missed checking if the vaultURL has Microsoft reserved keywords... patch incoming: https://github.com/openshift/openshift-azure/blob/e6d7fece70d7f0da77c39dc31c2f6fc4bc5a55e2/pkg/util/random/random.go#L74-L81

[2019-05-16 21:11] #1655 closed

[2019-05-17 08:03] Makdaam commented on #1438
More flakes (more or less at the same time):
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1659/pull-ci-azure-master-e2e-create/219
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1659/pull-ci-azure-master-upgrade-v4.4/29
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pul

[2019-05-17 11:00] #1658 closed

[2019-05-17 17:58] ehashman commented on #1643
#1664 e2e-create https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1664/pull-ci-azure-master-e2e-create/230/build-log.txt

[2019-05-17 18:04] #1662 closed

[2019-05-20 06:57] #1661 closed

[2019-05-20 23:30] ehashman commented on #1438
Re: the scheduling failures above, I do see those reproduced across many of the flakes but I think that's a red herring. Note that they're failing scheduling where the node count is only 3 or 5. The full CI cluster consists of 7 nodes (3 masters, 3 infra, 1 compute). I looked through the event logs (e.g. for [this build](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshif

[2019-05-20 23:35] ehashman commented on #1438
/assign

[2019-05-20 23:38] asalkeld opened #1667 "clusterrole.rbac.authorization.k8s.io "cluster-monitoring-view" not found"
In pkg/sync/v6/data/ClusterRoleBinding.rbac.authorization.k8s.io/cluster-monitoring-view.yaml

[code]
But there is no ClusterRole called "cluster-monitoring-view"

found when looking at some logs for https://github.com/openshift/openshift-azure/issues/1438

[2019-05-20 23:39] asalkeld commented on #1667
/assign
/kind bug

[2019-05-21 23:45] asalkeld commented on #1288
/assign

[2019-05-22 14:57] ehashman commented on #1667
The `cluster-monitoring-view` role is referenced in the OpenShift 3.11 docs: https://docs.openshift.com/container-platform/3.11/install_config/prometheus_cluster_monitoring.html

Do we fail to provision it altogether or are we just hitting a race condition wherein it's not yet available?

[2019-05-22 16:36] ehashman commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1669/pull-ci-azure-master-upgrade-v3.2/254/build-log.txt

[2019-05-22 16:46] y-cote commented on #1438
Seen again at : #1670

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1670/pull-ci-azure-master-e2e-create/239/build-log.txt

[2019-05-23 07:16] Makdaam commented on #1651
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/branch-ci-openshift-azure-master-verify/46/

[2019-05-23 07:25] Makdaam commented on #1651
https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-bushslicer/30/build-log.txt

[2019-05-23 08:18] Makdaam opened #1672 "etcdbackuprecovery e2e failing"
Etcdbackuprecovery failing on 404 in /home/prow/go/src/github.com/openshift/openshift-azure/test/e2e/specs/fakerp/etcdbackuprecovery.go:68

/kind test-flake

https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-e2e-etcdbackuprecovery/21/build-log.txt
https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-e2e-etcdbackuprecovery/22/build-log.txt
https://storage.googleap

[2019-05-23 08:19] Makdaam commented on #1672
/assign Makdaam

[2019-05-23 16:14] #1288 closed

[2019-05-23 21:15] #1672 closed

[2019-05-24 05:17] asalkeld commented on #1667
O, cool, thanks for finding that! I'll close this issue. It must be a race condition of some sort.

[2019-05-24 05:18] asalkeld commented on #1667
/close

[2019-05-24 05:18] #1667 closed

[2019-05-27 09:45] Makdaam commented on #1543
Updates caused also by default referencePolicy in image streams in openshift/library. Opened https://github.com/openshift/library/pull/172 to make it explicit.

[2019-05-28 05:47] asalkeld opened #1677 "sync pod has not completed first run"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1668/pull-ci-azure-master-upgrade-v4.4/68

/kind test-flake

The test times out waiting for the sync pod to run

[2019-05-28 06:43] charlesakalugwu opened #1678 "Dial tcp timeout while creating project"
Caught a flake with the following signature

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1644/pull-ci-azure-master-upgrade-v3.2/274/build-log.txt

/kind test-flake

[2019-05-28 23:25] asalkeld commented on #1677
I think this is not a flake, but a bug in my PR - investigating

[2019-05-29 10:56] charlesakalugwu opened #1684 "Gateway timeout on GET request for master scaleset"
Caught a flake with the following signature

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1682/pull-ci-azure-master-upgrade-v4.4/83/build-log.txt

/kind test-flake

/cc @Makdaam @mjudeikis @jim-minter

[2019-05-29 11:11] #1651 closed

[2019-05-29 11:11] Makdaam commented on #1643
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1675/pull-ci-azure-master-e2e-create/270 in #1675

[2019-05-29 16:45] charlesakalugwu commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1687/pull-ci-azure-master-upgrade-v3.2/300/build-log.txt

[2019-05-30 05:35] y-cote commented on #1410
Debug info available here :

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1690/pull-ci-azure-release-v5-upgrade-v3.2/17/build-log.txt

[2019-05-31 17:44] charlesakalugwu opened #1695 "Timeout in e2e sanity check - checkCanCreateLB"
Caught a flake with the following signature

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1694/pull-ci-azure-master-e2e-create/305/build-log.txt

/kind test-flake

[2019-06-05 08:05] charlesakalugwu opened #1696 "server misbehaving error during e2e tests"
Caught a flake with the following signature:

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1682/pull-ci-azure-master-upgrade-v5.1/131/build-log.txt

/kind test-flake

[2019-06-05 08:06] charlesakalugwu commented on #1696
This also occured in the issue https://github.com/openshift/openshift-azure/issues/1544

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1491/pull-ci-openshift-openshift-azure-master-upgrade-v3.2/647

[2019-06-05 09:41] charlesakalugwu commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1682/pull-ci-azure-master-upgrade-v5.1/134/build-log.txt

[2019-06-06 17:42] ehashman commented on #1438
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1698/pull-ci-azure-master-upgrade-v5.1/138/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1698/pull-ci-azure-master-e2e-create/321/build-log.txt

Also northeurope.

[2019-06-07 09:02] Makdaam commented on #552
Happens every time during realRP vnet test, when the cluster is deleted.
https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-e2e-prod-vnet/39/build-log.txt
https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-e2e-prod-vnet/40/build-log.txt
https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-e2e-prod-vnet/41/build-log.txt
https://storage.googleapis.

[2019-06-07 10:56] charlesakalugwu opened #1700 "Unable to get authentication metadata for tenant configured in vault"
Caught a flake with the following signature:

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1682/pull-ci-azure-master-e2e-create/324/build-log.txt

/kind test-flake

[2019-06-07 13:30] charlesakalugwu opened #1701 "checkCantDoDockerBuild failed to wait for default service account"
Caught a flake with the following signature:

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1699/pull-ci-azure-master-upgrade-v4.4/134/build-log.txt

/kind test-flake

[2019-06-07 20:46] mjudeikis opened #1702 "Verify Azure Disk fix in 3.11"
We need to verify if https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/azuredisk-issues.md#14-azure-disk-attachdetach-failure-mount-issue-io-error was backported into 3.11 and which release. If no - we need to engage appropriate teams for this to happen.

[2019-06-10 15:02] kwoodson commented on #1702
These were the PRs that were mentioned that addressed the azure disk issues:
https://github.com/kubernetes/kubernetes/pull/70568
https://github.com/kubernetes/kubernetes/pull/71377
https://github.com/kubernetes/kubernetes/pull/71495

As per our scrum discussion on 6/10/19, we should backport the cloud provider code to 3.11 which is being done here:

https://github.com/openshift/origin/pull/22742

[2019-06-11 13:37] Makdaam commented on #1543
Fixed by updating upstream ImageStreams which caused issues.

[2019-06-11 13:37] Makdaam commented on #1543
/close

[2019-06-11 13:37] #1543 closed

[2019-06-11 17:27] thekad opened #1710 "Unsolicited response received on idle HTTP channel starting with "HTTP/1.0 408 Request Time-out[...]""
Getting the title error message when the e2e test is run some times, example:

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1709/pull-ci-azure-master-e2e-create/333/build-log.txt

/kind test-flake

[2019-06-11 17:28] thekad commented on #1710
Found openshift/release#378 but that wasn't helpful

[2019-06-12 15:36] charlesakalugwu opened #1715 "Cluster provisioning failed with "resource operation completed with terminal provisioning state 'Failed'""
Caught a flake with the following signature:

[code]
artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1714/pull-ci-azure-master-upgrade-v4.4/149/build-log.txt

/kind test-flake

[2019-06-12 17:49] charlesakalugwu commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1714/pull-ci-azure-master-upgrade-v4.4/151/build-log.txt

[2019-06-13 05:45] charlesakalugwu commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1687/pull-ci-azure-master-upgrade-v5.1/163/build-log.txt

[2019-06-13 11:26] charlesakalugwu commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1721/pull-ci-azure-master-upgrade-v5.1/170/build-log.txt

[2019-06-13 13:15] charlesakalugwu commented on #1544
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1721/pull-ci-azure-master-upgrade-v4.4/163/build-log.txt

[2019-06-13 15:37] charlesakalugwu commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1722/pull-ci-azure-master-e2e-create/352/build-log.txt

[2019-06-13 15:40] charlesakalugwu commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1714/pull-ci-azure-master-upgrade-v4.4/166/build-log.txt

[2019-06-18 13:24] mjudeikis opened #1729 "[v4] Prevent logging of sensitive data"
We dont want these to be in `CI` logs

[code]

[2019-06-21 10:17] gburges commented on #1624
/close

[2019-06-24 01:53] asalkeld commented on #1729
Given that you want to move this code to the installer, maybe fix it there?

[2019-06-24 10:41] charlesakalugwu commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1722/pull-ci-azure-master-upgrade-v5.1/205/build-log.txt

[2019-06-25 13:21] charlesakalugwu opened #1746 "Unable to create managed app in prod e2e tests"
On Thursday, 20th June, our prod e2e tests failed with a seeming inability to get anything done wtih the `Azure Managed App Service`. The errors had the following signature:

[code]

Sample artifacts:
https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-e2e-prod/59/build-log.txt
https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-e2e-prod-vnet/59/build-log.txt

/ki

[2019-06-25 13:36] charlesakalugwu commented on #1746
Looks like this was related to an outage of the `Azure Managed Applications` service. https://app.azure.com/h/V5SV-N_G/225f69

[2019-06-25 20:15] mgahagan73 opened #1748 "newly created cluster is failing unit tests (run via make unit)"
github.com/openshift/openshift-azure/pkg/arm/v6 === RUN   TestDerivedMasterLBCNamePrefix
github.com/openshift/openshift-azure/pkg/arm/v6 --- PASS: TestDerivedMasterLBCNamePrefix (0.00s)
github.com/openshift/openshift-azure/pkg/arm/v6 --- PASS: TestDerivedMasterLBCNamePrefix (0.00s)
github.com/openshift/openshift-azure/pkg/arm/v6 PASS
github.com/openshift/openshift-azure/pkg/arm/v6 coverage: 50.8%

[2019-06-25 22:08] ehashman commented on #1748
Hmm, I just tested this against latest HEAD and can't reproduce.

[code]

Do you have any local unstaged changes that might involve the accidental insertion of an "F"? :)

[2019-06-25 22:08] ehashman commented on #1701
This test has been removed so I imagine that we can close this issue :smile:

/close

[2019-06-25 22:08] #1701 closed

[2019-06-25 22:23] ehashman commented on #1632
At some point I believe that @jim-minter suggested the right place for this change is:

https://github.com/openshift/openshift-azure/blob/264308967f6289b70b027f44e8bb08a6bc4de3b2/pkg/arm/v6/data/master-startup.sh#L52-L53

I am trying to better understand what's going on in this file before proceeding with `s/$(hostname)/localhost/`. Do we need to apply that elsewhere in this file? Is `$(hostname)`

[2019-06-26 17:29] ehashman commented on #1632
So looking at the generated node kubeconfig on the masters in a test cluster, it looks like the sed script above is already doing the override to locally pin master kubelets rather than going through the FQDN:

[code]

Would we need to switch this to use `localhost` instead? I guess it would remove a dependency on kube-dns for this to work properly, since `master-000000` resolves to a cluster loca

[2019-06-26 20:30] ehashman commented on #1746
I think this can be closed as the failure wasn't due to a test flake but an actual outage?

[2019-06-26 22:27] charlesakalugwu commented on #1746
yes. closing it now

[2019-06-26 22:27] #1746 closed

[2019-06-27 10:08] charlesakalugwu commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1679/pull-ci-azure-master-upgrade-v5.1/245/build-log.txt

[2019-06-28 10:39] mjudeikis opened #1753 "[update] name validation fails"
`Errors found in validation of unversioned openshift cluster: [invalid name "ARO3.11"]`

which is quite surprising given that create succeeded on June 18th.
Cluster name validation was added recently or rather RP got it with plugin 5.2:
https://github.com/openshift/openshift-azure/commit/c2dba48fd5c0f232609fea0a2ec3161b191972f6#diff-7a97b6f022eac23d89fff7766a7bd348R15
and
https://github.com/opensh

[2019-06-28 10:42] mjudeikis commented on #1753
introduced by: https://github.com/openshift/openshift-azure/issues/1116
https://github.com/openshift/openshift-azure/pull/1525

What do we want to do ? looks like cluster was created with old validation.

[2019-06-28 13:09] mjudeikis commented on #1753
Maybe this? https://github.com/openshift/openshift-azure/pull/1754

[2019-06-29 12:39] #1753 closed

[2019-07-01 03:06] asalkeld commented on #1297
/reopen

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1679/pull-ci-azure-master-upgrade-v5.1/255/build-log.txt

[2019-07-01 04:08] asalkeld commented on #1748
Just a note: "make unit" is purely unit tests, they don't run against a cluster. If you want to run tests against the cluster then run "make e2e". The unit tests really have to work otherwise our CI would be broken and we couldn't merge anything... So this must be something local to you.

I just did
[code]
and that worked for me.

/close

@mgahagan73 if you still have trouble with this can you ask

[2019-07-01 04:08] #1748 closed

[2019-07-01 07:43] charlesakalugwu opened #1759 "Failed to refresh vault token for request"
Caught a flake with the following signature:

[code]

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1755/pull-ci-azure-master-upgrade-v4.4/242/build-log.txt

/kind test-flake

[2019-07-01 10:14] mjudeikis opened #1762 "quay.io reporting legacy registry"
Logs from Wa-agent startup script

[code]

Needs checking how we can move to `api v2`

[2019-07-01 10:26] mjudeikis opened #1763 "atomic-openshift-node fails: Local quota setup failed"
Failed to start node process with error:
[code]
` /var/lib/origin/openshift.local.volumes:` does not exist

[2019-07-01 11:26] mjudeikis commented on #1763
![image](https://user-images.githubusercontent.com/3225744/60431561-f9b31000-9bf7-11e9-811c-25c1990851e6.png)

Because we use published image for tests, it does not have https://github.com/openshift/openshift-azure/pull/1670 this yet in.
And our code expects it. The solution is to publish a new image for this and start testing with it.

And our current image build process is broken:
https://prow.s

[2019-07-01 11:39] #1763 closed

[2019-07-01 13:28] mjudeikis opened #1766 "Group sync broken for Guest Accounts"
Group sync does now work for guest accounts:
Login flow user metadata:
[code]
Sync groups:
[code]
Config:
[code]

/cc @asalkeld, this is what I talked about.

[2019-07-01 13:38] mjudeikis commented on #1766
Guest user metedata contains `live.com#mjudeiki@redhat.com`

[2019-07-01 14:01] mjudeikis commented on #1766
[code]

[2019-07-01 21:52] thekad commented on #1616
Another one: https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1764/pull-ci-azure-master-vmimage/3

[2019-07-01 22:14] jim-minter commented on #1766
@mjudeikis please can you explain clearly what the problem is, because it is currently unintelligible

[2019-07-01 22:15] jim-minter commented on #1766
relevant code snippet? https://github.com/openshift/openshift-azure/blob/master/pkg/controllers/customeradmin/group_mapping.go#L34-L40

[2019-07-01 22:15] ehashman commented on #1766
Maybe this is the issue? We're stripping the #EXT# thing from the email when we populate groups:

https://github.com/openshift/openshift-azure/blob/ace78496a704864f85949a67fc834c27d9561031/pkg/controllers/customeradmin/group_mapping.go#L34-L40

[2019-07-01 23:33] asalkeld commented on #1766
[code]
I think at the time kubernetes didn't allow the "#" in the object. This might be worth re-testing.

[2019-07-02 06:48] charlesakalugwu commented on #1616
This is the error signature

[code]

Caught another one here: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1764/pull-ci-azure-master-vmimage/4/build-log.txt

[2019-07-02 08:05] mjudeikis commented on #1766
Problem is that users who are synced via our process do not match user signing in data (data from the claim). And the data, we sync, has origin appended to the claim data. And this data does not exist in sync data. So in this case without hardcoding we can't easily fix sync process to append the data (below)

right'ish solution would somehow sync data without origin data.

[code]

[2019-07-02 08:14] mjudeikis commented on #1766
MSFT suggested to use `oid` as claim object. It works, but it gives us these random symbols in UI. BUT mapping would be possible:
[code]
we could sync using these:
[code]

[2019-07-02 09:07] mjudeikis commented on #1766
[code]

Works, but this would be a breaking change to the existing users.

[2019-07-02 18:22] ehashman opened #1771 "Tests time out on "waiting for master-000000 to be ready" on initial provision, even with retries"
/kind test-flake

[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1769/pull-ci-azure-master-upgrade-v4.4/271/build-log.txt #1769

[2019-07-02 18:23] ehashman commented on #1771
Another: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1767/pull-ci-azure-master-upgrade-v5.2/96/build-log.txt #1767

Both in northeurope thus far.

[2019-07-02 18:31] ehashman commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1723/pull-ci-azure-master-e2e-create/467/build-log.txt #1723

[2019-07-02 19:51] kwoodson opened #1772 "FIPS enabled images break azure-file storage class"
With the recent updates to the vm image and enabling FIPS mode in the kernel the CIFS mounts have stopped working.

After searching through logs and manual attempts to perform the mount I discovered this in the logs:
[code]

A quick internet search brought back multiple articles responding to the inquiry:
https://access.redhat.com/solutions/256053

It appears that ntlm uses md5 hashes which are no

[2019-07-02 20:07] kwoodson commented on #1772
@jim-minter @mjudeikis @ehashman @kad WDYT?

Should we disable FIPS at this time?

[2019-07-02 21:49] ehashman commented on #1772
As someone who has run kerberized mounts in production, we don't want this (and I don't think we have the necessary infra set up right now to make it happen).

I'd be okay with rolling this back for now to unblock things, and possibly permanently. We should confirm with some folks for security whether or not we need FIPS support. Interestingly, I found [an article from MS TechNet](https://blogs.te

[2019-07-02 22:09] ehashman commented on #1438
Three more instances of this, all northeurope:

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1769/pull-ci-azure-master-e2e-create/470/build-log.txt #1769
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1767/pull-ci-azure-master-upgrade-v5.2/98/build-log.txt #1767
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/

[2019-07-03 09:59] gburges opened #1775 "scale up/down timed out waiting for the condition"
Looks like a new unhandled error

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1723/pull-ci-azure-master-e2e-create/465

/kind test-flake

[2019-07-03 15:54] charlesakalugwu opened #1778 "Sync e2e fails with unexpected log output"
Caught a flake where the sync pod e2e test failed due to an expected entry not being found in the
sync reconciliation logs.

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1760/pull-ci-azure-master-e2e-create/479/build-log.txt

/kind test-flake

[2019-07-03 21:09] #1772 closed

[2019-07-03 21:53] ehashman commented on #1400
/reopen

Just saw this again: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1760/pull-ci-azure-master-upgrade-v4.4/294/build-log.txt

[2019-07-04 10:45] Makdaam opened #1780 "400 Bad Request: Failed to apply request: UpdateWorkerAgentPoolDrain"
/kind test/flake
[code]
in a upgrade v5.2 test

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1776/pull-ci-azure-master-upgrade-v5.2/129
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1776/pull-ci-azure-master-upgrade-v5.2/129/build-log.txt

[2019-07-04 10:45] Makdaam commented on #1780
/kind test-flake

[2019-07-05 10:24] charlesakalugwu commented on #1643
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1776/pull-ci-azure-master-e2e-create/504/build-log.txt

[2019-07-05 10:25] charlesakalugwu commented on #1438
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1776/pull-ci-azure-master-e2e-create/504/build-log.txt in #1776

[2019-07-05 11:56] m1kola commented on #1400
Another one: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1781/pull-ci-azure-master-upgrade-v5.2/136/build-log.txt

[2019-07-05 13:58] m1kola commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1781/pull-ci-azure-master-upgrade-v5.2/137/build-log.txt in #1781

[2019-07-05 13:58] m1kola commented on #1438
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1781/pull-ci-azure-master-upgrade-v4.4/306/build-log.txt in #1781

[2019-07-08 09:09] m1kola commented on #1695
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1781/pull-ci-azure-master-e2e-create/510/build-log.txt in #1781

[2019-07-08 10:57] m1kola commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1781/pull-ci-azure-master-upgrade-v5.1/322/build-log.txt in #1781

[2019-07-08 11:00] m1kola commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1781/pull-ci-azure-master-e2e-create/511/build-log.txt in #1781

[2019-07-08 13:25] m1kola commented on #1400
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1784/pull-ci-azure-master-upgrade-v5.1/329/build-log.txt in #1781

[2019-07-08 13:26] m1kola commented on #1771
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1784/pull-ci-azure-master-upgrade-v4.4/315/build-log.txt in #1784

[2019-07-08 13:51] m1kola commented on #1409
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1782/pull-ci-azure-master-e2e-create/509/build-log.txt in #1782

[2019-07-08 13:53] m1kola commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1782/pull-ci-azure-master-upgrade-v5.1/321/build-log.txt in #1782

[2019-07-08 14:09] m1kola commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1781/pull-ci-azure-master-upgrade-v5.2/140/build-log.txt in #1781

[2019-07-08 15:07] ehashman commented on #1771
Looks like the flake above is also in northeurope.

[2019-07-08 22:53] ehashman commented on #1632
I found one additional kubeconfig that will need patching (`/root/.kube/config`). We should continue to use the short master hostnames rather than `localhost` in order to ensure valid HTTPS connections.

I am now experimenting with dropping traffic to the masters ELB and seeing what happens. If all goes well, we can switch private clusters to use an ILB instead.

[code]

[2019-07-08 23:04] asalkeld commented on #1766
/close

[2019-07-08 23:04] #1766 closed

[2019-07-09 03:16] asalkeld commented on #1762
/assign

[2019-07-09 09:29] #1762 closed

[2019-07-09 18:04] kwoodson commented on #1631
Hit this one again:
[code]

[2019-07-11 23:01] ehashman commented on #1632
Okay, finally got the iptables rule working. Doesn't look like we actually have access to the internal config for templating the master-startup.sh script (or at least, I couldn't figure out if I could access the FQDN parameter) so instead I've hacked things by hardcoding the FQDN, which is known if I use the same resource group name for a dev cluster:

[code]

The rule does appear to be working:

[2019-07-12 11:48] charlesakalugwu commented on #1400
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1788/pull-ci-azure-master-upgrade-v5.2/174/build-log.txt in #1788

[2019-07-12 14:54] ehashman commented on #1632
Successfully ran the e2e tests with no failures which is a little suspicious. I think I wrote this iptables rules wrong, it's successfully logging but not dropping (or at least, the 0 / 0 pkts / bytes would suggest it's not working):

[code]

Looks like the remaining thing trying to access the FQDN is SDN:

[code]

[2019-07-12 23:09] ehashman commented on #1632
Okay, patched up my iptables rule, pinned SDN to the local master, and things are looking good!

[code]

Note that no packets have been logged or dropped to the master FQDN. I double checked dmesg and it's clean.

I'm in the middle of running the e2e tests but thus far everything has passed. Will submit the changes as a WIP PR. Doing a grep through the codebase, I don't think there are any remaini

[2019-07-15 14:29] ehashman commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1791/pull-ci-azure-master-upgrade-v5.1/366/build-log.txt #1791

[2019-07-16 00:49] #1632 closed

[2019-07-16 10:29] charlesakalugwu commented on #1643
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1787/pull-ci-azure-master-upgrade-v5.2/199/build-log.txt in #1787

[2019-07-16 13:26] kwoodson commented on #552
Tally one for West-Europe
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1750/pull-ci-azure-master-upgrade-v5.1/388/build-log.txt
[code]
PR:
https://github.com/openshift/openshift-azure/pull/1750

[2019-07-16 14:10] kwoodson commented on #1438
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1750/pull-ci-azure-master-upgrade-v5.2/204 in #1750

[2019-07-17 22:46] ehashman commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1783/pull-ci-azure-master-upgrade-v5.2/228/build-log.txt #1783

[2019-07-18 03:58] asalkeld commented on #969
This now lives in TestConfig only.
/close

[2019-07-18 03:58] #969 closed

[2019-07-18 12:20] charlesakalugwu opened #1798 "Edit project-request e2e tests fail with NotFound"
Looks like there's a regression introduced in our code regarding the `project-request` template. I see it both on CI and on local e2e runs. The signature of the error is as follows:

[code]

sample artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1797/pull-ci-azure-master-upgrade-v5.2/234/build-log.txt

/kind bug

[2019-07-18 21:57] #1798 closed

[2019-07-19 09:31] charlesakalugwu commented on #661
/reopen

[2019-07-19 09:31] charlesakalugwu commented on #661
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1802/pull-ci-azure-master-upgrade-v5.2/244/build-log.txt in #1802

[2019-07-19 09:37] charlesakalugwu commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1801/pull-ci-azure-master-upgrade-v5.1/420/build-log.txt in #1801

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1801/pull-ci-azure-master-upgrade-v5.2/240/build-log.txt in #1801

[2019-07-19 09:42] charlesakalugwu opened #1803 "Plugin unit tests ran too long and got killed"
Caught a flake with the `pkg/plugin` tests having the following signature:

[code]

We might have to increase the unit tests timeout because we have been adding more and more of those integration-style tests in `pkg/plugin/integration_test.go` and we know those tests are slow.

artifacts: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1801/pull-ci-azure-master

[2019-07-19 16:30] julienstroheker opened #1808 "API Whitelisting Implementation"
Currently, the ARO API server is an FQDN backed by a public IP address. Customers have no way to limit network access to that server. We need to offer the ability to lock down the API server endpoint to a list of network ranges specified by the customer.

The main idea is to customize the NSG applied against the master nodes.
3 New rules need to be set :

|Name|Priority|Source|
|-|-|-|
|Internal_S

[2019-07-22 16:49] ehashman commented on #1808
/assign @ehashman @mjudeikis

[2019-07-23 16:48] ehashman commented on #1808
I think I commented on this previously, but wanted to draw attention to this on here as well. This section is inconsistent:

[code]

I believe that the `SSHSourceAddressPrefixes` uses CIDRs and not just prefixes as well? For consistency, can we call the new field `APIServiceSourceAddressPrefixes` or something similar and better document the permitted values?

[2019-07-23 18:08] ehashman commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1805/pull-ci-azure-release-v6-e2e-create/5/build-log.txt #1805

[2019-07-23 18:09] ehashman commented on #1695
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1806/pull-ci-azure-master-upgrade-v5.1/454/build-log.txt #1806

[2019-07-23 18:11] ehashman commented on #1695
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1810/pull-ci-azure-master-upgrade-v5.1/453/build-log.txt #1810

[2019-07-23 18:30] ehashman commented on #1637
upgrade-3.2 is long deprecated and I don't see any flakes from this for at least a month, so I'm assuming this is no longer applicable.

/close

[2019-07-23 18:30] #1637 closed

[2019-07-23 18:32] ehashman commented on #1504
Upstream fix has been merged, I think this can be closed now.

/close

[2019-07-23 18:32] #1504 closed

[2019-07-23 18:43] ehashman commented on #702
/close

[2019-07-23 18:43] #702 closed

[2019-07-23 18:58] ehashman commented on #1452
/close

Should be covered by the OSD customer-admin parity changes.

[2019-07-23 18:58] #1452 closed

[2019-07-23 19:01] ehashman commented on #1569
/close

This was completed with the content update bot.

[2019-07-23 19:01] #1569 closed

[2019-07-23 19:06] ehashman commented on #1201
/close

Let's make a separate item to track controller metrics. Initial request from this issue is completed.

[2019-07-23 19:06] #1201 closed

[2019-07-24 12:25] charlesakalugwu commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1815/pull-ci-azure-master-upgrade-v5.2/289/build-log.txt in #1815

[2019-07-25 14:35] charlesakalugwu commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1813/pull-ci-azure-master-upgrade-v5.1/484/build-log.txt in #1813

[2019-07-29 20:16] ehashman commented on #1617
I think this is not the fakerp server failing to start but rather the RG failing to create preventing the fakerp from starting. We might either want to add retry logic to RG creation or fail CI sooner.

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1796/pull-ci-azure-master-upgrade-v5.1/505/build-log.txt #1796
https://storage.googleapis.com/origin-ci-test/pr-

[2019-07-30 20:57] amanohar opened #1823 "Plugin scripts/VM CSE should return error number or code instead of generic strings for better bucketization"
CSE scripts can fail for a variety of reason outside of script's control regardless of retries. Some examples: network connectivity, download error etc.

One specific e.g.:  https://github.com/openshift/openshift-azure/pull/1787/files#diff-434fc6ac2244ae6f5e84f69aa26eb0ceR49-R53 where a generic error string is being returned ` ARO security updates installation failed` .

In addition to error strin

[2019-07-31 05:43] charlesakalugwu commented on #1823
/assign @m1kola

[2019-08-01 18:33] jim-minter opened #1827 "SecurityPatchPackages reboot should happen before starting atomic-openshift-node"
In {master,node}-startup.sh, the needs-restarting/reboot logic should take place after `systemctl enable atomic-openshift-node.service` but before `systemctl start atomic-openshift-node.service &`

That way there is no race between kubelet startup and reboot taking place.

cc @ehashman

[2019-08-01 18:53] jim-minter opened #1828 "can't update latched PackageRepository key/cert"
Scenario: a v6 cluster is created.  During the process, pkg/api/plugin.ToInternal() is called to initialise the configured PackageRepository key/cert in the internal cluster model.  Subsequently that cert expires.  There's currently no way to update the key/cert in the internal cluster model.

I think that originally we had planned for a Geneva Action to handle this use case, along with rotation o

[2019-08-01 19:30] charlesakalugwu commented on #1827
@jim-minter I clearly remember checking this scenario during development. When I placed the reboot after `systemctl enable atomic-openshift-node.service`, I expected `atomic-openshift-node.service` to start after the reboot but it didn't.

The reasoning for my decision to put it after `systemctl start atomic-openshift-node.service &` was that if a reboot isn't needed then the script exits normally

[2019-08-01 22:25] ehashman commented on #1828
/assign @asalkeld

[2019-08-05 13:29] charlesakalugwu commented on #1827
@jim-minter I did some digging around on this. I tried to create a cluster which performs a restart after applying updates.

Found that only master nodes come up healthy
[code]

Checked the list of pods against the api server

[code]

There were no sdn pods due to the following error from atomic-openshift-node
[code]

So I created the `openshift-sdn` namespace
[code]

And the sdn pods came alive
[

[2019-08-05 14:03] charlesakalugwu commented on #1827
It seems to me that the change to pin the kubeconfigs to local masters might have triggered a kubelet client cert rotation which required CSRs to be created. There are no node bootstrap autoapprovers running at that point and the cluster never converges.

[2019-08-05 14:32] jim-minter commented on #1827
Hmm, this is worrying, because it implies to me that we could be reliant on a race condition for the functionality to work as it is, and/or that our clusters might not be very resilient to cold-start/reboot.

I don't think that "Failed creating a mirror pod" necessarily implies that SDN is not running.  IIRC the kubelet  runs the workload, then attempts to create a "mirror" pod record in etcd.  Co

[2019-08-05 14:43] charlesakalugwu commented on #1827
@jim-minter There is a cluster `charles-test2` exactly in this state. Please let me know what you find.

[2019-08-05 15:09] jim-minter commented on #1827
So, the sync pod was never created on the cluster charles-test2.  Did the plugin return an error on create?

[2019-08-05 15:20] charlesakalugwu commented on #1827
yeah the sync pod was never created, neither were the `ovs` and `sdn` pods. Right now `kubectl get pods --all-namespaces` on `charles-test2`  returns:
[code]

[2019-08-05 16:05] jim-minter commented on #1827
`FATA[2019-08-05T15:56:42+02:00] containerservice.OpenShiftManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: autorest/azure: error response cannot be parsed: "400 Bad Request: Failed to apply request: Deploy: Future#WaitForCompletion: context has been cancelled: StatusCode=200 -- Original Error: context deadline exceeded\n" error: json: cannot unmarshal

[2019-08-05 19:56] tonche commented on #1808
From logical side, it is not a big deal to change the name to APIServiceSourceAddressPrefixes or other suitable names. However, as this name has already been used by current product from the code, It would be at least two steps to be compatible and safer with the deployed clusters.
In first step, plugin add the new field name parallel to the existing SSHSourceAddressPrefixes, and ARO API set the s

[2019-08-05 23:11] ehashman commented on #1828
/kind bug

[2019-08-05 23:12] asalkeld commented on #1828
I'll get on this today

[2019-08-06 15:15] gburges opened #1832 "InvalidApiVersionParameter on fakeRP cluster create"
[code]

[2019-08-06 15:18] gburges commented on #1832
full log

./hack/create.sh $RESOURCEGROUP
bindata.go
bindata.go
bindata.go
bindata.go
bindata.go
bindata.go
bindata.go
bindata.go
bindata.go
bindata.go
INFO[2019-08-06T16:22:09+02:00] using region westeurope
INFO[2019-08-06T16:22:09+02:00] ensuring resource group gabortest
INFO[2019-08-06T16:22:11+02:00]/home/gburges/go/src/github.com/openshift/openshift-azure/cmd/fakerp/main.go:20 main.main() sta

[2019-08-06 15:23] mjudeikis commented on #1832
/assign

[2019-08-06 15:23] ehashman commented on #1832
I am not able to reproduce; might be a REST API rollout issue.

[code]

/kind bug

[2019-08-06 19:21] #1828 closed

[2019-08-07 13:27] Makdaam commented on #1771
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1830/pull-ci-azure-master-upgrade-v5.2/365 waiting for infra node, northeurope

[2019-08-07 20:22] ehashman commented on #1771
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1834/pull-ci-azure-master-upgrade-v5.2/376/build-log.txt #1834

[2019-08-08 15:19] ehashman commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1812/pull-ci-azure-master-upgrade-v5.2/387/build-log.txt #1812

[2019-08-09 03:25] thekad opened #1839 "sync pod test "should not continuously update objects" fails"
Hadn't seen this error before, not sure if transient in #1838

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1838/pull-ci-azure-master-e2e-create/767

[2019-08-09 07:21] m1kola commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1821/pull-ci-azure-master-upgrade-v5.1/581/build-log.txt in #1821

[2019-08-09 08:59] m1kola commented on #1839
Seen it in #1836

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1836/pull-ci-azure-master-e2e-create/772/build-log.txt

[2019-08-09 09:00] m1kola commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1836/pull-ci-azure-master-upgrade-v5.2/402/build-log.txt in #1836

[2019-08-09 09:48] m1kola commented on #1628
Another one in #1821

https://prow.svc.ci.openshift.org/log?id=403&job=pull-ci-azure-master-upgrade-v5.2

[2019-08-09 09:53] m1kola commented on #552
Seems to be the same issue in #1821

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1821/pull-ci-azure-master-vmimage/48/build-log.txt

[2019-08-12 22:26] ehashman commented on #1823
/kind feature

[2019-08-13 20:47] ehashman commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1842/pull-ci-azure-master-e2e-create/807/build-log.txt #1842

[2019-08-13 20:50] ehashman commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1842/pull-ci-azure-master-upgrade-v5.2/438/build-log.txt #1842

[2019-08-13 21:57] ehashman commented on #661
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1853/pull-ci-azure-master-upgrade-v5.2/439/build-log.txt #1853

[2019-08-14 07:48] mjudeikis commented on #1832
/close

[2019-08-14 07:48] #1832 closed

[2019-08-14 07:48] mjudeikis commented on #1832
reopen if needed

[2019-08-14 07:52] mjudeikis commented on #1808
@ehashman considering we changing the direction, can we close?

[2019-08-14 07:52] mjudeikis commented on #1729
/close

[2019-08-14 07:52] #1729 closed

[2019-08-14 07:53] mjudeikis commented on #1702
should be released with next errata
/close

[2019-08-14 07:53] #1702 closed

[2019-08-14 08:36] #1045 closed

[2019-08-14 08:36] #1639 closed

[2019-08-14 15:10] ehashman commented on #661
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1853/pull-ci-azure-master-upgrade-v7.0/1/build-log.txt also #1853

[2019-08-14 15:10] ehashman commented on #1808
Yes, as we are no longer pursuing IP whitelisting as a stop gap for private clusters, I will close.

[2019-08-14 15:10] #1808 closed

[2019-08-14 16:40] ehashman commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1856/pull-ci-azure-master-upgrade-v5.2/449/build-log.txt #1856

[2019-08-14 16:42] ehashman commented on #1563
We removed all the RealRP tests so can this be closed? Or are there follow-ups that need to be completed?

[2019-08-14 20:46] openshift-azure-robot opened #1857 "periodic-ci-azure-vmimage"
This is a test. Please check the build!

[2019-08-14 20:47] kwoodson commented on #1857
Testing out the ci notifications.

[2019-08-15 14:04] charlesakalugwu commented on #1400
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1812/pull-ci-azure-master-upgrade-v5.2/460/build-log.txt in #1812

[2019-08-15 17:28] openshift-azure-robot opened #1862 "periodic-ci-azure-vmimage"
This is a test. Please check the build!

[2019-08-15 17:39] #1857 closed

[2019-08-15 17:48] kwoodson commented on #1862
just me testing

[2019-08-15 19:01] amanohar commented on #552
From the logs I see this is a VM extension provisioning timeout. VM extension provisioning timeout is generic error that can happen for a variety of reasons because of what happened in a CSE run. Are there logs from CSE runs that show the stage at which the run got stuck resulting in CSE timeout?

[2019-08-16 04:36] #1827 closed

[2019-08-16 06:48] charlesakalugwu commented on #1839
this is a duplicate of #1778
/close

[2019-08-16 06:48] #1839 closed

[2019-08-16 06:49] charlesakalugwu commented on #1778
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1838/pull-ci-azure-master-e2e-create/767 in #1838

[2019-08-16 06:49] charlesakalugwu commented on #1778
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1836/pull-ci-azure-master-e2e-create/772/build-log.txt in #1836

[2019-08-16 10:06] m1kola commented on #661
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1860/pull-ci-azure-master-upgrade-v7.0/49/build-log.txt in #1860

[2019-08-19 14:09] Makdaam commented on #1563
Complete.

[2019-08-19 14:09] #1563 closed

[2019-08-20 20:40] jim-minter opened #1870 "quay.io timeout from southcentral"
[code]

@charlesakalugwu @Makdaam @ehashman @shrutir25 fyi

[2019-08-20 20:52] jim-minter commented on #1870
issues from at least 11th august
[stderr.txt](https://github.com/openshift/openshift-azure/files/3522529/stderr.txt)

[2019-08-20 20:53] jim-minter commented on #1870
interesting that on this occasion, eventually the pull succeeded, but presumably the ARM template had timed out by that point.
Also notice that a previous `docker pull` succeeded so the VM must have had internet access at least in the beginning

[2019-08-21 13:07] charlesakalugwu commented on #1778
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1863/pull-ci-azure-master-e2e-create/870/build-log.txt in #1863

[2019-08-21 13:13] charlesakalugwu commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1863/pull-ci-azure-master-upgrade-v7.0/75/build-log.txt in #1863

[2019-08-21 20:38] charlesakalugwu commented on #1778
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1871/pull-ci-azure-master-e2e-create/876/build-log.txt in #1871

[2019-08-21 21:09] amanohar opened #1873 "SSHSourceAddressPrefixes list does not get updated during admin upgrade"
**issue description:**
Customer creates an ARO cluster and `SSHSourceAddressPrefixes` is used to create NSG to allow SSH access from certain IP ranges only. Then later a deployment of the service/RP changes/updates `SSHSourceAddressPrefixes` -->
- All new ARO clusters should get new `SSHSourceAddressPrefixes` values configured in the NSG: This works as expected today.
- An admin initiated upgrade

[2019-08-22 00:37] asalkeld commented on #1873
/assign

[2019-08-22 01:37] asalkeld commented on #1620
@mjudeikis close this?

[2019-08-22 05:04] asalkeld commented on #1823
also see https://github.com/openshift/openshift-azure/pull/1875

[2019-08-22 17:46] ehashman commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1877/pull-ci-azure-master-upgrade-v6.0/92/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1877/pull-ci-azure-master-upgrade-v7.0/90/build-log.txt
#1877

[2019-08-22 23:43] asalkeld commented on #1710
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1876/pull-ci-azure-master-e2e-create/884

[2019-08-23 00:00] asalkeld commented on #1710
https://giedrius.blog/2018/10/25/gos-http-transport-and-408-response-code-whats-the-relationship/

[2019-08-23 00:53] asalkeld commented on #1710
/assign

[2019-08-23 00:54] asalkeld commented on #1710
I see we don't use the RoundTripper (which disables keepalives) in the sync pod. I'll post a PR that enables it.

[2019-08-23 01:36] asalkeld commented on #1400
Note: " connection reset by peer" is not in here: https://github.com/openshift/openshift-azure/blob/master/pkg/cluster/kubeclient/roundtrip.go#L102-L127
I'll add it.

[2019-08-23 06:26] asalkeld commented on #1438
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1879/pull-ci-azure-master-upgrade-v6.0/96

[2019-08-23 16:03] ehashman commented on #101
This won't get fixed in 3.11 and it's gone stale upstream so :woman_shrugging:

[2019-08-23 16:03] #101 closed

[2019-08-23 16:03] #157 closed

[2019-08-23 16:04] #310 closed

[2019-08-23 16:07] ehashman commented on #347
This will no longer be applicable in 4.x, so let's close this.

[2019-08-23 16:07] #347 closed

[2019-08-23 16:09] ehashman commented on #445
Jim was interested in the idea of being able to have a metric on how much stuff we have to download per cluster as part of the creation process, in order to be able to decrease it.

:skull:

[2019-08-23 16:09] #445 closed

[2019-08-23 16:11] #662 closed

[2019-08-23 16:12] #687 closed

[2019-08-23 16:16] #725 closed

[2019-08-23 16:17] ehashman commented on #732
The reason this wasn't working originally was due to a lack of registry credentials. I think this is getting removed in 4.x so let's close this.

[2019-08-23 16:17] #732 closed

[2019-08-23 16:18] #939 closed

[2019-08-23 16:18] ehashman commented on #963
As part of @mgahagan73's work to get bushslicer working again I'm going to close this as no longer applicable.

[2019-08-23 16:18] #963 closed

[2019-08-23 16:20] #972 closed

[2019-08-23 16:22] #1001 closed

[2019-08-23 16:23] #1036 closed

[2019-08-23 16:24] ehashman commented on #1054
I think this was covered by the azsecpack work, please reopen if that doesn't sufficiently address this issue.

[2019-08-23 16:24] #1054 closed

[2019-08-23 16:26] ehashman commented on #1061
So now that we've installed this on the host, we still may have the issues with memory leaks, but it's not in a DaemonSet where the resource limits are relevant. Thoughts on how we should proceed with this issue?

[2019-08-23 16:30] ehashman commented on #1102
We think that Microsoft has fixed this. If we encounter this again, let's open a new issue.

[2019-08-23 16:30] #1102 closed

[2019-08-23 16:34] jim-minter commented on #1103
the intention here is to write a unit test which validates this comment:
https://github.com/openshift/openshift-azure/blob/fea61953a5ac591337a1f0c2fcaf4881fb66e0b2/pkg/arm/v8/resources.go#L19-L20

[2019-08-23 16:35] ehashman commented on #1120
Is this still applicable @mjudeikis ?

[2019-08-23 16:37] ehashman commented on #1145
@Makdaam can you update this issue with how much of this is completed?

[2019-08-23 16:38] ehashman commented on #1150
Closing in favour of the JIRA: [AZURE-194](https://jira.coreos.com/browse/AZURE-194)

[2019-08-23 16:38] #1150 closed

[2019-08-23 16:39] ehashman commented on #1161
I'm going to track this as part of the ACR work in JIRA (as opposed to doing this in quay.io) and will close this issue.

[2019-08-23 16:39] #1161 closed

[2019-08-23 16:40] #1207 closed

[2019-08-23 16:41] ehashman commented on #1227
/kind cleanup

[2019-08-23 16:46] ehashman commented on #1297
Going to close this as stale for now; if possible, if we see this again in the future we should try to get the serviceRequestId so we can report the issue to the appropriate Azure teams.

[2019-08-23 16:47] ehashman commented on #1332
We've not seen this since March so I'm inclined to close.

[2019-08-23 16:47] #1332 closed

[2019-08-23 17:29] thekad commented on #1061
Keeping in mind the mdsd package is the newer version which according to my previous comment is supposed to include performance improvements. Furthermore, we haven't seen the mdsd/td-agent pod crashing in a long time, e.g. looking at the dashboards there hasn't been an mdsd pod restart in the last month.
I say we close this and reopen if/when we detect anomalies in the host service.

[2019-08-23 17:59] #1873 closed

[2019-08-23 18:45] ehashman commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1880/pull-ci-azure-master-upgrade-v6.0/98/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1880/pull-ci-azure-master-upgrade-v7.0/94/build-log.txt
#1880

[2019-08-23 18:47] thekad commented on #1616
Haven't seen this in over a month, will close and reopen if we see it again but I suspect this surfaced as a network exception
/close

[2019-08-23 18:47] #1616 closed

[2019-08-24 01:43] #1710 closed

[2019-08-26 00:27] #1400 closed

[2019-08-26 00:28] asalkeld commented on #1617
/assign

[2019-08-26 05:31] asalkeld commented on #1803
/assign

[2019-08-26 07:19] asalkeld opened #1888 "no space left on devicebuildconfig.build.openshift.io"
/kind test-flake

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1885/pull-ci-azure-master-e2e-create/901

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1885/pull-ci-azure-master-upgrade-v6.0/112

[code]

[2019-08-26 08:18] #1227 closed

[2019-08-27 00:26] asalkeld commented on #1778
/assign

[2019-08-27 01:20] asalkeld commented on #1778
All the errored clusters have
[code]
sync then runs again and completes

[2019-08-27 04:11] asalkeld commented on #1778
So update on what is happening with this:

It always has updates in it, but the test only fails when there is an error as then there is one sync run.

This code below only works when the sync pod has done one run
https://github.com/openshift/openshift-azure/blob/master/test/e2e/specs/fakerp/sync.go#L27

If I change it to the below, it correctly fails all the time. (it can be seen by looking at the

[2019-08-27 04:45] asalkeld commented on #1778
also note if you check a cluster that has been running for a bit you will see this periodically:
[code]

[2019-08-27 06:00] asalkeld commented on #1778
The above Update can be seen here:

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1890/pull-ci-azure-master-e2e-create/928

[2019-08-27 17:21] ehashman opened #1892 "MarketplacePurchaseEligibilityFailed error on ARM template application"
/kind test-flake

[code]

[2019-08-27 17:45] kwoodson opened #1893 "UnsupportedApiVersion during e2e-create"
[code]

[2019-08-27 18:17] #1893 closed, assigned to nobody

[2019-08-27 23:39] asalkeld commented on #1677
/close

[2019-08-27 23:39] #1677 closed

[2019-08-28 04:32] asalkeld commented on #1778
so this is one place it is getting changed:
https://github.com/openshift/openshift-azure/blob/master/pkg/cluster/kubeclient/syncpod.go#L41

[2019-08-28 04:50] asalkeld commented on #1778
also this type https://github.com/openshift/openshift-azure/blob/master/vendor/github.com/openshift/api/security/v1/types.go#L23-L99 does not have UnsafeSyscalls so when the secrurity context is updated here https://github.com/openshift/openshift-azure/blob/master/pkg/cluster/kubeclient/syncpod.go#L32 it gets removed.

I might look if we need to update the vendored openshift to get that type.

[2019-08-28 04:51] asalkeld commented on #1778
I am having an awesome conversation with myself here..

[2019-08-28 14:16] #1892 closed, assigned to nobody

[2019-08-28 19:31] ehashman opened #1898 "`make vmimage` fails with a bash syntax error"
/kind bug

[code]

/cc @kwoodson

[2019-08-29 02:18] #1898 closed

[2019-08-30 13:44] m1kola commented on #552
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1902/pull-ci-azure-master-vmimage/81/build-log.txt in #1902

[2019-08-30 13:51] m1kola commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1902/pull-ci-azure-master-upgrade-v7.0/174/build-log.txt in #1902

[2019-08-30 13:56] m1kola opened #1903 "Connection reset by peer on scale down"
[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1902/pull-ci-azure-master-upgrade-v6.0/185/build-log.txt in #1902

/kind test-flake

[2019-08-30 15:33] kwoodson commented on #1862
Testing slack integration

[2019-09-03 16:49] ehashman commented on #552
/priority important-soon

[2019-09-03 16:50] ehashman commented on #1438
/priority important-soon

[2019-09-03 16:51] ehashman commented on #1628
/priority important-soon

[2019-09-03 18:17] ehashman commented on #1481
/priority important-longterm

[2019-09-03 18:19] ehashman commented on #1771
#1448 may be related?

[2019-09-03 18:22] ehashman commented on #1410
/priority important-soon

[2019-09-03 18:23] ehashman commented on #661
/priority important-longterm

[2019-09-04 23:49] #1862 closed

[2019-09-10 01:06] asalkeld commented on #1607
This still needs to support the following:

Detect the change and make the required changes

    MasterServicePrincipalProfile
    WorkerServicePrincipalProfile

/remove-lifecycle stale

[2019-09-10 15:45] kwoodson opened #1932 "Directory_ResourceSizeExceeded the size of the object has exceeded its limit"
Error while attempting to run `test e2e_create` on #1925
[code]

[2019-09-10 17:08] Makdaam commented on #1932
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1926/pull-ci-azure-master-e2e-create/1029 on #1926

[2019-09-10 17:09] Makdaam commented on #1932
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1926/pull-ci-azure-master-upgrade-v7.0/230 on #1926 in australiasoutheast

[2019-09-10 17:33] Makdaam commented on #1932
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1926/pull-ci-azure-master-e2e-create/1035 and https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1926/pull-ci-azure-master-upgrade-v7.0/236

[2019-09-10 17:57] kwoodson commented on #1932
We need to look at this:
[code]

[2019-09-10 20:11] jim-minter commented on #1932
Looking at the AAD audit logs.  This suddenly started failing from 10:23:30 AM (central) today.  It's mostly failing but occasionally succeeding.  I can't see anything wrong with the object in question,
aro-ci-aad-shared.  Going to open a support case with MSFT.

[2019-09-10 20:30] jim-minter commented on #1932
Supposedly opened support ticket but got "We are experiencing a problem with our support system. Azure support has received your support request and a support engineer will contact you."

Have created a new app aro-ci-aad-shared-2 and updated the CI secret to see if that is a workaround.

[2019-09-11 00:13] ehashman opened #1933 "Cluster creation on v4.3 fails in australiasoutheast"
/kind flake

Attempted to run this locally and it failed.

[code]

[2019-09-11 10:46] charlesakalugwu commented on #1932
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1881/pull-ci-azure-master-upgrade-v7.0/232/build-log.txt in #1881

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1881/pull-ci-azure-master-e2e-create/1031/build-log.txt in #1881

[2019-09-11 16:50] thekad commented on #1446
/close
created a story for prioritization

[2019-09-11 16:50] #1446 closed

[2019-09-11 17:24] ehashman opened #1936 "Cluster upgrade flake: fails to drain infra/compute nodes"
Saw this twice trying to upgrade a 4.3 cluster to 7.1-rc:

[code]

[code]

I added some debugging statements to

https://github.com/openshift/openshift-azure/blob/f5f218f63125ccb4e56762cb88aeae5775904af4/pkg/cluster/kubeclient/drain.go#L44-L55

This succeeded on my third attempt to upgrade the cluster, after a couple retries attempting to mark the node unschedulable:

[code]

/kind flake

[2019-09-11 17:35] ehashman commented on #1570
This is covered by Mikalai's work in [AZURE-326](https://jira.coreos.com/browse/AZURE-326) I think.

[2019-09-11 17:35] #1570 closed

[2019-09-17 20:04] charlesakalugwu commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1947/pull-ci-azure-master-upgrade-v7.1/31/build-log.txt in #1947

[2019-09-18 19:08] jim-minter opened #1952 "Use iptables to restrict access to worker kubelet read-only port"
(follow up from #1931)

AFAICS, end-user compute workload is able to read from the kubelet r/o port of the node it is running on.  This should be prevented.

[code]

^ I would expect to see curl report `Connection refused` or to hang here.

Please additionally implement an e2e test to ensure this functionality is correct going forwards.

[2019-09-18 19:09] jim-minter commented on #1952
/cc @ehashman

[2019-09-18 20:30] ehashman commented on #1952
/kind bug

[2019-09-19 15:09] openshift-azure-robot opened #1958 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed.  Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/148)<br/><br/>test

[2019-09-19 15:10] #1958 closed

[2019-09-19 17:42] openshift-azure-robot opened #1960 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/148)<br/><br/>test<br/><br/>@openshift/sig-azure

[2019-09-19 17:44] kwoodson commented on #1960
Testing pr #1959

[2019-09-19 17:44] #1960 closed

[2019-09-19 22:56] asalkeld commented on #1410
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1914/pull-ci-azure-master-upgrade-v7.1/54

[2019-09-20 14:45] thekad commented on #1903
Seen in https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1951/pull-ci-azure-master-upgrade-v7.0/345/build-log.txt

[2019-09-20 14:45] thekad commented on #1438
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1951/pull-ci-azure-master-e2e-create/1144/build-log.txt

[2019-09-20 15:56] openshift-azure-robot opened #1961 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/1)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-09-20 16:11] m1kola commented on #1961
@kwoodson look! Notifications work :)

P.S: I'll look into why the build fails on Monday.

[2019-09-20 16:12] m1kola commented on #1961
/assign

[2019-09-20 18:44] kwoodson commented on #1961
[code]

[2019-09-22 11:43] charlesakalugwu commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1957/pull-ci-azure-master-e2e-create/1154/build-log.txt in #1957

This one seems to have been caused by inability to pull from the redhat registry. See [build-django-psql-persistent-1.log](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1957/pull-ci-azure-master-e2e-create/1154

[2019-09-22 13:05] charlesakalugwu commented on #1628
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1957/pull-ci-azure-master-upgrade-v7.1/72 in #1957

Here I was able to verify locally that the resource group in question `ci-1957-e2e-upgrade-hdybmx` exists and is successfully provisioned.
[code]

It might be worth adding a check in `fakerp.EnsureResourceGroup` to ensure that the group's `properties.

[2019-09-22 17:36] charlesakalugwu commented on #1778
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1963/pull-ci-azure-master-e2e-create/1156/build-log.txt in #1963

Here, a configmap had to be updated
[code]

[2019-09-22 17:38] charlesakalugwu commented on #1297
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1963/pull-ci-azure-master-upgrade-v7.1/73/build-log.txt in #1963

[2019-09-23 09:42] charlesakalugwu commented on #1778
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1950/pull-ci-azure-master-e2e-create/1164/build-log.txt in #1963

another update of `extension-apiserver-authentication`

[2019-09-23 09:45] charlesakalugwu commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1950/pull-ci-azure-master-upgrade-v7.1/82/build-log.txt in #1950

[2019-09-23 15:33] m1kola commented on #1961
The `cat` issue was fixed in #1964.

The job will continue to fail due to the fact that we need to update the vmimage.

/unassign
/meow

[2019-09-25 18:17] ehashman commented on #1297
/reopen

[2019-09-25 19:01] jim-minter opened #1975 "monitoring workspace key not in secret"
https://github.com/openshift/openshift-azure/pull/1812/files#diff-30ed770edf86ff1b12ea9fcd03fe0635R325-R328 is incorrect: the key should be written into a secret and read in the daemonset using valueFrom / secretKeyRef.

Please fix as a priority.

cc @ehashman

[2019-09-25 21:12] ehashman commented on #1617
Dupe of #1628. Closing

[2019-09-25 21:12] #1617 closed

[2019-09-25 23:11] openshift-azure-robot opened #1976 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/157)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-09-25 23:17] ehashman commented on #1975
/priority important-soon

[2019-09-25 23:57] asalkeld commented on #1975
I'll work on this

[2019-09-26 05:52] asalkeld commented on #1438
may of these are of the following pattern

[code]
The above changes the image of the console deployment, and should cause it to restart. we then do "validateCluster" - which is rather excessive, but the normal failure is
[code]
which is unsuprising as it is restarting. I'll do the following:
1. make a more focused test
2. wait longer for the console to be available.

/assign

[2019-09-26 14:03] kwoodson commented on #1976
It appears that this was a flake:
[code]

[2019-09-26 21:35] ehashman commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1901/pull-ci-azure-master-upgrade-v7.1/115/build-log.txt #1901

[2019-09-26 23:03] ehashman commented on #1976
This is timing out on a bad community EPEL mirror, is it possible we can find a more reliable one?

[2019-09-27 04:38] asalkeld commented on #1775
scaling ss-infra-1569551297 capacity up from 2 to 3

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1977/pull-ci-azure-master-upgrade-v7.1/124

[2019-09-27 06:39] asalkeld commented on #1631
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1977/pull-ci-azure-master-upgrade-v9.0/42

[2019-09-27 15:58] #1961 closed

[2019-09-27 23:28] #1976 closed

[2019-09-28 16:44] mjudeikis commented on #1657
/remove-lifecycle stale

[2019-09-28 16:44] #1648 closed

[2019-09-28 16:44] mjudeikis commented on #1598
/remove-lifecycle stale

[2019-09-28 16:45] mjudeikis commented on #1461
/remove-lifecycle stale

[2019-09-28 16:45] mjudeikis commented on #1577
/remove-lifecycle stale

[2019-09-28 16:45] #1460 closed

[2019-09-30 22:20] #1975 closed

[2019-10-03 00:45] asalkeld commented on #552
So looking into these a bit more: ( @jim-minter )

1. master-00000 dns lookup issue
https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1812/pull-ci-azure-master-upgrade-v5.2/387/artifacts/ and https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1856/pull-ci-azure-master-upgrade-v5.2/449/artifacts/

master-00

[2019-10-03 16:04] openshift-azure-robot opened #1986 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/14)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-10-04 09:25] m1kola commented on #1986
/assign

[2019-10-04 14:07] m1kola commented on #1986
`311.146.20191004` is going through the publishing process at the moment. Once publsiged, this alert should be resolved.

[2019-10-05 16:04] #1986 closed

[2019-10-07 10:15] m1kola commented on #1986
/unassign

[2019-10-08 02:26] asalkeld commented on #1936
/kind test-flake

[2019-10-08 02:26] asalkeld commented on #1933
/kind test-flake

[2019-10-09 21:44] julienstroheker opened #1992 "Private Cluster - Master NSG allowing all connections on 443"
Since we are implementing private cluster with private link was thinking we can reduce the scope of the current `nsg-master` rule `allow_https`.

Currently, this rule allowing `0.0.0.0/0` on `443`, a first iteration could be to block internet connection and only allowing vnet connections using service tag.

I did a test from BBM using Private Link and this is working fine.

Was thinking it is wort

[2019-10-09 23:31] asalkeld opened #1993 "Azure Monitoring gaps"
- [x]   The value of the ClusterId field in all ContainerInsights Kube* tables should be fully qualified azure resource id of the Azure Redhat OpenShift cluster resource

Expected : ```/subscriptions/<subId>/resourceGroups/<resourceGroupName>/providers/Microsoft.ContainerService/openShiftManagedClusters/<clusterName>```
Current :  clusterName
Example: jaqiuncytest-18

- [x] The value of _ResourceI

[2019-10-09 23:31] asalkeld commented on #1993
/assign

[2019-10-10 20:22] ehashman commented on #1442
/reopen

[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1995/pull-ci-azure-master-upgrade-v7.1/198/build-log.txt #1995

[2019-10-10 21:01] ehashman commented on #1571
We confirmed that this only affects development clusters and not production. It might be worth adding some validation to the makefile to ensure dev clusters don't have uppercase letters in their resource group names, but it's not high priority.

[2019-10-10 21:01] ehashman commented on #1577
/lifecycle frozen

[2019-10-10 21:02] ehashman commented on #1598
/kind cleanup

[2019-10-10 21:42] ehashman commented on #1992
/cc @asalkeld

[2019-10-11 02:03] asalkeld commented on #1992
/assign

[2019-10-14 21:30] ehashman commented on #1515
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1997/pull-ci-azure-release-v10-e2e-scaleupdown-v9.0/1/build-log.txt #1997

[2019-10-15 07:14] asalkeld commented on #1778
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1998/pull-ci-azure-master-e2e-create-20190930/19

"Update ConfigMap/kube-system/extension-apiserver-authentication"
"Update ClusterRole.rbac.authorization.k8s.io/system:registry"

[2019-10-15 07:18] asalkeld commented on #1481
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1998/pull-ci-azure-master-upgrade-v9.0/123

[2019-10-16 16:12] openshift-azure-robot opened #2003 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/27)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-10-17 09:15] Makdaam commented on #552
Another flake, deadline exceeded when creating ss-compute.
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2005/pull-ci-azure-release-v10-e2e-scaleupdown-v7.1/2

[2019-10-17 09:21] Makdaam opened #2007 "Test stuck waiting for RG."
No build log messages after
```time="2019-10-17T02:10:24Z" level=info msg="starting server on localhost:8080" func="github.com/openshift/openshift-azure/pkg/fakerp.(*Server).Run" file="/tmp/tmp.DWvaTinpnv/src/github.com/openshift/openshift-azure/pkg/fakerp/server.go:69"```

Just information about test timeout.

Region australiasoutheast

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr

[2019-10-17 09:22] Makdaam commented on #2007
The test was waiting for resource group creation.

[2019-10-17 16:09] m1kola commented on #1442
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2009/pull-ci-azure-master-upgrade-v7.1/229/build-log.txt in #2009

[2019-10-17 23:05] openshift-azure-robot opened #2013 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/179)<br/><br/>Phase: image_cluster_build<br/><br/>@openshift/sig-azure

[2019-10-18 15:38] m1kola commented on #2013
This should be fixed now: see #2009

[2019-10-18 15:39] m1kola commented on #2003
This should be resolved now as a new vm image got published.

[2019-10-18 15:43] m1kola commented on #1932
/kind flake

[2019-10-18 15:57] m1kola commented on #1932
/remove-kind flake
/kind test-flake

[2019-10-18 17:33] ehashman commented on #1696
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2019/pull-ci-azure-release-v10-e2e-scaleupdown-v7.1/7/build-log.txt #2019

/remove-lifecycle rotten

[2019-10-18 17:40] ehashman opened #2020 ""The resource group is in deprovisioning state" CI failure"
[code]

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2014/pull-ci-azure-master-upgrade-v10.0/43

/kind test-flake

[2019-10-18 17:51] ehashman commented on #2003
[code]

I'll handle this one, will need a container image update also.

[2019-10-18 17:57] m1kola commented on #2003
Yes, it's a new failure. Thanks.

/assign @ehashman

[2019-10-18 17:59] m1kola commented on #2013
`make vmimage` build also runs validation. There a new issue related to validation, so now it should start failing for a new reason (on the validation step). See: https://github.com/openshift/openshift-azure/issues/2003#issuecomment-543859959

[2019-10-18 18:00] m1kola commented on #2013
No, ignore the above. Should not fail on a new vm image.

[2019-10-18 18:16] ehashman commented on #1442
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2019/pull-ci-azure-release-v10-upgrade-v9.0/8/build-log.txt #2019

[2019-10-18 23:38] ehashman commented on #2003
[code]

[2019-10-21 16:13] #2003 closed

[2019-10-21 17:24] julienstroheker opened #2024 "Private Cluster - Public API"
Proposing to add a **NEW** field named `APIServerProperties` into the existing `MasterPoolProfile`.

Having a new dedicated structure for all current and future API customizations will help to be more flexible and not overload the existing properties struct.

[code]

[2019-10-21 17:25] julienstroheker commented on #2024
cc @asalkeld @ehashman @jim-minter

[2019-10-21 17:56] ehashman commented on #2024
/assign @asalkeld

[2019-10-21 22:15] asalkeld commented on #2024
Hi @julienstroheker that seems fine to me. I should be able to this soon.

[2019-10-21 23:13] ehashman commented on #2013
This failed because the VM image is not available in the region that the test cluster was scaled up in. Do we need to make an update to ensure that the `AZURE_REGIONS` are pinned correctly so the image can be located for testing?

[2019-10-22 06:14] asalkeld opened #2025 "update the azure monitoring agent"
There is a new version of the agent https://github.com/microsoft/OMS-docker/blob/ci_feature_prod/Kubernetes/omsagent.yaml.

/assign
/cc @ehashman

[2019-10-22 21:16] jim-minter commented on #2024
@julienstroheker how does vanityDomain differ from properties.fqdn ? I thought we were originally intending that the end user could set properties.fqdn with their wished for vanity domain?

[2019-10-22 22:40] julienstroheker commented on #2024
@jim-minter my bad, you are right!

This was more to show that `APIProperties` can be extended later on.

`VanityDomain` came from our old discussions when we were designing the TLS Work, FQDN should be the way to go.

Thanks

[2019-10-22 23:42] #2013 closed

[2019-10-23 18:45] thekad opened #2032 "EtcdBackup RoundTripper timer expired"
So far this only appears in CI e.g. https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2021/pull-ci-azure-master-upgrade-v10.0/86
Suspect this may have been surfaced by https://github.com/openshift/openshift-azure/pull/2015/files (problem most likely was there but masked)

/kind test-flake

[2019-10-23 19:57] thekad commented on #2032
testing this manually in a test cluster doesn't exhibit the same symptoms, going to bring cluster up in a different region.

[2019-10-23 21:50] ehashman commented on #2032
/priority important-soon

[2019-10-23 22:06] ehashman commented on #1715
/remove-lifecycle rotten

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2026/pull-ci-azure-master-e2e-create-20191027-private/3 #2026

[2019-10-23 22:39] asalkeld commented on #2032
For the last 2 days this has only failed.(before then it was working)

What this test does is check out v10.0, create a cluster, run e2e - it fails when an e2e test fails whilst doing an update.
1. it's not a recent code change in the openshift-azure code base as it's the same commit
2. because of the above, it can only be something within CI or Azure
[code]

[2019-10-23 23:32] openshift-azure-robot opened #2033 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/185)<br/><br/>Phase: image_cluster_build<br/><br/>@openshift/sig-azure

[2019-10-23 23:38] asalkeld commented on #1715
@ehashman i think the above failure needs a new issue. it is privatelink deployment failing, and it's happening on my laptop too.

[2019-10-23 23:44] asalkeld opened #2034 "PLS deployment failing with InternalServerError Code Conflict"
separating out an issue from https://github.com/openshift/openshift-azure/issues/1715 because I think it's different.
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2026/pull-ci-azure-master-e2e-create-20191027-private/3

[code]

[2019-10-23 23:44] asalkeld commented on #2034
/kind test-flake

[2019-10-24 00:40] asalkeld opened #2035 "master-e2e-create-20190430 is broken"
The error is:
[code]

[2019-10-24 00:43] asalkeld commented on #2035
/assign

[2019-10-24 01:33] asalkeld commented on #2032
https://prow.svc.ci.openshift.org/job-history/origin-ci-test/pr-logs/directory/pull-ci-azure-master-upgrade-v10.0

[2019-10-24 01:44] asalkeld commented on #2032
OK, so all the above failed tests that I checked have the following error
[code]
The issue for this is here: https://github.com/openshift/openshift-azure/issues/2034
This is confused because the code does not stop with the error, but continues, because
that branch does not have this fix: https://github.com/openshift/openshift-azure/commit/58fc84cb7b8753c14e17da9d1498662ac63a26c5

[2019-10-24 01:57] asalkeld commented on #1870
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2036/pull-ci-azure-master-e2e-create-20190430/3
(eastus region)

[2019-10-24 02:12] asalkeld commented on #2032
Just to expain: we get the roundtripper error because we are trying to use "proxy -> privatelink -> api" but the privatelink setup failed so we get a timeout.

[2019-10-24 02:19] asalkeld commented on #1870
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2030/pull-ci-azure-master-upgrade-v9.0/190

[2019-10-24 02:23] asalkeld commented on #2035
/kind priority/critical-urgent

[2019-10-24 02:25] asalkeld commented on #2035
/priority critical-urgent

[2019-10-24 02:25] asalkeld commented on #2034
/priority critical-urgent

[2019-10-24 14:38] #2035 closed

[2019-10-24 16:39] ehashman commented on #2033
Image was generated in eastus, attempted to test in australiasoutheast and the image was not found. We should be pinning to the same region... this is a real bug.

Let's take the output from the image generation and export `AZURE_REGIONS`?

[2019-10-24 16:39] ehashman commented on #1715
++, thanks @asalkeld

[2019-10-24 23:23] thekad opened #2039 "Can't access *real* private RH registry images"
There is an E2E test that pulls an image from registry.redhat.io and spins up a deployment. This succeeds but this (redis) image can apparently be downloaded without any authentication (like quite a few of the images in the registry). Trying an image that does not support unauthenticated pulling (e.g. rocket chat) fails.
Need to a) make the e2e point to a real private image and b) fix it to pull t

[2019-10-24 23:23] thekad commented on #2039
/assign
/kind bug

[2019-10-24 23:29] thekad commented on #2039
The documentation https://docs.openshift.com/aro/architecture/infrastructure_components/image_registry.html#authentication seems to be a copy-paste from openshift dedicated, the docs do not match our setup.
Additionally, @jim-minter I believe the goal in ARO was to avoid the setup described in those docs and let clusters be able to transparently pull _any_ image from the RH registry, is my recolle

[2019-10-24 23:49] ehashman commented on #2033
/assign @olga-mir

Olga can you take a look into implementing the fix above? You should be able to get the region in the JSON output by

https://github.com/openshift/openshift-azure/blob/c736c4cd3e456aac70a3d325ae42f1e7341aea01/hack/vmimage.sh#L29

and then just add a line pinning `AZURE_REGIONS` for the rest of the script.

Makefile target for this is `make vmimage`

[2019-10-24 23:51] ehashman commented on #2033
Actually, we could probably go even simpler than this---the default image resource group is in `eastus`, so we could probably just default to that (ensuring that it's still overrideable in case of zone outages).

[2019-10-25 00:55] ehashman commented on #1932
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2026/pull-ci-azure-master-upgrade-v10.1.1/13/build-log.txt #2026

[2019-10-25 00:56] ehashman commented on #1932
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2031/pull-ci-azure-master-upgrade-v10.1.1/11/build-log.txt #2031

[2019-10-25 00:57] ehashman commented on #1932
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2021/pull-ci-azure-master-upgrade-v10.1.1/12/build-log.txt #2021

[2019-10-25 09:22] #2024 closed

[2019-10-25 15:15] jim-minter commented on #2039
@thekad please paste the full docker link to the image

[2019-10-25 15:16] thekad commented on #2039
https://access.redhat.com/containers/?tab=images#/registry.connect.redhat.com/rocketchat/rocketchat-apb

[2019-10-25 15:18] jim-minter commented on #2039
registry.connect.redhat.com is a registry I have never heard of - we will not have creds for this baked into the VM

[2019-10-25 15:18] jim-minter commented on #2039
don't know if we should or not

[2019-10-25 15:24] thekad commented on #2039
oh! I mistook it for an alias for registry.redhat.io then. Interestingly, *most* of the images there match the namespaces in registry.redhat.io so that just added to the confusion (I could e.g. `docker pull registry.redhat.io/ansible-tower-34/ansible-tower` which appears in that same registry)

[2019-10-25 16:15] openshift-azure-robot opened #2040 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/36)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-10-25 17:11] ehashman commented on #2040
[code]

Will need to roll a new image with the `sudo` patch.

[2019-10-25 17:15] ehashman commented on #1932
This has been affecting almost every single one of our upgrade PRs in the past two days.

[2019-10-25 17:21] ehashman commented on #1932
https://prow.svc.ci.openshift.org/job-history/origin-ci-test/pr-logs/directory/pull-ci-azure-master-upgrade-v9.0
https://prow.svc.ci.openshift.org/job-history/origin-ci-test/pr-logs/directory/pull-ci-azure-master-upgrade-v10.1.1

I'll paste a smattering of requestIds for assistance in troubleshooting:

[code]

[2019-10-27 00:08] #2033 closed

[2019-10-27 23:21] openshift-azure-robot opened #2041 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/189)<br/><br/>Phase: image_cluster_build<br/><br/>@openshift/sig-azure

[2019-10-29 18:29] ehashman commented on #1932
/priority critical-urgent

[2019-10-30 02:52] asalkeld commented on #661
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2044/pull-ci-azure-master-upgrade-v7.1/313

[2019-10-31 00:19] #2041 closed

[2019-10-31 22:45] thekad commented on #1447
/remove-lifecycle stale

[2019-10-31 22:46] thekad commented on #1447
/remove-lifecycle rotten

[2019-10-31 23:44] ehashman commented on #2040
Let's hold off on fixing this until v11 is released.

[2019-10-31 23:44] ehashman commented on #2034
Was this fixed on the MS side?

[2019-10-31 23:49] ehashman commented on #1628
Just saw this again: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2031/pull-ci-azure-master-upgrade-v7.1/329/build-log.txt

I don't think this is fully fixed.

[2019-10-31 23:51] ehashman commented on #1077
Seen this twice now on #2031:

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2031/pull-ci-azure-master-upgrade-v10.1.1/63/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2031/pull-ci-azure-master-e2e-create-20190430/63/build-log.txt

[2019-11-01 01:31] asalkeld commented on #2025
/unassign

[2019-11-01 01:52] asalkeld commented on #1628
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2001/pull-ci-azure-master-upgrade-v7.1/330

[2019-11-01 01:53] asalkeld commented on #2034
They are rolling the fix out now, I'll close.
/close

[2019-11-01 01:53] #2034 closed

[2019-11-04 23:05] asalkeld commented on #1515
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2055/pull-ci-azure-release-v11-e2e-scaleupdown-v9.0/1

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2055/pull-ci-azure-release-v11-e2e-scaleupdown-v7.1/1

[2019-11-05 17:18] #371 closed

[2019-11-05 17:18] #1347 closed

[2019-11-05 17:18] #1280 closed

[2019-11-05 17:18] #1416 closed

[2019-11-05 17:18] #1445 closed

[2019-11-05 17:18] #1097 closed

[2019-11-05 17:18] #1420 closed

[2019-11-05 17:18] #1444 closed

[2019-11-05 23:19] #1395 closed

[2019-11-05 23:19] #1523 closed

[2019-11-05 23:19] #1532 closed

[2019-11-05 23:19] #1533 closed

[2019-11-05 23:19] #1540 closed

[2019-11-05 23:19] #1448 closed

[2019-11-05 23:19] #1561 closed

[2019-11-05 23:19] #1550 closed

[2019-11-06 05:20] #1678 closed

[2019-11-06 05:20] #1684 closed

[2019-11-06 05:20] #1336 closed

[2019-11-06 11:21] #1700 closed

[2019-11-06 22:58] openshift-azure-robot opened #2059 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/199)<br/><br/>Phase: image_build<br/><br/>@openshift/sig-azure

[2019-11-08 05:47] olga-mir commented on #2025
/assign

we have upgraded to version `ciprod10182019`, but a newer `ciprod11012019` is available and we should upgrade

[2019-11-08 11:51] Makdaam opened #2061 "Retrying Roundtripper data race"
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2023/pull-ci-azure-master-e2e-create-20190430/107#1:build-log.txt%3A371

Setting up cancel channel should probably happen outside the retry loop. I will investigate.

Data race is triggered when the request is cancelled.

[2019-11-09 00:12] #2059 closed

[2019-11-09 23:30] #1571 closed

[2019-11-10 23:34] #1544 closed

[2019-11-11 16:35] ehashman commented on #2040
Still need an updated image with sudo patch. @m1kola @kwoodson do either of you wanna build a new image?

[2019-11-11 16:35] m1kola commented on #2040
I can do that tomorrow in the morning

[2019-11-12 15:16] m1kola commented on #2040
PR for this: https://github.com/openshift/openshift-azure/pull/2067.

Image needs to be published first.

[2019-11-12 15:37] kwoodson commented on #2040
Kicked off image publish

[2019-11-14 10:04] Makdaam opened #2078 "Create an e2e test for attaching to privileged containers"
After merging #2023 customers will be able to create privileged containers.
Add an e2e which verifies that a customer level account can't attach to a privileged container (oc rsh etc.).

[2019-11-15 13:44] Makdaam opened #2083 "Modify Admission Controller to get information about SCCs from the sync pod /data"
https://github.com/openshift/openshift-azure/pull/2023#discussion_r344306535

Instead of a static struct with protected SCCs the Admission controller should:
1. figure out which plugin version is appropriate
2. load the correct sync/vXX
3. get SCC information from the sync DB

/assign

[2019-11-17 00:15] openshift-azure-robot opened #2084 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/209)<br/><br/>Phase: image_tag<br/><br/>@openshift/sig-azure

[2019-11-17 02:00] kwoodson commented on #2084
Flake. Looks like networking was lost for the tagging stage.
[code]

[2019-11-18 00:43] #2084 closed

[2019-11-18 18:37] julienstroheker opened #2086 "Can `GetPrivateAPIServerIPAddress` be run part as the GenerateConfig plugin function ?"
Today `GetPrivateAPIServerIPAddress` is a helper function that needs to be called from the RP.

Since the IP is set during the ARM template generation by the plugin and not really needed in the RP, this can be called automatically as part of the `GenerateConfig` function.

Thanks

[2019-11-18 22:04] julienstroheker opened #2087 "Function Validate on plugin expecting FQDN to be set when externalOnly is false"
Validate function expecting `FQDN` to be set when `externalOnly` = `false`

https://github.com/openshift/openshift-azure/blob/e075d6d86b2a8fbe364e875f58168702eef0bb8a/pkg/api/plugin.go#L108

Since this `validate` function is called in the frontend of the RP, and FQDN is been set later in the process (in the async operation) this function is returning a validation error.

[2019-11-20 01:08] julienstroheker commented on #2087
related to #2086

[2019-11-20 03:21] asalkeld commented on #2086
Hi @julienstroheker

Can you look at this: https://github.com/openshift/openshift-azure/blob/master/pkg/fakerp/fakerp.go#L204-L287
In the above the order is :
Validate()
stuff...
Validate()
GenerateConfig()
If we move this to GenerateConfig() it will never get validated. That *might* be ok as we are generating the IP, but I think it is sub-optimal. wdt @jim-minter ?

[2019-11-20 17:34] julienstroheker opened #2092 "PUT Admin UTs failing in RP when RefreshCluster=false"
Running ValidateAdmin in our Unit test with `RefreshCluster=false` is failing with `azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request...`

Looks like `checkIfClusterWillRefresh` function is running `GetNameserversFromVnet` using authorizer passed via context.

https://github.com/openshift/openshift-azure/blob/4a9c38ea84b37c7762981653cdecae3b81a62c33/pkg/plugin/plugi

[2019-11-20 21:49] jim-minter commented on #2086
@asalkeld Just spoken to Julien -
The IP won't be used on the front end.
On the backend, validate(false) is called, then generateconfig().
Looking at your PR now.

[2019-11-21 00:08] olga-mir commented on #2025
This is delivered now.
https://github.com/openshift/openshift-azure/pull/2052
https://github.com/openshift/openshift-azure/pull/2077

/close

[2019-11-21 00:08] #2025 closed

[2019-11-21 04:39] #2086 closed

[2019-11-21 05:00] asalkeld commented on #2092
Hi @julienstroheker

It depends what you are trying to test. We do this in 2 places:
In plugin_test.go look at https://github.com/openshift/openshift-azure/blob/master/pkg/plugin/plugin_test.go#L402-L546
in the above we are using the mock updater.
Hard to know how to help without seeing your code, but that would if you are testing validation.

[2019-11-21 16:32] #2040 closed

[2019-11-22 04:33] asalkeld commented on #2087
/close

[2019-11-22 04:33] #2087 closed

[2019-11-22 16:25] openshift-azure-robot opened #2097 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/64)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-11-22 17:19] kwoodson commented on #2097
Unsure what this means:
[code]

@m1kola any ideas?

[2019-11-22 17:49] m1kola commented on #2097
@kwoodson I was doing `make vmimage` on my machine at about the same time. My guess is that they conflicted somehow.

[2019-11-23 16:36] #2097 closed

[2019-11-26 16:34] openshift-azure-robot opened #2105 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/68)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-11-27 00:17] openshift-azure-robot opened #2106 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/219)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-11-27 17:48] ehashman commented on #2105
@jim-minter @kwoodson if we're moving to the new image publishing tenant, does this mean we'll need to update this job to ensure the latest image build gets picked up?

[2019-11-27 17:50] ehashman commented on #2106
[code]

Definitely in the same region, this seems a bit flaky.

[2019-11-27 17:52] ehashman commented on #1624
We've remove the realRP tests so this can just be closed as out of scope.

[2019-11-27 17:52] #1624 closed

[2019-11-27 17:56] ehashman commented on #1823
@amanohar given that this issue is 3.11-specific and we're basically done with feature dev for 3.x, should we close this?

[2019-11-27 20:06] jim-minter commented on #2105
Yes - thanks - see https://github.com/openshift/release/pull/6140

[2019-11-28 00:07] ehashman commented on #1778
Seeing        time="2019-11-27T19:49:05Z" level=info msg="Update ConfigMap/kube-system/extension-apiserver-authentication"  again

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2109/pull-ci-azure-master-e2e-create-20190430/236/build-log.txt #2109
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2107/pull-ci-azure-master-e2e

[2019-11-28 00:09] olga-mir commented on #2106
it is the same Azure region for image build and for cluster create, but this is failing on nic not found error, which was observed some time ago and still happens occasionally in vimimage periodic test: https://github.com/openshift/openshift-azure/issues/1976

[2019-11-28 00:27] #2106 closed

[2019-11-28 12:25] #1759 closed

[2019-12-01 00:15] openshift-azure-robot opened #2115 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/223)<br/><br/>Phase: image_e2e<br/><br/>@openshift/sig-azure

[2019-12-01 18:37] #1780 closed

[2019-12-02 00:27] #2115 closed

[2019-12-04 20:47] ehashman opened #2117 "Storage account not found"
/kind test-flake

[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2116/pull-ci-azure-master-e2e-create-20191027-private/169/build-log.txt #2116

[2019-12-04 20:50] ehashman commented on #2117
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2116/pull-ci-azure-master-e2e-create-20191027-public/252/build-log.txt #2116

[2019-12-04 20:53] ehashman opened #2118 "Privileged container test flaking between versions"
Upgrade 7.1 test failing with:

[code]

Not sure if this is specific to an old version upgrade? I've only seen one instance of the failure.

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2116/pull-ci-azure-master-upgrade-v7.1/537/build-log.txt #2116

/kind test-flake
/assign @Makdaam

[2019-12-04 20:54] ehashman commented on #2117
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2116/pull-ci-azure-master-e2e-create-20191027-public/252/build-log.txt #2116

[2019-12-04 22:58] ehashman commented on #2105
/assign

Built new image today with patches (`rhel7-3.11-201912041721`), going to publish now.

[2019-12-05 00:43] asalkeld opened #2119 "Move log-analytics deployment from infra to compute"
https://github.com/openshift/openshift-azure/blob/master/pkg/sync/v14/data/Deployment.apps/openshift-azure-logging/log-analytics-cluster-agent.yaml#L90

/assign @olga-mir

This is so that the node agent can monitor the cluster-agent

[2019-12-05 00:50] ehashman commented on #2105
Smashed publish, should show up eventually:

[code]

[2019-12-05 02:04] pnasrat opened #2120 "Binary builds fail to build post v12.1"
Not sure if this is working as intendend but with `master` but appears to be a regression

Steps to reproduce

1. Create and login to a cluster using `make create` and copy login command and run in terminal
2. `oc new-project load-test`
3. `oc new-build --strategy docker --binary --docker-image fedora:31 --name pnasrat-load`

Create a Dockerfile that uses `FROM fedora:31`

[code]

https://docs.ope

[2019-12-05 02:05] pnasrat commented on #2120
Created a second cluster using pluginconfig.yaml to override back to v12.1 and confirm was working

[code]

[2019-12-05 02:58] pnasrat commented on #2120
The error message and cancellation appears to be from an admission controller - I'm guessing `vendor/k8s.io/kubernetes/plugin/pkg/admission/exec/admission.go` from the error string but will look more tomorrow

[2019-12-05 03:40] olga-mir commented on #2120
can it be related to privileged container work that went in v13?
image needs to be whitelisted in order to be allowed: https://github.com/openshift/openshift-azure/blob/9a4a503c0af4bd3edcc1c39dfbaf099ecb04e4eb/pkg/startup/v13/data/master/etc/aro-admission-controller/aro-admission-controller.yaml

[2019-12-05 05:43] olga-mir commented on #2119
I've passed on a cluster for validation, once confirmed that it achieves the goal I'll put the PR up.

[2019-12-05 16:12] ehashman commented on #2120
/cc @Makdaam

[2019-12-05 16:41] #2105 closed

[2019-12-05 18:49] #1409 closed

[2019-12-06 09:03] olga-mir commented on #2119
PR has been merged
/close

[2019-12-06 09:03] #2119 closed

[2019-12-06 13:36] Makdaam commented on #2120
SO after spending some time on it: this is caused by the DenyEscalatingExec, because start-build tries to exec/attach to the build container. I'm trying to find a way to make it work.

[2019-12-06 16:13] ehashman opened #2126 ""Timeout: request did not complete within allowed duration" flake"
[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2123/pull-ci-azure-master-e2e-create-20191027-private/179/build-log.txt #2123

/kind test-flake

[2019-12-06 17:21] ehashman commented on #2118
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2122/pull-ci-azure-master-upgrade-v10.1.1/272/build-log.txt #2122

[2019-12-06 17:21] ehashman commented on #2126
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2122/pull-ci-azure-master-e2e-create-20191027-private/177/build-log.txt #2122

[2019-12-06 17:22] ehashman commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2122/pull-ci-azure-master-upgrade-v7.1/542/build-log.txt #2122

[2019-12-06 17:26] ehashman commented on #2126
#2121:
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2121/pull-ci-azure-master-e2e-create-20191027-private/184/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2121/pull-ci-azure-master-e2e-create-20191027-private/183/build-log.txt
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-

[2019-12-07 00:13] ehashman commented on #2126
#2123 https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2123/pull-ci-azure-master-e2e-create-20191027-private/190/build-log.txt

[2019-12-09 02:02] olga-mir commented on #2126
https://github.com/openshift/openshift-azure/pull/2099
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2099/pull-ci-azure-master-e2e-create-20191027-private/198

[2019-12-09 14:14] Makdaam commented on #2126
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2123/pull-ci-azure-master-e2e-create-20191027-private/201
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2123/pull-ci-azure-master-e2e-create-20191027-private/201/build-log.txt

[2019-12-09 20:19] ehashman commented on #2126
/priority important-soon

[2019-12-09 20:19] ehashman commented on #2120
/kind bug

[2019-12-10 12:50] Makdaam commented on #1775
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2128/pull-ci-azure-master-e2e-create-20191027-private/218

[2019-12-10 16:44] openshift-azure-robot opened #2130 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/82)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-12-10 17:27] ehashman commented on #2130
/assign

[2019-12-10 20:51] ehashman commented on #1696
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2123/pull-ci-azure-master-e2e-create-20191027-public/280/build-log.txt #2123

[2019-12-10 21:59] ehashman commented on #2130
Built new image `rhel7-3.11-201912101935` which should be tagged as valid as it passed e2e, will kick off a publish.

[2019-12-10 23:52] openshift-azure-robot opened #2132 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/233)<br/><br/>Phase: image_cluster_build<br/><br/>@openshift/sig-azure

[2019-12-11 00:22] olga-mir commented on #1778
[code]
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2129/pull-ci-azure-master-e2e-create-20191027-public/276/build-log.txt

[2019-12-11 00:25] olga-mir commented on #2126
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2129/pull-ci-azure-master-e2e-create-20191027-public/276/build-log.txt

[2019-12-11 13:02] Makdaam opened #2135 "readiness failed on DeploymentConfig"
/kind test-flake

During scale up/down readiness failed during sanity check
`time="2019-12-10T13:48:45Z" level=error msg="templateinstance e2e-test-h3dty/e2e-test-h3dty failed: Failed (readiness failed on DeploymentConfig e2e-test-h3dty/django-psql-persistent)" func="github.com/openshift/openshift-azure/test/e2e/standard.(*SanityChecker).CreateTestApp" file="/home/prow/go/src/github.com/openshift/

[2019-12-11 13:02] Makdaam commented on #2135
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2128/pull-ci-azure-master-e2e-create-20191027-private/220

[2019-12-11 16:30] ehashman opened #2136 ""failed to wait for default service account: timed out waiting for the condition" flake"
[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2128/pull-ci-azure-master-e2e-create-20191027-private/234/build-log.txt #2128
/kind test-flake

[2019-12-11 16:45] #2130 closed

[2019-12-12 00:38] #2132 closed

[2019-12-12 22:29] m1kola commented on #1628
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2101/pull-ci-azure-master-upgrade-v7.1/587/build-log.txt in https://github.com/openshift/openshift-azure/pull/2101

[2019-12-13 17:10] ehashman commented on #2126
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2142/pull-ci-azure-master-e2e-create-20191027-private/256/build-log.txt #2142

[2019-12-13 17:26] ehashman commented on #2126
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2141/pull-ci-azure-master-e2e-create-20191027-private/253/build-log.txt #2141

[2019-12-13 19:49] JackQuincy opened #2144 "Potential DNS mismatch between agent nodes"
After a DNS settings update on the vnet. The vms need to be restarted to take the update. A user can scale the cluster with out using refresh cluster. The new vm will have the new dns settings while the rest of the cluster will have the old settings. Creating potential for inconsistent behavior in apps depending on which node they land on. If the dns settings have changed. All scale operations sho

[2019-12-16 16:49] openshift-azure-robot opened #2151 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/88)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-12-16 18:20] ehashman commented on #2151
/assign

[2019-12-16 22:33] ehashman commented on #2144
/assign @asalkeld

[2019-12-17 20:08] ehashman commented on #2151
Built new image: `rhel7-3.11-201912171751`

Will kick off publication.

[2019-12-18 02:31] asalkeld commented on #2144
The reason for this is that this condition https://github.com/openshift/openshift-azure/blob/master/pkg/plugin/plugin.go#L81 is only hitting for admin updates and not user updates
[code]

The first validate
https://github.com/openshift/openshift-azure/blob/master/pkg/fakerp/fakerp.go#L204
The second validate
https://github.com/openshift/openshift-azure/blob/master/pkg/fakerp/fakerp.go#L273

I thin

[2019-12-18 16:52] #2151 closed

[2019-12-18 17:52] ehashman opened #2157 "Node metrics test flake"
[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2155/pull-ci-azure-master-upgrade-v12.2/141/build-log.txt #2155

/cc @olga-mir
/kind test-flake

I've seen this once or twice, don't think it's a critical flake, but I'm curious why these metrics from the master sometimes don't come up!

[2019-12-19 01:11] ehashman commented on #1481
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2154/pull-ci-azure-master-e2e-create-20191027-private/272/build-log.txt #2154

[2019-12-19 23:35] asalkeld commented on #2092
/close

[2019-12-19 23:35] #2092 closed

[2019-12-20 10:17] #2144 closed

[2019-12-21 04:09] #1695 closed

[2019-12-22 00:55] openshift-azure-robot opened #2161 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/244)<br/><br/>Phase: image_e2e<br/><br/>@openshift/sig-azure

[2019-12-23 00:58] #2161 closed

[2019-12-23 16:53] openshift-azure-robot opened #2163 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/95)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2019-12-24 16:56] #2163 closed

[2020-01-02 00:20] openshift-azure-robot opened #2164 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/255)<br/><br/>Phase: image_cluster_build<br/><br/>@openshift/sig-azure

[2020-01-03 01:04] #2164 closed

[2020-01-07 03:52] olga-mir commented on #1442
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2133/pull-ci-azure-master-upgrade-v10.1.1/356/build-log.txt

I've looked at a few logs linked in this issue and they are followed by the error logged here: https://github.com/openshift/openshift-azure/issues/1410
it's probably the same flake.

[2020-01-07 03:53] olga-mir commented on #1410
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2133/pull-ci-azure-master-upgrade-v10.1.1/356/build-log.txt

(also logged this failing test in https://github.com/openshift/openshift-azure/issues/1442)

[2020-01-07 03:57] olga-mir commented on #2126
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2133/pull-ci-azure-master-e2e-create-20191027-private/304/build-log.txt

[2020-01-07 04:00] olga-mir commented on #2136
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2133/pull-ci-azure-master-upgrade-v7.1/630/build-log.txt

[2020-01-07 04:28] olga-mir opened #2168 "create and validate a strimzi kafka cluster: timed out waiting for the condition"
[code]

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2133/pull-ci-azure-master-upgrade-v12.2/168/build-log.txt

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2133/pull-ci-azure-master-upgrade-v7.1/630/build-log.txt

/kind test-flake

[2020-01-07 20:54] ehashman commented on #1410
/remove lifecycle-stale

[2020-01-09 02:27] lee0c opened #2174 "Is it possible to build/test this as a non-AOS contributor?"
I'm attempting to test out the new metric server feature added by @olga-mir (thank you!) to check that it will meet a customer use case. Is it possible to use the scripts provided to test the current master branch? I'm running into issues and questions around the contents of secrets that are gained from the CI, and what some of the values in the env file that are normally set by the CI are.

If th

[2020-01-10 05:59] olga-mir commented on #2126
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2129/pull-ci-azure-master-e2e-create-20191027-private/228/build-log.txt

[2020-01-13 23:38] olga-mir commented on #2174
Hi @lee0c, there is no way to bypass the CI server access.
Is there a specific concern or question that I can help you with? Otherwise we would have to wait until the release.

[2020-01-13 23:38] olga-mir commented on #2174
/assign

[2020-01-14 03:11] olga-mir commented on #2157
/assign

Without logs it would be hard to tell. All 3 MetricsServer e2e tests have failed, so it is not master nodes only,  also metrics pods and all the nodes were not retrieved.

it is a 404 code, which means metrics-server itself was up and running, but it couldn't provide data. My first guess would be that these tests run too soon after all cluster nodes rotation and maybe metrics were not yet

[2020-01-14 18:01] openshift-azure-robot opened #2180 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/118)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2020-01-15 05:47] olga-mir commented on #2157
/assign

[2020-01-17 17:10] #2180 closed

[2020-01-19 11:58] #1620 closed

[2020-01-21 00:03] #1103 closed

[2020-01-21 00:03] #1061 closed

[2020-01-21 00:03] #1120 closed

[2020-01-21 00:03] #1145 closed

[2020-01-21 00:03] #1273 closed

[2020-01-21 17:55] lee0c commented on #2174
Hi @olga-mir, I was hoping to work with it early just to ensure that our team working with the customer would not run into any snags and could get going fast. We will just wait until release :) I'll close this issue.

[2020-01-21 17:55] #2174 closed

[2020-01-22 17:16] openshift-azure-robot opened #2195 "periodic-ci-azure-vmimage-validate-osa311-latest"
The periodic-ci-azure-vmimage-validate-osa311-latest build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage-validate-osa311-latest/126)<br/><br/>Phase: image_validation<br/><br/>@openshift/sig-azure

[2020-01-23 01:09] openshift-azure-robot opened #2196 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/276)<br/><br/>Phase: image_e2e<br/><br/>@openshift/sig-azure

[2020-01-23 12:09] #1803 closed

[2020-01-23 18:16] #1888 closed

[2020-01-27 00:22] #1823 closed

[2020-01-28 09:35] mjudeikis opened #2200 "Controller manager panic"
[code]

[2020-01-28 09:39] mjudeikis commented on #2200
This panic occurs only when ILB is created. It looks like a regression.
/cc @openshift/sig-azure @openshift/team-azure-committers

[2020-01-29 01:19] #2196 closed

[2020-01-30 05:33] #2200 closed

[2020-01-31 01:03] openshift-azure-robot opened #2205 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/284)<br/><br/>Phase: image_cluster_build<br/><br/>@openshift/sig-azure

[2020-02-01 00:38] #1771 closed

[2020-02-05 01:30] olga-mir commented on #2205
at least one of the failures is the "DNS" issue we started to see recently.
https://prow.svc.ci.openshift.org/log?id=289&job=periodic-ci-azure-vmimage
there are other jobs with other failures too.

For DNS one: purge job deletes DNS records from osadev.cloud zone every hour.

[code]

[code]

[2020-02-06 01:21] #2205 closed

[2020-02-07 01:25] JackQuincy opened #2211 "New AAD Applications failing validation due to not propagating yet"
New AAD Applications, like ones generated by our cli for the customer, are failing validation with errors like,
{
  "code": "BadRequest",​
  "message": "An error has occurred in subscription <sub-id>, resourceGroup:<rg> request: [invalid properties.authProfile.identityProviders[\"Azure AD\"]: could not authenticate: adal: Refresh request failed. Status Code = '400'. Response body: {\"error\":\"una

[2020-02-07 13:01] #1607 closed

[2020-02-07 23:55] ehashman commented on #2195
/assign

[2020-02-11 00:38] openshift-azure-robot opened #2214 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/295)<br/><br/>Phase: image_build<br/><br/>@openshift/sig-azure

[2020-02-13 01:11] olga-mir commented on #2214
all three have same error:
[code]
(I've clipped most of it and removed slash forest for redability)

There are couple issues in this repo mentioning CSE, but at a quick glance, not sure if it is related.

[2020-02-13 02:11] olga-mir commented on #2214
Scrolling up the error log I found this:

[code]

Most likely this is caused by this:
https://github.com/openshift/openshift-azure/pull/1990/files#diff-037e2465ca7d49e6da64f82bd06ca8e1R293

The timestamp when this PR has been merged and when the tests started to fail match.

@Makdaam can you please take a look?

[2020-02-13 02:11] olga-mir commented on #2214
/assign @Makdaam

[2020-02-13 15:08] Makdaam commented on #2214
Thanks @olga-mir and @kwoodson opened #2221 to address this issue.

[2020-02-15 01:29] #2214 closed

[2020-02-16 01:31] #1952 closed

[2020-02-17 19:38] #1903 closed

[2020-02-18 00:22] ehashman commented on #2120
Fixed in #2170.

[2020-02-18 00:35] asalkeld commented on #2211
is this something that needs to be in the plugin validation, RP or the cli?
cc @ehashman @jim-minter

[2020-02-18 19:15] ehashman opened #2234 "could not update aad app: ... One or more properties contains invalid values"
[code]

/kind bug

This appears to be cropping up all over CI. See #2231 #2233.

[2020-02-18 22:38] olga-mir commented on #2234
/assign

[2020-02-19 00:51] olga-mir commented on #2234
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/2235/pull-ci-azure-master-upgrade-v12.2/396/build-log.txt

https://github.com/openshift/openshift-azure/pull/2235

[2020-02-19 01:05] openshift-azure-robot opened #2236 "periodic-ci-azure-vmimage"
The periodic-ci-azure-vmimage build has failed. Please check the following [link](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/periodic-ci-azure-vmimage/303)<br/><br/>Phase: image_cluster_build<br/><br/>@openshift/sig-azure

[2020-02-19 02:27] olga-mir commented on #2236
same error as https://github.com/openshift/openshift-azure/issues/2234

https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-azure-vmimage/303/build-log.txt

[2020-02-19 04:26] olga-mir commented on #2234
describing aad object to which we link our CI clusters I can see it reached 256 links in `replyUrls` section which is the limit https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url:
[code]

The error wording doesn't seem to be pointing in this direction, however even if this is not a root cause it is still an issue that we have to take care of. Also this can explain why 100% (